<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminQna.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>문의사항</span>
                        </div>
                        <div class="col2">
                            <form action="#">
                                <div class="board_list">
                                    <ul>
                                        <li>
                                            <input type="checkbox" name="all">
                                        </li>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>작성자</li>
                                        <li>작성일</li>
                                        <li>상태</li>
                                    </ul>
                                    <th:block th:each="qna,i:${AdminQnaArticles}">
                                        <ul>
                                            <li>
                                                <input type="checkbox" name="문의번호">
                                            </li>
                                            <li>[[*{totalCnt-sc.offset} - ${i.index}]]</li>
                                            <li class="title">
                                                <a th:href="@{/admin/cs/qna/view (cs_no=${qna.cs_no})}">[[${qna.cs_title}]]</a>
                                            </li>
                                            <li>[[${qna.nick}]]</li>
                                            <li>[[${qna.cs_rdate.substring(2, 10)}]]</li>
                                            <li class="re_off">검토중</li>
                                        </ul>
                                    </th:block>
                                </div>
                                <div class="pagination" th:object="${ph}">

                                    <th:block th:if="*{showPrev}">
                                        <a th:href="@{/admin/cs/qna/list} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">< </a>
                                    </th:block>

                                    <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                                        <a th:href="@{/admin/cs/qna/list} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                                            [[${num}]]
                                        </a>
                                    </th:block>

                                    <th:block th:if="*{showNext}">
                                        <a th:href="@{/admin/cs/qna/list} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next"> ></a>
                                    </th:block>

                                </div>
                                <div class="btnAdminProd4">
                                    <a href="#">
                                        선택삭제
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>

    </script>
</th:block>
</html>