<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminQna.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>문의사항</span>
                        </div>
                        <div class="col2">
                            <form action="#">
                                <div class="board_list">
                                    <ul>
                                        <li>
                                            <input type="checkbox" name="all">
                                        </li>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>작성자</li>
                                        <li>작성일</li>
                                        <li>상태</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <input type="checkbox" name="문의번호">
                                        </li>
                                        <li>1</li>
                                        <li class="title">
                                            <a href="#">예약을 어떻게 취소하나요?</a>
                                        </li>
                                        <li>이동*</li>
                                        <li>2023-03-04</li>
                                        <li class="re_off">검토중</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <input type="checkbox" name="문의번호">
                                        </li>
                                        <li>2</li>
                                        <li class="title">
                                            <a href="#">신종 코로나바이러스 감염증(코로나19)으로 인한 예약변경이 가능한가요?</a>
                                        </li>
                                        <li>이동*</li>
                                        <li>2023-03-04</li>
                                        <li class="re_on">답변완료</li>
                                    </ul>
                                </div>
                                <div class="pagination">
                                    <a href="#">&laquo;</a>
                                    <a href="#">1</a>
                                    <a href="#" class="active">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">&raquo;</a>
                                </div>
                                <div class="btnAdminProd4">
                                    <a href="#">
                                        선택삭제
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>