<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminQna.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>문의사항</span>
                        </div>
                        <div class="col2">
                            <form action="#">
                                <div class="board_view">
                                    <div class="view_box">
                                        <div class="view_head">
                                            <div class="title">
                                                <p>[예약/결제] 예약을 어떻게 취소하나요?</p>
                                            </div>
                                            <div class="info">
                                                <div class="view_date">2023-03-04</div>
                                                <div class="view_user">이동*</div>
                                            </div>
                                        </div>
                                        <div class="view_content">
                                            <textarea readonly>예약을 어떻게 취소하나요?</textarea>
                                        </div>
                                        <div class="view_recomment">
                                            <div class="write_recomment">
                                                <div class="inner_txt">
                                                    <textarea placeholder="문의 답변을 작성해 주세요 (댓글 형식으로 답변 작성 + 작성 후 수정 삭제 버튼 나오게)"></textarea>
                                                </div>
                                                <div class="btnSubmit">
                                                    <button class="btnAdminProd" type="button">등록</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="btnAdminProd4">
                                    <a href="#">
                                        선택삭제
                                    </a>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>