<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminQna.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>문의사항</span>
                        </div>
                        <div class="col2">
                            <form id="qna_update" th:action="@{/admin/cs/qna/view}" method="post" onsubmit="modifyCheck(event);">
                                <input type="hidden" name="cs_no" th:value="${cs_no}">
                                <div class="board_view">
                                    <div class="view_box">
                                        <div class="view_head">
                                            <div class="title">
                                                <p>[[${qnaArticle.cs_type_ko}]]  [[${qnaArticle.cs_title}]]</p>
                                            </div>
                                            <div class="info">
                                                <div class="view_date">[[${qnaArticle.cs_rdate.substring(2,10)}]]</div>
                                                <div class="view_user">[[${qnaArticle.nick}]]</div>
                                            </div>
                                        </div>
                                        <div class="view_content">
                                            <textarea readonly>[[${qnaArticle.cs_content}]]</textarea>
                                        </div>
                                        <div class="view_recomment">
                                            <div class="write_recomment">
                                                <div class="inner_txt">
                                                    <textarea placeholder="문의 답변을 작성해 주세요" name="cs_reply" th:text="${qnaArticle.cs_reply}"></textarea>
                                                </div>

                                                <div class="btnSubmit">
                                                    <th:block th:if="${qnaArticle.cs_reply == null}">
                                                        <button class="btnAdminProd" type="submit" onclick="document.getElementById('qna_update').submit();">등록</button>
                                                    </th:block>
                                                    <th:block th:if="${qnaArticle.cs_reply != null}">
                                                        <button class="btnAdminProd" type="submit" onclick="document.getElementById('qna_update').submit();">수정</button>
                                                    </th:block>
                                                        <button class="btnAdminProd" type="button" onclick="javascript:history.back();">목록으로</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="btnAdminProd4">
                                    <a href="#">
                                        선택삭제
                                    </a>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>

        // cs_type 선택
        $(document).ready(function(){
              let title = document.querySelector('input[name="cs_title"]');


            $('#qna_update').submit(function(e){
                if( title.value.trim() == ''){
                        Swal.fire({
                             title : '수정내용을 입력해 주세요',
                             icon : 'success',
                             confirmButtonText : '확인'
                         })
                        e.preventDefault();
                    }
              });
        });

        function modifyCheck(e) {
          e.preventDefault(); // form submit 막음
          console.log("1");
          Swal.fire({
            title: '정말 수정하시겠습니까?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '승인',
            cancelButtonText: '취소',
            reverseButtons: false,
          }).then((result) => {
            if (result.isConfirmed) {
              e.target.submit(); // form submit 실행
            }
          });
        }

    </script>
</th:block>
</html>