<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminQna.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <style>
        main .business_reply {
            text-align: left;
            padding: 10px 2px 4px 8px;
            margin-bottom: 6px;
        }
        main .business_reply .business {
            border-radius: 11px;
            padding: 3px 9px;
            background: #bbd444;
            font-size: 13px;
            color: white;
        }
        main .business_reply .business_date {
            font-size: 14px;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>문의사항</span>
                        </div>
                        <div class="col2">
                            <form id="qna_update" th:action="@{/admin/cs/qna/reply}" method="post">
                                <input type="hidden" name="cs_no" th:value="${cs_no}">
                                <input type="hidden" name="page" th:value="${page}">
                                <div class="board_view">
                                    <div class="view_box">
                                        <div class="view_head">
                                            <div class="title">
                                                <p>[[${qnaArticle.cs_type_ko}]] &nbsp;&nbsp;&nbsp; [[${qnaArticle.cs_title}]]</p>
                                            </div>
                                            <div class="info">
                                                <div class="view_date">[[${qnaArticle.cs_rdate.substring(2,10)}]]</div>
                                                <div class="view_user">[[${qnaArticle.nick}]]</div>
                                            </div>
                                        </div>
                                        <div class="view_content">
                                            <textarea readonly>[[${qnaArticle.cs_content}]]</textarea>
                                        </div>
                                        <div class="view_recomment">
                                            <div class="write_recomment">
                                                <th:block th:if="${qnaArticle.cs_reply != null}">
                                                    <div class="business_reply">
                                                        <span class="business">판매자 답변</span>&nbsp;&nbsp;&nbsp;<span class="business_date">[[${qnaArticle.cs_reply_date}]]</span>
                                                    </div>
                                                </th:block>
                                                <div class="inner_txt">
                                                    <textarea placeholder="문의 답변을 작성해 주세요" id="cs_reply" name="cs_reply" th:text="${qnaArticle.cs_reply}" th:disabled="${qnaArticle.cs_reply != null} ? true : false"></textarea>
                                                </div>

                                                <div class="btnSubmit">
                                                    <th:block th:if="${qnaArticle.cs_reply == null}">
                                                        <button class="btnAdminProd" type="submit" id="write" onclick="writeCheck(event)" form="qna_update">등록</button>
                                                        <a th:herf="@{/admin/cs/qna/list (page=${page})}" class="btnAdminProd" type="button">목록으로</a>
                                                    </th:block>
                                                    <th:block th:if="${qnaArticle.cs_reply != null }">
                                                        <button class="btnAdminProd" type="button" onclick="toggleDisabled()">수정하기</button>
                                                        <button class="btnAdminProd" type="submit" style="display:none;" id="modify" onclick="modifyCheck(event)" form="qna_update">수정</button>
                                                        <button class="btnAdminProd" type="button" onclick="javascript:history.back();">목록으로</button>
                                                        <button class="btnAdminProd" type="button" onclick="toggleDisabled()" style="display:none">취소</button>
                                                    </th:block>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="btnAdminProd4">
                                    <a href="#">
                                        선택삭제
                                    </a>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>

        // cs_type 선택
        $(document).ready(function(){
            let cs_reply = document.querySelector('textarea[name="cs_reply"]');
            $('#qna_update').submit(function(e){
                if( cs_reply.value.trim() == ''){
                    Swal.fire({
                         title : '답변내용을 입력해 주세요',
                         icon : 'error',
                         confirmButtonText : '확인'
                     })
                    e.preventDefault();
                }
            });
        });

        // 답변 포커스
        const cs_reply = document.getElementById('cs_reply');
        cs_reply.focus();

        // 수정하기 버튼 클릭시 disabled 변경
        let oriContent = document.getElementById("cs_reply").value;
        function toggleDisabled() {
            var textarea = document.getElementById("cs_reply"); // textarea 요소 가져오기
            console.log("text : " +textarea.text);
            console.log("value : " +textarea.value);
<!--            oriContent = textarea.value; // 기존의 값 저장-->
            if (textarea.disabled) {
                textarea.disabled = false; // disabled 속성 제거하여 편집 가능하도록 함
                textarea.style.backgroundColor = "#ececec";
                textarea.focus();
                document.querySelector('button[type="submit"]').style.display = "block"; // 수정 버튼 보이기
                document.querySelector('button[type="button"]:nth-child(1)').style.display = "none"; // 수정하기 버튼 숨기기
                document.querySelector('button[type="button"]:nth-child(3)').style.display = "none"; // 목록으로 버튼 보이기
                document.querySelector('button[type="button"]:nth-child(4)').style.display = "block"; // 취소 버튼 보이기
            } else {
                textarea.value = oriContent; // 기존의 값으로 되돌리기
                textarea.disabled = true; // disabled 속성 추가하여 편집 불가능하도록 함
                textarea.style.backgroundColor = "#f8f8f8"; // 색상을 기존 색상으로 복원
                document.querySelector('button[type="submit"]').style.display = "none"; // 수정 버튼 숨기기
                document.querySelector('button[type="button"]:nth-child(1)').style.display = "block"; // 수정하기 버튼 보이기
                document.querySelector('button[type="button"]:nth-child(3)').style.display = "block"; // 목록으로 버튼 숨기기
                document.querySelector('button[type="button"]:nth-child(4)').style.display = "none"; // 취소 버튼 숨기기
            }
          }

        // 작성시 확인
        function writeCheck(e) {
            e.preventDefault(); // form submit 막음
            console.log("1");
                Swal.fire({
                title: '등록하시겠습니까?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소',
                reverseButtons: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        const form = document.getElementById('qna_update');
                        form.submit(); // 폼 제출 실행
                    }
                });
            }

        // 수정시 확인
        function modifyCheck(e) {
            e.preventDefault(); // form submit 막음
            console.log("1");
            Swal.fire({
            title: '수정하시겠습니까?',
            text: '수정한 내용은 복구할 수 없습니다.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '수정',
            cancelButtonText: '취소',
            reverseButtons: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    const form = document.getElementById('qna_update');
                    form.submit(); // 폼 제출 실행
                }
            });
        }
    </script>
</th:block>
</html>