<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/cs/cs.css}">
</th:block>
<th:block layout:fragment="content">
    <!-- 메인 -->
    <main>
        <section id="cs">
            <!-- nav-->
            <th:block th:replace="fragments/_aside::csAside"></th:block>
            <!-- 본문 -->
            <div class="content">
                <!-- 카테고리 -->
                <div class="tab">
                            <span class="event_title">
                                이벤트 <span class="new">NEW</span>
                            </span>
                </div>
                <div class="event">
                    <ul id="events" class="event_list">
                        <th:block th:each="article, i:${articles}">
                            <li>
                                <b>[[${article.cs_title}]]</b>
                                <span>기간: [[${article.cs_eventStart}]] ~ [[${article.cs_eventEnd}]]</span>
                                <a th:href="@{/cs/event/view (cs_no=${article.cs_no})}"><img th:src="@{/images/cs/event1.jpg}"></a>
                            </li>
                        </th:block>
                    </ul>

                </div>
                <!-- 페이징 -->
                <div class="paging">
                    <span class="prev"><a href="#"></a></span>
                    <span class="on"><a href="#">1</a></span>
                    <span><a href="#">2</a></span>
                    <span><a href="#">3</a></span>
                    <span><a href="#">4</a></span>
                    <span><a href="#">5</a></span>
                    <span class="next"><a href="#"></a></span>
                </div>
            </div>
        </section>
    </main>
</th:block>
<th:block layout:fragment="script"></th:block>
</html>





