#productResult { 
    min-width: 1200px; 
    padding: 20px 30px;
}

#result { 
    width: 1400px; 
    margin: 0 auto;
}

/** productView */
/** 메인 */
#productView {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

/** View 상단 이미지 & info */
#topContent {
    position: relative;
    width: 1000px;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

/** View 상단 이미지 */
#productImg {
    float: left;
    width: 490px;
    height: 400px;
    margin-right: 18px;
}

/** swiper Slider */
.swiper {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 25%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-button-next {  }

.swiper .swiper-button-prev {  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** View 상단 info */
#productInfo {  
    float: left;
    width: 490px;
    height: 450px;
    padding: 15px;
}

#productInfo > .info {

}

#productInfo > .info > h3 { font-size: 28px; font-weight: bold;}

#productInfo > .info > .score {
    position: relative;
    clear: both;
    font-size: 18px;
    color: rgb(255,167,38);
}

#productInfo > .info > .score > span {
    display: inline-block;
    position: relative;
    top: -3px;
    height: 18px;
    margin-right: 7px;
    padding: 0 4px;
    border-radius: 4px;
    background: rgb(255,167,38);
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

#productInfo > .info > .address {
    padding-top: 6px;
    font-size: 18px;
    color: rgba(0,0,0,0.56);
}

#productInfo > .sellerComment {
    display: block;
    position: relative;
    margin-top: 25px;
    padding: 26px 24px;
    background: rgb(250,250,250);
}

#productInfo > .sellerComment > strong {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,0.87);
}

#productInfo > .sellerComment > button {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    border: none;
    font-size: 16px;
    color: rgb(0,121,107);
    padding: 0;
    cursor: pointer;
}

#productInfo > .sellerComment > .clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 52px;
    text-overflow: ellipsis;
}

#productInfo > .sellerComment > div {
    display: block;
    overflow: hidden;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0,0,0,0.56);
}

/** 쿠폰 */
.product_coupon {
    display: block;
    width: 460px;
    position: absolute;
    bottom: 10px;
    margin-top: 25px;
    padding: 26px 24px;
    background: rgb(210 80 80);
    cursor: pointer;
}

.product_coupon > p {
    text-align: center;
    font-size: 15px;
    color: white;
}

/** 객실 이용안내 팝업 */

.popup { }

#popup_coupon {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup_coupon > div {
    overflow: hidden;
    position: fixed;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 46%;
    width: 600px;
    height: 520px;
    margin: -250px 0 0 -200px;
    border-radius: 4px;
    background: #fff;
    z-index: 999;
}

#popup_coupon.on { display: block; }

#popup_coupon > div > .fix_title {
    display: block !important;
    position: relative;
    height: 64px;
    padding-left: 32px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    font-size: 18px;
    line-height: 64px;
    font-weight: bold;
    text-align: left;
}

#popup_coupon > div > .fix_title > button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: none;
    background: url(/Lemo/images/product/close.png) 50% 50% no-repeat;
    background-size: 24px auto;
    text-indent: -9999px;
}

#popup_coupon > div > .iscroll_cp {
    overflow: auto;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 0 0 0;
    background: #fff;
}

#popup_coupon > div > .iscroll_cp::-webkit-scrollbar { width: 10px; }

#popup_coupon > div > .iscroll_cp::-webkit-scrollbar-thumb { 
    height: 30%; /* 스크롤바의 길이 */
    background: #fcf951; /* 스크롤바의 색상 */
    border-radius: 10px; 
}

#popup_coupon > div > .iscroll_cp::-webkit-scrollbar-track { background: rgb(245 244 183 / 51%);;  /*스크롤바 뒷 배경 색상*/ }

#popup_coupon > div > .iscroll_cp section {
    margin: 0 32px 0 32px;
    font-size: 16px;
    color: rgba(0,0,0,0.56);
    text-align: left;
}

#popup_coupon > div > .iscroll_cp section strong {
    display: block;
    margin: 15px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
}

#popup_coupon > div > .iscroll_cp .dot_coupon_txt {
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: rgba(0,0,0,0.56);
}

#popup_coupon > div > .iscroll_cp .dot_coupon_txt > li {
    line-height: 26px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    padding-left: 14px;
    background: url(/Lemo/images/product/full-stop.png) 0 2px no-repeat;
    background-size: 12px auto;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.scroller {
    text-align: center;
    font-size: 15px;
}

/** 탭 */
#productView > .tab {
    width: 1000px;
    margin: 20px auto 0 auto;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

/** 탭 - 버튼 */
#productView > .tab > button {
    float: none;
    width: auto;
    height: 72px;
    margin-right: 24px;
    padding: 0;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    font-size: 18px;
    color: rgba(0,0,0,0.38);
    cursor: pointer;
}

#productView > .tab > .on {
    border-bottom: 3px solid rgb(242,17,76);
    font-weight: bold;
    color: rgb(230,28,81);
}

/** 객실정보 */
#detail_room {
    width: 1000px;
    margin: 20px auto 0 auto;
}

#detail_room.on {
    display: block;
}

#detail_room > article {}

#detail_room .date {
    width: 340px;
    font-size: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

#detail_room .date > input {
    width: 220px; height: 40px;
    font-size: 15px;
    text-align: center;
    border: none;
}

#detail_room .room {
    overflow: hidden;
    position: relative;
    margin: 0 0 24px 0;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    padding: 25px;
}

#detail_room .room > button {
    display: block;
    float: left;
    width: 500px;
    height: 40px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}

#detail_room .room > p {
    float: left;
    display: inline-block;
    width: 376px;
    height: 226px;
    cursor: pointer;
}

#detail_room .room > p > img { 
    width: 376px; height: 226px; 
}

#detail_room .room > div > strong {
    display: block;
    height: 37px;
    padding: 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 30px;
}

#detail_room .room > div > span {}

#detail_room .room .detail_room_info {
    width: 500px;
    float: left;
    margin-left: 20px;
}

#detail_room .room .detail_room_info > div {
    height: 35px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    margin-bottom: 15px;
}

#detail_room .room .detail_room_info > div > span:nth-child(1) {
    float: left;
    font-size: 16px;
    font-weight: 500;
}

#detail_room .room .detail_room_info > div > span:nth-child(2) {
    float: right;
    font-size: 18px;
    font-weight: 500;
}

#detail_room .room .detail_room_info > button {
    display: block;
    width: 100%; height: 48px;
    margin: 12px 0;
    font-size: 16px;
    line-height: 48px;
    padding: 0;
    background: #fff url(/Lemo/images/product/right-arrow.png) 100% 50% no-repeat;
    background-size: 12px auto;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    text-align: left;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

#detail_room .room > .expansionImg {
    display: none;
    position: relative;
    width: 100%;
    height: 500px;
    background: #f9f9f9;
    margin-top: 250px;
    text-align: center;
}

#detail_room .room > .expansionImg.on {
    display: block;
}

#detail_room .room > .expansionImg > button {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    background: url(/Lemo/images/product/close.png) 50% 50% no-repeat;
    border: none;
    background-size: 20px auto;
    text-indent: -9999px;
    cursor: pointer;
}

#detail_room .room > .expansionImg > .view_slider {
    width: 70%;
    display: inline-block;
    margin-top: 60px;
}

#detail_room .room > .expansionImg > .view_slider img {
    width: 1100px;
    height: 400px;
}

/** 객실 이용안내 팝업 */

.popup { }

#popup_room_guide {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup_room_guide > div {
    overflow: hidden;
    position: fixed;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 46%;
    width: 600px;
    height: 500px;
    margin: -250px 0 0 -200px;
    border-radius: 4px;
    background: #fff;
    z-index: 999;
}

#popup_room_guide.on { display: block; }

#popup_room_guide > div > .fix_title {
    display: block !important;
    position: relative;
    height: 64px;
    padding-left: 32px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    font-size: 18px;
    line-height: 64px;
    font-weight: bold;
    text-align: left;
}

#popup_room_guide > div > .fix_title > button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: none;
    background: url(/Lemo/images/product/close.png) 50% 50% no-repeat;
    background-size: 24px auto;
    text-indent: -9999px;
}

#popup_room_guide > div > .iscroll_cp {
    overflow: auto;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 0 0 0;
    background: #fff;
}

#popup_room_guide > div > .iscroll_cp::-webkit-scrollbar { width: 10px; }

#popup_room_guide > div > .iscroll_cp::-webkit-scrollbar-thumb { 
    height: 30%; /* 스크롤바의 길이 */
    background: #fcf951; /* 스크롤바의 색상 */
    border-radius: 10px; 
}

#popup_room_guide > div > .iscroll_cp::-webkit-scrollbar-track { background: rgb(245 244 183 / 51%);;  /*스크롤바 뒷 배경 색상*/ }

#popup_room_guide > div > .iscroll_cp section {
    margin: 0 32px 0 32px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    font-size: 16px;
    color: rgba(0,0,0,0.56);
    text-align: left;
}

#popup_room_guide > div > .iscroll_cp section strong {
    display: block;
    margin: 37px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
}

#popup_room_guide > div > .iscroll_cp .dot_txt {
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: rgba(0,0,0,0.56);
}

#popup_room_guide > div > .iscroll_cp .dot_txt > li {
    line-height: 26px;
    margin-bottom: 7px;
    padding-left: 14px;
    background: url(/Lemo/images/product/full-stop.png) 0 2px no-repeat;
    background-size: 12px auto;
    font-size: 16px;
}

/** 숙소정보 */
.detail_info {
    display: none;
    width: 1000px;
    margin: 0 auto 100px auto;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.detail_info > button {
    display: block;
    position: relative;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: #fff;
    font-size: 16px;
    line-height: 56px;
    color: rgba(0,0,0,0.87);
    text-align: left;
    cursor: pointer;
}

.detail_info > button:nth-child(1) { border: none; }

.detail_info > button > span {
    font-size: 16px;
}

.detail_info > button::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 12px;
    height: 15px;
    margin-top: -4px;
    background: #fff url(/Lemo/images/product/free-icon-up-down-7263381.png) 0 0 no-repeat;
    background-size: 12px auto;
}

.detail_info > .info_default {
    display: none;
    width: 100%;
    background: rgb(250,250,250);
    padding: 20px;
    font-size: 15px;

}

.detail_info > .info_default.on { display: block; }

.detail_info > .info_service {
    display: none;
    width: 100%;
    background: rgb(250,250,250);
}

.detail_info > .info_service.on { display: block; }

.detail_info > .info_seller {
    display: none;
    width: 100%;
    background: rgb(250,250,250);
    padding: 25px;
    font-size: 15px;
}

.detail_info > .info_seller.on { display: block; }

.theme_1 { background: url(/Lemo/images/product/serviceCate/fitness.png) 0 0 no-repeat; }
.theme_2 { background: url(/Lemo/images/product/serviceCate/wifi.png) 0 0 no-repeat; }
.theme_3 { background: url(/Lemo/images/product/serviceCate/restaurant.png) 0 0 no-repeat; }
.theme_4 { background: url(/Lemo/images/product/serviceCate/tv.png) 0 0 no-repeat; }
.theme_5 { background: url(/Lemo/images/product/serviceCate/air-conditioner.png) 0 0 no-repeat; }
.theme_6 { background: url(/Lemo/images/product/serviceCate/refrigerator.png) 0 0 no-repeat; }
.theme_7 { background: url(/Lemo/images/product/serviceCate/hairdryer.png) 0 0 no-repeat; }
.theme_8 { background: url(/Lemo/images/product/serviceCate/handi.png) 0 0 no-repeat; }
.theme_9 { background: url(/Lemo/images/product/serviceCate/parked-car.png) 0 0 no-repeat; }
.theme_10 { background: url(/Lemo/images/product/serviceCate/free-parking.png) 0 0 no-repeat; }
.theme_11 { background: url(/Lemo/images/product/serviceCate/no-smoking.png) 0 0 no-repeat; }
.theme_12 { background: url(/Lemo/images/product/serviceCate/cafe.png) 0 0 no-repeat; }
.theme_13 { background: url(/Lemo/images/product/serviceCate/swimming-pool.png) 0 0 no-repeat; }
.theme_14 { background: url(/Lemo/images/product/serviceCate/tub.png) 0 0 no-repeat; }
.theme_15 { background: url(/Lemo/images/product/serviceCate/spa.png) 0 0 no-repeat; }
.theme_16 { background: url(/Lemo/images/product/serviceCate/elevator.png) 0 0 no-repeat; }
.theme_17 { background: url(/Lemo/images/product/serviceCate/bathroom.png) 0 0 no-repeat; }
.theme_18 { background: url(/Lemo/images/product/serviceCate/sauna.png) 0 0 no-repeat; }
.theme_19 { background: url(/Lemo/images/product/serviceCate/baggage.png) 0 0 no-repeat; }
.theme_20 { background: url(/Lemo/images/product/serviceCate/washing-machine.png) 0 0 no-repeat; }
.theme_21 { background: url(/Lemo/images/product/serviceCate/dryer.png) 0 0 no-repeat; }

/** 문의하기 */
.info_service .theme_wrap { 
    overflow: hidden;
    padding: 20px;
}

.info_service .theme_wrap > li {
    float: left;
    width: 91px;
    height: 60px;
    margin: 0 0 20px 0;
    padding-top: 43px;
    background-position: 50% 0 !important;
    background-size: 35px auto !important;
    font-size: 13px;
    color: rgba(0,0,0,0.56);
    text-align: center;
}

.detail_qna > .prodQna {
    display: none;
    width: 95%;
    margin: 0 auto;
}

.detail_qna > .prodQna > h3 {
    font-size: 20px;
    font-weight: 500;
}

.detail_qna > .prodQna > .co_list {
    margin-top: 23px;
    max-height: 450px;
    margin-bottom: 24px;
    overflow-y: auto;
}

.detail_qna .co_list::-webkit-scrollbar { width: 10px; }

.detail_qna .co_list::-webkit-scrollbar-thumb { 
    height: 30%; /* 스크롤바의 길이 */
    background: #fcf951; /* 스크롤바의 색상 */
    border-radius: 10px; 
}

.detail_qna .co_list::-webkit-scrollbar-track { background: rgb(245 244 183 / 51%);;  /*스크롤바 뒷 배경 색상*/ }

.detail_qna > .prodQna .co_item { margin-bottom: 24px; }

.detail_qna > .prodQna .co_img { float: left; }

.detail_qna > .prodQna .area_txt { 
    text-align: left;
    margin-left: 43px;
    max-width: 84%;
}

.detail_qna > .prodQna .area_txt > span { 
    font-size: 15px;
}

.detail_qna > .prodQna .area_txt > p { 
    font-size: 13px;
    margin-left: 10px;
}

.detail_qna > .prodQna .re_item { margin-left: 43px; }

.detail_qna > .prodQna .re_item > li { overflow: hidden; }

.detail_qna > .prodQna .re_item .re_item2 { 
    margin-top: 12px;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    overflow: visible;
    border-radius: 4px;
    padding: 8px 12px;
    text-align: left;
    margin-left: 10px;
}

.detail_qna > .prodQna .re_item .re_item2 > .area_img { display: inline-block; }

.detail_qna > .prodQna .re_item .re_item2 > .area_img > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.detail_qna > .prodQna .re_item .re_item2 > .area_txt_re { display: inline-block; margin-left: 8px; }

.detail_qna > .prodQna .re_item .re_item2 > .area_txt_re > span {
    font-size: 11px;
    font-weight: 400;
}

.detail_qna > .prodQna .re_item .re_item2 > .area_txt_re > p {
    font-size: 13px;
    font-weight: 400;
}

.detail_qna > .prodQna > .co_write {
    padding: 16px 0;
    border-top: 1px solid #d9d9d9;
}

.detail_qna > .prodQna > .co_write > .co_write_inner {
    height: 32px;
    position: relative; 
}

.detail_qna > .prodQna .co_inner_img { text-align: left; }

.detail_qna > .prodQna .co_inner_txt { 
    position: absolute;
    top: 7px;
    left: 40px;
}

.detail_qna > .prodQna .co_inner_txt > label {
    border: 1px solid #dcdee0;
    padding: 8px 10px;
}

.detail_qna > .prodQna .co_inner_txt > label > input {
    font-size: 12px;
    width: 1100px;
    border: none;
}

.detail_qna .btnComment {
    position: absolute;
    top: -1px;
    right: 84px;
    width: 56px;
    height: 32px;
    background: #f2552c;
    border: 1px solid #f2552c;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

/** 리뷰 */
.detail_review {
    display: none;
    width: 1000px;
    margin: 0 auto;
}

.detail_review .score_top {
    padding: 44px 0;
    text-align: center;
}

.detail_review .score_top > strong {
    display: block;
    padding: 0 0 10px 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.detail_review .score_top > p {
    margin-top: 22px;
    font-size: 18px;
}

.detail_review .score_top > p > b {
    font-size: 20px;
    font-weight: normal;
}   

.detail_review .score_top > p > span {
    display: inline-block;
    width: 32px;
    font-size: 20px;
    vertical-align: 2px;
}     

.detail_review .score_wrap {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.detail_review .score_star {
    display: inline-block;
    width: 180px; height: 36px;
    background: url(/Lemo/images/product/ico_rating_star.png) 0 0 no-repeat;
    background-size: 555px auto;
    font-size: 0;
}

.detail_review .score_star.rating1 { background-position: 0 -85px; }

.detail_review .score_star.rating2 { background-position: 0 -170px; }

.detail_review .score_star.rating3 { background-position: 0 -250px; }

.detail_review .score_star.rating4 { background-position: 0 -335px; }

.detail_review .score_star.rating5 { background-position: 0 -420px; }

.detail_review .score_wrap > .num {
    display: inline-block;
    position: relative;
    top: 15px;
    padding-left: 12px;
    font-size: 32px;
    line-height: 1;
    vertical-align: top;
}

.detail_review > ul {}

.detail_review > ul > li {
    position: relative;
    padding: 47px 0 28px 0;
}

.detail_review .guest {}

.detail_review .pic {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 47px;
    left: 16px;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: url(/Lemo/images/index/lemo_logo-removebg-preview.png) 0 0 no-repeat;
    background-size: 45px auto;
}

.detail_review .pic > img {
    width: 56px;
    height: 56px;
}

.detail_review .best_review {
    display: block;
    width: 67px;
    height: 21px;
    margin: 0 0 6px 96px;
    font-size: 0px;
    text-indent: -999px;
    background: url(/Lemo/images/product/guarantee.png) 0 0 no-repeat;
    background-size: 60%;
}

.detail_review .guest > strong {
    display: block;
    padding: 0 16px 8px 96px;
    font-size: 18px;
    line-height: normal;
}

.detail_review .guest .score_wrap_sm {
    margin-left: 96px;
    display: block;
}

.detail_review .guest .score_wrap_sm .score_star {
    display: inline-block;
    width: 100px;
    height: 20px;
    background: url(/Lemo/images/product/ico_rating_star.png) 0 0 no-repeat;
    background-size: 310px auto;
}

.detail_review .guest .score_wrap_sm .score_star.rating1 { background-position: 0 -46px; }

.detail_review .guest .score_wrap_sm .score_star.rating2 { background-position: 0 -93px; }

.detail_review .guest .score_wrap_sm .score_star.rating3 { background-position: 0 -141px; }

.detail_review .guest .score_wrap_sm .score_star.rating4 { background-position: 0 -187px; }

.detail_review .guest .score_wrap_sm .score_star.rating5 { background-position: 0 -235px; }

.detail_review .guest .score_wrap_sm > .num {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 4px;
    font-size: 18px;
    vertical-align: top;
}

.detail_review .guest .name {
    margin-left: 96px;
    padding-top: 18px;
    font-size: 16px;
}

.detail_review .guest .name > b {
    color: rgba(0,0,0,0.56);
    font-size: 16px;
}

.detail_review .guest .txt {
    margin: 11px 0 0 96px;
    font-size: 16px;
    line-height: 26px;
}

.detail_review .guest .date {
    display: inline-block;
    font-size: 16px;
    margin-left: 96px;
    padding: 13px 0 0 0;
    color: rgba(0,0,0,0.56);
}

.detail_review .boss {
    position: relative;
    margin: 12px 0 0 94px;
    padding: 19px 16px 15px 50px;
    border-radius: 4px;
    background: rgb(245,245,245);
}

.detail_review .boss .pic {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.detail_review .boss .pic > img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.detail_review .boss > strong {
    font-size: 16px;
    font-weight: bold;
}

.detail_review .boss .txt {
    margin: 7px 0 8px 0;
    font-size: 15px;
    line-height: 24px;
    color: rgba(0,0,0,0.72);
}

.detail_review .boss .date {
    font-size: 13px;
    color: rgba(0,0,0,0.56);
}

.gallery_re {
    position: relative;
    margin: 10px 0 6px 64px;
    padding-left: 32px;
}

.gallerySlider > div > img {
    width: 500px;
    height: 500px;
}

.bx-wrapper { margin-bottom: 0px; }

/** 여행일기 */
.detail_diary {
    display: none;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.detail_diary > span::before {
    content: "#";
}

.detail_diary > span {
    display: inline-block;
    width: 200px; height: 60px;
    border-radius: 10px;
    background: rgb(249 230 230);
    font-size: 25px;
    color: #252525;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

.detail_diary .diary_list {
    width: 100%;
    margin-top: 25px;
}

.detail_diary .diary_list > li {
    float: left;
    width: 194px; height: 200px;
    margin-right: 5px; margin-bottom: 5px;
}

.detail_diary .diary_list > li > a > img {
    width: 194px; height: 200px;
}

.detail_diary .diary_list > li > a > img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/** productResult */
/** 검색 */
.listSearch {
    position: relative;
    width: 1000px; height: 100px;
    margin: 50px auto 20px auto;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 20px;
}

.listSearch > form { overflow: hidden; float: left; margin-left: 25px; }

/** 검색 - 테이블 */
.listSearch > form >  table { float: left; }

.listSearch > form >  table th {
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
}

.listSearch > form >  table th:nth-child(2) { width: 200px; }

.listSearch > form > table tr > td { text-align: center; }

.listSearch > form > table tr > td > input { 
    text-align: center; font-size: 14px; 
    border: none;
    border-radius: 8px;
}

.listSearch > form > table tr > td:nth-child(1) > input { width: 150px; height: 35px; }

.listSearch > form > table tr > td:nth-child(2) > input { width: 180px; height: 35px; }

.listSearch > form > table tr > td:nth-child(3) > input { width: 68px; height: 35px; }

/** 검색 - 검색버튼 */
.listSearch > form > .result {
    float: left;
    margin: 34px;
    width: 35px; height: 35px;
    font-size: 0;
    background-image: url(/Lemo/images/product/search.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

/** 목록 - 필터 */
.listSearch > #filter { 
    float: left;
    margin-top: 46px;
}

.listSearch > #filter > a {
    position: relative;
    top: 6px;
    left: 23px;
    display: block;
    float: left;
    width: 33px; height: 33px;
    margin-left: 10px;
    background-image: url(/Lemo/images/product/list.png);
    background-size: cover;
}

.listSearch > #filter > select {
    width: 150px;
    height: 30px;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.listSearch > #filter > select > option { font-size: 15px; }

/** 목록 - 필터 - 팝업창 */
.listSearch > #filter > .popup {
    display: none;
    overflow: auto;
    position: absolute;
    left: 15px; top: 90px;
    width: 500px; height: auto;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 50%);
    background-color: white;
    border-radius: 5px;
    z-index: 5;
}

/** 목록 - 필터 - 팝업창 - 스크롤 */
.listSearch > #filter > .popup::-webkit-scrollbar { width: 10px; }

.listSearch > #filter > .popup::-webkit-scrollbar-thumb { 
    height: 30%; /* 스크롤바의 길이 */
    background: #fcf951; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.listSearch > #filter > .popup::-webkit-scrollbar-track { background: rgb(245 244 183 / 51%);;  /*스크롤바 뒷 배경 색상*/ }

.listSearch > #filter > .popup.on {
    display: block;
}

.listSearch > #filter > #popupFilter {  }

.listSearch > #filter > #popupFilter > form > h3 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/** 목록 - 필터 - 팝업창 - 숙소 유형 */
.listSearch > #filter > #popupFilter > form > article:nth-child(2) {
    width: 95%;
    margin: 10px auto;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.listSearch > #filter > #popupFilter > form > article:nth-child(2) > strong { font-size: 18px; padding-left: 10px; }

.listSearch > #filter > #popupFilter > form > article:nth-child(2) > ul {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}


.listSearch > #filter > #popupFilter > form > article:nth-child(2) li {
    margin-left: 10px;
    display: inline-block;
}

.listSearch > #filter > #popupFilter > form > article:nth-child(2) > ul label { font-size: 15px; }

.listSearch > #filter > #popupFilter > form > article:nth-child(2) > ul label > input { margin-right: 5px; }


/** 목록 - 필터 - 팝업창 - 편의 시설 */
.listSearch > #filter > #popupFilter > form > article:nth-child(3) {
    display : none;
    width: 95%;
    margin: 10px auto; 
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}

.listSearch > #filter > #popupFilter > form > article:nth-child(3) > strong { font-size: 18px; padding-left: 10px; }

.listSearch > #filter > #popupFilter > form > article:nth-child(3) > table {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}

.listSearch > #filter > #popupFilter > form > article:nth-child(3) > table tr { height: 30px; }

.listSearch > #filter > #popupFilter > form > article:nth-child(3) > table label { font-size: 15px; }

.listSearch > #filter > #popupFilter > form > article:nth-child(3) > table label > input { margin-right: 5px; }

/** 목록 - 필터 - 팝업창 - 가격 */
.listSearch > #filter > #popupFilter > form > article:nth-child(4) {
    width: 95%;
    margin: 10px auto; 
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
    margin-top: 20px;
}

.listSearch > #filter > #popupFilter > form > article:nth-child(4) > strong { font-size: 18px; padding-left: 10px; }

.listSearch > #filter > #popupFilter > form > article:nth-child(4) > .priceSlide {
    width: 95%;
    margin: 15px 10px 15px 10px;
    padding-bottom: 10px;
}

/** 목록 - 필터 - 팝업창 - 적용 버튼 */
.listSearch > #filter > #popupFilter > form > article:nth-child(5) {
    width: 95%;
    margin: 10px auto 20px auto;
    border-radius: 10px;
    text-align: center;
}


.listSearch > #filter > #popupFilter > form > article:nth-child(5) > input {
    width: 85px; height: 35px;
    margin-top: 10px;
    border-radius: 8px;
    border: 0px;
    font-size: 17px;
    background-color: #fcf951;
    box-shadow: 0px 4px 0px 0px #e1de3f;
}

/** 메인(목록, Map) */
.content {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}

/** 메인(목록) */
.list {
    float: left;
    width: 610px; height: auto;
    margin-left: 85px;
}

/** 목록 - 상품 목록 */
.list > .list-area {
    width: 100%; height: auto;
    padding: 20px;
}

.list > .list-area > ul {}

.list > .list-area > ul > li { 
    overflow: hidden;
    padding: 15px;
    /**border-bottom: 1px solid #e6e31f;**/
    border-bottom : 1px solid #e7e7e7;
    border-radius: 15px;
    margin-bottom: 10px;
}

.list > .list-area > ul > li:hover { 
    box-shadow: 0 14px 28px rgb(0 0 0 / 15%), 0 10px 10px rgb(0 0 0 / 15%);
}

.list > .list-area > ul > li > img { 
    float: left; 
    width: 170px; height: 235px;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
}

/** 목록 - 상품 목록 - 상품 */
.list > .list-area > ul > li > .stage {
    position: relative;
    float: left;
    width: 340px; height: 235px;
    margin-left: 20px;
}

.list > .list-area .stage-name {  }

/** 목록 - 상품 목록 - 상품 - 상품 이름 */
.list > .list-area .stage-name > strong { font-size: 18px; font-weight: bold; }

/** 목록 - 상품 목록 - 상품 - 상품 별점 */
.list > .list-area .stage-name > p:nth-child(2) > span {
    display: inline-block;
    padding: 0 3px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background: rgb(255,167,38);
}
.list > .list-area .stage-name > p:nth-child(2) > b { font-size: 14px; color: rgb(255,167,38);}
.list > .list-area .stage-name > p:nth-child(2) > em {
    font-size: 12px;
    color: rgb(255,167,38);
    font-style: normal;
    }

/** 목록 - 상품 목록 - 상품 - 상품 주소 */
.list > .list-area .stage-name > p:nth-child(3) > span { font-size: 15px; color: rgba(0,0,0,0.56);}

.list > .list-area .stage-descript { margin-top: 10px; }

.list > .list-area .stage-descript > span { 
    display: inline-block;
    font-size: 15px;
    height: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/** 목록 - 상품 목록 - 상품 - 상품 가격, 객실 수 */
.list > .list-area .stage-info { 
    position: absolute;
    right: 0; bottom: 0;
    width: 200px; height: 50px;
    text-align: right;
    padding-right: 5px;
}

.list > .list-area .stage-info > p:nth-child(1) > span { font-size: 15px; }

.list > .list-area .stage-info > p:nth-child(2) {font-size: 20px;}
.list > .list-area .stage-info > p:nth-child(2) > b { font-size: 20px; color: rgba(255,92,92,1); font-weight: 800;}

.list > .list-area .paging { margin-top: 30px; text-align: center; }

.list > .list-area .paging > span > a { padding-left: 10px; font-size: 20px; }

.list > .list-area .paging > span > a > img {
    width: 20px; height: 20px;
    vertical-align: -3px;
}

.list > .list-area .paging > span.on > a {
    color : #bbd444;
    font-weight: bold;
}


/** 메인(Map) */
#listMap {
    float: left;
    width: 400px; height: 700px;
    margin-top: 30px; margin-left: 30px;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 15%);
    border-radius: 20px;
}

#listMap > p {
    position: absolute;
    width: 250px; height: 50px;
    top: 10px;
    left: 20px;
    z-index: 99;
}

#listMap > p > button {
    margin-left: 5px;
    width: 110px; height: 27px;
    font-weight: 400;
    border-radius: 10px;
    border: 0px solid #252525;
    background-color: white;
}

#listMap > p > button:hover{
    background-color: #dbcbcb;
}

/** productResrvation */
#reserv_reserv {
    width: 1000px;
    margin: 0 auto 100px auto;
}

#content {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

#reserv_info_left {
    float: left;
    width: 564px;
    margin: 40px 88px 0 0;
}

#reserv_info_right {
    float: right;
    width: 310px;
    margin: 90px 31px 0 0;
    background: rgb(250,250,250);
}

/** 예약자 정보 */
#reserv_chkin {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

#reserv_chkin > h3 {
    display: block;
    margin: 54px 0 42px 0;
    font-size: 20px;
    font-weight: 600;
}

#reserv_chkin > strong {
    display: block;
    padding: 0 0 12px 0;
    font-size: 18px;
    font-weight: normal;
    color: rgba(0,0,0,0.56);
}

#reserv_chkin > p:nth-of-type(1) {
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 8px 14px 8px 16px;
}

#reserv_chkin > p:nth-of-type(1) > input {
    border: none;
    background: none;
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.56);
}

#reserv_chkin > p:nth-of-type(2) {
    height: 46px;
    padding-top: 5px;
    font-size: 14px;
    color: rgb(230,28,81);
}

#reserv_chkin > div {
    margin-top: 30px;
}

#reserv_chkin > div > strong {
    display: block;
    padding: 0 0 12px 0;
    font-size: 18px;
    font-weight: normal;
    color: rgba(0,0,0,0.56);
}

#reserv_chkin > div > span {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
}

/** 예약자 정보 - 휴대폰 */
#reserv_chkin .phone {
    position: relative;
}

#reserv_chkin .phone > input {
    box-sizing: border-box;
    padding: 8px 14px 8px 16px;
    width: 100%; height: 48px;
    border: none;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0,0,0,.56);
}

#reserv_chkin .phone > button {
    position: absolute;
    width: 30px; height: 30px;
    right: 10px; top: 9px;
    border: none;
    background: url(../img/letter-x.png);
}

/** 예약자 정보 - 방문 방법 */
#reserv_chkin .visit {
    position: relative;
    margin-top: 30px;
    padding: 0;
    text-align: left;
}

#reserv_chkin .visit > strong {
    position: relative;
    top: 0;
    left: 0;
    height: 32px;
    padding: 0;
    color: rgba(0,0,0,0.56);
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    text-align: left;
}

#reserv_chkin .visit > div {}

#reserv_chkin .visit > div > button {
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid rgb(242,17,76);
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    color: rgb(230,28,81);
}

#reserv_chkin .visit > div > button > span {
    font-size: 15px;
}

#reserv_chkin .visit > span {}

/** 할인 수단 선택 */
#price {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

#price > h3 {
    display: block;
    margin: 54px 0 42px 0;
    font-size: 20px;
    font-weight: 600;
}

#price .product_amount {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    color: rgba(0,0,0,.56);
}

#price .product_amount > strong {
    font-size: 18px;
    color: rgba(0,0,0,.56);
}

#price .product_amount > b {
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

#price .discount_container {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#price .discount_header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

#price .discount_header .discount_button {
    padding: 0 14px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    background: #fafafa;
    font-size: 16px;
    color: rgba(0,0,0,.56);
    cursor: pointer;
}

#price .discount_header .discount_input {
    margin-left: 4px;
    margin-right: 4px;
    padding: 8px 14px 8px 16px;
    width: 100px;
    height: 100%;
    background: none;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    color: rgba(0,0,0,.56);
    font-size: 18px;
    text-align: right;
}

#price .discount_header > div > div > span {
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

#price .discount_coupons_amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    color: rgba(0,0,0,.48);
}

#price .discount_coupons_amount > span {
    font-size: 15px;
}

.popup { }

#popup_coupon {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup_coupon > div {
    overflow: hidden;
    position: fixed;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 46%;
    width: 600px;
    height: 500px;
    margin: -250px 0 0 -200px;
    border-radius: 4px;
    background: #fff;
    z-index: 999;
}

#popup_coupon.on { display: block; }

#popup_coupon > div > .fix_title {
    display: block !important;
    position: relative;
    height: 64px;
    padding-left: 32px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    font-size: 18px;
    line-height: 64px;
    font-weight: bold;
    text-align: left;
}

#popup_coupon > div > .fix_title > button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: none;
    background: url(/Lemo/images/product/close.png) 50% 50% no-repeat;
    background-size: 24px auto;
    text-indent: -9999px;
}

#popup_coupon > div > .iscroll_cp {
    overflow: auto;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 0 0 0;
    background: #fff;
}

#popup_coupon > div > .iscroll_cp::-webkit-scrollbar { width: 10px; }

#popup_coupon > div > .iscroll_cp::-webkit-scrollbar-thumb { 
    height: 30%; /* 스크롤바의 길이 */
    background: #fcf951; /* 스크롤바의 색상 */
    border-radius: 10px; 
}

#popup_coupon > div > .iscroll_cp::-webkit-scrollbar-track { background: rgb(245 244 183 / 51%);;  /*스크롤바 뒷 배경 색상*/ }

#popup_coupon > div > .iscroll_cp section {
    margin: 0 32px 0 32px;
    font-size: 16px;
    color: rgba(0,0,0,0.56);
    text-align: left;
}

#popup_coupon > div > .iscroll_cp section strong {
    display: block;
    margin: 15px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
}

#popup_coupon > div > .iscroll_cp .dot_coupon_txt {
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: rgba(0,0,0,0.56);
}

#popup_coupon > div > .iscroll_cp .dot_coupon_txt > li {
    line-height: 26px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    padding-left: 14px;
    background: url(//image.goodchoice.kr/images/web_v3/ico_bul_3.png) 0 2px no-repeat;
    background-size: 12px auto;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

/** 결제수단 */
#pay_select {
    margin-top: 50px;
}

#pay_select > h3 {
    display: block;
    margin-bottom: 19px;
    font-size: 20px;
    font-weight: bold;
}

#pay_select #payment_select {
    width: 288px; height: 48px;
    padding: 0 12px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    background-size: 25px auto;
    font-size: 18px;
    color: rgba(0,0,0,.56);
    cursor: pointer;
    margin-bottom: 25px;
}

#pay_select #payment_select > option {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.56); 
}

/** 동의 */
#agree {
    padding-left: 4px;
}

#agree #checkAll { 
    font-weight: 700; 
    position: relative;
    padding-top: 11px;
    padding-bottom: 10px;
    line-height: 1.2;
    padding-left: 37px;
}

#agree #checkAll > label { cursor: pointer; }

#agree #checkAll > label > input { 
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%; left: 0;
    margin-top: -12px;
 }

#agree #checkAll > label > span { 
    color: rgba(0,0,0,.87);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
 }

#agree > p {
    position: relative;
    padding-top: 11px;
    padding-bottom: 10px;
    line-height: 1.2;
    padding-left: 37px;
}

#agree > p > input {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
}

#agree > p > span {
    display: inline-block;
    color: rgba(0,0,0,.56);
    cursor: pointer;
}

#agree > p > span > b {
    font-weight: 400;
    color: #e61c51;
    font-size: 15px;
}

#agree > p > span > i {
    font-style: normal;
    text-decoration: underline;
    font-size: 15px;
}

/** 오른쪽 정보 */
#reserv_info_right .info {
    margin: 39px 24px 0 24px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    background: none;
}

#reserv_info_right .info_name {
    height: auto;
    margin: 0 0 29px 0;
    padding: 0;
    border-bottom: none;
    line-height: 32px;
    text-align: left;
}

#reserv_info_right .info_name > strong {
    display: block !important;
    position: relative;
    margin-bottom: 6px;
    font-size: 16px !important;
    line-height: 1;
    color: rgba(0,0,0,0.38);
}

#reserv_info_right .info > p {
    position: relative;
    margin-bottom: 29px;
    padding-left: 0;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0,0,0,0.87);
    text-align: left;
}

#reserv_info_right .info > p > strong {
    display: block !important;
    position: relative;
    margin-bottom: 6px;
    font-size: 18px !important;
    line-height: 1;
    color: rgba(0,0,0,0.38);
}

#reserv_info_right .total_price {
    padding: 39px 24px 33px!important;
}

#reserv_info_right .total_price > p {}

#reserv_info_right .total_price > p > strong {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

#reserv_info_right .total_price > p > strong > b {
    font-size: 18px;
    font-weight: 700;
}

#reserv_info_right .total_price .in_price {
    display: block;
    padding: 19px 0 23px;
    font-size: 24px;
    font-weight: 700;
    color: #e61c51;
}

#reserv_info_right .total_price > ul {}

#reserv_info_right .total_price > ul > li {
    margin-bottom: 2px;
    padding-left: 16px;
    background: url(//image.goodchoice.kr/images/web_v3/ico_bul.png) 0 0 no-repeat;
    background-size: 14px auto;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0,0,0,.72);
}

#reserv_info_right .total_price > ul > li > span { 
    font-size: 16px;
    color: #e61c51; 
}

#reserv_info_right .btn_pay {
    display: block;
    width: 100%; height: 56px;
    border: none;
    font-size: 18px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    background: #bbd444
}

/** productResrvationResult */
#reserv_result { 
    width: 1000px;
    margin: 0 auto;
 }

#reserv_result .content {
    margin: 0 auto;
}

.result_thanks {
    width: 900px;
    height: 100px;
    margin: 30px auto 0 auto;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}

/* 예약 내역 상세 보기 - view */
.reserve_view {
    position: relative;
    width: 700px;
    background-color: #F5F5F5;
    margin: 30px auto;
    padding: 10px 28px;
}

.reserve_view > div {
    margin-top: 18px;
}
.reserve_view .sub_tit {
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid #bbcbc7;
    padding-bottom: 7px;
}

.reserve_view > div:last-child {
    border-bottom: none;
}
.reserve_view > div:nth-last-child(2){
    border-bottom: none;
    margin-top: 35px;
}
.reserve_view > div > p {
    font-size: 15px;
}
.reserve_view > div > span {
    font-size: 16px;
}
.reserve_view > div > span:last-child {}

.reserve_view > div > span > i {
    font-size: 24px;
    font-style: normal;
    color: #252525;
    font-weight: bold;
}

.reserve_view > div > p:last-child {
    font-size: 28px;
    font-weight:bold;
}

.btn_button {
    width: 700px; height: 100px;
    margin: 30px auto 30px auto;
    text-align: center;
    line-height: 100px;
}

.btn_button .reserveHome {
    box-shadow: inset 0px 0px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #bbd444 5%, #bbd444 100%);
    background-color: #bbd444;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 16px 24px;
    text-decoration: none;
    margin: 1px 9px;
}

.reserveReservation {
    box-shadow: inset 0px 0px 0px 0px #1c1b18;
    background: rgb(210 80 80);
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 16px 24px;
    text-decoration: none;
    margin: 1px 9px;
}