<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::businessFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>예약관리 ></span>
                            <span>타임라인</span>
                        </div>
                        <div class="col2">
                            <form th:action="@{/business/reservation/timeline}">
                                <input type="hidden" name="res_no" class="res_param" value="">
                                <span class="search_reservation_tit">타임라인 검색</span>
                                <table class="search_review_table" style="margin-bottom: 50px;">
                                    <tr>
                                        <th>숙소 선택</th>
                                        <td>
                                            <select id="c_role_type" class="selectAccOwned" name="acc_id">
                                                <option value=" ">-숙소 선택-</option>
                                                <option th:each="acc:${accs}" th:value="${acc.acc_id}">[[${acc.acc_name}]]</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <div class="search_btn">
                                    <button type="submit" class="btnAdminProd3" style="display: none">검색</button>
                                </div>

                                <div class="guideTimelineColor">
                                    <table>
                                        <tr>
                                            <td>1</td>
                                            <td>예약취소</td>
                                            <td>2</td>
                                            <td>예약완료</td>
                                            <td>3</td>
                                            <td>숙박완료</td>
                                        </tr>
                                    </table>
                                </div>

                                <!-- 캘린더 -->
                                <div id="calendar-container">
                                    <div id='calendar'></div>
                                </div>
                                <!-- 예약 상세 내역 보기 -->
                                <dialog id="d_Detail">
                                    <form action="#" method="dialog">
                                        <section>
                                            <nav class="d_tit">
                                                <h1 class="d_tit2">예약상세정보</h1>
                                                <button value="close" type="reset" id="btnCloseModal">X</button>
                                            </nav>
                                            <nav class="d_sub_tit">
                                                <div class="d_b1">
                                                    <span>예약번호:
                                                        <i id="d_b_res_no">2303011856123456</i>
                                                    </span>
                                                    <span>&nbsp;&nbsp;예약일자:
                                                        <i id="d_b_res_date">23.03.01</i>
                                                    </span>
                                                </div>
                                            </nav>
                                            <div class="d_box">

                                                <div class="d_b2">
                                                    숙소정보
                                                </div>
                                                <div class="d_b3">
                                                    <div class="d_b3_1">
                                                        <div class="d_b3_2">
                                                            <div class="d_b_name">
                                                                <div>숙소정보</div>
                                                                <div id="m_room_name">이비스 앰배서더 부산 해운대 [레이트버드-18시 체크인] 스탠다드 더블/1박</div>
                                                            </div>
                                                            <div class="d_b_name">
                                                                <div>체크인</div>
                                                                <div id="m_room_checkIn">2023.03.01 15:00</div>
                                                            </div>
                                                            <div class="d_b_name">
                                                                <div>체크아웃</div>
                                                                <div id="m_room_checkOut">2023.03.02 12:00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d_b2">
                                                    예약자정보
                                                </div>
                                                <div class="d_b3">
                                                    <div class="d_b3_1">
                                                        <div class="d_b3_2">
                                                            <div class="d_b_name">
                                                                <div>예약자명</div>
                                                                <div id="m_res_name">이동글</div>
                                                            </div>
                                                            <div class="d_b_name">
                                                                <div>휴대폰번호</div>
                                                                <div id="m_res_hp">010-2023-0301</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d_b2">
                                                    결제정보
                                                </div>
                                                <div class="d_b3">
                                                    <div class="d_b3_1">
                                                        <div class="d_b3_2">
                                                            <div class="d_b_name">
                                                                <div>결제방법</div>
                                                                <div id="m_res_payment">신용/체크카드</div>
                                                            </div>
                                                            <div class="d_b_name">
                                                                <div>예약번호</div>
                                                                <div id="m_res_no">2303011931123456</div>
                                                            </div>
                                                            <div class="d_b_name2">
                                                                <div>최종결제금액 <i>(VAT포함)</i></div>
                                                                <div id="m_tot_res_price">52,800원</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </form>
                                </dialog>
                             </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <!-- fullcalendar  -->
    <link th:href='@{/css/admin/packages/core/main.css}' rel='stylesheet' />
    <link th:href='@{/css/admin/packages/daygrid/main.css}' rel='stylesheet' />
    <script th:src='@{/js/admin/packages/core/main.js}'></script>
    <script th:src='@{/js/admin/packages/interaction/main.js}'></script>
    <script th:src='@{/js/admin/packages/daygrid/main.js}'></script>
    <script th:inline="javascript">
         // h2 태그를 찾아서 name 속성 추가
         $(function(){
            $('.fc-center h2').attr('name', 'cal_date');
         });


        document.addEventListener('DOMContentLoaded', function() {

            const timelines = [[${timelines}]];
            //console.log('timelines: %o', timelines);

            // 예약 상세 정보 팝업
            const d_Detail = document.getElementById('d_Detail');

            btnCloseModal.addEventListener("click", ()=>{
                d_Detail.close();
            });

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: 800,
                plugins: [ 'interaction', 'dayGrid'],
                header: {
                    left: 'prev,next, today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek'
                },
                // defaultDate: '2023-03-15', 미지정 - 현재 날짜 출력
                navLinks: true,
                editable: false,
                fixedWeekCount:false,
                eventLimit: true,
                locale: 'ko',
                eventAdd: function(obj) {
                    console.log(obj);
                },
                eventChange: function(obj) {
                    console.log(obj);
                },
                eventRemove: function(obj){
                    console.log(obj);
                },
                eventClick:function(info){
                    let res_no = info.event.groupId;
                    console.log('res_no: ' + typeof res_no);
                    $('.res_param').val(res_no);

                    const jsonData = {"resNo": res_no};

                    console.log(jsonData);

                    ajaxAPI("business/reservation/timeline_reservation?res_no="+res_no, null, "GET").then((response)=>{
                        console.log('response1 : ', response[0]);
                        console.log('response2 : ', (response[0].res_price - response[0].res_disPrice));

                        $('#d_b_res_no').text(response[0].groupId);

                        $('#m_room_name').text(response[0].room_name);
                        $('#m_room_checkIn').text(response[0].start + '\u00A0\u00A0\u00A0' +  response[0].room_checkIn);
                        $('#m_room_checkOut').text(response[0].end + '\u00A0\u00A0\u00A0' + response[0].room_checkOut);
                        $('#m_res_name').text(response[0].title);
                        //$('#m_res_hp').text(response[0].res_hp);
                        $('#m_res_hp').text(response[0].res_hp.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, '$1-$2-$3'));
                        if(response[0].res_payment == 1){
                            $('#m_res_payment').text("신용·체크카드");
                        }else if(response[0].res_payment == 2){
                            $('#m_res_payment').text("토스페이");
                        }else if(response[0].res_payment == 3){
                            $('#m_res_payment').text("페이코");
                        }else if(response[0].res_payment == 4){
                            $('#m_res_payment').text("카카오페이");
                        }
                        $('#m_res_no').text(response[0].groupId);
                        $('#m_tot_res_price').text((response[0].res_price - response[0].res_disPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $('#d_b_res_date').text(response[0].res_date);



                    }).catch((errorMsg)=>{
                        console.log(errorMsg);
                    });

                    d_Detail.showModal();



                },
                datesRender: function(info) {

                    // 이번 달 정보 가져오기
                    var cal_date = info.view.title;
                    var year = cal_date.substr(0,4);
                    var month = cal_date.substr(6,1);

                    console.log("year : " + year);
                    console.log("month : " + month);


                    $('.fc-prev-button').click(function() {
                        $('.fc-center h2').attr('name', 'cal_date');
                        // 이전 달 정보 가져오기
                        var prev_year = year;
                        var prev_month = month-1;
                        if (prev_month == 0) {
                            prev_month = 12;
                            prev_year -= 1;
                        }
                        // 월을 두 자리로 출력하기 위해 toString() 함수 사용
                        prev_month = prev_month.toString().padStart(2, '0');

                        ajaxAPI("business/reservation/timeline?cal_date=" + cal_date, null, "GET").then((response)=>{
                            console.log("success ajax - prev ");
                        });


                    });


                    $('.fc-next-button').click(function() {
                        $('.fc-center h2').attr('name', 'cal_date');
                        // 다음 달 정보 가져오기
                        var next_year = year;
                        var next_month = month+1;
                        if(next_month == 13) {
                            next_month = 1;
                            next_year += 1;
                        }

                        // 월을 두 자리로 출력하기 위해 toString() 함수 사용
                        next_month = next_month.toString().padStart(2, '0');

                        ajaxAPI("business/reservation/timeline?cal_date=" + cal_date, null, "GET").then((response)=>{
                            console.log("success ajax - next ");
                        });
                    });
                },
                events: timelines
            });

            calendar.render();
        });
    </script>
    <script th:inline="javascript">
    window.onload = function() {

        // 숙소 선택 select 요소
        let selectAccOwned = document.getElementById("c_role_type");
        let searchButton = document.querySelector('.btnAdminProd3');


        // 옵션 변경 시에도 옵션 고정
        if (localStorage.getItem('selectedAccId')) {
            selectAccOwned.value = localStorage.getItem('selectedAccId');
        }

        // submit 제출
        selectAccOwned.addEventListener('change', function() {
            localStorage.setItem('selectedAccId', this.value);
            searchButton.click();
        });
    };
    </script>
</th:block>
</html>




