<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col0">
                            <form th:action="@{/business/review/list}">
                                <div class="selectProdForAdmin">
                                    <select class="selectAccOwned" id="companySelect">
                                        <option value="">숙소선택</option>
                                        <!-- add other options here -->
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col_nav">
                            <span>리뷰관리 ></span>
                            <span>등록리뷰</span>
                        </div>
                        <div class="col2">
                            <form action="#">
                                <div class="board_list">
                                    <ul>
                                        <li>#</li>
                                        <li>예약번호</li>
                                        <li>제목</li>
                                        <li>hidden</li>
                                        <li>닉네임</li>
                                        <li>평점</li>
                                        <li>답변상태</li>
                                        <li>등록일</li>
                                    </ul>
                                    <ul th:each="review,i:${reviews}">
                                        <li>[[${ph.totalCnt - ph.sc.offset - i.index}]]</li>
                                        <li th:text="${review.res_no}">23</li>
                                        <li class="prodName">
                                            <span th:if="${review.revi_thumb != null}" class="tag">PHOTO</span>
                                            <a th:href="@{/admin/review/view (revi_id=${review.revi_id})}"
                                               th:text="${review.revi_title}" class="reviewTitle" th:data-no="${review.revi_id}">title</a>
                                        </li>
                                        <li><input type="text" id="filterAcc" th:value="${review.acc_id}"></li>
                                        <li th:text="${#strings.substringBefore(review.user_id, '@') + '**'}">충치왕김건치</li>
                                        <li th:text="${review.revi_rate}">1</li>
                                        <li th:text="${review.revi_reply != null? '답변완료':'대기중'}" th:class="${review.revi_reply != null? 'completeReply':'waitReply'}"></li>
                                        <li th:text="${review.revi_rdate}">2023-02-26</li>
                                    </ul>
                                </div>
                                <div class="pagination" th:object="${ph}" th:style="${#lists.size(reviews) == 0 ? 'visibility:hidden;':''}">

                                    <th:block th:if="*{showPrev}">
                                        <a th:href="@{/business/review/list} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">< </a>
                                    </th:block>

                                    <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                                        <a th:href="@{/business/review/list} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                                            [[${num}]]
                                        </a>
                                    </th:block>

                                    <th:block th:if="*{showNext}">
                                        <a th:href="@{/business/review/list} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next"> ></a>
                                    </th:block>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
<script>
$(document).ready(function(){

    let selectAccOwned = document.querySelector(".selectAccOwned");

    // 소유 숙소 셀렉트 옵션 추가
    window.onload=function(){

        let jsonData = {"user_id": "0hotelthem1@gmail.com"};

        ajaxAPI("business/review/findAccOwnedForReview", jsonData, "GET").then((response)=>{
            console.log('response:' + response);

            selectAccOwned.innerHTML = "<option value=''>숙소선택</option>";
            for (let i = 0; i < response.length; i++) {

                console.log( [i] + ":" + response[i].acc_id);
                console.log( [i] + ":" + response[i].acc_name);

                let option = document.createElement("option");
                option.name = "searchAccForReview";
                option.value = response[i].acc_id;
                option.text = response[i].acc_name;
                selectAccOwned.add(option);
            }
        }).catch((errorMsg)=>{
            console.log(errorMsg);
        });
    };

    // 숙소 선택 시 목록 출력
    $('#companySelect').on('change', function(){

        const selectedAccName = $(this).val();
        console.log(selectedAccName);

        const option = selectAccOwned.options;
        console.log(option.length);

        for(let i=0; i<option.length; i++){
            if(option[i].value === selectedAccName){
                option[i].selected = true;
                console.log('option[i].value: '+option[i].value);
                break;

                let user_id = "0hotelthem1@gmail.com";
                let acc_id = option[i].value;

                location.href='/Lemo/business/review/list?acc_id='+acc_id;

<!--                let jsonData = {-->
<!--                    "user_id":user_id,-->
<!--                    "acc_id":acc_id-->
<!--                }-->

<!--                ajaxAPI("business/review/list", jsonData, "GET").then((response)=>{-->
<!--                    console.log('response:' + response);-->
<!--                    if(response.result > 0) {-->
<!--                        alert('response: ' + response );-->
<!--                    } else {-->
<!--                        alert('error');-->
<!--                    }-->
<!--                }).catch((errorMsg)=>{-->
<!--                    console.log(errorMsg);-->
<!--                });-->
            }
        }
    });



});
</script>
</th:block>
</html>