<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <!-- 메인 -->
        <main id="productView">
            <!-- 상단 이미지 & 상품 정보 -->
            <!-- 객실정보 -->
            <!-- 숙소정보 -->
            <article class="detail_info" id="detail_info" style="display:block;">
                <!-- 기본정보 -->
                <button type="button" class="detail_info_default">
                    <span>기본 정보</span>
                </button>
                <section class="info_default">
                    주변정보 테스트<br>
                    강문해변 차량 2분<br>
                    경포아쿠아리움 차량 5분<br>
                    강릉항 차량 8분<br>
                    기본정보<br>
                    체크인 : 15:00 | 체크아웃 : 11:00<br>
                    22시 이후 체크인 시 호텔 프론트 문의<br>
                    무료 Wi-Fi<br>
                    전 객실 금연<br>
                    주차 가능 (무료 / 객실 당 1대)<br>
                    [그린 캠페인] 플라스틱 없는 호텔 만들기로 기본 욕실 어메니티 3종(샴푸, 린스, 바디워시) 이외에 1회 용품은 제공하지 않습니다<br>
                    인원 추가 정보<br>
                    최대인원 초과불가 (영유아 인원수 포함)<br>
                    객실 당 2인 기준으로 세팅되어 있으며, 1인 추가 시 22,000원/박당 현장 결제입니다
                </section>
                <!-- 편의시설 및 서비스 -->
                <button type="button" class="detail_info_service">
                    <span>편의시설 및 서비스</span>
                </button>
                <section class="info_service">
                    <ul class="theme_wrap">
                        <li class="theme_1">피트니스</li>
                        <li class="theme_2">와이파이</li>
                        <li class="theme_3">레스토랑</li>
                        <li class="theme_4">TV</li>
                        <li class="theme_5">에어컨</li>
                        <li class="theme_6">냉장고</li>
                        <li class="theme_7">드라이기</li>
                        <li class="theme_8">장애인편의시설</li>
                        <li class="theme_9">주차장</li>
                        <li class="theme_10">무료주차</li>
                        <li class="theme_11">금연</li>
                        <li class="theme_12">카페</li>
                        <li class="theme_13">수영장</li>
                        <li class="theme_14">욕조</li>
                        <li class="theme_15">스파</li>
                        <li class="theme_16">엘리베이터</li>
                        <li class="theme_17">욕실용품</li>
                        <li class="theme_18">사우나</li>
                        <li class="theme_19">짐보관</li>
                        <li class="theme_20">세탁기</li>
                        <li class="theme_21">건조기</li>
                    </ul>
                </section>
                <!-- 판매자 정보 -->
                <button type="button" class="detail_info_seller">
                    <span>판매자 정보</span>
                </button>
                <section class="info_seller">
                    상호<br>
                    (주)빌더스개발에이엠씨<br>
                    대표자명<br>
                    심태형<br>
                    주소<br>
                    강원 강릉시 해안로 476 (강문동)<br>
                    전화번호<br>
                    033-923-2000<br>
                    이메일<br>
                    reservation@skybay.co.kr<br>
                    사업자번호<br>
                    604-88-00718
                </section>
            </article>

            <!-- 리뷰 -->
            <article class="detail_review">
                <div class="score_top">
                    <strong>추천해요</strong>
                    <div class="score_wrap">
                        <div class="score_star rating4">Designed by starline / Freepik</div>
                        <div class="num">5</div>
                    </div>
                    <p>
                        전체 리뷰
                        <b>9999</b>
                        <span>|</span>
                        제휴점 답변
                        <b>2</b>
                    </p>
                </div>
                <ul>
                    <li>
                        <div class="guest">
                            <p class="pic"></p>
                            <span class="best_review"></span>
                            <strong>여기만한 곳은 어디에도 없을 거예요.</strong>
                            <div class="score_wrap_sm">
                                <div class="score_star rating4"></div>
                                <div class="num">5</div>
                            </div>
                            <div class="name">
                                <b>테스트 객실</b>
                            </div>
                            <div class="txt">
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                            </div>
                            <div class="gallery_re">
                                <div class="gallerySlider">
                                    <div><img th:src="@{/images/product/testImg/apollo_17_blue_marble_photo_dec_7_1972_as17-148-22727.jpg}"></div>
                                </div>
                            </div>
                            <span class="date">2023/02/28 방문</span>
                        </div>
                        <div class="boss">
                            <p class="pic">
                                <img th:src="@{/images/index/lemo_logo-removebg-preview.png}" alt="lemo">
                            </p>
                            <strong>제휴점 답변</strong>
                            <div class="txt">
                                소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.
                            </div>
                            <span class="date">1일 전</span>
                        </div>
                    </li>
                    <li>
                        <div class="guest">
                            <p class="pic"></p>
                            <span class="best_review"></span>
                            <strong>여기만한 곳은 어디에도 없을 거예요.</strong>
                            <div class="score_wrap_sm">
                                <div class="score_star rating4"></div>
                                <div class="num">5</div>
                            </div>
                            <div class="name">
                                <b>테스트 객실</b>
                            </div>
                            <div class="txt">
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                            </div>
                            <div class="gallery_re">
                                <div class="gallerySlider">
                                    <div><img th:src="@{/images/product/testImg/apollo_17_blue_marble_photo_dec_7_1972_as17-148-22727.jpg}"></div>
                                    <div><img th:src="@{/images/product/testImg/apollo_8_earthrise_1968_as08-14-2383.jpg}"></div>
                                    <div><img th:src="@{/images/product/testImg/iss068e036313_orig.jpg}"></div>
                                    <div><img th:src="@{/images/product/testImg/iss068e047345.jpg}"></div>
                                    <div><img th:src="@{/images/product/testImg/pia21590_orig.jpg}"></div>
                                </div>
                            </div>
                            <span class="date">2023/02/28 방문</span>
                        </div>
                    </li>
                    <li>
                        <div class="guest">
                            <p class="pic"></p>
                            <span class="best_review"></span>
                            <strong>여기만한 곳은 어디에도 없을 거예요.</strong>
                            <div class="score_wrap_sm">
                                <div class="score_star rating4"></div>
                                <div class="num">5</div>
                            </div>
                            <div class="name">
                                <b>테스트 객실</b>
                            </div>
                            <div class="txt">
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                            </div>
                            <div class="gallery_re">
                                <div class="gallerySlider">
                                    <div><img th:src="@{/images/product/testImg/apollo_17_blue_marble_photo_dec_7_1972_as17-148-22727.jpg}"></div>
                                    <div><img th:src="@{/images/product/testImg/apollo_8_earthrise_1968_as08-14-2383.jpg}"></div>
                                    <div><img th:src="@{/images/product/testImg/iss068e036313_orig.jpg}"></div>
                                    <div><img th:src="@{/images/product/testImg/iss068e047345.jpg}"></div>
                                    <div><img th:src="@{/images/product/testImg/pia21590_orig.jpg}"></div>
                                </div>
                            </div>
                            <span class="date">2023/02/28 방문</span>
                        </div>
                    </li>
                </ul>
            </article>

            <!-- 여행일기 -->
            <article class="detail_diary">
                <span>테스트 호텔</span>
                <ul class="diary_list">
                    <li><a href="#"><img src="http://placehold.it/170x235"></a></li>
                    <li><a href="#"><img src="http://placehold.it/170x235"></a></li>
                    <li><a href="#"><img src="http://placehold.it/170x235"></a></li>
                    <li><a href="#"><img src="http://placehold.it/170x235"></a></li>
                </ul>
            </article>
            <!-- 문의하기 -->
            <article class="detail_qna">
                <div class="prodQna">
                    <ul class="co_list">
                        <!-- co_item 반복 -->
                        <li class="co_item">
                            <div class="co_img">
                                <img src="../img/user_img3.jpeg" alt="">
                            </div>
                            <div class="area_txt">
                                <span>이동*</span>
                                <p>냉장 보관인가요? 실온 보관인가요?</p>
                            </div>
                            <ul class="re_item">
                                <li>
                                    <div class="re_item2">
                                        <div class="area_img">
                                            <img src="../img/user_img2.jpeg" alt="">
                                        </div>
                                        <div class="area_txt_re">
                                            <span><img src="../img/icon-seller.svg" alt="판매자">베리베리</span>
                                            <p>햇빛이 들지 않는 실온에 보관해 주세요. 감사합니다 ^^</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="co_item">
                            <div class="co_img">
                                <img src="../img/user_img3.jpeg" alt="">
                            </div>
                            <div class="area_txt">
                                <span>이동*</span>
                                <p>냉장 보관인가요? 실온 보관인가요?</p>
                            </div>
                            <ul class="re_item">
                                <li>
                                    <div class="re_item2">
                                        <div class="area_img">
                                            <img src="../img/user_img2.jpeg" alt="">
                                        </div>
                                        <div class="area_txt_re">
                                            <span><img src="../img/icon-seller.svg" alt="판매자">베리베리</span>
                                            <p>햇빛이 들지 않는 실온에 보관해 주세요. 감사합니다 ^^</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="co_item">
                            <div class="co_img">
                                <img src="../img/user_img3.jpeg" alt="">
                            </div>
                            <div class="area_txt">
                                <span>이동*</span>
                                <p>냉장 보관인가요? 실온 보관인가요?</p>
                            </div>
                            <ul class="re_item">
                                <li>
                                    <div class="re_item2">
                                        <div class="area_img">
                                            <img src="../img/user_img2.jpeg" alt="">
                                        </div>
                                        <div class="area_txt_re">
                                            <span><img src="../img/icon-seller.svg" alt="판매자">베리베리</span>
                                            <p>햇빛이 들지 않는 실온에 보관해 주세요. 감사합니다 ^^</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="co_item">
                            <div class="co_img">
                                <img src="../img/user_img3.jpeg" alt="">
                            </div>
                            <div class="area_txt">
                                <span>이동*</span>
                                <p>냉장 보관인가요? 실온 보관인가요?</p>
                            </div>
                            <ul class="re_item">
                                <li>
                                    <div class="re_item2">
                                        <div class="area_img">
                                            <img src="../img/user_img2.jpeg" alt="">
                                        </div>
                                        <div class="area_txt_re">
                                            <span><img src="../img/icon-seller.svg" alt="판매자">베리베리</span>
                                            <p>햇빛이 들지 않는 실온에 보관해 주세요. 감사합니다 ^^</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="co_item">
                            <div class="co_img">
                                <img src="../img/user_img3.jpeg" alt="">
                            </div>
                            <div class="area_txt">
                                <span>이동*</span>
                                <p>냉장 보관인가요? 실온 보관인가요?</p>
                            </div>
                            <ul class="re_item">
                                <li>
                                    <div class="re_item2">
                                        <div class="area_img">
                                            <img src="../img/user_img2.jpeg" alt="">
                                        </div>
                                        <div class="area_txt_re">
                                            <span><img src="../img/icon-seller.svg" alt="판매자">베리베리</span>
                                            <p>햇빛이 들지 않는 실온에 보관해 주세요. 감사합니다 ^^</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="co_write" action="#">
                        <div class="co_write_inner">
                            <div class="co_inner_img">
                                <img src="../img/user_img1.jpeg" alt="">
                            </div>
                            <div class="co_inner_txt">
                                <label>
                                    <input type="text" placeholder="문의 댓글을 남겨주세요." autocomplete="off">
                                </label>
                            </div>
                            <button type="button" class="btnComment">등록</button>
                        </div>
                    </form>
                </div>
            </article>
        </main>

</html>
