<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
        <th:block layout:fragment="css-js">
            <link rel="stylesheet" th:href="@{/css/product/product.css}">
        </th:block>
        <th:block layout:fragment="content">
            <main id="reserv_result">
                <div class="content">
                    <div class="result_thanks">
                        <img th:src="@{/images/index/lemo_logo.png}">
                        <b>예약이 성공적으로 완료</b>되었습니다.
                    </div>
                    <div class="reserve_wrap">
                        <div class="tit">
                            <h1>예약상세정보</h1>
                            <span>
                                예약번호:
                                <i>12345678</i>
                            </span>
                            <span>
                                예약일자:
                                <i>2023-04-06 00:00:00</i>
                            </span>
                        </div>
                        <div class="sub_tit">
                            숙소정보
                        </div>
                        <div class="ordinfo">
                            <div>
                                <div class="ord-el">
                                    <div>숙소정보</div>
                                    <div>진주 브라운도트 진주성점 디럭스 디럭스더블</div>
                                </div>
                                <div class="ord-el">
                                    <div>체크인</div>
                                    <div>2023-04-06 14:00</div>
                                </div>
                                <div class="ord-el">
                                    <div>체크아웃</div>
                                    <div>2023-04-07 10:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="sub_tit">
                            예약자 정보
                        </div>
                        <div class="ordinfo">
                            <div>
                                <div class="ord-el">
                                    <div>예약자명</div>
                                    <div>김당근</div>
                                </div>
                                <div class="ord-el">
                                    <div>연락처</div>
                                    <div>010-1234-5678</div>
                                </div>
                            </div>
                        </div>
                        <div class="sub_tit">
                            결제정보
                        </div>
                        <div class="ordinfo">
                            <div>
                                <div class="ord-el">
                                    <div>결제방법</div>
                                    <div>신용/체크카드</div>
                                </div>
                                <div class="ord-el">
                                    <div>결제금액</div>
                                    <div>45,000원</div>
                                </div>
                                <div class="ord-el">
                                    <div>쿠폰할인</div>
                                    <div>- 5,000원</div>
                                </div>
                                <div class="ord-el">
                                    <div>포인트할인</div>
                                    <div>- 5,000P</div>
                                </div>
                                <div class="ord-price">
                                    <div>
                                        최종결제금액
                                        <i>(VAT포함)</i>
                                    </div>
                                    <div>40,000원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_button">
                        <a href="#" class="reserveHome">홈으로</a>
                        <a href="#" class="reserveReservation" id="reserveCancel">예약 내역</a>
                    </div>
                </div>
            </main>
        </th:block>
</html>