<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminEvent.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
            <main>
                <div class="main_inner">
                    <!-- 죄측 사이드바 -->
                    <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
                    <!-- 우측 메인 컨테이너 -->
                    <section class="main_content">
                        <div class="main_cotent_inner">
                            <div class="main_content_div">
                                <div class="col_nav">
                                    <span>고객센터 ></span>
                                    <span>이벤트 목록</span>
                                </div>
                                <div class="col2">
                                    <form action="#">
                                        <div class="board_list">
                                            <ul>
                                                <li>#</li>
                                                <li>제목</li>
                                                <li>기간</li>
                                                <li>비고</li>
                                            </ul>
                                            <ul>
                                                <li>1</li>
                                                <li class="title">
                                                    <a href="#">23년 2월 롯데카드 즉시할인 - 신용카드</a>
                                                </li>
                                                <li>2023-03-01 ~ 2023-03-31</li>
                                                <li class="prodBtn" id="event_li">
                                                    <span class="btnDelete">삭제</span>
                                                    <span class="btnModify">수정</span>
                                                    <span class="btnAct">활성화</span>
                                                    <span class="btnDeAct on">비활성화</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pagination">
                                            <a href="#">&laquo;</a>
                                            <a href="#">1</a>
                                            <a href="#" class="active">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#">6</a>
                                            <a href="#">&raquo;</a>
                                        </div>
                                        <div class="btnAdminProd">
                                            <a href="#">
                                                이벤트등록
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="blank30"></div>
                        </div>
                    </section>
                </div>
            </main>
        <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function(){

            $('.btnAct').on('click', function(){

                let status = $(this).hasClass('on');
                if(!status){
                    $(this).addClass('on');
                    $('.btnDeAct').removeClass('on');
                }
            });

            $('.btnDeAct').on('click', function(){

                let status = $(this).hasClass('on');
                if(!status){
                    $(this).addClass('on');
                    $('.btnAct').removeClass('on');
                }
            });
        });

    </script>
</th:block>
</html>