<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminEvent.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>이벤트 보기</span>
                        </div>

                        <!-- 이벤트 보기 폼 -->
                        <div class="col_register_form">
                            <!-- 이벤트 제목, 내용 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>[[${event.cs_title}]]</span>
                                    </div>
                                </div>
                                <div class="event_view">
                                    <div class="event_content">
                                        <p th:each="image : ${event.cs_eventViewImg.split('/')}">
                                            <img th:src="@{/img/cs/{csNo}/{imageName}(csNo=${event.cs_no}, imageName=${image})}" />
                                        </p>
                                        <!-- 이벤트 링크
                                        <div class="evt-link">
                                            <img src="../../img/csImg/event_link.png" alt="">
                                            <a href="#"></a>
                                        </div>-->
                                    </div>
                                    <div class="precautions">
                                        <div class="handle">
                                            <div>
                                                <img th:src="@{/images/admin/info_blit.png}">
                                                <span>꼭 확인하세요.</span>
                                                <img th:src="@{/images/admin/arrow_top.png}">
                                            </div>
                                        </div>
                                        <div class="info">
                                            · 본 이벤트는 LEMO에서 숙소 예약 시, 선착순 결제한 고객을 대상으로 진행됩니다.<br>
                                            · 일별 선착순 인원 종료 시점까지 할인 가능 합니다.<br>
                                            · 선착순 쿠폰은 기간 내, 매일 오전 0시에 시작 됩니다.<br>
                                            · 선착 순 종료 시, 최종 결제금액 동일합니다. 종료된 프로모션은 최종 결제 금액으로 프로모션 대상 여부를 확인해 주세요.<br>
                                            · 선착순 쿠폰 잔여여부는, 혜택 박스로 확인 가능 합니다.<br>
                                            · 타 간편 결제 수단에 등록된 카드는 할인이 적용되지 않습니다. (페이나우/네이버페이/카카오페이/페이코/삼성,LG페이 적용불가)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 버튼 -->
                            <div class="btnAdminProd">
                                <a th:href="@{/admin/cs/event/list}">
                                    이벤트목록
                                </a>
                            </div>
                            <div class="btnAdminProd">
                                <a th:href="@{/admin/cs/event/modify (cs_no=${event.cs_no})}">
                                    이벤트수정
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>
        $( document ).ready( function() {
            $('.handle').click(function(){
                $('.info').slideToggle();
                $(this).find('img:last-of-type').toggleClass('on');
            });
        });
    </script>
</th:block>
</html>