<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/cs/cs.css}">
</th:block>
<th:block layout:fragment="content">
    <!-- 메인 -->
    <main>
        <section id="cs">
            <!-- nav-->
            <th:block th:replace="fragments/_aside::csAside"></th:block>
            <!-- 본문 -->
            <div class="content">
                <!-- 카테고리 -->
                <div class="tab">
                    <span class="faq_title">
                        자주묻는 질문
                    </span>
                </div>
                <!-- 자주묻는 질문 카테고리 -->
                <div class="sub_cate">
                    <li><a th:href="@{/cs/faq/event}" th:class="${cs_type == 'event'} ? 'on' : ''">이벤트</a></li>
                    <li><a th:href="@{/cs/faq/payment}" th:class="${cs_type == 'payment'} ? 'on' : ''">예약/결제</a></li>
                    <li><a th:href="@{/cs/faq/cancel}" th:class="${cs_type == 'cancel'} ? 'on' : ''">취소/환불</a></li>
                    <li><a th:href="@{/cs/faq/benefit}" th:class="${cs_type == 'benefit'} ? 'on' : ''">혜택받기</a></li>
                    <li><a th:href="@{/cs/faq/use}" th:class="${cs_type == 'use'} ? 'on' : ''">이용문의</a></li>
                    <li><a th:href="@{/cs/faq/info}" th:class="${cs_type == 'info'} ? 'on' : ''">회원정보</a></li>
                    <li><a th:href="@{/cs/faq/review}" th:class="${cs_type == 'review'} ? 'on' : ''">리뷰</a></li>
                    <li><a th:href="@{/cs/faq/refund}" th:class="${cs_type == 'refund'} ? 'on' : ''">환불신청</a></li>
                    <li><a th:href="@{/cs/faq/point}" th:class="${cs_type == 'point'} ? 'on' : ''">쿠폰/포인트</a></li>
                </div>
                <!-- 자주묻는 질문 목록 -->
                <div class="tab_each" id="faq_list">
                    <ul id="faqs" class="show_list open_list">
                        <th:block th:each="faq:${csArticles}">
                            <li>
                                <a href="#" class="list_n">
                                    <p class="${faq.cs_type}">[[${faq.cs_type_ko}]]</p> <p>[[${faq.cs_title}]]</p>
                                </a>
                                <div class="toggle">
                                    [[${faq.cs_content}]]
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </div>
                <!-- 페이징 -->
                <div class="paging" th:object="${ph}">
                    <th:block th:if="*{showPrev}">
                        <span class="prev">
                            <a th:href="@{/cs/faq/ph.cs.cs_type} + ${ph.sc.getQueryString(ph.beginPage-1)}"><<</a>
                        </span>
                    </th:block>

                    <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                        <span th:class="${num == ph.sc.page ? 'on':'num'}"><a th:href="@{/cs/faq/ph.cs.cs_type} + ${ph.sc.getQueryString(num)}" >[[${num}]]</a></span>
                    </th:block>

                    <th:block th:if="*{showNext}">
                        <span class="next"><a th:href="@{/cs/faq/ph.cs.cs_type} + ${ph.sc.getQueryString(ph.endPage+1}"> >> </a></span>
                    </th:block>
                </div>

            </div>
        </section>
    </main>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/cs/toggle.js}"></script>
    <script>
        $(document).on('load', function(){
            var faqType = document.getElementsByClassName('faqType').innerHTML;

            console.log("faqType");

            switch(faqType){
                case 'payment' :
                    $('.faqType').text('예약/결제');
                    break;
                default :
                    $('.faqType').text('이벤트');
            }
        });
    </script>
</th:block>
</html>



