<!--
    날짜 : 2023/02/26
    이름 : 황원진
    내용 : 마이페이지 view HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/my/my.css}">

</th:block>
<th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                예약 내역 상세보기
                            </span>
                        </div>
                        <div id="reservePrint">
                        <div class="reserve_view">
                            <div class="sub_tit">
                                예약자 정보
                            </div>
                            <div>
                                <p>예약자 정보</p>
                                <span>[[${reservation.res_name}]]</span>
                            </div>
                            <div>
                                <p>휴대폰번호</p>
                                <span>[[${reservation.res_hp}]]</span>
                            </div>
                            <div class="sub_tit">
                                숙소정보
                            </div>
                            <div>
                                <p>숙소 정보</p>
                                <span>[[${reservation.acc_name}]]<br>
<!--                                     [레이트버드-18시 체크인] 스탠다드 더블 / 1박-->
                                    [[${reservation.room_name}]] / [[${reservation.night}]]박
                                </span>
                            </div>
                            <div>
                                <p>체크인</p>
                                <span>[[${reservation.res_checkIn}]] [[${reservation.room_checkIn}]]</span>
                            </div>
                            <div>
                                <p>체크아웃</p>
                                <span>[[${reservation.res_checkOut}]] [[${reservation.room_checkOut}]]</span>
                            </div>
                            <div class="sub_tit">
                                결제정보
                            </div>
                            <div>
                                <p>예약번호</p>
                                <span>[[${reservation.res_no}]]</span>
                            </div>
                            <div>
                                <p>결제 방법</p>
                                <span th:if="${reservation.res_payment == 1}">신용/체크카드</span>
                                <span th:if="${reservation.res_payment == 2}">간편 계좌이체</span>
                                <span th:if="${reservation.res_payment == 3}">휴대폰결제</span>
                                <span th:if="${reservation.res_payment == 4}">네이버페이</span>
                                <span th:if="${reservation.res_payment == 5}">카카오페이</span>
                            </div>
                            <div>
                                <span><i>최종 결제 금액</i>(VAT포함)</span>
                            </div>
                            <div>
                                <p>[[${#numbers.formatInteger(reservation.res_price - reservation.res_disPrice, 3, 'COMMA')}]]원</p>
                            </div>
                        </div>
                        </div>
                        <div class="btnReserveView">
                            <a href="#" class="reservePrint" onclick="reservPrint()">예약 내역 인쇄</a>
                            <a th:href="@{/my/reservation/delete ( res_no=${reservation.res_no} )}" class="reserveCancel" id="reserveCancel" th:if="${reservation.res_state != 2}">예약 취소</a>
                        </div>
                    </div>  
                </section>
                <!-- 우측 미니 사이드바 -->
                <div class="btn_quick">
                    <ul>
                        <li class="btn_wishlist">
                            <a href="javascript:;">
                                <img th:src="@{/images/index/empty-heart.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/naver_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/kakao_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToTop" onclick="return false;">
                                <img th:src="@{/images/index/top_btn.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToBottom" onclick="return false;">
                                <img th:src="@{/images/index/bottom_btn.png}">
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
            </th:block>
            <th:block layout:fragment="script">
                <script>
                    var content;
                    var initBody;

                    function reservPrint() {
                        content = document.getElementById('reservePrint');

                        window.onbeforeprint = beforePrint;
                        window.onafterprint = afterPrint;

                        setTimeout(function(){
                            window.print();
                        }, 100);
                    }

                    function beforePrint() {
                        initBody = document.body.innerHTML;
                        document.body.innerHTML = content.innerHTML;
                    }

                    function afterPrint() {
                        document.body.innerHTML = initBody;
                    }


                    const urlParams = new URLSearchParams(window.location.search);
                    const res_no = urlParams.get('res_no');
                    $(function(){
                        $('.reserveCancel').click(function(e){
                            e.preventDefault();

                            Swal.fire({
                                title: '예약 취소하시겠습니까?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: '확인',
                                cancelButtonText: '취소',
                                reverseButtons: false,
                            }).then(result => {
                                if (result.isConfirmed) {
                                    let jsonData = { "res_no":res_no }

                                    ajaxAPI("my/reservation", jsonData, "DELETE").then((response)=>{
                                        if(response == 1) {
                                            Swal.fire({
                                                title: '예약 취소되었습니다.',
                                                icon: 'info',
                                                confirmButtonColor: '#3085d6',
                                                cancelButtonColor: '#d33',
                                                confirmButtonText: '확인',
                                                reverseButtons: false,
                                            }).then(result => {
                                                location.href='/Lemo/my/reservation/list';
                                            });
                                        }else {
                                            Swal.fire( '다시 시도해주세요.' )
                                        }
                                    });
                                }
                            });
                        });

                        $('.reservePrint').click(function(e){ e.preventDefault(); });
                    });
                </script>
            </th:block>
</html>