<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminFaq.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
                <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
                <!-- 우측 메인 컨테이너 -->
                <section class="main_content">
                    <div class="main_cotent_inner">
                        <div class="main_content_div">
                            <!-- 판매자인 경우 출력-->
                            <div class="col0" style="margin-bottom: 20px;">
                                <form action="#">
                                    <div class="selectProdForAdmin">
                                        <select name="cs_type">
                                            <option value="0">유형선택</option>
                                            <option value="event">이벤트</option>
                                            <option value="payment">예약/결제</option>
                                            <option value="cancel">취소/환불</option>
                                            <option value="benefit">혜택받기</option>
                                            <option value="use">이용문의</option>
                                            <option value="info">회원정보</option>
                                            <option value="review">리뷰</option>
                                            <option value="refund">환불신청</option>
                                            <option value="point">쿠폰/포인트</option>
                                        </select>
                                    </div>
                                </form>
                            </div>

                            <div class="col_nav">
                                <span>고객센터 ></span>
                                <span>자주묻는질문</span>
                            </div>
                            <div class="col2">
                                <form action="#">
                                    <div class="faq_list">
                                        <ul>
                                            <th:block th:each="faq:${faqArticles}">
                                            <!-- li 반복 -->
                                                <li class="faq_tit">
                                                    <a href="#" id="faq_tab" class="faq_list_a">
                                                        <p>[[${faq.cs_type_ko}]] [[${faq.cs_title}]]</p>
                                                    </a>
                                                    <span>
                                                        <a class="btnFaqModify" href="#">수정</a>
                                                        <a class="btnFaqDelete" href="#">삭제</a>
                                                    </span>

                                                    <div class="faq_content">
                                                        <p>
                                                            [[${faq.cs_content}]]
                                                        </p>

                                                    </div>
                                                </li>
                                            </th:block>
                                        </ul>


                                    </div>
                                    <div class="pagination">
                                        <a href="#">&laquo;</a>
                                        <a href="#">1</a>
                                        <a href="#" class="active">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">5</a>
                                        <a href="#">6</a>
                                        <a href="#">&raquo;</a>
                                    </div>
                                    <div class="btnAdminProd4">
                                        <a th:href="@{/admin/cs/faq/write}">
                                            작성
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="blank30"></div>
                    </div>
                </section>
            </div>
        </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
<script>
    $(document).ready(function() {
        $('.faq_list_a').click(function(e){
            e.preventDefault();
            // $(this).find('div').slideToggle();
            // $(this).find('.faq_list_a').toggleClass('open');
            $(this).next().next().slideToggle();
            $(this).toggleClass('open');
        });
    });
</script>

</th:block>
</html>