<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminFaq.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>자주 묻는 질문 수정</span>
                        </div>
                        <div class="col2">
                            <form th:action="@{/admin/cs/faq/modify}" method="post" id="cs_typeForm" onsubmit="modifyCheck(event);">
                                <input type="hidden" name="cs_no" th:value="${cs_no}">
                                <input type="hidden" name="page" th:value="${page}">
                                <div class="board_view">
                                    <div class="view_box">
                                        <div class="view_head">
                                            <div class="title">
                                                <p>
                                                    <select class="select_faq_cate" name="cs_type" id="faqCs_type">
                                                        <option value="0">유형선택</option>
                                                        <option value="event">이벤트</option>
                                                        <option value="payment">예약/결제</option>
                                                        <option value="cancel">취소/환불</option>
                                                        <option value="benefit">혜택받기</option>
                                                        <option value="use">이용문의</option>
                                                        <option value="info">회원정보</option>
                                                        <option value="review">리뷰</option>
                                                        <option value="refund">환불신청</option>
                                                        <option value="point">쿠폰/포인트</option>
                                                    </select>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="view_content">
                                            <textarea th:text="${mFaq.cs_title}" name="cs_title" id="cs_title" placeholder="자주 묻는 질문의 질문 내용을 작성해 주세요" required></textarea>
                                        </div>
                                        <div class="view_recomment">
                                            <div class="write_recomment">
                                                <div class="inner_txt">
                                                    <textarea th:text="${mFaq.cs_content}" name="cs_content" placeholder="자주 묻는 질문의 답변 내용을 작성해 주세요" required></textarea>
                                                </div>
                                                <div class="btnSubmit">
                                                    <button class="btnAdminProd" type="submit">수정</button>
                                                </div>
                                                <div class="btnSubmit">
                                                    <a th:href="@{/admin/cs/faq/list (page=${page})}" class="btnAdminProd" id="list" type="button">목록으로</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="btnAdminProd4">
                                    <a href="#">
                                        선택삭제
                                    </a>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/cs/cs_type-form.js}"></script>
    <script>
        // 로드시 셀렉트박스 옵션선택
        document.addEventListener("DOMContentLoaded", function() {
          var mFaq = "[[${mFaq.cs_type}]]";
          console.log("cs_cate : " + mFaq);
          var selectBox = document.getElementById("faqCs_type");
          for (var i = 0; i < selectBox.options.length; i++) {
            if (selectBox.options[i].value === mFaq) {
              selectBox.selectedIndex = i;
              break;
            }
          }
        });

        // input focus
        const cs_title = document.getElementById('cs_title');
        cs_title.focus();


        // 수정완료클릭시 확인
        function modifyCheck(e) {
          e.preventDefault(); // form submit 막음
          console.log("1");
          Swal.fire({
            title: '정말 수정하시겠습니까?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '확인',
            cancelButtonText: '취소',
            reverseButtons: false,
          }).then((result) => {
            if (result.isConfirmed) {
              e.target.submit(); // form submit 실행
            }
          });
        }

    </script>
</th:block>
</html>