<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminFaq.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <<th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>자주 묻는 질문 수정</span>
                        </div>
                        <div class="col2">
                            <form th:action="@{#}" id="faqModify">
                                <div class="board_view">
                                    <div class="view_box">
                                        <div class="view_head">
                                            <div class="title">
                                                <p>
                                                    <select class="select_faq_cate" name="cs_type">
                                                        <option value="0">유형선택</option>
                                                        <option value="event">이벤트</option>
                                                        <option value="payment">예약/결제</option>
                                                        <option value="cancel">취소/환불</option>
                                                        <option value="benefit">혜택받기</option>
                                                        <option value="use">이용문의</option>
                                                        <option value="info">회원정보</option>
                                                        <option value="review">리뷰</option>
                                                        <option value="refund">환불신청</option>
                                                        <option value="point">쿠폰/포인트</option>
                                                    </select>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="view_content">
                                            <textarea th:text="${mFaq.cs_title}" name="cs_title"></textarea>
                                        </div>
                                        <div class="view_recomment">
                                            <div class="write_recomment">
                                                <div class="inner_txt">
                                                    <textarea th:text="${mFaq.cs_content}" name="cs_content"></textarea>
                                                </div>
                                                <div class="btnSubmit">
                                                    <button class="btnAdminProd" type="submit" onclick="document.getElementById('faqModify').submit();">수정</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="btnAdminProd4">
                                    <a href="#">
                                        선택삭제
                                    </a>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>