<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminFaq.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <<th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>자주 묻는 질문 수정</span>
                        </div>
                        <div class="col2">
                            <form action="#">
                                <div class="board_view">
                                    <div class="view_box">
                                        <div class="view_head">
                                            <div class="title">
                                                <p>
                                                    <select class="select_faq_cate">
                                                        <option value="0">유형선택</option>
                                                        <option value="1">이벤트</option>
                                                        <option value="2">예약/결제</option>
                                                        <option value="3">취소/환불</option>
                                                        <option value="4">이용문의</option>
                                                        <option value="4">회원정보</option>
                                                        <option value="4">리뷰</option>
                                                        <option value="4">환불신청</option>
                                                        <option value="4">쿠폰/포인트</option>
                                                    </select>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="view_content">
                                            <textarea>환불금은 언제 받을 수 있나요?</textarea>
                                        </div>
                                        <div class="view_recomment">
                                            <div class="write_recomment">
                                                <div class="inner_txt">
                                                    <textarea>해당 환불 요청이 합당한 경우 환불은 즉시 처리됩니다. 은행에서 해당 금액을 환불하기까지 처리/환불 날짜로부터 최대 30 영업일 또는 고객님의 다음 대금 청구 주기까지 시간이 소요될 수 있습니다. 환불 금액은 고객님의 신용카드 회사에 의해 고객님의 현지 통화로 변환됨을 알려드립니다. 환불 진행 상황은 [예약 관리]에서 확인하실 수 있습니다.</textarea>
                                                </div>
                                                <div class="btnSubmit">
                                                    <button class="btnAdminProd" type="button">등록</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="btnAdminProd4">
                                    <a href="#">
                                        선택삭제
                                    </a>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>