<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- admin aside menu fragment -->
<aside th:fragment="adminFragment">
    <nav class="sidebar">
        <div class="sidebar_logo">
            <a href="#">
                <img th:src="@{/images/admin/lemo_logo-removebg-preview.png}" alt="logo">
                <div class="logo">LEMO</div>
            </a>
        </div>
        <div class="welcome">홍길동 <i>님, 반갑습니다.</i></div>
        <th:block sec:authorize="isAuthenticated()">
            <!--<div class="welcome">[[${#authentication.principal.user.uid}]]</div>-->
        </th:block>
        <ul class="sidebar_menu">
            <!-- 사이드 메뉴 item1 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/home.gif}">
                    </div>
                    <span>HOME</span>
                </a>
                <ul class="sidebar_collapse_menu">
                    <li>
                        <a href="#">로그아웃</a>
                    </li>
                </ul>
            </li>
            <!-- 사이드 메뉴 item2 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/shopping-cart.gif}">
                    </div>
                    <span>상품관리</span>
                </a>
                <ul class="sidebar_collapse_menu">
                    <li>
                        <a href="#">숙박관리</a>
                    </li>
                    <li>
                        <a href="#">객실관리</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/coupon/manageCoupon}">쿠폰관리</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/review/list}">등록리뷰</a>
                    </li>
                </ul>
            </li>
            <!-- 사이드 메뉴 item3 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/mouse.gif}">
                    </div>
                    <span>예약관리</span>
                </a>
                <ul class="sidebar_collapse_menu">
                    <li>
                        <a href="#">예약정보</a>
                    </li>
                    <li>
                        <a href="#">타임라인</a>
                    </li>
                </ul>
            </li>
            <!-- 사이드 메뉴 item4 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/line-chart.gif}">
                    </div>
                    <span>통계관리</span>
                </a>
            </li>
            <!-- 사이드 메뉴 item5 -->
            <li>
                <a class="sidebar_arrow" th:href="@{/admin/user}">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/profile.gif}">
                    </div>
                    <span>회원관리</span>
                </a>
            </li>
            <!-- 사이드 메뉴 item6 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/happy.gif}">
                    </div>
                    <span>고객센터</span>
                </a>
                <ul class="sidebar_collapse_menu">
                    <li>
                        <a th:href="@{/admin/cs/notice/list}">공지사항</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/cs/faq/list}">문의사항</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
<aside th:fragment="businessFragment">
    <nav class="sidebar">
        <div class="sidebar_logo">
            <a href="#">
                <img th:src="@{/images/admin/lemo_logo-removebg-preview.png}" alt="logo">
                <div class="logo">LEMO</div>
            </a>
        </div>
        <div class="welcome">홍길동 <i>님, 반갑습니다.</i></div>
        <th:block sec:authorize="isAuthenticated()">
            <!--<div class="welcome">[[${#authentication.principal.user.uid}]]</div>-->
        </th:block>
        <ul class="sidebar_menu">
            <!-- 사이드 메뉴 item1 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/home.gif}">
                    </div>
                    <span>HOME</span>
                </a>
                <ul class="sidebar_collapse_menu">
                    <li>
                        <a href="#">로그아웃</a>
                    </li>
                </ul>
            </li>
            <!-- 사이드 메뉴 item2 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/shopping-cart.gif}">
                    </div>
                    <span>상품관리</span>
                </a>
                <ul class="sidebar_collapse_menu">
                    <li>
                        <a href="#">숙박관리</a>
                    </li>
                    <li>
                        <a href="#">객실관리</a>
                    </li>
                    <li>
                        <a th:href="@{/business/coupon/manageCoupon}">쿠폰관리</a>
                    </li>
                    <li>
                        <a th:href="@{/business/review/list}">등록리뷰</a>
                    </li>
                </ul>
            </li>
            <!-- 사이드 메뉴 item3 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/mouse.gif}">
                    </div>
                    <span>예약관리</span>
                </a>
                <ul class="sidebar_collapse_menu">
                    <li>
                        <a href="#">예약정보</a>
                    </li>
                    <li>
                        <a href="#">타임라인</a>
                    </li>
                </ul>
            </li>
            <!-- 사이드 메뉴 item4 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/line-chart.gif}">
                    </div>
                    <span>통계관리</span>
                </a>
            </li>
            <!-- 사이드 메뉴 item5 -->
            <li>
                <a class="sidebar_arrow" href="#">
                    <div class="icon_menu">
                        <img th:src="@{/images/admin/happy.gif}">
                    </div>
                    <span>고객센터</span>
                </a>
                <ul class="sidebar_collapse_menu">
                    <li>
                        <a th:href="@{/admin/cs/notice/list}">공지사항</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/cs/faq/list}">문의사항</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
<th:block th:fragment="csAside">
    <nav class="category">
        <span>고객센터</span>
        <ul>
            <li><a th:href="@{/cs/notice}" th:class="${cs_cate == 'notice'} ? 'on' : ''">공지사항</a></li>
            <li><a th:href="@{/cs/event/list}" th:class="${cs_cate == 'event'} ? 'on' : ''">이벤트</a></li>
            <li><a th:href="@{/cs/faq/event}" th:class="${cs_cate == 'faq'} ? 'on' : ''">자주묻는질문</a></li>
            <li><a th:href="@{/cs/qna}" th:class="${cs_cate == 'qna'} ? 'on' : ''">1:1 문의</a></li>
            <li><a th:href="@{/cs/terms}" th:class="${cs_cate == 'terms'} ? 'on' : ''">약관 및 정책</a></li>
        </ul>
    </nav>
</th:block>
<th:block th:fragment="myAside">
<nav class="my_diary_category">
    <span>마이페이지</span>
    <ul>
        <li>
            <a th:href="@{/my/info}" th:classappend="${cate == 'info'} ? 'on'">내정보</a>
        </li>
        <li>
            <a th:href="@{/my/point}" th:classappend="${cate == 'point'} ? 'on'">포인트</a>
        </li>
        <li>
            <a th:href="@{/my/coupon}" th:classappend="${cate == 'coupon'} ? 'on'">쿠폰함</a>
        </li>
        <li>
            <a th:href="@{/my/reservation}" th:classappend="${cate == 'reservation'} ? 'on'">예약내역</a>
        </li>
        <li>
            <a th:href="@{/my/pick}" th:classappend="${cate == 'pick'} ? 'on'">나의 찜</a>
        </li>
        <li>
            <a th:href="@{/my/diary/list}" th:classappend="${cate == 'diary'} ? 'on'">나의 여행일기</a>
        </li>
        <li>
            <a th:href="@{/my/review}" th:classappend="${cate == 'review'} ? 'on'">나의 리뷰</a>
        </li>
    </ul>
</nav>
</th:block>
</html>