<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer>
        <div class="footer_inner">
            <div class="footer_menu">
                <table>
                    <tr>
                        <td><a th:href="@{#}">ABOUT</a></td>
                        <td><a th:href="@{/cs/notice}">NOTICE</a></td>
                        <td><a th:href="@{/cs/faq/event}">CS CENTER</a></td>
                    </tr>
                </table>
            </div>
            <div class="footer_block">
                <div class="footer_block_left">
                    <div class="footer_block_row">
                        <!-- 로고 클릭 시 메인으로 이동 -->
                        <div class="row_col_1"><a th:href="@{/}">LEMO</a></div>
                        <div class="row_col_2">LETTUCE MEMORIES</div>
                        <div class="row_col_3">
                            주식회사 레모 | CEO 서박이황 | 02-2023-0223 | 부산광역시 수영구 299 루미너스 빌딩 10층 <br>
                            통신판매업신고: 제 2023-레모구-0223호 사업자등록번호: 123012012345[사업자정보확인] <br>
                            E-mail: lemo@gmail.com 국민은행 123-123456-12345 (주)주식회사 레모
                        </div>
                    </div>
                </div>
                <div class="footer_block_right">
                    <div class="footer_block_row">
                        <!-- 고객센터 클릭 시 고객센터 페이지 이동 -->
                        <div class="row_col_4"><a th:href="@{/cs/notice}">고객센터</a></div>
                        <div class="row_col_5">
                            070-2023-0223 <br>
                            MON - FRI AM 09:00 - PM 17:00 <br>
                            BREAK PM 12:00 - PM 13:00 <br>
                            SAT, SUN, HOLIDAY <span>DAY OFF</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_terms">
                <div class="footer_block_row2">
                    <a th:href="@{/cs/terms}">이용약관</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a th:href="@{/cs/terms?privacy=true}">개인정보처리방침</a>
                </div>
            </div>
            <div class="footer_copyright">
                <div class="footer_block_row2">
                    <p>COPYRIGHT (c) 주식회사 레모 ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>