<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header>
        <div class="header_inner">
            <div class="header_flex">
                <div class="header_logo">
                    <!-- 메인으로 이동 -->
                    <a href="#"><img th:src="@{/images/index/lemo_logo.png}" alt="레모 로고"></a>
                    <div class="logo">LEMO</div>
                </div>
                <div class="header_service">
                    <a href="#">로그인</a>
                    <a href="#">여행일기</a>
                    <div class="dropdown_menu" id="dropdown_menu">
                        <button id="dropdown">마이페이지
                            <img th:src="@{/images/index/down-arrow.png}">
                        </button>
                        <div class="dropdown_content" id="dropdown_content">
                            <a href="#">나의 정보</a>
                            <a href="#">포인트</a>
                            <a href="#">쿠폰함</a>
                            <a href="#">예약내역</a>
                            <a href="#">위시리스트</a>
                            <a href="#">나의 여행일기</a>
                            <a href="#">나의 리뷰</a>
                        </div>
                    </div>
                    <div class="dropdown_menu" id="dropdown_menu2">
                        <button id="dropdown2">고객센터
                            <img th:src="@{/images/index/down-arrow.png}">
                        </button>
                        <div class="dropdown_content" id="dropdown_content2">
                            <a href="#">공지사항</a>
                            <a href="#">이벤트</a>
                            <a href="#">자주 묻는 질문</a>
                            <a href="#">1:1 문의</a>
                            <a href="#">여행일기</a>
                        </div>
                    </div>
                </div>
                <div class="header_searchBar">
                    <form class="search-container" action="#">
                        <div class="search">
                            <input id="search-box" type="text" class="search-box" name="q"/>
                            <button type="submit" class="btnSearch">
                                <input type="image" th:src="@{/images/index/btn_search.png}" id="search-submit"/>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>