<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8">
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Lemo::[[${title}]]</title>
        <!-- favicon -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
        <!-- 구글 폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">   
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!-- sweet Alert -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
        <!-- 공통 js, css -->
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <script th:src="@{/js/common/commonJS.js}"></script>
        <script th:src="@{/js/common/ajaxAPI.js}"></script>
        <script>
            const contextPath = "[[@{/}]]";
            const token = document.head.querySelector("meta[name='_csrf']").content;
            const header = document.head.querySelector("meta[name='_csrf_header']").content;
        </script>
    </head>
</th:block>
</html>