<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:fragment="headerFragment">
    <header>
        <div class="header_inner">
            <div class="header_flex">
                <div class="header_logo">
                    <!-- 메인으로 이동 -->
                    <a th:href="@{/}"><img th:src="@{/images/index/lemo_logo.png}" alt="레모 로고"></a>
                    <a th:href="@{/}" class="logo">LEMO</a>
                </div>
                <div class="header_service">
                    <th:block sec:authorize="isAuthenticated()">
                        <form th:action="@{/user/logout}" th:method="post">
                            <input type="submit"  class="logout" value="로그아웃"/>
                        </form>
                    </th:block>
                    <a th:href="@{/user/login}" sec:authorize="!isAuthenticated()">로그인</a>
                    <a href="#">여행일기</a>
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="dropdown_menu" id="dropdown_menu">
                            <button id="dropdown">마이페이지
                                <img th:src="@{/images/index/down-arrow.png}">
                            </button>
                            <div class="dropdown_content" id="dropdown_content">
                                <a th:href="@{/my/info}">나의 정보</a>
                                <a th:href="@{/my/point}">포인트</a>
                                <a th:href="@{/my/coupon}">쿠폰함</a>
                                <a th:href="@{/my/reservation}">예약내역</a>
                                <a th:href="@{/my/pick}">위시리스트</a>
                                <a th:href="@{/my/diary/list}">나의 여행일기</a>
                                <a th:href="@{/my/review/list}">나의 리뷰</a>
                            </div>
                        </div>
                    </th:block>
                    <div class="dropdown_menu" id="dropdown_menu2">
                        <button id="dropdown2">고객센터
                            <img th:src="@{/images/index/down-arrow.png}">
                        </button>
                        <div class="dropdown_content" id="dropdown_content2">
                            <a href="#">공지사항</a>
                            <a href="#">이벤트</a>
                            <a href="#">자주 묻는 질문</a>
                            <a href="#">1:1 문의</a>
                            <a href="#">여행일기</a>
                        </div>
                    </div>
                </div>
                <div class="header_searchBar">
                    <form class="search-container" th:action="@{/product/list}">
                        <div class="search">
                            <input id="search-box" type="text" class="search-box" name="keyword"/>
                            <button type="submit" class="btnSearch">
                                <input type="image" th:src="@{/images/index/btn_search.png}" id="search-submit"/>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>