<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="common checknick">
        <strong class="sub_title">닉네임 설정</strong>

        <section id="section3">
            <div class="inp_type2 form-errors">
                <input type="text" name="nick" maxlength="8">
                <label id="nick_msg" class="validate_msg"></label>
                <button type="button" class="btn_common nick active">딴거할래요</button>
            </div>
        </section>
    </div>
    <button type="button" name="signup" class="btn_link" disabled="disabled">
        <span>가입하기</span>
    </button>
</html>

