<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/user-layout">
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" th:href="@{/css/user/user.css}">
    </th:block>
    <th:block layout:fragment="content">
        <main id="certification">
            <section>
                <form action="#">
                    <div class="title">
                        <strong class="logo">
                            <img th:src="@{/img/indexImg/lemo_logo-removebg-preview.png}" alt="">
                            <a href="#">LEMO</a>
                        </strong>
                    </div>
                    <div class="common certification">
                        <strong class="sub_title">휴대폰 인증</strong>
                        <p>원활한 서비스 제공을 위해 본인확인을 부탁드립니다.</p>

                        <section id="section1">
                            <b>휴대폰 번호</b>
                            <div class="inp_type2 form-errors">
                                <input type="email" name="user_email">
                                <label id="email_msg" class="validate_msg">휴대폰번호를 올바르게 입력하세요.</label>
                                <button type="button" class="btn_common">전송</button>
                            </div>
                        </section>

                        <section id="section2">
                            <b>인증번호</b>
                            <div class="inp_type2 form-errors">
                                <input type="text" name="authcode">
                                <!-- timer 활성/비활성 display:inline-block / none -->
                                <span class="timer">02:43</span>
                                <label id="authcode_msg" class="validate_msg"></label>
                                <button type="button" class="btn_common">확인</button>
                            </div>
                        </section>
                    </div>
                </form>
            </section>
        </main>
    </th:block>
    <th:block layout:fragment="script"></th:block>
</html>