<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/user-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/user/user.css}">
</th:block>
<th:block layout:fragment="content">
    <main id="checknick">
        <section>
            <form action="#">
                <div class="title">
                    <strong class="logo">
                        <img th:src="@{/img/indexImg/lemo_logo-removebg-preview.png}" alt="">
                        <a href="#">LEMO</a>
                    </strong>
                </div>
                <div class="common checknick">
                    <strong class="sub_title">닉네임 설정</strong>

                    <section id="section1">
                        <div class="inp_type2 form-errors">
                            <input type="email" name="user_email">
                            <label id="email_msg" class="validate_msg"></label>
                            <button type="button" class="btn_common">중복확인</button>
                        </div>
                    </section>

                </div>
                <button type="button" class="btn_link on" disabled="disabled">
                    <span>가입하기</span>
                </button>
            </form>
        </section>
    </main>
</th:block>
<th:block layout:fragment="script"></th:block>
</html>

