<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/user-layout">
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" th:href="@{/css/user/user.css}">
    </th:block>
    <th:block layout:fragment="content">
        <main id="certification">
            <section>
                <form action="#">
                    <div class="title">
                        <strong class="logo">
                            <img th:src="@{/images/index/lemo_logo-removebg-preview.png}" alt="">
                            <a href="#">LEMO</a>
                        </strong>
                    </div>
                    <div class="common certification">
                        <strong class="sub_title">휴대폰 인증</strong>
                        <p>원활한 서비스 제공을 위해 본인확인을 부탁드립니다.</p>

                        <section id="section1">
                            <b>휴대폰 번호</b>
                            <div class="inp_type2 form-errors">
                                <input type="tel" name=hp maxlength="11">
                                <label id="hp_result" class="validate_msg"></label>
                                <button type="button" class="btn_common">전송</button>
                            </div>
                        </section>
                    </div>
                </form>
            </section>
        </main>
    </th:block>
    <th:block layout:fragment="script">
        <script>
            // var regExp_ctn = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})([0-9]{3,4})([0-9]{4})$/;
            const regHp = /^(01[016789]{1})([0-9]{3,4})([0-9]{4})$/;
            let isSended = false; // 인증번호 전송 유무
            let smsAuthCode = -999999;

            function appendAuthCodeTag(){
                let authCodeTag = "<section id='section2'>"
                                + "    <b>인증번호</b>"
                                + "    <div class='inp_type2 form-errors'>"
                                + "        <input type='text' name='authcode'>"
                                + "        <span id='timer' class='timer'>03:00</span>"
                                + "        <label id='authcode_msg' class='validate_msg'></label>"
                                + "        <button type='button' class='btn_common'>확인</button>"
                                + "    </div>"
                                + "</section>"
                $('.certification').append(authCodeTag)
            }

            function regHpConfirm(){
                let hp = $('input[name=hp]').val();
                hp = hp.replace(/[^0-9]/g, "");
                $('input[name=hp]').val(hp);
                if(hp.length == 11 || hp.length == 10){
                    if(regHp.test(hp)){
                        $('#section1 .btn_common').addClass('active')
                        $('#hp_result').text('');
                    }
                    else{
                        $('#section1 .btn_common').removeClass('active');
                    }
                } else {
                    $('#section1 .btn_common').removeClass('active')
                }
            }

            // 인증코드 시간 제한
            function TIMER(){
                const Timer=document.getElementById('timer'); //스코어 기록창-분
                let time= 180000;
                let min=3;
                let sec=60;

                Timer.textContent=String(min).padStart(2, '0')+":"+'00';

                PlAYTIME=setInterval(function(){
                    time=time-1000; //1초씩 줄어듦
                    min=time/(60*1000); //초를 분으로 나눠준다.

                    if(sec>0){ //sec=60 에서 1씩 빼서 출력해준다.
                        sec=sec-1;

                        //실수로 계산되기 때문에 소숫점 아래를 버리고 출력해준다.
                        Timer.textContent=String(Math.floor(min)).padStart(2, '0')+':'+String(sec).padStart(2, '0');

                    }
                    if(sec===0){
                        // 0에서 -1을 하면 -59가 출력된다.
                        // 그래서 0이 되면 바로 sec을 60으로 돌려주고 value에는 0을 출력하도록 해준다.
                        sec=60;
                        Timer.textContent=String(Math.floor(min)).padStart(2, '0')+':'+'00'
                    }

                },1000); //1초마다
            }

            $(function(){
                $('input[name=hp]').keyup(function(){
                    regHpConfirm();
                });

                $('#section1 .btn_common').click(function (){
                    if(isSended){
                        alert('이미 전송되었습니다.');
                        return;
                    }

                    regHpConfirm();
                    let hp = $('input[name=hp]').val();
                    if(hp == null || hp.trim().length == 0){
                        $('#hp_result').text('휴대폰 번호를 입력해주세요.');
                        return;
                    }

                    else if(!regHp.test(hp)){
                        $('#hp_result').text('휴대폰 번호를 올바르게 입력해주세요.');
                        return;
                    }

                    const jsonData = {
                        "to":hp
                    }
                    ajaxAPI("user/sms/send", jsonData, "POST").then((response) => {
                        console.log(response);
                        console.log(response.result);
                        if(response.result == "error") {
                            alert('인증코드 전송에 실패했습니다.\n잠시 후 다시 시도해주세요.');
                            isSended = false;
                        } else {
                            isSended = true;
                            smsAuthCode = response.result.code;
                            appendAuthCodeTag();

                            TIMER();
                            setTimeout(function(){
                                clearInterval(PlAYTIME);
                            },180000);//3분이 되면 타이머를 삭제한다.
                        }
                    }).catch((errorMsg) => {
                        console.log(errorMsg)
                    });

                });

            });
        </script>
    </th:block>
</html>