<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/user-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/user/user.css}">
</th:block>
<th:block layout:fragment="content">
    <main id="join">
        <div class="join">
            <!-- 안내 문구 -->
            <p>
                <strong>LEMO에 오신것을 환영합니다.</strong><br>
                LEMO는 여러분들의 추역을 공유하며 다음 여행을 준비할 수 있는 플랫폼입니다.
            </p>
            <!-- 가입 구분 -->
            <div class="type">
                <div class="general">
                    <div>구매회원 가입</div>
                    <div class="txt">
                        <span class="txt1">개인 구매회원(외국인 포함)</span>
                        <span class="txt2">만 14세 이상 가능</span>
                        <a th:href="@{/user/terms(type='general')}" class="register">회원가입</a>
                    </div>
                </div>
                <div class="business">
                    <div>판매회원 가입</div>
                    <div class="txt">
                        <span class="txt1">사업자 판매회원</span>
                        <span class="txt2">사업자등록증을 보유한 사업자 회원</span>
                        <a th:href="@{/user/terms(type='business')}" class="register">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
<th:block layout:fragment="script"></th:block>
</html>
