<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/user-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/user/user.css}">
</th:block>
<th:block layout:fragment="content">

    <main id="login">
        <section>
            <form action="#" id="loginForm">
                <div class="title">
                    <strong class="logo">
                        <img th:src="@{/images/index/lemo_logo-removebg-preview.png}" alt="">
                        <a href="#">LEMO</a>
                    </strong>
                </div>
                <!-- 연동 로그인 -->
                <button type="button" class="btn_start btn_kakao">
                        <span>
                            <img th:src="@{/images/user/icon_kakao.png}">
                            <i>카카오톡으로 로그인</i>
                        </span>
                </button>
                <a href="#" class="btn_start btn_naver">
                        <span>
                            <img th:src="@{/images/user/icon_naver.png}">
                            <i>네이버로 로그인</i>
                        </span>
                </a>
                <button type="button" class="btn_start btn_google">
                        <span>
                            <img th:src="@{/images/user/icon_google.png}">
                            <i>Sign in with Google</i>
                        </span>
                </button>
                <!-- 또는 -->
                <p class="or">
                    <span>또는</span>
                </p>
                <!-- 일반 로그인 -->
                <!-- 유효성 검사에 어긋나면 div에 inp_error 클래스를 추가, label의 display 속성을 none->block 으로 변경 -->
                <div class="inp_type1 ico_email form-errors">
                    <input type="email" name="uid" placeholder="이메일 주소" required class="required" aria-invalid="true">
                    <label class="error">이메일 주소를 입력해주세요</label>
                </div>
                <div class="inp_type1 ico_pw form-errors">
                    <input type="password" name="password" placeholder="비밀번호" required class="required" aria-invalid="true">
                    <label class="error">비밀번호를 입력해주세요</label>
                </div>
                <button type="submit" class="login">
                    <span>로그인</span>
                </button>
                <div class="link_half">
                    <div>
                        <a href="#"><span>비밀번호 재설정</span></a>
                    </div>
                    <div>
                        <a th:href="@{/user/terms}"><span>회원가입</span></a>
                    </div>
                </div>
            </form>
        </section>
    </main>

</th:block>
<th:block layout:fragment="script"></th:block>
</html>