<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/user-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/user/user.css}">
</th:block>
<th:block layout:fragment="content">

    <main id="resetPW">
        <section>
            <form name="form" th:action="@{/user/logout}" method="POST">
                <div class="title">
                    <strong class="logo">
                        <img th:src="@{/images/index/lemo_logo-removebg-preview.png}" alt="">
                        <a th:href="@{/}">LEMO</a>
                    </strong>
                </div>
                <div class="common resetPw">
                    <strong class="sub_title">비밀번호 재설정</strong>
                    <section id="section2">
                        <b>비밀번호</b>
                        <div class="inp_type2 form-errors">
                            <input type="password" name="pass" placeholder="비밀번호를 입력해주세요." autocomplete="off">
                            <label id="pass1_msg" class="validate_msg"></label>
                        </div>
                        <b>비밀번호 확인</b>
                        <div class="inp_type2 form-errors">
                            <input type="password" name="pass2" placeholder="비밀번호를 입력해주세요." autocomplete="off">
                            <label id="pass2_msg" class="validate_msg"></label>
                        </div>
                    </section>

                    <!-- 유효성 검사 통과 시 class에 on 추가 -->
                    <button type="button" class="btn_link" id="signup_btn" disabled="disabled">
                        <span>확인</span>
                    </button>
                </div>
            </form>
        </section>
    </main>

</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/user/register_general.js}"></script>
    <script>
        const regBtn = $('button[type=button]');

        $('Input').on('input keyup', function (){

            setTimeout(function (){
                let okList = [passOk, confirmPassOk];
                    console.log(okList);
                    if(okList.includes(false)){
                        regBtn.removeClass("on");
                        regBtn.attr('disabled', true);
                    } else {
                        regBtn.addClass("on");
                        regBtn.attr('disabled', false);
                    }
            }, 10);
        })

        $('button[type=button]').click(function (){

            const inputs = [passInput, confirmPassInput];
            for (i of inputs){ i.focus();}

            let okList = [passOk, confirmPassOk];

            for (i in inputs){
                console.log(i);
                if(!okList[i]){
                    inputs[i].focus();
                    return;
                }
            }

            const jsonData = {
                "password":passInput.val()
            }

            ajaxAPI("user/expiredPw/reset", jsonData, "PATCH").then((response) => {
                if(response.result === 1) {
                    Swal.fire({
                        title : "비밀번호 재설정에 성공했습니다.",
                        icon : 'success',
                        confirmButtonText : '확인'
                    }).then((result) => {
                        if(result.isConfirmed === true){
                            form.submit();
                        }
                    })
                } else {
                    Swal.fire({
                        title : "비밀번호 재설정에 실패했습니다.\n잠시 후에 다시 시도해주세요.",
                        icon : 'error',
                        confirmButtonText : '확인'
                    })
                }
            }).catch((errorMsg) => {
                console.log(errorMsg)
            });
        });
    </script>
</th:block>
</html>

