<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/user-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/user/user.css}">
</th:block>
<th:block layout:fragment="content">
    <main id="terms">
        <section>
            <div class="title">
                <strong>LEMO 약관 동의</strong>
            </div>
            <form th:action="@{/user/terms/}" method="post" class="terms_agree" name="termsFrom">
                <input type="hidden" name="type" th:value="${type}">
                <p class="all_check">
                    <label><input type="checkbox" id="checkAll" class="chk chk_default">전체 동의</label>
                </p>
                <p>
                    <input type="checkbox" name="termsType_no" value="1" class="chk chk_default required" required>
                    <a href="#" target="_blank">이용약관 동의</a>
                    <span>(필수)</span>
                </p>
                <p>
                    <input type="checkbox" name="termsType_no" value="2" class="chk chk_default required" required>
                    <a href="#" target="_blank">만 14세 이상 확인</a>
                    <span>(필수)</span>
                </p>
                <p>
                    <input type="checkbox" name="termsType_no" value="3" class="chk chk_default required" required>
                    <a href="#" target="_blank">개인정보 수집 및 이용동의</a>
                    <span>(필수)</span>
                </p>
                <p>
                    <input type="checkbox" name="termsType_no" value="6" class="chk chk_default">
                    <a href="#" target="_blank">위치기반 서비스 이용약관</a>
                    (선택)
                </p>
                <p>
                    <input type="checkbox" name="termsType_no" value="5" class="chk chk_default">
                    <a href="#" target="_blank">마케팅 알림 수신동의</a>
                    (선택)
                </p>
                <!-- 필수 동의 약관 전부 선택시 class에 on 추가 -->
                <button type="submit" class="btn_link" id="terms_agree_btn" disabled>
                    <span>다음</span>
                </button>
            </form>
        </section>
    </main>
    <main id="certification">
        <section>
            <form name="form" th:action="@{/user/hp/auth}" method="post">
                <input type="hidden" name="type" th:value="${type}">
                <div class="title">
                    <strong class="logo">
                        <img th:src="@{/images/index/lemo_logo-removebg-preview.png}" alt="">
                        <a th:href="@{/}">LEMO</a>
                    </strong>
                </div>
                <div class="common certification">
                    <strong class="sub_title">휴대폰 인증</strong>
                    <p>원활한 서비스 제공을 위해 본인확인을 부탁드립니다.</p>

                    <section id="section1">
                        <b>휴대폰 번호</b>
                        <div class="inp_type2 form-errors">
                            <input type="tel" name=hp maxlength="11">
                            <label id="hp_result" class="validate_msg"></label>
                            <button type="button" class="btn_common">전송</button>
                        </div>
                    </section>
                </div>
            </form>
        </section>
    </main>
    <main id="checknick">
        <section>
            <form action="#">
                <div class="title">
                    <strong class="logo">
                        <img th:src="@{/images/index/lemo_logo-removebg-preview.png}" alt="">
                        <a th:href="@{/}">LEMO</a>
                    </strong>
                </div>
                <div class="common checknick">
                    <strong class="sub_title">닉네임 설정</strong>

                    <section id="section3">
                        <div class="inp_type2 form-errors">
                            <input type="text" name="nick" maxlength="8">
                            <label id="nick_msg" class="validate_msg"></label>
                            <button type="button" class="btn_common nick active">딴거할래요</button>
                        </div>
                    </section>
                </div>
                <button type="button" name="signup" class="btn_link" disabled="disabled">
                    <span>가입하기</span>
                </button>
            </form>
        </section>
    </main>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/user/terms.js}"></script>
    <script th:src="@{/js/user/hpAuth.js}"></script>
    <script>
        // Validation Check
        let nickOk = false;

        // regex
        const reNick = /^[a-zA-Z가-힣0-9][a-zA-Zㄱ-힣0-9]*$/;

        // main tag
        const termsMain = $("#terms");
        const hpMain = $("#certification");
        const nickMain = $("#checknick");
        hpMain.remove();
        nickMain.remove();

        // 약관동의 체크한 값 리스트
        let termsList = [];


        function getNick(){
            ajaxAPI("user/nick/create", null, "GET").then((response) => {
                if(response.nick == "error") {
                    console.log('GET nick fail...');
                }
                else {
                    $('input[name=nick]').val(response.nick);
                    $('#nick_msg').text('');
                    nickOk = true;
                }
                $('input[name=nick]').focus();
                $("button[type=button]").focus();

            }).catch((errorMsg) => {
                console.log(errorMsg)
            });
        }

        $(function(){
            $('#terms_agree_btn').on('click', function(e){
                let req = $(".required");
                let reqList = [];
                req.each (function (index, el) {
                    reqList.push($(this).is(':checked'));
                });

                if(!reqList.includes(false)){
                    let chk = $(".chk.chk_default").not('#checkAll');
                    termsList = [];
                    chk.each (function (index, el) {
                        if($(this).is(':checked')){
                            termsList.push($(this).val());
                        }
                    });
                    console.log(termsList);
                    termsMain.html(hpMain);
                    e.preventDefault();
                }
            });

            $(document).on('click', '#section2 .btn_common', function(){
                codeInput = $(this).parent().find('input[name="authcode"]');
                authcode_msg = $(this).parent().find('#authcode_msg');
                code = codeInput.val();

                if(!authTime){
                    authcode_msg.text('인증 시간이 만료되었습니다.');
                    return;
                }

                if(code == null || code == ''){
                    authcode_msg.text('인증번호를 입력해주세요.');
                    return;
                }

                if(!regCode.test(code)){
                    authcode_msg.text('숫자만 입력해주세요.');
                    code = code.replace(/[^0-9]/g, "");
                    codeInput.val(code);
                    return;
                }

                if(code.length != 6){
                    authcode_msg.text('인증 번호 6자리를 입력해주세요.');
                    return;
                }

                if(smsAuthCode != code){
                    authcode_msg.text('인증 번호가 다릅니다. 재입력 해주세요.');
                    smsAuthCodeCnt = smsAuthCodeCnt - 1;

                    if(smsAuthCodeCnt <= 0){
                        alert('인증 번호 5회 입력 실패했습니다. 재인증 해주세요.');
                        $(this).closest('#section2').remove();
                        authTime = false;
                        smsAuthCodeCnt = 5;
                    }

                    return;
                }

                $('main').html(nickMain);
                getNick();
                console.log('load complete!');
                console.log("authHp :"+authHp);
                console.log("smsAuthCode :"+smsAuthCode);

                $('.btn_common.nick').click(function (){
                    getNick();
                });

                $('input[name=nick]').on("keyup focusout",function (){
                    const nick = $(this).val();
                    if(!reNick.test(nick)){
                        $('#nick_msg').text('한글과 영문을 사용해주세요.');
                        $("button[name=signup]").removeClass("on");
                        $("button[name=signup]").attr('disabled', true);
                        nickOk = false;
                        return;
                    } else {
                        $('#nick_msg').text('');
                        nickOk = true;
                    }

                    ajaxAPI("user/nick/duplicate?nick="+nick, null, "GET").then((response) => {
                        if(response.result == -99999) {
                            console.log('중복확인에 실패했습니다. 다시 시도해주세요.');
                            nickOk = false;
                        } else if(response.result > 0) {
                            $("button[name=signup]").removeClass("on");
                            $('#nick_msg').text('이미 존재하는 닉네임입니다.');
                            $("button[name=signup]").attr('disabled', true);
                            nickOk = false;
                        } else {
                            $("button[name=signup]").addClass("on");
                            $("button[name=signup]").attr('disabled', false);
                            $('#nick_msg').text('');
                            nickOk = true;
                        }
                    }).catch((errorMsg) => {
                        console.log(errorMsg)
                    });
                });

                $("button[name=signup]").click(function (){

                    const nick = $('input[name=nick]').val();
                    if(nick.trim().length == 0){
                        $('#nick_msg').text('닉네임을 입력해주세요.');
                        $('input[name=nick]').focus();
                        return
                    } else if(!nickOk){
                        $('#nick_msg').text('한글과 영문을 사용해주세요.');
                        $('input[name=nick]').focus();
                        return;
                    }

                    const jsonData = {
                        "termsList":termsList,
                        "hp":authHp,
                        "nick":nick
                    }
                    console.log(jsonData);
                    ajaxAPI("user/social/signup", jsonData, "POST").then((response) => {
                        console.log(response);
                        const result = response.result;
                        if(result === 1) {
                            location.href = contextPath+"user/login";
                        } else {
                            alert('회원가입에 실패 했습니다. 다시 시도해주세요.');
                        }
                    }).catch((errorMsg) => {
                        console.log(errorMsg)
                    });
                });
            });
        });
    </script>
</th:block>
</html>

