<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/user-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/user/user.css}">
</th:block>
<th:block layout:fragment="content">

    <main id="terms">
        <section>
            <div class="title">
                <strong>TEST</strong>
            </div>
            <form th:action="@{/user/test2}">
                <input type="text" name="termsType_no" value="1"/>
                <input type="text" name="termsType_no" value="2"/>
                <input type="text" name="termsType_no" value="3"/>
                <input type="text" name="termsType_type_ko" value="안녕"/>
                <input type="text" name="termsType_type_en" value="hello"/>
                <input type="submit" value="click"/>
            </form>
<!--            <a th:href="@{/user/test2(termsType_no=10, termsType_type_ko='안녕', termsType_type_en='hello')}">클릭</a>-->
        </section>
    </main>

</th:block>
</html>