/* 전체 */
* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', 'Noto Sans KR', sans-serif;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #252525;}
input, textarea {outline: none;}

#wrapper {
    overflow: hidden;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
}

/* 여백 */
.blank60 {
    height: 60px;
}
.blank120 {
    height: 120px;
}

/* 헤더 */
header {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
    min-width: 1200px;
}
header > .header_inner {
    height: 160px;
    background-color: #fff;
    border-bottom: 1px solid #faf4e4;
}
header > .header_inner .header_flex {
    position: relative;
    width: 1130px;
    height: 100%;
    margin: 0 auto;
}
header > .header_inner .header_logo {
    position: relative;
    height: 100%;
}
header > .header_inner .header_logo > a {
    position: absolute;
    top: 33px;
}
header > .header_inner .header_logo img {
    height: 93px;
}
header > .header_inner .header_logo > .logo {
    font-size: 44px;
    font-weight: 800;
    position: absolute;
    top: 60px;
    left: 65px;
    color: #bbd444;
}
header > .header_inner .header_service {
    position: absolute;
    top: 12px;
    right: 30px;
}
header > .header_inner .header_service > a {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 300;
}
header > .header_inner .header_service > .dropdown_menu {
    display: inline-block;
}
header > .header_inner .header_service > .dropdown_menu > button {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 300;
    border: none;
    background: #fff;
    font-family: inherit; 
    cursor: pointer;
}
header > .header_inner .header_service > .dropdown_menu > button:hover {
    font-weight: 400;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
    z-index: 1;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content > a {
    float: none;
    padding: 12px 16px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    text-align: left;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content > a:hover {
    background: #dcdee0;
}



header > .header_inner .header_searchBar {
    position: absolute;
    top: 74px;
    left: 231px;
}
header > .header_inner .header_searchBar .search {
    height: 34px;
    width: 374px;
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 15px;
}
header > .header_inner .header_searchBar #search-box {
    width: 340px;
    padding: 0 0 0 20px;
    font-size: 24px;
    border: none;
    background: transparent;
}
header > .header_inner .header_searchBar .btnSearch {
    border: none;
    margin-left: 5px;
    padding-top: 4px;
    background: transparent;
}





/* 메인 */
main {
    min-width: 1200px;
    padding: 20px 30px;
}
main > .main_inner {
    width: 1130px;
    margin: 0 auto;
    border: 1px solid red;
}
/* 메인 슬라이더 */
main .main_slider {
    background: pink;
    width: 1100px;
    height: 440px;
    margin: 0 auto;
}
main .main_slider .bx-wrapper {
    box-shadow: none;
    border: none;
}
/* 메인 TOP4 */
main .main_top_container {
    width: 1100px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
main .main_top_container > * {
    box-sizing: border-box;
    max-width: 100%;
}
main .main_top_container > .main_top_tit {
    font-size: 30px;
    font-weight: 700;
    flex: 0 0 auto;
    width: 100%;
    position: relative;
}
main .main_top_container .main_top_sub_tit {
    position: absolute;
    bottom: 0px;
    right: 9px;
    font-size: 12px;
    color: #424242;
    font-weight: 200;
    cursor: pointer;
}
main .main_top_container .main_top_sub_tit:hover{
    font-weight: bold;
}
main .main_top_container > .main_top_tit > i {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: #BBD444;
}
main .main_top_container > .main_top_box {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 15px;
}
main .main_top_container .main_top_table {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
main .main_top_container .main_top_table > .main_top_item1 {
    display: block;
    padding: 6px;
    flex-basis: 25%;
    flex-grow: 0;
    max-width: 25%;
}
main .main_top_container .main_top_table .main_top_item1_click {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
main .main_top_container .main_top_table .main_top_item1_img {
    position: relative;
}
main .main_top_container .main_top_table .main_label {
    position: absolute;
    width: 26px;
    height: 30px;
    top: 0px;
    left: 10px;
    background-size: 26px 30px;
    background-image: url('/img/indexImg/ranking_label.png');
}
main .main_top_container .main_top_table .main_label > span {
    position: absolute;
    top: 3px;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    left: 10px;
}
main .main_top_container .main_top_table .main_top_item1_img > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}
main .main_top_container .main_top_table .main_top_item_stayName {
    box-sizing: border-box;
    display: block;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding: 2px;
}
main .main_top_container .main_top_table .main_top_item_stayName > span {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
main .main_top_container .main_top_table .main_top_item_rating {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding: 2px;
}
.star-ratings {
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
}
.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}
.star-ratings-base {
z-index: 0;
padding: 0;
}
main .main_top_container .main_top_table .main_review_count {
    padding: 2px 5px;
}
main .main_top_container .main_top_table .main_review_count > span {
    font-size: 11px;
    font-weight: 700;
}
main .main_top_container .main_top_table .main_review_count > span::before {
    content: "(";
}
main .main_top_container .main_top_table .main_review_count > span::after {
    content: ")";
}
main .main_top_container .main_top_table .main_top_item_day {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding: 2px;
}
main .main_top_container .main_top_table .main_top_item_day > span {
    font-size: 12px;
    color: #737373;
    line-height: 16px;
}
main .main_top_container .main_top_table .main_top_item_price {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding: 2px;
}
main .main_top_container .main_top_table .main_top_item_price > span {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 5px;
    color: #00bbfe;
}
main .main_top_container .main_top_table .main_top_item_price > span > i {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-top: 5px;
    color: #252525;
    font-style: normal;
}
/* 메인 Weekly Best Diary */
main .main_best_table {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
main .main_best_table > .main_best_item1 {
    padding: 6px;
}
main .main_best_table .main_best_item1_click {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
main .main_best_table .main_best_item1_img {
    position: relative;
}
main .main_best_table .main_best_item1_img > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}
main .main_best_table .main_top_item1_writer {
    box-sizing: border-box;
    display: block;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding: 2px;
    position: relative;
}
main .main_best_table .item_left {}
main .main_best_table .item_right {
    position: absolute;
    top: 1px;
    right: 7px;
}
main .main_best_table .main_top_item1_writer .nick {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
main .main_best_table .main_top_item1_writer .heart {
    padding-right: 4px;
}
main .main_best_table .main_top_item1_writer .heart > img {
    width: 15px;
    display: inline-block;
    vertical-align: sub;
}
main .main_best_table .main_top_item1_writer .heart > p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: inline-block;
}
main .main_best_table .main_top_item1_writer .date {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 4px;
    color: #777777;
}
main .main_best_table .main_top_item1_writer .replyCount {
    padding-right: 4px;
}
main .main_best_table .main_top_item1_writer .replyCount > img {
    width: 14px;
    display: inline-block;
    vertical-align: sub;
}
main .main_best_table .main_top_item1_writer .replyCount > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #777777;
    display: inline-block;
}
main .main_best_table .main_top_item1_review {
    border: 1px solid #F4F4F4;
    background: #F4F4F4;
    padding: 15px;
    margin-top: 9px;
}
main .main_best_table .main_top_item1_review > .review_txt {
    font-size: 12px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 메인 Notice */
main .main_notice_board {
    border-top: 1px solid #bbb;
    word-break: break-all;
    width: 100%;
    margin-top: 4px;
}
main .main_notice_board .notice_board_inner {
    border-bottom: 1px solid #e4e4e4;
}
main .main_notice_board .notice_board_inner > li {
    border-bottom: 1px solid #ccc;
}
main .main_notice_board .notice_board_inner > li:first-child {
    border-top: 2px solid #000;
}
main .main_notice_board .notice_board_inner .notice_link {
    overflow: hidden;
    display: block;
    padding: 13px 10px;
}
main .main_notice_board .notice_board_inner .text_tit {
    float: left;
    overflow: hidden;
    width: 790px;
    font-size: 12px;
    line-height: 22px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main .main_notice_board .notice_board_inner .text_tit > i {
    font-style: normal;
    background: #bbd444;
    color: #fff;
    border: 1px solid #bbd444;
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: 600;
    margin-right: 6px;
}
main .main_notice_board .notice_board_inner .text_date {
    float: right;
    width: 70px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #777;
}



/* 푸터 */
footer {
    min-width: 1200px;
    background-color: #FCF951;
    border-top: 1px solid #faf4e4;
}
footer > .footer_inner {
    width: 1130px;
    margin: 0 auto;
    border: 1px solid red;
}
footer > .footer_inner > .footer_menu {
    margin-top: 30px;
    position: relative;
}
footer > .footer_inner > .footer_menu a {
    font-size: 16px;
    margin-right: 50px;
}
footer > .footer_inner .footer_block {
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_block > .footer_block_left {
    flex: 0 0 auto;
    width: 75%;
    box-sizing: border-box;
}
footer > .footer_inner .footer_block_row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_1 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_1 > a {
    font-size: 30px;
    font-weight: 900;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_2 {
    flex: 0 0 auto;
    width: 100%;
    font-size: 17px;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_3 {
    margin-top: 15px;
    line-height: 17px;
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block > .footer_block_right {
    flex: 0 0 auto;
    width: 25%;
    box-sizing: border-box;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_4 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_4 > a {
    font-size: 17px;
    font-weight: 500;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_5 {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 5px;
    line-height: 17px;
    font-size: 14px;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_5  > span {
    color: #F2552C;
    font-size: 14px;
    font-weight: 600;
}
footer > .footer_inner .footer_terms {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_terms > .footer_block_row2 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_terms > .footer_block_row2  > span {
    margin: 0 10px;
}
footer > .footer_inner .footer_copyright {
    margin: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_copyright p {
    font-size: 12px;
}