    /* 전체 */
    * {
        margin: 0;
        padding: 0;
        margin: 0;
        padding: 0;
        font-family: 'Red Hat Display', 'Noto Sans KR', sans-serif;
        font-size: 11px;
        font-weight: 400;
        box-sizing: border-box;
    }
    ul, ol {list-style: none;}
    a {text-decoration: none; color: #252525;}
    input, textarea {outline: none;}

    #wrapper {
        /* overflow: hidden; */
        min-width: 1200px;
        height: auto;
        margin: 0 auto;
    }

        /* 헤더 */
        header {
            box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
            min-width: 1200px;
        }
        header > .header_inner {
            height: 160px;
            background-color: #fff;
            border-bottom: 1px solid #faf4e4;
        }
        header > .header_inner .header_flex {
            position: relative;
            width: 1130px;
            height: 100%;
            margin: 0 auto;
        }
        header > .header_inner .header_logo {
            position: relative;
            height: 100%;
        }
        header > .header_inner .header_logo > a {
            position: absolute;
            top: 33px;
        }
        header > .header_inner .header_logo img {
            height: 93px;
        }
        header > .header_inner .header_logo > .logo {
            font-size: 44px;
            font-weight: 800;
            position: absolute;
            top: 60px;
            left: 65px;
            color: #bbd444;
        }
        header > .header_inner .header_service {
            position: absolute;
            top: 12px;
            right: 30px;
        }
        header > .header_inner .header_service > a {
            margin-left: 30px;
            font-size: 12px;
            font-weight: 300;
        }
        header > .header_inner .header_service > a:hover {
            font-weight: 400;
        }
        header > .header_inner .header_service > .dropdown_menu {
            display: inline-block;
        }
        header > .header_inner .header_service > .dropdown_menu > button {
            margin-left: 30px;
            font-size: 12px;
            font-weight: 300;
            border: none;
            background: #fff;
            font-family: inherit; 
            cursor: pointer;
        }
        header > .header_inner .header_service > .dropdown_menu img {
            width: 9px;
            padding-left: 2px;
        }
        header > .header_inner .header_service > .dropdown_menu > button:hover {
            font-weight: 400;
        }
        header > .header_inner .header_service > .dropdown_menu > .dropdown_content {
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
            z-index: 1;
        }
        header > .header_inner .header_service > .dropdown_menu > .dropdown_content > a {
            float: none;
            padding: 12px 16px;
            font-weight: 300;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        header > .header_inner .header_service > .dropdown_menu > .dropdown_content > a:hover {
            background: #dcdee0;
        }



        header > .header_inner .header_searchBar {
            position: absolute;
            top: 74px;
            left: 231px;
        }
        header > .header_inner .header_searchBar .search {
            height: 34px;
            width: 374px;
            background: #f8f8f8;
            border: 1px solid #f8f8f8;
            border-radius: 15px;
        }
        header > .header_inner .header_searchBar #search-box {
            width: 340px;
            padding: 0 0 0 20px;
            font-size: 24px;
            border: none;
            background: transparent;
        }
        header > .header_inner .header_searchBar .btnSearch {
            border: none;
            margin-left: 5px;
            padding-top: 4px;
            background: transparent;
        }






        /* 푸터 */
        footer {
            min-width: 1200px;
            background-color: #FCF951;
            border-top: 1px solid #faf4e4;
        }
        footer > .footer_inner {
            width: 1130px;
            margin: 0 auto;
        }
        footer > .footer_inner > .footer_menu {
            margin-top: 30px;
            position: relative;
        }
        footer > .footer_inner > .footer_menu a {
            font-size: 16px;
            margin-right: 50px;
        }
        footer > .footer_inner .footer_block {
            margin-top: 30px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
        }
        footer > .footer_inner .footer_block > .footer_block_left {
            flex: 0 0 auto;
            width: 75%;
            box-sizing: border-box;
        }
        footer > .footer_inner .footer_block_row {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
        }
        footer > .footer_inner .footer_block .footer_block_row > .row_col_1 {
            flex: 0 0 auto;
            width: 100%;
        }
        footer > .footer_inner .footer_block .footer_block_row > .row_col_1 > a {
            font-size: 30px;
            font-weight: 900;
        }
        footer > .footer_inner .footer_block .footer_block_row > .row_col_2 {
            flex: 0 0 auto;
            width: 100%;
            font-size: 17px;
        }
        footer > .footer_inner .footer_block .footer_block_row > .row_col_3 {
            margin-top: 15px;
            line-height: 17px;
            flex: 0 0 auto;
            width: 100%;
        }
        footer > .footer_inner .footer_block > .footer_block_right {
            flex: 0 0 auto;
            width: 25%;
            box-sizing: border-box;
        }
        footer > .footer_inner .footer_block .footer_block_row > .row_col_4 {
            flex: 0 0 auto;
            width: 100%;
        }
        footer > .footer_inner .footer_block .footer_block_row > .row_col_4 > a {
            font-size: 17px;
            font-weight: 500;
        }
        footer > .footer_inner .footer_block .footer_block_row > .row_col_5 {
            flex: 0 0 auto;
            width: 100%;
            margin-top: 5px;
            line-height: 17px;
            font-size: 14px;
        }
        footer > .footer_inner .footer_block .footer_block_row > .row_col_5  > span {
            color: #F2552C;
            font-size: 14px;
            font-weight: 600;
        }
        footer > .footer_inner .footer_terms {
            margin-top: 20px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
        }
        footer > .footer_inner .footer_terms > .footer_block_row2 {
            flex: 0 0 auto;
            width: 100%;
        }
        footer > .footer_inner .footer_terms > .footer_block_row2  > span {
            margin: 0 10px;
        }
        footer > .footer_inner .footer_copyright {

            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0;
        }
        footer > .footer_inner .footer_copyright p {
            font-size: 12px;
        }

    

           /* 페이징 스타일 공통 */
           .paging{
            border-top: none;
            padding: 32px 0 0 0;
            display: block;
            text-align: center;
        }
    
        .paging span {
            display: inline-block;
            width: 32px;
            height: 32px;
            box-sizing: inherit;
            border-radius: 3px;
            border: none;
            box-shadow: none;
            background: none;
            font-size: 13px;
            text-align: center;
            cursor: pointer;
            line-height: 32px;
    
        }
    
        .paging .prev {
            background: url('../img/csImg/ico_paging_arr1.png') 50% 50% no-repeat;
            background-size: 10px auto;
            margin-right: 5px;
            position: relative;
            top: 12px;
        }
    
        .paging .next {
            background: url('../img/csImg/ico_paging_arr2.png') 50% 50% no-repeat;
            background-size: 10px auto;
            margin-left: 5px;
            position: relative;
            top: 12px;
        }
    
        .paging .on{
            border: 1px solid rgba(0,0,0,0.27);
            border-radius: 4px;
            color: rgba(0,0,0,0.87);
        }
        .paging .on a {
            font-weight: bold;
        }

  
     /*main*/
     main{
        width: 1200px;
        height: auto;
        margin: 0 auto;
        border: 1px solid red;
        padding: 20px;
    }

    main > #my {
        width: 1130px;
        min-height: 400px;
        margin: 0 auto;
        padding-top: 30px;
        margin-bottom: 100px;
        overflow: hidden;
    }

    /* 사이드 바 */
    .category{
        display: block;
        float: left;
        width: 238px;
        padding-left: 31px;
    }

    .category > span {
        display: block;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .category > ul > li {
        margin-bottom: 26px;
    }

    .category > ul > li > a {
        display: block;
        font-size: 18px;
        color: rgba(0,0,0,0.56);
    }

    .category > ul > li > a.on {
        font-size: 18px;
        font-weight: bold;
        color: #bbd444;
    }



    /* 정보 규격 */
    .content{
        float: right;
        width: 800px;
        height: 100%;
        position: relative;
        margin-right: 31px;
    }

    /* 상단 카테고리 명*/
    .tab {
        height: auto;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .tab > span {
        display: inline-block;
        float: none;
        position: relative;
        width: auto;
        height: 40px;
        margin-right: 22px;
        line-height: normal;
        color: #252525;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        cursor: pointer;

        border-bottom: 1px solid #bbd444;
    }





    /* 예약 내역 - reserveration */
    .reserve_history{
        width: 803px;
        height: 100%;
    }

    .reserve_history > table {
        width: 808px;
        height: 100%;
        margin: 0px auto;
        border-spacing: 0px 30px;

    }
    .reserve_history > table > tbody {

    }
    .reserve_history > table > tbody > tr {
        border: 1px solid #ececec;
        position: relative;
    }
    .reserve_history > table > tbody > tr > td:nth-child(1) {
        width: 20%;
    }
    .reserve_history > table .thumb {
        display: block;
        width: 100%;
        height: 100%;
    }
    .reserve_history > table .thumb > img {
        width: 150px;
        height: 175px;
        margin-top: 7px;
    }
    .reserve_history > table .reserve_day {
        font-size: 21px;

    }
    .reserve_history > table .reserve_more {
        position: absolute;
        right: 24px;
        top: 1px;
        font-size: 15px;
    }
    .reserve_history > table .reserve_num {
        font-size: 17px;
    }
    .reserve_history > table .reserve_num > i {
        font-size: 17px;
    }
    .reserve_history > table .reserve_state {
        font-size: 17px;
    }
    .reserve_history > table .reserve_state > i {
        font-size: 17px;
    }
    .reserve_history > table .reserve_days {
        font-size: 17px;
    }
    .reserve_history > table .reserve_check {
        font-size: 17px;
    }
    
    /*여행일기작성 버튼*/
    .reserve_history > table .myDiary {
        box-shadow: inset 0px 0px 0px 0px #a6827e;
        background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
        background-color: #7d5d3b;
        border-radius: 3px;
        border: 1px solid #54381e;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 12px;
        padding: 7px 11px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #4d3534;
        position: absolute;
        right: 19px;
        bottom: 1px;
    }




    /* 예약 내역 상세 보기 - view */
    .reserve_view {
        width: 461px;
        position: relative;
        left: 140px;
        background-color: #F5F5F5;
        margin: 25px 0px;
    }
    .reserve_view > p{
        font-size: 16px;
        font-weight: bold;
    }
    .reserve_view > span {
        font-size: 15px;
    }
    .reserve_view > span > span {
        font-size: 15px;
    }
    .btnReserveView{
        text-align: center;
        background-color: white;
    }
    .btnReserveView .reservePrint {
        box-shadow:inset 0px 0px 0px 0px #1c1b18;
        background:linear-gradient(to bottom, #bbd444 5%, #bbd444 100%);
        background-color:#bbd444;
        border-radius:3px;
        display:inline-block;
        cursor:pointer;
        color:white;
        font-family:Arial;
        font-size:16px;
        padding:16px 24px;
        text-decoration:none;
        margin: 1px 9px;
    }
    .btnReserveView .reserveCancel {
        box-shadow:inset 0px 0px 0px 0px #1c1b18;
        background:linear-gradient(to bottom, #F5F5F5 5%, #F5F5F5 100%);
        background-color:#F5F5F5;
        border-radius:3px;
        display:inline-block;
        cursor:pointer;
        color:#505739;
        font-family:Arial;
        font-size:17px;
        padding:16px 27px;
        text-decoration:none;
        margin: 1px 19px;
    }



     /* 포인트 */
     .my_point > .nowPoint {
        width: 618px;
        height: 146px;
        left: 72px;
        background-color: #F5F5F5;
        margin: 32px 0px;
        position: relative;
        border-radius: 30px 30px;
        text-align: center;
    }
    .my_point > .nowPoint > p{
        font-size: 32px;
        font-weight: bold;
        text-indent: 19px;
        padding-top: 22px;
    }
    .my_point > .nowPoint > span {
        font-size: 35px;
        text-align: center;
    }

    .my_point_history {
        margin-top: 40px;
    }
    .my_point_history .mph_1 {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }
    .my_point_history .mph_1 > h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }
    .my_point_history .mph_2 {
        margin-top: 20px;
    }
    .my_point_history .mph_3 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        border-top: 1px solid rgb(234, 237, 239);
        padding: 20px 10px;
    }
    .my_point_history .mph_4 {
        box-sizing: border-box;
    }
    .my_point_history .mph_4 > .mph_4_1 {
        font-size: 15px;
        line-height: 18px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: #424242;
    }
    .my_point_history .mph_5 {
        display: flex;
        width: 100%;
        margin-left: 20px;
    }
    .my_point_history .mph_5 > .save {
        background-color: rgb(239, 251, 255);
        color: #35c5f0;
        font-size: 13px;
        line-height: 20px;
        padding: 2px 6px;
        border-radius: 4px;
        font-weight: 500;
    }
    .my_point_history .mph_5 > .used {
        background-color: rgb(255, 237, 237);
        color: rgb(255, 119, 119);
        font-size: 13px;
        line-height: 20px;
        padding: 2px 6px;
        border-radius: 4px;
        font-weight: 500;
    }
    .my_point_history .mph_5 > h2 {
        font-size: 16px;
        margin-left: 8px;
        font-weight: 600;
    }
    .my_point_history .mph_6 {
        margin-top: 11px;
        width: 580px;
    }
    .my_point_history .mph_6 > li {
        font-size: 15px;
        line-height: 21px;
        padding-left: 14px;
        color: rgb(130,140,148);
        text-align: left;
        margin-left: 11px;
        font-weight: 300;
    }
    .my_point_history .mph_6 > li::before {
        content:"·   ";
        font-weight: bold;
    }
    .my_point_history .mph_7 > .plus {
        text-align: right;
        margin-left: 9px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        color: #35c5f0;
    }
    .my_point_history .mph_7 > .minus {
        text-align: right;
        margin-left: 16px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        color: #f2552c;
    }



     /* 쿠폰함 - my_Coupon*/

    .my_Coupon > .keepCoupon {
        width: 700px;
        padding-left: 77px;
        padding-top: 30px;
    }
    .my_Coupon > .keepCoupon > strong {}
    
    .my_Coupon > .keepCoupon > strong > span {
        font-size: 24px;
    }
    .my_Coupon > .keepCoupon > b {
        font-size: 24px;
    }

    .my_Coupon .consent {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .my_Coupon .coupon_item {
        border: 1px solid rgb(237,237,237);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 35px 20px 20px;
        margin: 20px 21px 10px;
    }
    .my_Coupon .coupon_item_tit {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 26px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        overflow: hidden;
    }
    .my_Coupon .coupon_item_price {}
    .my_Coupon .coupon_item_num {
        font-size: 45px;
        font-weight: 700;
    }
    .my_Coupon .coupon_item_unit {
        font-size: 20px;
        margin-left: 2px;
    }
    .my_Coupon .coupon_item_info {
        margin-bottom: 25px;
    }
    .my_Coupon .coupon_item_due {
        display: flex;
        font-size: 15px;
        line-height: 1.38;
        margin-top: 17px;
        color: #757575;
    }
    .my_Coupon .coupon_item_minimum {
        display: flex;
        font-size: 15px;
        line-height: 1.38;
        margin-top: 4px;
        color: #757575;
    }
    .my_Coupon .coupon_btn {
        font-size: 22px;
        padding: 15px 10px;
        height: 50px;
        line-height: 20px;
        background: #dcdee0;
        border: 1px solid #dcdee0;
        color: #fff;
        width: 100%;
        border-radius: 7px;
    }
    .my_Coupon .coupon_btn2 {
        font-size: 22px;
        padding: 15px 10px;
        height: 50px;
        line-height: 20px;
        background: #000;
        border: 1px solid #000;
        color: #fff;
        width: 100%;
        border-radius: 7px;
    }
    .my_Coupon .un_1 {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-top: 44px;
        padding-top: 23px;
        border-top: 1px solid #dcdee0;
    }




     /* 나의 찜 */

        .my_pick > table {
            width: 800px;
            height: 100%;
            margin: 0px auto;
            border-spacing: 0px 30px;

        }
        .my_pick > table > tbody > tr {
            border: 1px solid #ececec;
            position: relative;
        }
        .my_pick > table > tbody > tr > td:nth-child(1) {
            width: 20%;
        }
        .my_pick > table > tbody > tr > td:nth-child(2) {
        }
        .my_pick > table .my_pick_img {
            display: block;
            width: 100%;
            height: 100%;
        }
        .my_pick > table .my_pick_img > img {
            width: 148px;
            height: 141px;
            margin-top: 7px;
        }

        .my_pick > table .my_pick_Name {
            position: absolute;
            top: -3px;
        }

        .my_pick > table .pickName {
            font-size: 24px;

        }
        .my_pick > table .my_pick_rating{
            box-sizing: border-box;
            display: flex;
            flex-basis: 100%;
            flex-grow: 5;
            max-width: 36px;
            padding: 2px;
        }
        .my_pick > table .my_pick_rating .star-ratings {
            color: #aaa9a9;
            position: relative;
            unicode-bidi: bidi-override;
            width: max-content;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1.3px;
            -webkit-text-stroke-color: #2b2a29;
        }
        .my_pick > table  .my_pick_rating .star-ratings .star-ratings-fill {
            color: #fff58c;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: flex;
            top: 0;
            left: 0;
            overflow: hidden;
            -webkit-text-fill-color: gold;
        }
        .my_pick > table  .my_pick_rating .star-ratings .star-ratings-fill > span {
            font-size: 18px;
        }
        .my_pick > table .my_pick_rating .star-ratings-base {
            z-index: 0;
            padding: 0;
        }
        .my_pick > table .my_pick_rating .star-ratings-base > span {
            font-size: 18px;
        }

        .my_pick > table .my_pick_rating .my_pick_review_count {
            padding-left: 5px;
            padding-top: 3px;
        }
        .my_pick > table .my_pick_rating .my_pick_review_count > span {
            font-size: 19px;
        }
        .my_pick > table .my_pick_rating .my_pick_review_count > span::before {
            content: "(";
        }
        .my_pick > table .my_pick_rating .my_pick_review_count > span::after {
            content: ")";
        }
        .my_pick > table .blank {
            height: 32px;
        }
        .my_pick > table .my_pick_address {
            position: absolute;
            top: 118px;
        }
        .my_pick > table .my_pick_address > span {
            font-size: 24px;
        }
        .my_pick > table .my_pick_room {
            position: absolute;
            right: 61px;
        }
        .my_pick > table .my_pick_room > span {
            font-size: 19px;
        }
        .my_pick > table .my_pick_room .roomNum {
            font-size: 19px;
        }

