<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
        <th:block layout:fragment="css-js">
            <!-- 스타일 -->
            <link rel="stylesheet" th:href="@{/css/diary/diary.css}">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
            <!-- slick slider plugin-->
            <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
            <script th:src="@{/js/diary/diary.js}"></script>
        </th:block>
        <th:block layout:fragment="content">

            <main id="diary">
                <div id="result">
                    <div class="content">
                        <div class="filter">
                            <div  id="filter1">
                                <select>
                                    <option value="recent">최신 순</option>
                                    <option value="heart">좋아요 순</option>
                                    <option value="reply">댓글 순</option>
                                </select>
                            </div>
                            <div id="filter2">
                                <select>
                                    <option value="addr">주소</option>
                                    <option value="title_content">제목/내용</option>
                                </select>
                                <input type="text" placeholder="검색 키워드 입력">
                                <button>검색</button>
                            </div>
                        </div>
                        <!-- 여행일기 목록 -->
                        <div class="list">
                            <div class="list-area">
                                <ul>
                                    <li th:each="article:${map}">
                                        <button class="heart"><img th:src="@{/images/diary/heart.png}"></button>
                                        <button class="marker" th:onclick="sortPosition([[${map.get(article.key).get(0).arti_no}]])"><img th:src="@{/images/diary/marker2.png}" alt="일정마크표시"></button>
                                        <!-- 사진 슬라이드 -->
                                        <div class="img_slider">
                                            <div th:each="img:${map.get(article.key)}"><a th:href="@{#}"><img th:src="@{/img/diary/__${img.arti_no}__/__${img.spot_thumb}__}"></a></div>
                                        </div>
                                        <!-- 여행일기 간략한 설명 -->
                                        <div class="diary_content">
                                            <div>
                                                <span id="nick">홍길동</span>
                                                <p>[[${map.get(article.key).get(0).arti_title}]]</p>
                                                <p>
                                                    <b class="location" th:each="spot:${map.get(article.key)}">#[[${spot.spot_title}]] </b>
                                                </p>
                                            </div>
                                            <button><a th:href="@{/diary/view (arti_no=${map.get(article.key).get(0).arti_no}) }">여행일기 보러가기</a></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- 지도 -->
                        <div id="listMap">
                            <p>
                                <button onclick="setZoomable(false)">지도 확대/축소 끄기</button>
                                <button onclick="setZoomable(true)">지도 확대/축소 켜기</button>
                            </p>
                        </div>
                    </div>
                </div>
            </main>
        </th:block>
        <th:block layout:fragment="script">
            <!-- 카카오 맵 -->
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5685a7d59ed7c0a5f62806eae3f98712&libraries=services,clusterer"></script>
            <script th:inline="javascript">
                let positionMap = [[${map}]];
                let markerObject = new Map();
                var markers = [];

                function sortPosition(arti_no) {
                    // 지도내의 마커들 기본 이미지로 변경
                    markers.forEach(function(marker){ marker.setImage(null); });

                    var bounds = new kakao.maps.LatLngBounds();

                    // 이미지 변경하는 함수
                    let markerImage = setMarkerImg();

                    // key = arti_no에 해당하는 value(세부여행일기 marker배열) 불러오기
                    let positions = markerObject.get( String(arti_no) );

                    // 여행일기 세부여행일기 마커들 lemo로고로 변경, bounds에 포지션 넣기
                    positions.forEach(function(marker){
                        marker.setImage(markerImage);
                        bounds.extend(marker.getPosition());
                    });

                    map.setBounds(bounds);
                }
            </script>
            <script th:src="@{/js/common/kakaomap-diary.js}"></script>
        </th:block>
</html>
