<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <!-- 스타일 -->
    <link rel="stylesheet" th:href="@{/css/diary/diary.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</th:block>
<th:block layout:fragment="content">
    <main id="diary">
        <div id="result">
            <div class="content">
                <!-- 여행일기 보기 -->
                <div class="view">
                    <div class="list-area">
                        <div id="diary_content">
                            <span>[[${article.get(0).getArti_title}]]</span>
                            <ul>
                                <li>[[${article.get(0).getArti_start}]] ~ [[${article.get(0).getArti_end}]]</li>
                                <li>[[${article.get(0).getAcc_name}]]</li>
                                <li>[[${article.get(0).getNick}]]&nbsp;&nbsp;[[${article.get(0).getArti_rdate.substring(0,10)}]]</li>
                                <li>[[${article.get(0).getArti_like}]]</li>
                            </ul>
                        </div>
                        <!-- 여행장소 -->
                        <div class="place" th:each="spot:${article}">
                            <div class="spot">
                                <span>[[${spot.spot_title}]]</span>
                            </div>
                            <img th:src="@{/images/cs/arr_down.png}" class="arrow">
                            <div class="toggle">
                                <div class="image">
                                    <img th:src="@{/img/diary/__${spot.arti_no}__/__${spot.spot_thumb}__}">
                                </div>
                                <div class="text">[[${spot.spot_content}]]</div>
                            </div>
                        </div>
                        <!-- 여행일기 댓글 -->
                        <div class="reply">
                            <div id="tit">
                                <span>댓글</span><b>[[${total}]]</b>개
                            </div>
                            <div id="rep">
                                <ul th:if="${map.size == 0}">
                                    <li class="commentEmpty">
                                        등록된 댓글이 없습니다.
                                    </li>
                                </ul>
                                <ul th:if="${map.size != 0}">
                                    <!--댓글-->
                                    <th:block th:each="com:${map}">
                                        <th:block th:each="comment, i:${map.get(com.key)}">
                                            <li th:classappend="${comment.com_no != comment.com_pno} ? 're_reply com__${comment.com_pno}__' : 'oriCom__${comment.com_no}__'" th:data-no="${com.key}" th:data-pno="${comment.com_no}">
                                                <th:block th:if="${comment.com_state == 0}">
                                                    <div class="removeCom">
                                                        <p>
                                                            삭제된 댓글입니다.
                                                        </p>
                                                        <div>
                                                            <a href="#" class="showall" th:if="${comment.com_no == comment.com_pno}">댓글 모두보기</a>
                                                        </div>
                                                    </div>
                                                </th:block>
                                                <th:block th:if="${comment.com_state == 1}">
                                                <div class="repdiv1">
                                                    <img th:src="@{/images/admin/user_default.png}" alt="프사">
                                                    <div>
                                                        <strong>[[${comment.nick}]]</strong>
                                                        <span style="margin-left: 10px;">[[${comment.before24H}]]</span>
                                                        <span class="comModified" th:if="${comment.com_rdate != comment.com_udate}">&nbsp;수정됨&nbsp;</span>
                                                    </div>
                                                </div>
                                                <div class="repdiv2">
                                                    <th:block th:if="${comment.com_no != comment.com_pno}">
                                                        <p class="reply_id">@[[${comment.com_replyId}]]</p>
                                                    </th:block>
                                                    <textarea readonly class="comTextarea" onkeydown="resizeHeight(this)" onkeyup="resizeHeight(this)">[[${comment.com_comment}]]</textarea>
                                                </div>
                                                <div class="repdiv3">
                                                    <div>
                                                        <a href="#" class="showall" th:if="${comment.com_no == comment.com_pno}">댓글 모두보기</a>
                                                        <a href="#" class="comment">댓글 쓰기</a>
                                                    </div>
                                                    <div>
                                                        <a href="#" class="comModify">수정</a>
                                                        <a href="#" class="comDelete">삭제</a>
                                                    </div>
                                                </div>
                                                </th:block>
                                            </li>
                                        </th:block>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                        <!-- 댓글 쓰기 -->
                        <div class="write_reply">
                            <form action="#" class="comOriWrite">
                                <textarea class="comTextarea" onkeydown="resizeHeight(this)" onkeyup="resizeHeight(this)"></textarea>
                                <button>댓글 쓰기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 지도 -->
                <div id="listMap">
                    <p>
                        <button onclick="setZoomable(false)">지도 확대/축소 끄기</button>
                        <button onclick="setZoomable(true)">지도 확대/축소 켜기</button>
                    </p>
                </div>
            </div>
        </div>
    </main>

</th:block>

<th:block layout:fragment="script">
    <!-- kakaoMap -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5685a7d59ed7c0a5f62806eae3f98712&libraries=services"></script>
    <script th:inline="javascript">
        let positionMap = [[${article}]];
        let arti_no     = [[${arti_no}]];
        let total       = [[${total}]];

        const comTextarea = document.querySelectorAll('.comTextarea');

        comTextarea.forEach(function(textarea){
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 15 +'px';
        });

        function resizeHeight(object) {
            object.style.height = 'auto';
            object.style.height = (15 + object.scrollHeight) + 'px';
        }
    </script>
    <script th:src="@{/js/diary/diaryView.js}"></script>
</th:block>
</html>

