<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <!-- 스타일 -->
    <link rel="stylesheet" th:href="@{/css/diary/diary.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
</th:block>
<th:block layout:fragment="content">
    <main id="diary">
        <div id="result">
            <div class="content">
                <!-- 여행일기 보기 -->
                <div class="view">
                    <div class="list-area">
                        <div id="diary_content">
                            <span>[[${article.get(0).getArti_title}]]</span>
                            <ul>
                                <li>[[${article.get(0).getArti_start}]] ~ [[${article.get(0).getArti_end}]]</li>
                                <li>스카이베이호텔 경포</li>
                                <li>홍길동&nbsp;&nbsp;[[${article.get(0).getArti_rdate.substring(0,10)}]]</li>
                                <li>[[${article.get(0).getArti_like}]]</li>
                            </ul>
                        </div>
                        <!-- 여행장소 -->
                        <div class="place" th:each="spot:${article}">
                            <div class="spot">
                                <span>[[${spot.spot_title}]]</span>
                            </div>
                            <img th:src="@{/images/cs/arr_down.png}" class="arrow">
                            <div class="toggle">
                                <div class="image">
                                    <img th:src="@{/img/diary/__${spot.arti_no}__/__${spot.spot_thumb}__}">
                                </div>
                                <div class="text">[[${spot.spot_content}]]</div>
                            </div>
                        </div>
                        <!-- 여행일기 댓글 -->
                        <div class="reply">
                            <div id="tit">
                                <span>댓글</span><b>[[${total}]]</b>개
                            </div>
                            <div id="rep">
                                <div class="commentEmpty" th:if="${map.size == 0}">
                                    등록된 댓글이 없습니다.
                                </div>
                                <ul th:if="${map.size != 0}">
                                    <!--댓글-->
                                    <th:block th:each="com:${map}">
                                        <li th:each="comment:${map.get(com.key)}" th:classappend="${comment.com_no != comment.com_pno} ? 're_reply com__${comment.com_pno}__'">
                                            <div class="repdiv1">
                                                <img th:src="@{/images/admin/user_default.png}" alt="프사">
                                                <div>
                                                    <strong>[[${comment.nick}]]</strong><span>[[${comment.com_rdate.substring(0,10)}]]</span>
                                                </div>
                                            </div>
                                            <div class="repdiv2">
                                                <p class="reply_id" th:if="${comment.com_no != comment.com_pno}">@[[${comment.nick}]]</p>
                                                <textarea readonly>[[${comment.com_comment}]]</textarea>
                                            </div>
                                            <div class="repdiv3">
                                                <div th:if="${comment.com_no == comment.com_pno}">
                                                    <a href="#" class="showall" th:data-no="${comment.com_no}">댓글 모두보기</a>
                                                    <a href="#" class="comment" th:data-no="${comment.com_no}">댓글 쓰기</a>
                                                </div>
                                                <div>
                                                    <a href="#">수정</a>
                                                    <a href="#">삭제</a>
                                                </div>
                                            </div>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                        <!-- 댓글 쓰기 -->
                        <div class="write_reply">
                            <form action="#">
                                <textarea></textarea>
                                <button>댓글 쓰기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 지도 -->
                <div id="listMap">
                    <p>
                        <button onclick="setZoomable(false)">지도 확대/축소 끄기</button>
                        <button onclick="setZoomable(true)">지도 확대/축소 켜기</button>
                    </p>
                </div>
            </div>
        </div>
    </main>

</th:block>

<th:block layout:fragment="script">
    <!-- kakaoMap -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5685a7d59ed7c0a5f62806eae3f98712&libraries=services"></script>
    <script th:inline="javascript">
        let positionMap = [[${article}]];
        let arti_no = [[${arti_no}]];
    </script>
    <script th:src="@{/js/diary/diaryView.js}"></script>
</th:block>
</html>

