<!--
    날짜 : 2023/02/28
    이름 : 황원진
    내용 : 마이페이지 info HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/my/my.css}">
</th:block>
<th:block layout:fragment="content">
        <main>
            <section id="my">
                <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                <div class="content">
                    <!-- 카테고리 -->
                    <div class="tab">
                        <span class="my_title">
                            내정보
                        </span>
                    </div>
                    <div class="my_info">
                        <div class="my_page">
                            <div class="top_area">
                                <div class="login_info">
                                    <form name="profile">
                                        <div class="my_profile_box">
                                            <img id="my_profile" th:src="@{/img/profile/} + ${#authentication.principal.photo}" alt="포로필 사진1" th:if="${#authentication.principal.photo ne null}">
                                            <img id="my_profile" th:src="@{/images/my/profile.png}" alt="포로필 사진2" th:if="${#authentication.principal.photo eq null}">
                                        </div>
                                        <label for="profile_file">+</label>
                                        <input type="file" name="profileFile" id="profile_file" accept="image/png, image/jpeg" onchange="readURL(this);">
                                        <button type="button" class="btn_edit profileBtn del"
                                                th:classappend="${#authentication.principal.photo ne null? 'active':''}"
                                                th:disabled="${#authentication.principal.photo eq null? 'true':'false'}">
                                            <span class="text">삭제</span>
                                        </button>
                                        <button type="button" class="btn_edit profileBtn mod" disabled>
                                            <span class="text">수정</span>
                                        </button>
                                    </form>
                                    <div class="social_login" th:if="${#authentication.principal.type eq 2}">
                                        <p>[[${#authentication.principal.soci_type}]] 회원으로 로그인</p>
                                    </div>
                                </div>
                                <ul class="my_data">
                                    <li>
                                        <div class="info_nick">
                                            <div>
                                                <span class="nick_text">[[${#authentication.principal.nick}]]</span>
                                                <button type="button" class="btn_edit nick">
                                                    <span class="text">수정</span>
                                                </button>
                                            </div>
                                            <section id="section1">
                                                <div class="inp_type2 form-errors">
                                                    <input type="text" class="mod_nick" maxlength="8"/>
                                                    <button type="button" class="btn_common nickChangeBtn active">딴거할래요</button>
                                                    <label id="nick_msg" class="validate_msg"></label>
                                                    <button type="button" id="nickModReg" class="btn_common nick mod" disabled>수정완료</button>
                                                    <button type="button" id="nickModCan" class="btn_common nick mod">수정취소</button>

                                                </div>
                                            </section>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info_phone">
                                            <div>
                                                <span id="phoneNum" class="phone_text">[[${#authentication.principal.hp}]]</span>
                                                <button type="button" class="btn_edit">
                                                    <span class="text">수정</span>
                                                </button>
                                            </div>
                                            <section id="section2">
                                                <div class="inp_type2 form-errors">
                                                    <input type="tel" name="hp" class="mod_hp" maxlength="11" placeholder="휴대폰 번호를 입력해주세요."/>
                                                    <button type="button" class="btn_common" id="sendCodeBtn">전송</button>
                                                    <label id="hp_result" class="validate_msg"></label>
                                                </div>
                                                    <button type="button" id="hpModReg" class="btn_common hp mod" disabled>수정완료</button>
                                                    <button type="button" id="hpModCan" class="btn_common hp mod">수정취소</button>
                                            </section>
                                        </div>
                                    </li>
                                    <div class="on-off-toggle">
                                        <input class="on-off-toggle__input" type="checkbox" id="bopis" th:checked="${#authentication.principal.isNoticeEnabled eq 1}"/>
                                        <label for="bopis" class="on-off-toggle__slider"></label>
                                    </div>
                                    <div class="my_marketing">마켓팅 수신 동의</div>
                                </ul>
                            </div>
                        </div>
                        <div class="bot_btn">
                            <p>LEMO를 이용하고 싶지 않으신가요?</p>
                            <button type="button">
                                <a class="withdraw" th:href="@{#}">회원탈퇴</a>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/user/hpAuth2.js}"></script>
    <script>
        //회원탈퇴
        $(function(){
            $('.withdraw').click(function(){
            console.log("1");
            confirm('LEMO를 탈퇴하시겠습니까?');
            });
        });

        const fileClone = $('#profile_file').clone();

        // button
        const profileModBtn = $(".profileBtn.mod");
        const profileDelBtn = $(".profileBtn.del");
        const modNickBtn = $('.btn_edit.nick');
        const changeNickBtn = $('.nickChangeBtn');
        const nickModCanBtn = $('#nickModCan');
        const nickModRegBtn = $('#nickRegCan');
        const modHpBtn = $('.info_phone .btn_edit');

        // Validation Check
        let nickOk = false;

        // regex
        const reNick = /^[a-zA-Z가-힣0-9][a-zA-Zㄱ-힣0-9]*$/;

        let principalNick = "[[${#authentication.principal.nick}]]";

        // input
        const modNickInput = $('.mod_nick');

        // section
        const sectionNick = $('#section1');
        const sectionHp = $('#section2');
        sectionNick.remove();
        sectionHp.remove();

        function readURL(input) {
            const maxSize = 10 * 1024 * 1024;

            const fileName = input.value;
            const fileDot = fileName.lastIndexOf(".");
            const fileType = fileName.substring(fileDot+1, fileName.length).toLowerCase();

            console.log(fileType);
            if(fileType !== "jpg" && fileType !== "png" && fileType !== "jpeg"){
                Swal.fire({
                    title : "파일형식은 JPG, PNG, JPEG만\n 가능합니다.",
                    icon : 'warning',
                    confirmButtonText : '확인'
                })
                return;
            }

            if (input.files && input.files[0]) {

                if(input.files[0].size > maxSize){
                    Swal.fire({
                        title : "첨부파일 사이즈는 10MB 이내로\n등록 가능합니다.",
                        icon : 'warning',
                        confirmButtonText : '확인'
                    })
                    return;
                }
                profileModBtn.addClass("active");
                profileModBtn.attr("disabled", false);

                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('my_profile').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                document.getElementById('my_profile').src = "";
            }
        }

        function getNick(){
            ajaxAPI("user/nick/create", null, "GET").then((response) => {
                if(response.nick == "error") {
                    console.log('GET nick fail...');
                }
                else {
                    modNickInput.val(response.nick);
                    $('#nick_msg').text('');
                    nickOk = true;
                }
                modNickInput.focus();
                changeNickBtn.focus();

            }).catch((errorMsg) => {
                console.log(errorMsg)
            });
        }

        $(function (){
            profileModBtn.on("click", function (){
                Swal.fire({
                    html: '<p style="font-size:18px; font-weight:bold;">프로필 사진을 수정하시겠습니까?</p>',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '수정',
                    cancelButtonText: '취소'
                }).then((result) => {
                    if(result.isConfirmed === true){
                        const formData = new FormData(document.profile);
                        $.ajax({
                            type: "PATCH",
                            enctype: 'multipart/form-data',
                            url: contextPath + "my/info/profile",
                            data: formData,
                            dataType: "text",
                            processData: false,
                            contentType: false,
                            cache: false,
                            timeout: 600000,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                            success: function (data) {
                                profileModBtn.removeClass("active");
                                profileModBtn.attr("disabled", true);
                                profileDelBtn.addClass("active");
                                profileDelBtn.attr("disabled", false);
                            },
                            error: function (e) {
                                console.log("ERROR : ", e);
                                Swal.fire({
                                    title : "프로필 사진 수정에 실패 했습니다.\n잠시 후에 다시 시도해주세요.",
                                    icon : 'error',
                                    confirmButtonText : '확인'
                                })
                            }
                        });
                    }
                })
            });

            profileDelBtn.on("click", function (){

                Swal.fire({
                    html: '<p style="font-size:18px; font-weight:bold;">프로필 사진을 정말 삭제하시겠습니까?</p>',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '삭제',
                    cancelButtonText: '취소'
                }).then((result) => {
                    if(result.isConfirmed === true){
                        const jsonData = {"profile":"delete"};
                        ajaxAPI("my/info/profile", null, "DELETE").then((response) => {
                            if(response.result === 1){
                                profileDelBtn.removeClass("active");
                                profileDelBtn.attr("disabled", true);

                                $('#profile_file').replaceWith(fileClone);
                                document.getElementById('my_profile').src = "[[@{/images/my/profile.png}]]";
                            }

                        }).catch((errorMsg) => {
                            console.log(errorMsg)
                        });
                    }
                });
            });



            $(document).on('click', '.btn_edit.nick', function (){
                modNickBtn.remove();
                $('.info_nick').append(sectionNick);
                modNickInput.val(principalNick);
                $('#nickModReg').removeClass("active");
                $('#nickModReg').attr('disabled', true);
                $('#nick_msg').text('');
                nickOk = false;
            });

            $(document).on('click', '.nickChangeBtn', function (){
                getNick();
            });

            $(document).on('click', '#nickModCan', function(){
                sectionNick.remove();
                $('.info_nick > div').append(modNickBtn);
            });

            $(document).on('input focus', '.mod_nick', function(){
                const nick = $(this).val();
                if(!reNick.test(nick) || nick === principalNick || nick.length > 8){
                    if(!reNick.test(nick))
                        $('#nick_msg').text('한글과 영문을 사용해주세요.');

                    else if(nick.length > 8)
                        $('#nick_msg').text('8자리 까지만 입력 가능 합니다.');

                    $('#nickModReg').removeClass("active");
                    $('#nickModReg').attr('disabled', true);
                    nickOk = false;
                    return;
                }

                ajaxAPI("user/nick/duplicate?nick="+nick, null, "GET").then((response) => {
                    if(response.result > 0) {
                        $('#nickModReg').removeClass("active");
                        $('#nick_msg').text('이미 존재하는 닉네임입니다.');
                        $('#nickModReg').attr('disabled', true);
                        nickOk = false;
                    } else {
                        $('#nick_msg').text('');
                        $('#nickModReg').addClass("active");
                        $('#nickModReg').attr('disabled', false);
                        nickOk = true;
                    }
                }).catch((errorMsg) => {
                    console.log(errorMsg)
                });
            });

            $(document).on('click', '#nickModReg', function (){
                $('.mod_nick').focus();
                const nick = $('.mod_nick').val();

                if(nick === principalNick){
                    $('#nick_msg').text('현재 닉네임과 동일합니다.');
                    return;
                }

                if(!nickOk){
                    $('#nick_msg').text('닉네임을 올바르게 입력해주세요.');
                    return;
                }


                Swal.fire({
                    html: '<p style="font-size:18px; font-weight:bold;">닉네임을 정말 수정하시겠습니까?</p>',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '수정',
                    cancelButtonText: '취소'
                }).then((result) => {
                    if(result.isConfirmed === true){
                        const jsonData = {
                            "nick":nick
                        }
                        ajaxAPI("my/info/nick", jsonData, "PATCH").then((response) => {
                            if(response.result === 1) {
                                $("#nickModCan").trigger("click");
                                $(".nick_text").text(nick);
                            }
                        }).catch((errorMsg) => {
                            console.log(errorMsg)
                            Swal.fire({
                                title : "닉네임 수정에 실패 했습니다.\n잠시 후에 다시 시도해주세요.",
                                icon : 'error',
                                confirmButtonText : '확인'
                            })
                        });
                    }
                });
            });

            $(document).on('click', '.info_phone .btn_edit', function (){
                $(this).remove();
                $('.info_phone').append(sectionHp);
            });

            $(document).on('click', '#hpModCan', function (){
                $('#section3').remove();
                $('#hp_result').text('');
                $('input[name=hp]').val('');
                $('#hpModReg').removeClass('active');
                $('#hpModReg').attr('disabled', true);
                sectionHp.remove();
                $('.info_phone > div').append(modHpBtn);
            });
        });
    </script>
</th:block>
</html>

