<!--
    날짜 : 2023/02/27
    이름 : 황원진
    내용 : 마이페이지 pick HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/my/my.css}">

</th:block>
<th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                나의 찜
                            </span>
                        </div>
                        <div class="my_pick">
                            <p th:if="${picks.size() == 0}"> 찜하신 내역이 없습니다. </p>
                            <table>
                                <tbody>
                                    <tr th:each="pick:${picks}">
                                        <td>
                                            <input class="checkPicks" type="checkbox" th:value="${pick.acc_id}">
                                        </td>
                                        <td>
                                            <a th:href="@{/product/view ( acc_id=${pick.acc_id} )}" class="my_pick_img">
                                                <img th:src="|@{/}img/product/${pick.province_no}/${pick.acc_id}/${#strings.substringBefore(pick.acc_thumbs, '/')}|" alt="장소 이미지">
                                            </a>
                                        </td>
                                        <td>
                                            <!-- 스타일 수정됨
                                            <div class="my_pick_Name">

                                            </div>-->
                                            <div class="my_pick_rating">
                                                <a th:href="@{/product/view ( acc_id=${pick.acc_id} )}" class="pickName">[[${pick.acc_name}]]</a>
                                                <!-- 임시 평점 -->
                                                <div class="star-ratings">
                                                    <div class="star-ratings-fill space-x-2 text-lg":style="{ width: ratingToPercent + '%' }">
                                                        <span th:each="i:${#numbers.sequence(0, pick.acc_rate-1)}">★</span>
                                                    </div>
                                                    <div class="star-ratings-base space-x-2 text-lg">
                                                        <span th:each="i:${#numbers.sequence(0, pick.acc_rate-1)}">★</span>
                                                    </div>
                                                </div>
                                                <div class="my_pick_review_count">
                                                    <span>[[${pick.acc_review}]]</span>
                                                </div>
                                            </div>
                                            <!--<div class="blank30"></div>-->
                                            <div class="my_pick_address">
                                                <span>[[${pick.acc_addr}]]</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <th:block th:if="${picks.size() != 0}">
                                <button class="commonBtn btnSelectAll" type="button">전체 선택</button>
                                <button class="commonBtn btnRemovePick" type="button">찜 삭제</button>
                            </th:block>
                        </div>
                        <!-- 페이징 -->
                        <div class="paging" th:object="${ph}" th:unless="${picks.size() == 0}">
                            <span th:if="*{showPrev}">
                                <a th:href="@{/my/pick} + ${ph.sc.getQueryString(ph.beginPage-1)}">
                                    <img th:src="@{/images/product/left.png}" alt="previous">
                                </a>
                            </span>
                            <span th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}" th:class="${num == ph.sc.page} ? 'on':'off'">
                                <a th:href="@{/my/pick} + ${ph.sc.getQueryString(num)}"> [[${num}]] </a>
                            </span>
                            <span th:if="*{showNext}">
                                <a th:href="@{/my/pick} + ${ph.sc.getQueryString(ph.endPage+1)}">
                                    <img th:src="@{/images/product/right.png}" alt="next">
                                </a>
                            </span>
                        </div>
                    </div>  
                </section>
                <!-- 우측 미니 사이드바
                <div class="btn_quick">
                    <ul>
                        <li class="btn_wishlist">
                            <a href="javascript:;">
                                <img th:src="@{/images/index/empty-heart.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/naver_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/kakao_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToTop" onclick="return false;">
                                <img th:src="@{/images/index/top_btn.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToBottom" onclick="return false;">
                                <img th:src="@{/images/index/bottom_btn.png}">
                            </a>
                        </li>
                    </ul>
                </div>-->
            </main>
    </th:block>
    <th:block layout:fragment="script">
        <script>
            $(function(){
                // 체크 박스 관련 변수
                const chkList = [];

                // 전체 선택, 전체 해제
                $('.btnSelectAll').click(function(){
                    let btntxt = $(this).text();
                    if(btntxt == '전체 선택') {
                        $('.checkPicks').prop('checked', true);
                        $(this).text('전체 해제');
                    }
                    if(btntxt == '전체 해제') {
                        $('.checkPicks').prop('checked', false);
                        $(this).text('전체 선택');
                    }
                });

                // 개별 체크박스 변경 시 전체선택 체크박스 선택 상태 변경
                $('.checkPicks').change(function() {
                  if($('.checkPicks:checked').length == $('.checkPicks').length) {
                    $('.btnSelectAll').prop('checked', true);
                    $('.btnSelectAll').text('전체 해제');
                  } else {
                    $('.btnSelectAll').prop('checked', false);
                    $('.btnSelectAll').text('전체 선택');
                  }
                });

                // 선택한 찜한 숙소 삭제
                $('.btnRemovePick').click(function(){
                    $('.checkPicks:checked').each(function(){
                        chkList.push($(this).val());
                    });

                    console.log(chkList);

                    if(chkList.length == 0){
                        sweetalert("선택된 숙소가 없습니다!","warning");
                        return false;
                    }

                    if(chkList.length > 0) {
                        let jsonData = {
                            "chkList" : chkList
                        };

                        ajaxAPI("my/pick", jsonData, "DELETE").then((response)=>{
                            if(response.result > 0){
                                location.reload(true);
                            }else{
                                sweetalert("선택한 숙소를 삭제하지 못하였습니다.\n잠시 후 다시 시도해 주세요.","error");
                            }
                        })
                    }
                });
            })
        </script>
    </th:block>
</html>