<!--
    날짜 : 2023/02/26
    이름 : 황원진
    내용 : 마이페이지 point HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" th:href="@{/css/my/my.css}">
    </th:block>
    <th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                포인트
                            </span>
                        </div>
                        <div class="my_point">
                            <div class="nowPoint">
                                <p>내 포인트</p>
                                <span>0 P</span>
                            </div>
                            <div class="my_point_history">
                                <div class="mph_1">
                                    <h2>포인트 내역</h2>
                                </div>
                                <div class="mph_2" th:if="${points.size() == 0}">
                                    <p>포인트 이용내역이 없습니다.</p>
                                </div>
                                <div class="mph_2" th:if="${points.size() != 0}">
                                    <div class="mph_3" th:each="point:${points}">
                                        <div class="mph_4">
                                            <div class="mph_4_1">[[${point.poi_rdate.substring(0,10)}]]</div>
                                        </div>
                                        <div>
                                            <div class="mph_5">
                                                <div class="deleted" th:if="${point.poi_state == 0}">소멸</div>
                                                <div class="save" th:if="${point.poi_state == 1}">적립</div>
                                                <div class="used" th:if="${point.poi_state == 2}">사용</div>
                                                <h2>[[${point.poi_content}]]</h2>
                                                
                                            </div>
                                            <ul class="mph_6">
                                                <!--<li>[HEM] 헥사 인센스 스틱</li>-->
                                                <li th:if="${point.poi_state == 0}">유효기간: [[${point.poi_maximum.substring(0,10)}]] 소멸</li>
                                                <li th:if="${point.poi_state == 1}">유효기간: [[${point.poi_maximum.substring(0,10)}]] 적립</li>
                                                <li th:if="${point.poi_state == 2}">유효기간: [[${point.poi_maximum.substring(0,10)}]] 까지</li>
                                            </ul>
                                        </div>
                                        <div class="mph_7">
                                            <span class="plus">
                                                + [[${point.poi_point}]]P
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 페이징 -->
                        <div class="paging">
                            <span class="prev"><a th:href="@{#}"></a></span>
                            <span class="on"><a th:href="@{#}">1</a></span>
                            <span><a href="#">2</a></span>
                            <span><a href="#">3</a></span>
                            <span><a href="#">4</a></span>
                            <span><a href="#">5</a></span>
                            <span class="next"><a th:href="@{#}"></a></span>
                        </div>
                    </div>  
                </section>
                <!-- 우측 미니 사이드바 -->
                <div class="btn_quick">
                    <ul>
                        <li class="btn_wishlist">
                            <a href="javascript:;">
                                <img th:src="@{/images/index/empty-heart.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/naver_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/kakao_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToTop" onclick="return false;">
                                <img th:src="@{/images/index/top_btn.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToBottom" onclick="return false;">
                                <img th:src="@{/images/index/bottom_btn.png}">
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
    </th:block>
    <th:block layout:fragment="script">
        <script>

        </script>
    </th:block>
</html>