<!--
    날짜 : 2023/02/26
    이름 : 황원진
    내용 : 마이페이지 view HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/my/my.css}">

</th:block>
<th:block layout:fragment="content">
            
            <main>
                <section id="my">
                    <nav class="category">
                        <span>마이페이지</span>
                        <ul>
                            <li>
                                <a th:href="@{#}">내정보</a>
                            </li>
                            <li>
                                <a th:href="@{#}">포인트</a>
                            </li>
                            <li>
                                <a th:href="@{#}">쿠폰함</a>
                            </li>
                            <li>
                                <a th:href="@{#}" class="on">예약내역</a>
                            </li>
                            <li>
                                <a th:href="@{#}">나의 찜</a>
                            </li>
                            <li>
                                <a th:href="@{#}">나의 여행일기</a>
                            </li>
                            <li>
                                <a th:href="@{#}">나의 리뷰</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                예약 내역 상세보기
                            </span>
                        </div>
                        <div class="reserve_view">
                            <div class="sub_tit">
                                예약자 정보
                            </div>
                            <div>
                                <p>예약자 정보</p>
                                <span>홍길동</span>
                            </div>
                            <div>
                                <p>휴대폰번호</p>
                                <span>010-1234-1234</span>
                            </div>
                            <div class="sub_tit">
                                숙소정보
                            </div>
                            <div>
                                <p>숙소 정보</p>
                                <span>이비스 앱버서더 부산 해운대<br>
                                    [레이트버드-18시 체크인] 스탠다드 더블 / 1박
                                </span>
                            </div>
                            <div>
                                <p>체크인</p>
                                <span>2023.02.16 15:00</span>
                            </div>
                            <div>
                                <p>체크아웃</p>
                                <span>2023.02.17 12:00</span>
                            </div>
                            <div class="sub_tit">
                                결제정보
                            </div>
                            <div>
                                <p>예약번호</p>
                                <span>10002132</span>
                            </div>
                            <div>
                                <p>결제 방법</p>
                                <span>신용/체크카드</span>
                            </div>
                            <div>
                                <span><i>최종 결제 금액</i>(VAT포함)</span>
                            </div>
                            <div>
                                <p>52,800원</p>
                            </div>
                        </div>
                        <div class="btnReserveView">
                            <a href="#" class="reservePrint">예약 내역 인쇄</a>
                            <a href="#" class="reserveCancel" id="reserveCancel">예약 취소</a>
                        </div>
                    </div>  
                </section>
                <!-- 우측 미니 사이드바 -->
                <div class="btn_quick">
                    <ul>
                        <li class="btn_wishlist">
                            <a href="javascript:;">
                                <img th:src="@{/images/index/empty-heart.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/naver_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/kakao_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToTop" onclick="return false;">
                                <img th:src="@{/images/index/top_btn.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToBottom" onclick="return false;">
                                <img th:src="@{/images/index/bottom_btn.png}">
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
            </th:block>
            <th:block layout:fragment="script">
                <script>
                    $(function(){
                        $('.reserveCancel').click(function(){
                            console.log("1");
                            confirm('예약을 취소하시겠습니까?');
                        });
                    });
                </script>
            </th:block>
</html>