<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>상품관리 ></span>
                            <span>객실관리</span>
                        </div>
                        <div class="col2">
                            <form action="#">
                                <span class="search_review_tit">객실검색</span>
                                <table class="search_review_table">
                                    <tr>
                                        <th>
                                            <select name="searchField">
                                                <option value="acc_id">숙소번호</option>
                                                <option value="acc_name">숙소명</option>
                                                <option value="room_id">객실번호</option>
                                                <option value="room_name">객실명</option>
                                            </select>
                                        </th>
                                        <td>
                                            <input type="text" class="search_box" name="searchWord" placeholder="검색어를 입력하세요">
                                        </td>
                                    </tr>
                                </table>
                                <button type="submit" class="btnSearch">검색</button>
                                <div class="board_list" style="margin-top: 40px;">
                                    <ul>
                                        <li class="roomInfo_li1">#</li>
                                        <li class="roomInfo_li2">객실아이디</li>
                                        <li class="roomInfo_li3">객실명</li>
                                        <li class="roomInfo_li4">객실수</li>
                                        <li class="roomInfo_li5">객실가격 → 할인가</li>
                                        <li class="roomInfo_li6">비고</li>
                                    </ul>
                                    <th:block th:if="${#lists.size(rooms) != 0}">
                                        <ul th:each="room,i:${rooms}">
                                            <li class="roomInfo_li1">[[${ph.totalCnt - ph.sc.offset - i.index}]]</li>
                                            <li class="roomInfo_li2" th:text="${room.room_id}">11023</li>
                                            <li class="prodName" style="width: 48% !important;">
                                                <a href="#">[[${room.room_name}]]</a>
                                            </li>
                                            <li class="roomInfo_li4" th:text="${room.room_stock}">20</li>
                                            <li class="roomInfo_li5">[[${room.room_price}]] → <i>397,150</i></li>
                                            <li class="prodBtn">
                                                <span class="btnDelete">삭제</span>
                                                <span class="btnModify">수정</span>
                                            </li>
                                        </ul>
                                    </th:block>


                                </div>
                                <div class="pagination">
                                    <a href="#">&laquo;</a>
                                    <a href="#">1</a>
                                    <a href="#" class="active">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">&raquo;</a>
                                </div>
                               <!-- <div class="btnAdminProd">
                                    <a href="#">
                                        숙소등록
                                    </a>
                                </div>-->
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            <!-- -->
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>