<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>상품관리 ></span>
                            <span>객실등록</span>
                        </div>

                        <!-- 숙소 등록 폼 -->
                        <form class="col_register_form" action="#">

                            <!-- 객실 정보 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>객실 정보</span>
                                    </div>
                                </div>
                                <table class="input_stayRoomInfo">
                                    <tr>
                                        <td>객실 이름</td>
                                        <td><input type="text" value="킹 프리미엄 룸 (King Premium Room)" readonly></td>
                                    </tr>
                                    <tr>
                                        <td>객실 수</td>
                                        <td><input type="number" value="20" readonly></td>
                                    </tr>
                                    <tr>
                                        <td>객실 가격</td>
                                        <td><input type="number" value="822,224" readonly></td>
                                    </tr>
                                    <tr>
                                        <td>할인율 (%)</td>
                                        <td><input type="number" value="52" readonly></td>
                                    </tr>
                                    <tr>
                                        <td>할인 가격</td>
                                        <td><input type="number" value="397,150" readonly></td>
                                    </tr>
                                    <tr>
                                        <td>인원</td>
                                        <td>
                                            <input class="input_200" type="number" value="2" readonly>/
                                            <input class="input_200" type="number" value="3" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>인원초과가격</td>
                                        <td><input type="number" value="50000"></td>
                                    </tr>
                                    <tr>
                                        <td>객실이용안내</td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>객실 이미지</td>
                                        <td>
                                            <div class="stayThumb">
                                                <div class="st_content">
                                                    <div class="st_img">
                                                        <img th:src="@{/images/admin/view1.jpeg}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="btnAdminProd">
                                <a href="#">
                                    객실목록
                                </a>
                            </div>
                            <div class="btnAdminProd">
                                <a href="#">
                                    객실수정
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>