<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>상품관리 ></span>
                            <span>숙박관리</span>
                        </div>
                        <div class="col2">
                            <form th:action="@{/admin/info/list}">
                                 <span class="search_reservation_tit">숙박검색</span>
                                <table class="search_review_table">
                                    <tr>
                                        <th>지역검색</th>
                                        <td>
                                            <select class="province_select" id="province_select" name="searchAccProvince">
                                                <option value="">지역 선택</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>옵션검색</th>
                                        <td>
                                            <select name="searchField" class="accOption_select">
                                                <option value="acc_id" th:selected="${ph.sc.searchField == 'acc_id'}">숙박번호</option>
                                                <option value="acc_name" th:selected="${ph.sc.searchField == 'acc_name'}">숙박명</option>
                                                <option value="user_id" th:selected="${ph.sc.searchField == 'user_id'}">판매자 아이디</option>
                                            </select>
                                            <input type="text" class="accOption_search" name="searchWord" placeholder="검색어를 입력하세요" th:value="${param.searchWord}">
                                        </td>

                                    </tr>
                                </table>
                                <button type="button" class="resetOption" onclick="location.href = window.location.origin + window.location.pathname;">초기화</button>
                                <button type="submit" class="btnSearch">검색</button>

                                <span class="totalCount">숙박 총 개수 ([[${totalAccs}]])</span>
                                <div class="board_list">
                                    <ul>
                                        <li class="info_list1">#</li>
                                        <li class="info_list2">숙박번호</li>
                                        <li class="info_list3">판매자 아이디</li>
                                        <li class="info_list4">숙박명</li>
                                        <li class="info_list5">등록일</li>
                                        <li class="info_list6">비고</li>
                                    </ul>
                                    <th:block th:if="${#lists.size(accs) != 0}">
                                        <ul th:each="acc,i:${accs}">
                                            <li class="info_list1">[[${ph.totalCnt - ph.sc.offset - i.index}]]</li>
                                            <li class="info_list2" th:text="${acc.acc_id}">11243</li>
                                            <li class="info_list3" style="text-align: left !important;">[[${acc.user_id}]]</li>
                                            <li class="info_list4">
                                                <a th:href="@{/admin/info/view (acc_id=${acc.acc_id})}">[[${acc.acc_name}]]</a>
                                            </li>
                                            <li class="info_list5" th:text="${acc.acc_rdate}">23.03.29</li>
                                            <li class="prodBtn">
                                                <button th:class="${acc.acc_state == 1? 'btnDrop' : 'btnDropClear'}" type="button"
                                                        th:value="${acc.acc_id}"
                                                        th:text="${acc.acc_state == 1? '차단' : '차단해제'}"
                                                ></button>
                                            </li>
                                        </ul>
                                    </th:block>
                                    <th:block th:if="${#lists.size(accs) ==0}">
                                        <div class="noResult">해당 숙소 없습니다.</div>
                                    </th:block>

                                </div>
                                <div class="pagination" th:object="${ph}" th:style="${#lists.size(accs) == 0 ? 'visibility:hidden;':''}">
                                    <th:block th:if="*{showPrev}">
                                        <a th:href="@{/admin/info/list} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">< </a>
                                    </th:block>
                                    <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                                        <a th:href="@{/admin/info/list} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                                            [[${num}]]
                                        </a>
                                    </th:block>
                                    <th:block th:if="*{showNext}">
                                        <a th:href="@{/admin/info/list} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next"> ></a>
                                    </th:block>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            // 지역 선택 옵션 출력
            var province_select = document.getElementById("province_select");

            ajaxAPI("admin/info/province", null, "GET").then((response)=>{
                //console.log('response1 : %o', response);

                for (let i = 0; i < response.length; i++) {
                    console.log("province_name : %s", response[i].province_name);
                    let option = document.createElement('option');
                    option.value = response[i].province_no;
                    option.innerHTML = response[i].province_name;

                    // 옵션값 고정
                    if (localStorage.getItem('selectedProvince') == response[i].province_no) {
                        option.setAttribute('selected', 'selected');
                    }

                    //option.setAttribute('selected', '${ph.sc.searchField == '+response[i].province_no+'}');
                    //if (typeof ph !== 'undefined' && ph.sc && ph.sc.searchField == response[i].province_no) {
                    //  option.setAttribute('selected', 'selected');
                    //}


                    province_select.appendChild(option);
                }

                // 옵션 변경 시에도 옵션 고정
                province_select.addEventListener('change', function() {
                    localStorage.setItem('selectedProvince', this.value);
                });

            }).catch((errorMsg)=>{
                console.log(errorMsg);
            });


            // 숙박 차단
            $('.btnDrop').on('click', function(e) {
                e.preventDefault();

                let acc_id = $(this).val();
                console.log('acc_id : ' + acc_id);

                const jsonData = {"acc_id": acc_id};

                 ajaxAPI("admin/usaveDropAcc", jsonData, "POST").then((response) => {
                    if(response.result > 0) {
                        alert('해당 숙소가 차단되었습니다.');
                        location.reload();
                    } else {
                        alert('error');
                    }
                }).catch((errorMsg) => {
                    console.log(errorMsg);
                });
            });

            // 숙박 차단 해제
            $('.btnDropClear').on('click', function(e) {
                e.preventDefault();

                let acc_id = $(this).val();
                console.log('acc_id : ' + acc_id);

                const jsonData = {"acc_id": acc_id};

                ajaxAPI("admin/usaveClearAcc", jsonData, "POST").then((response) => {
                    if(response.result > 0) {
                        alert('해당 숙소 차단이 해제되었습니다.');
                        location.reload();
                    } else {
                        alert('error');
                    }
                }).catch((errorMsg) => {
                    console.log(errorMsg);
                });
            });
        });
    </script>
</th:block>
</html>