/* 전체 */
  * {
      margin: 0;
      padding: 0;
      margin: 0;
      padding: 0;
      font-family: 'Red Hat Display', 'Noto Sans KR', sans-serif;
      font-size: 11px;
      font-weight: 400;
      box-sizing: border-box;
      scroll-behavior: smooth;
  }
  ul, ol { list-style: none; }
  a {text-decoration: none !important; color: #252525 !important;}
  input, textarea {outline: none;}

/*summernote*/
.note-editor ul {
    list-style-type: disc;
    padding-inline-start: 40px;
}
.note-editor ol {
    list-style-type: decimal;
    padding-inline-start: 40px;
}
::marker {
    font-size: 14px;
}
main .essential_tag_guide {
    font-style: normal;
    float: right;
    padding-right: 14px;
    font-size: 12px;
    color: #f2552c;
}
main .essential_tag {
    font-style: normal;
    font-size: 17px;
    vertical-align: middle;
    color: #f2552c;
    font-weight: 600;
}

.swal2-title {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 15px 0 8px 0 !important;
}


#wrapper {
  /* overflow: hidden; */
  min-width: 1200px;
  height: auto;
  margin: 0 auto;
}

  /* 하이라이터 */
  .highlight {
       color: #3FC1C9;
       background: #F1F7B5;
       font-size: 16px;
  }

  /* 여백 */
  .blank10 {
      height: 10px;
  }
  .blank30 {
      height: 30px;
  }
  .blank60 {
      height: 60px;
  }
  .blank80 {
      height: 80px;
  }
  .blank120 {
      height: 120px;
  }

/* 메인 죄측 사이드바 */
main {
    min-width: 1200px;
    border: 1px solid #fff;
}
main .main_inner {
    margin: 0;
}
main .logout {
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    padding: 10px 0 10px 8px;
    margin-top: 0;
    margin-left: 0;
    cursor: pointer;
    background: transparent;
    border: none;
}
main .sidebar {
    width: 270px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0 12px 30px rgb(80 143 244 / 10%);
    background: #fff;
    -ms-overflow-style: none;
    overflow-y: scroll;
}
main .sidebar::-webkit-scrollbar {
    display: none;
}
main .sidebar > .sidebar_logo {
    position: relative;
    margin: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
}
main .welcome {
    margin: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #252525;
}
main .welcome > i {
    font-size: 14px;
    font-weight: 300;
    color: #565963;
    font-style: normal;
}
main .sidebar > .sidebar_logo img {
    height: 60px;
}
main .sidebar > .sidebar_logo .logo {
    display: inline-block;
    font-size: 36px;
    font-weight: 800;
    left: 65px;
    color: #bbd444;
    position: absolute;
    top: 11px;
    left: 58px;
}
main .sidebar > .sidebar_menu {}
main .sidebar > .sidebar_menu > li {
    margin-left: 0;
    margin-right: 20px;
    list-style: none;
}
main .sidebar > .sidebar_menu > li a {
    padding: 0 25px 0 0;
    background: pink;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 34px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: 0 0;
    color: #8890b5;
    margin-top: 25px;
}
main .sidebar > .sidebar_menu > li a .icon_menu {
    background: #fff;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgb(83 108 167 / 16%);
}
main .sidebar > .sidebar_menu > li .sidebar_arrow {
    position: relative;
}
main .sidebar > .sidebar_menu > li .sidebar_arrow img {
    width: 25px;
    height: auto;
    vertical-align: middle;
}
main .sidebar > .sidebar_menu > li .sidebar_arrow span {
    font-size: 16px;
    font-weight: 400;
}
main .sidebar > .sidebar_menu > li .sidebar_arrow::after {
    opacity: 1;
    font-size: 18px;
    right: 15px;
    color: #8890b5;
    content: '>';
    position: absolute;
}
main .sidebar > .sidebar_menu .sidebar_collapse_menu {
    padding: 0 0 5px 40px;
    background: #f4f5fa;
    border-radius: 0 0 4px 4px;
    margin-left: 30px;
}
main .sidebar > .sidebar_menu .sidebar_collapse_menu a {
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    padding: 10px 0 10px 8px;
    margin-top: 0;
    margin-left: 0;
    z-index: 0;
    cursor: pointer;
}
main .sidebar > .sidebar_menu .sidebar_collapse_menu a:hover {
    font-weight: 400;
}
main .sidebar > .sidebar_menu .sidebar_collapse_menu .logout {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0 10px 8px;
    cursor: pointer;
    background: none;
    border: none;
}
/* 우측 메인 컨테이너 */
main .main_content {
    padding-left: 270px;
    width: 100%;
    padding-top: 0 !important;
    min-height: 100vh;
    padding-bottom: 90px;
    height: auto;
    overflow: hidden;
}

main .main_content::before {
    position: absolute;
    top: 0;
    right: 0;
    height: 120px;
    z-index: 9;
    background: #fcf951;
    content: '';
    border-radius: 0 0 10px 10px;
    left: 270px;
}
main .main_content > .main_cotent_inner {
    transition: .5s;
    position: relative;
    background: #F5F6FF;
    margin: 20px 30px 30px;
    z-index: 22;
    border-radius: 10px;
    padding: 40px 30px;
}
main .search_review_table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #dbdbdb;
}
main .search_review_table tr {
    height: 43px;
}
main .search_review_table th {
    text-align: left;
    border-bottom: 1px solid #dbdbdb;
    padding-left: 17px;
    background: #f0f0f0;
    width: 20%;
    width: 17% !important;
    font-size: 13px;
    padding: 0 10px;
}
main .search_review_table th > select {
    font-size: 13px;
    width: 200px;
    height: 28px;
    border: 1px solid #dbdbdb;
    padding: 1px 5px;
}
main .search_review_table td {
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    padding-left: 17px;
    background: #fff;
}
main .search_review_table td > input {
    font-size: 13px;
    width: 97%;
    height: 28px;
    border: 1px solid #dbdbdb;
    padding-left: 8px;
}
main #c_role_type {
    border: 1px solid #dcdcdc;
    padding: 1px 20px 1px 4px;
    max-width: 100%;
    text-decoration: none;
    font-size: 13px;
    height: 30px;
}

/* 페이징 */
main .pagination {
    margin: 15px 0;
    display: inline-block;
}
main .pagination > a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
main .pagination > a.current {
    background-color: #bbd444;
    color: white;
    border-radius: 5px;
}
main .pagination a:hover:not(.current) {
    background-color: #ddd;
    border-radius: 5px;
}


/* 푸터 */
footer {
    background-color: #FCF951;
    border-top: 1px solid #faf4e4;
}
footer > .footer_inner {
    padding: 0 0 0 8px;
    margin-left: 270px;
    border: 1px solid #FCF951;
}
footer > .footer_inner > .footer_menu {
    margin-top: 30px;
    position: relative;
}
footer > .footer_inner > .footer_menu a {
    font-size: 16px;
    margin-right: 50px;
}
footer > .footer_inner .footer_block {
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_block > .footer_block_left {
    flex: 0 0 auto;
    width: 75%;
    box-sizing: border-box;
}
footer > .footer_inner .footer_block_row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_1 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_1 > a {
    font-size: 30px;
    font-weight: 900;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_2 {
    flex: 0 0 auto;
    width: 100%;
    font-size: 17px;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_3 {
    margin-top: 15px;
    line-height: 17px;
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block > .footer_block_right {
    flex: 0 0 auto;
    width: 25%;
    box-sizing: border-box;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_4 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_4 > a {
    font-size: 17px;
    font-weight: 500;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_5 {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 5px;
    line-height: 17px;
    font-size: 14px;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_5  > span {
    color: #F2552C;
    font-size: 14px;
    font-weight: 600;
}
footer > .footer_inner .footer_terms {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_terms > .footer_block_row2 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_terms > .footer_block_row2  > span {
    margin: 0 10px;
}
footer > .footer_inner .footer_copyright {
    margin: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_copyright p {
    font-size: 12px;
}
