
/* 헤더 */

/* 메인 */

main .main_content .main_content_div {
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
}
main .main_content .col1 {
    flex: 0 0 auto;
    width: 100%;
}
main .main_content .col1 > .today_status {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 15px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 19px;
}
main .main_content .col1 > .today_status .single_status {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 0 solid #e3e3e3;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
}
main .main_content .col1 > .today_status .single_status > p {
    font-size: 14px;
    font-weight: 500;
    color: #bbd444;
    margin-bottom: 15px;
}
main .main_content .col1 > .today_status .single_status > h3 {
    font-size: 27px;
    font-weight: 600;
    color: #14256a;
}
main .main_content .col1_header {
    border-bottom: 1px solid #f4f5fa;
    padding: 10px;
}
main .main_content .col1_header > h3 {
    font-size: 17px;
    font-weight: 500;
    color: #3d3d3d;
}
main .main_content .col1_graph {
    padding: 10px;
}
main .main_content .main_content_div2 {
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}
main .main_content .main_content_div2 > h3 {
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    color: #3d3d3d;
}
main .main_content .main_content_div2 .more {
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 12px;
    color: #424242;
    font-weight: 200;
    cursor: pointer;
}
main .today_sales_status {
    background: #fff;
    position: relative;
    border-bottom: 1px solid #e4e4e400;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 0px 6px 0 rgb(206 206 238 / 54%);
    margin-bottom: 23px;
}
main .today_sales_status > p {
    font-size: 24px;
    text-align: center;
    width: 330px;
    height: 60px;
    color: #6c757d!important;
    border: none;
    cursor: pointer;
    line-height: 60px;
    margin: 0 auto;
}
main .current_sales_stat {
    width: 100%;
}
main .tot_sales {
    margin: 18px 0;
    text-align: center;
}
main .tot_sales_box {
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    color: #6c757d!important;
    padding: 5px 80px 0 78px;
    border: 1px solid #ececec;
    border-radius: 11px;
    border-left: 6px solid #bbd444;
    background: #fff;
    height: 59px;
    display: inline-block;
    margin: 10px 0 20px;
}
main .tot_sales_box > div {
    display: inline-block;
    font-size: 22px;
    color: #6f6d6d;
}
main .ts_tit1 {
    margin-right: 14px;
}
main .ts_count {
    font-size: 35px !important;
    margin-right: 3px;
    font-weight: 500;
    color: #32393f !important;
}
main .ts_tit2 {
    margin-right: 26px;
    font-weight: 300;
}
main .ts_price {
    font-size: 35px !important;
    margin-right: 3px;
    font-weight: 500;
    color: #32393f !important;
}


main .main_content .col2 {
    flex: 0 0 auto;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 0 solid #e3e3e3;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
}
main .main_content .col2 .noticeList {
    border-top: 1px solid #bbb;
    border-collapse: collapse;
}
main .main_content .col2 .noticeList ul {
    border-bottom: 1px solid #bbb;
}
main .main_content .col2 .noticeList ul:first-child {
    background: #F7F7F7;
}
main .main_content .col2 .noticeList li {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    padding-top: 7px;
    text-align: center;
}
main .main_content .col2 .noticeList .noticeTitle {
    text-align: left;
    padding-left: 21px;
}
main .main_content .col2 .noticeList li:nth-of-type(1) {
    width: 4%;
}
main .main_content .col2 .noticeList li:nth-of-type(2) {
    width: 85%;
}
main .main_content .col2 .noticeList li:nth-of-type(3) {
    width: 10%;
}


main .main_content .col2 .noticeList2 {
    border-top: 1px solid #bbb;
    border-collapse: collapse;
}
main .main_content .col2 .noticeList2 ul {
    border-bottom: 1px solid #bbb;
}
main .main_content .col2 .noticeList2 ul:first-child {
    background: #F7F7F7;
}
main .main_content .col2 .noticeList2 li {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    padding-top: 7px;
    text-align: center;
}
main .main_content .col2 .noticeList2 .noticeTitle {
    text-align: left;
    padding-left: 21px;
}
main .main_content .col2 .noticeList2 li:nth-of-type(1) {
    width: 4%;
}
main .main_content .col2 .noticeList2 li:nth-of-type(2) {
    width: 74%;
}
main .main_content .col2 .noticeList2 li:nth-of-type(3) {
    width: 10%;
}
main .main_content .col2 .noticeList2 li:nth-of-type(4) {
    width: 10%;
}
main .paging {
    margin: 15px 0;
    text-align: center;
}
main .paging .opg_1 {
    display: inline-block;
    width: 200px;
}
main .paging .opg_1 > button {
    border: 1px solid #dcdee0;
    width: 19px;
    height: 21px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
main .paging .opg_1 > span {
    font-size: 13px;
    padding: 0px 18px;
    color: #929294;
}
main .paging .opg_1 > span > b {
    font-size: 13px;
    padding: 0 2px;
    font-weight: 700;
}
main .paging .opg_1 > span > s {
    font-size: 13px;
    text-decoration: none;
    color: #929294;
}
main .footer_inner > .footer_menu {
    margin-top: 30px;
    position: relative;
}


/* 차트 */
main #chart_div {
    border: 0 solid #e3e3e3;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
    border-radius: 10px;
}

