/* 태그 */
.tag {
    border-radius: 6px;
    background: #393939;
    font-size: 11px;
    color: #fff;
    font-weight: 500;
    padding: 1px 3px;
    border-radius: 11px;
}

main .main_content .main_content_div {
    justify-content: space-evenly;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
}
main .main_content .col0 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 5px;
}
main .searchProdNum {
    padding: 10px 10px 20px 0px;
    height: 34px;
    float: left;
    width: 250px;
    background: rgb(255,255,255);
    border-radius: 8px;
    border: 1px solid rgb(219,219,219);
    resize: none;
    margin: 10px 0;
    position: relative;
}
main .searchProdNum > .search_box {
    position: absolute;
    top: 0;
    width: 219px;
    padding: 3px 1px 4px 10px;
    font-size: 16px;
    height: 32px;
    border: none;
    background: transparent;
}
main .searchProdNum > .search_box::placeholder {
    font-size: 13px;
    color: #dcdee0;
    font-weight: 100;
}
main .searchProdNum > .btnSearch {
    position: absolute;
    top: 8px;
    right: 6px;
    border: none;
    background: transparent;
}
main .guideMsg {
    padding: 10px 10px 20px 0px;
    height: 34px;
    float: left;
    margin: 10px 13px;
    font-size: 15px;
    font-weight: 500;
}

main .searchProd {
    float: right;
    padding: 10px 10px 20px 0px;
    height: 34px;
    width: 250px;
    background: rgb(255,255,255);
    border-radius: 8px;
    border: 1px solid rgb(219, 219, 219);
    resize: none;
    margin: 10px 0;
    position: relative;
}
main .selectProdForAdmin {
    padding: 10px 10px 20px 0px;
    height: 34px;
    float: left;
}
main .selectProdForAdmin > select {
    padding: 7px;
    font-size: 13px;
    background: rgb(255,255,255);
    border: 1px solid rgb(219, 219, 219);
    resize: none;
    width: 100%;
    border-radius: 8px;
    padding-right: 30px;
}
main .searchProd > .search_box {
    position: absolute;
    top: 0;
    width: 219px;
    padding: 3px 1px 4px 10px;
    font-size: 16px;
    height: 32px;
    border: none;
    background: transparent;
}
main .searchProd > .search_box::placeholder {
    font-size: 13px;
    color: #dcdee0;
    font-weight: 100;
}
main .searchProd > .btnSearch {
    position: absolute;
    top: 8px;
    right: 6px;
    border: none;
    background: transparent;
}
main .searchProd > .btnSearch > input {
    position: absolute;
    top: 1px;
    right: 6px;
    border: none;
    background: transparent;
}

main .selectProd {
    float: right;
    padding: 10px 10px 20px 0px;
    height: 34px;
}
main .selectProd > select {
    padding: 7px;
    font-size: 13px;
    background: rgb(255,255,255);
    border: 1px solid rgb(219, 219, 219);
    resize: none;
    width: 100%;
    border-radius: 8px;
    padding-right: 30px;
}

main .main_content .main_content_div2 {
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
main .main_content .main_content_div2 > h3 {
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    color: #3d3d3d;
}
main .main_content .main_content_div2 .more {
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 12px;
    color: #424242;
    font-weight: 200;
    cursor: pointer;
} 
main .main_content .col_nav {
    flex: 0 0 auto;
    width: 100%;
    padding: 8px;
}
main .main_content .col_nav > span:nth-of-type(1) {
    font-size: 14px;
    font-weight: 300;
    color: #424242;
}
main .main_content .col_nav > span:nth-of-type(2) {
    font-size: 14px;
}
main .main_content .col2 {
    flex: 0 0 auto;
    width: 100%;
    padding: 8px;
    background: #fff;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 0.25rem;
    text-align: center;
}
main .main_content .col2 .board_list {
    border-top: 1px solid #bbb;
    border-collapse: collapse;
}
main .main_content .col2 .board_list ul {
    border-bottom: 1px solid #bbb;
}
main .main_content .col2 .board_list ul:first-child {
    background: #F7F7F7;
}
main .main_content .col2 .board_list li {
    display: inline-block;
    height: 32px;
    font-size: 14px;
    padding-top: 7px;
    text-align: center;
}
main .re_off {}
main .re_on {
    color: #00bbfe;
    font-weight: 500;
}
main .main_content .col2 .board_list .title {
    text-align: left;
    padding-left: 13px;
}

main .main_content .col2 .board_list .title > a {
    font-size: 14px;
}
main .main_content .col2 .board_list li:nth-of-type(1) {width: 5%;}
main .main_content .col2 .board_list li:nth-of-type(2) {width: 5%;}
main .main_content .col2 .board_list li:nth-of-type(3) {width: 50%;}
main .main_content .col2 .board_list li:nth-of-type(4) {width: 14%;}
main .main_content .col2 .board_list li:nth-of-type(5) {width: 14%;}
main .main_content .col2 .board_list li:nth-of-type(6) {width: 10%;}

main .main_content .col2 .board_list .prodBtn > span {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 13px;
    padding: 2px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}


main .main_content .col2 .board_list .prodBtn > span:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
main .main_content .col2 .board_list .prodBtn > span:active {
    position:relative;
	top:1px;
}
main .main_content .btnProdRegister {
    margin: 15px 0;
    background-color: #bbd444;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    padding: 3px 12px;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    float: right;
}
main .main_content .btnAdminProd {
    margin: 15px 0;
    margin-left: 8px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    float: right;
}
main .main_content .btnAdminProd:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
main .main_content .btnAdminProd:active {
    position:relative;
	top:1px;
}
main .main_content .btnAdminProd > a {
    font-size: 13px;
    color: #666666;
    text-decoration: none;
    font-weight: 500;
}
main .main_content .btnAdminProd2 {
    margin: 15px 0;
    background-color: #bbd444;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    padding: 5px 30px;
    color: #fff;
    display: inline-block;
    margin-left: 8px;
    float: right;
}
main .main_content .btnAdminProd2 >  a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}
main .main_content .btnProdRegister:active {
    position:relative;
	top:1px;
}

main .main_content .btnAdminProd3 {
    margin: 15px 0;
    margin-left: 8px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}
main .main_content .btnAdminProd3:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
main .main_content .btnAdminProd3:active {
    position:relative;
	top:1px;
}
main .main_content .btnAdminProd3 > a {
    font-size: 13px;
    color: #666666;
    text-decoration: none;
    font-weight: 500;
}
main .btnAdminProd4 {
    margin: 15px 0;
    margin-left: 8px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    float: left;
}
main .main_content .btnAdminProd4:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
main .main_content .btnAdminProd4:active {
    position:relative;
	top:1px;
}
main .main_content .btnAdminProd4 > a {
    font-size: 13px;
    color: #666666;
    text-decoration: none;
    font-weight: 500;
}



main .main_content .col2 .board_list2 {
    border-top: 1px solid #bbb;
    border-collapse: collapse;
}
main .main_content .col2 .board_list2 ul {
    border-bottom: 1px solid #bbb;
}
main .main_content .col2 .board_list2 ul:first-child {
    background: #F7F7F7;
}
main .main_content .col2 .board_list2 li {
    display: inline-block;
    height: 32px;
    font-size: 12px;
    padding-top: 7px;
    text-align: center;
}
main .main_content .col2 .board_list2 .boardTit {
    text-align: left;
    padding-left: 21px;
}
main .main_content .col2 .board_list2 li:nth-of-type(1) {
    width: 4%;
}
main .main_content .col2 .board_list2 li:nth-of-type(2) {
    width: 74%;
}
main .main_content .col2 .board_list2 li:nth-of-type(3) {
    width: 10%;
}
main .main_content .col2 .board_list2 li:nth-of-type(4) {
    width: 10%;
}
main .pagination {
    margin: 15px 0;
    display: inline-block;
}
main .pagination > a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
main .pagination > a.active {
    background-color: #bbd444;
    color: white;
    border-radius: 5px;
}
main .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


/* faq */
main .faq_list {
    list-style: none;
    border-top: 1px solid #bbb;
    border-collapse: collapse;
}
main .faq_list ul {
}
main .faq_list li {
    padding: 0 20px;
}
main .faq_list .faq_tit {
    border-bottom: 1px solid #ececec;
    width: 100%;
}
main .faq_list .faq_tit span {
    width: 10%;
    display: inline-block;
}
main .btnFaqModify, .btnFaqDelete {
    display: inline-block;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666 !important;
    padding: 1px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    font-size: 14px;
    font-weight: 500;
}
main .faq_list .faq_list_a {
    display: inline-block;
    position: relative;
    height: auto;
    cursor: pointer;
    padding: 15px 24px 15px 0;
    width: 89%;
}
main .faq_list .faq_tit p {
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
    word-wrap: break-word;
    font-size: 16px;
    text-align: left;
    color: #424242;
    padding-bottom: 6px;
    padding-left: 28px;
}
main .faq_list .faq_list_a::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 9px;
    margin-top: -5px;
    background: #fff url(Lemo/images/admin/ico_arr.png) 0 0 no-repeat;
    background-size: 14px auto;
    margin-right: 10px;
}
main .faq_list li .open::before {
    background-position: 0 -9px;
}
main .faq_list .faq_content {
    display: none;
    margin-bottom: 12px;
    padding: 20px 20px;
    border-radius: 4px;
    background: #F7F7F7;
    box-sizing: border-box;
    overflow: hidden;
}
main .faq_list .faq_content > p {
    font-size: 15px;
    text-align: left;
}
main .board_view {
    box-sizing: border-box;
    display: inline-block;
    padding: 19px 27px 30px 27px;
    width: 100%;
    border: 1px solid #efefef;
}
main .view_box {}
main .view_head {
    margin-top: 7px;
}
main .view_head > .title {
    display: flex;
    flex-direction: row;
    width: 100%;
}
main .view_head > .title > p {
    width: 100%;
    height: 24px;
    border: none;
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
    color: #333;
    text-align: left;
}
main .view_head > .info {
    margin-top: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d2d2;
    text-align: left;
}
main .view_head > .info > div {
    color: #666666;
    font-size: 15px;
    margin: 2px 0;
    display: inline-block;
}
main .view_user {
    margin-left: 8px;
    color: #424242 !important;
}
main .view_content {
    padding-top: 34px;
}
main .view_content > textarea {
    width: 100%;
    height: 100px;
    border: none;
    resize: none;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 10px;
    border-bottom: 1px solid #d2d2d2;
    text-align: left;
    overflow-y: auto;
}
main .view_recomment {
    border: 1px solid rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
    margin-bottom: 30px;
}
main .inner_txt {
    border: 1px solid #efefef;
    border-radius: 3px;
}
main .inner_txt > textarea {
    width: 100%;
    padding: 10px;
    border: none;
    resize: none;
    vertical-align: top;
    height: 86px;
    font-size: 15px;
    color: #333;
    background-color: rgb(248, 248, 248);
}
main .select_faq_cate {
    padding: 7px;
    font-size: 13px;
    background: rgb(255,255,255);
    border: 1px solid rgb(219, 219, 219);
    resize: none;
    border-radius: 8px;
    padding-right: 30px;
    margin-right: 10px;
}
main .insert_faq_tit {
    padding: 7px;
    font-size: 13px;
    background: rgb(255,255,255);
    border: 1px solid rgb(219, 219, 219);
    resize: none;
    border-radius: 8px;
    padding-right: 30px;
}


