
main .main_content .main_content_div {
    justify-content: space-evenly;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
}
main .main_content .col0 {
    flex: 0 0 auto;
    width: 100%;
}
main .selectProd {
    padding: 10px 10px 20px 0px;
    display: block;
    float: right;
}
main .selectProd > select {
    padding: 7px;
    font-size: 13px;
    background: rgb(255,255,255);
    border: 1px solid rgb(219, 219, 219);
    resize: none;
    width: 100%;
    border-radius: 8px;
    padding-right: 30px;
}




main .main_content .col1 {
    flex: 0 0 auto;
    width: 100%;
}
main .main_content .col1 > .today_status {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
}
main .main_content .col1 > .today_status .single_status {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}
main .main_content .col1 > .today_status .single_status > p {
    font-size: 14px;
    font-weight: 500;
    color: #bbd444;
    margin-bottom: 15px;
}
main .main_content .col1 > .today_status .single_status > h3 {
    font-size: 27px;
    font-weight: 600;
    color: #14256a;
}
main .main_content .col1_header {
    border-bottom: 1px solid #f4f5fa;
    padding: 10px;
}
main .main_content .col1_header > h3 {
    font-size: 17px;
    font-weight: 500;
    color: #3d3d3d;
}
main .main_content .col1_graph {
    padding: 10px;
}

main .main_content .col1_2:first-child {
    flex: 0 0 auto;
    width: 39%;
}
main .main_content .col1_2:last-child {
    flex: 0 0 auto;
    width: 59%;
}
main .main_content .col1_2_header {
    border-bottom: 1px solid #f4f5fa;
    padding: 10px;
}
main .main_content .col1_2_header > h3 {
    font-size: 17px;
    font-weight: 500;
    color: #3d3d3d;
}
main .main_content .col1_2_graph {
    padding: 10px;
    height: 500px;
    background: #fff;
    border-radius: 4px;
    border: 0 solid #e3e3e3;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%)
}
main .donutchart {
    border-radius: 4px;
    border: 0 solid #e3e3e3;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%)
}


main .main_content .main_content_div2 {
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
main .main_content .main_content_div2 > h3 {
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    color: #3d3d3d;
}
main .main_content .main_content_div2 .more {
    position: absolute;
    top: 31px;
    right: 10px;
    font-size: 12px;
    color: #424242;
    font-weight: 200;
    cursor: pointer;
} 
main .main_content .col2 {
    flex: 0 0 auto;
    width: 100%;
    padding: 8px;
    background: #fff;
}
main .main_content .col2 .noticeList {
    border-top: 1px solid #bbb;
    border-collapse: collapse;
}
main .main_content .col2 .noticeList ul {
    border-bottom: 1px solid #bbb;
}
main .main_content .col2 .noticeList ul:first-child {
    background: #F7F7F7;
}
main .main_content .col2 .noticeList li {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    padding-top: 7px;
    text-align: center;
}
main .main_content .col2 .noticeList .noticeTitle {
    text-align: left;
    padding-left: 21px;
}
main .main_content .col2 .noticeList li:nth-of-type(1) {
    width: 4%;
}
main .main_content .col2 .noticeList li:nth-of-type(2) {
    width: 85%;
}
main .main_content .col2 .noticeList li:nth-of-type(3) {
    width: 10%;
}


main .main_content .col2 .noticeList2 {
    border-top: 1px solid #bbb;
    border-collapse: collapse;
}
main .main_content .col2 .noticeList2 ul {
    border-bottom: 1px solid #bbb;
}
main .main_content .col2 .noticeList2 ul:first-child {
    background: #F7F7F7;
}
main .main_content .col2 .noticeList2 li {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    padding-top: 7px;
    text-align: center;
}
main .main_content .col2 .noticeList2 .noticeTitle {
    text-align: left;
    padding-left: 21px;
}
main .main_content .col2 .noticeList2 li:nth-of-type(1) {
    width: 4%;
}
main .main_content .col2 .noticeList2 li:nth-of-type(2) {
    width: 74%;
}
main .main_content .col2 .noticeList2 li:nth-of-type(3) {
    width: 10%;
}
main .main_content .col2 .noticeList2 li:nth-of-type(4) {
    width: 10%;
}
main .paging {
    margin: 15px 0;
    text-align: center;
}
main .paging .opg_1 {
    display: inline-block;
    width: 200px;
}
main .paging .opg_1 > button {
    border: 1px solid #dcdee0;
    width: 19px;
    height: 21px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
main .paging .opg_1 > span {
    font-size: 13px;
    padding: 0px 18px;
    color: #929294;
}
main .paging .opg_1 > span > b {
    font-size: 13px;
    padding: 0 2px;
    font-weight: 700;
}
main .paging .opg_1 > span > s {
    font-size: 13px;
    text-decoration: none;
    color: #929294;
}
main .footer_inner > .footer_menu {
    margin-top: 30px;
    position: relative;
}
main .sales_div {
    width: 100%;
    padding: 30px 0 30px 0;
    margin-bottom: 1.5rem;
    background: #fff;
}
main .sales_table {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
main .sales_table table {
    width: 96%;
    height: auto;
    border-collapse: collapse;
    margin: 0 auto;
}
main .sales_table tr {
    border-bottom: 1px solid #ececec;
}
main .sales_table tr:first-child {
    border-top: 1px solid #ececec;
}
main .sales_table th {
    font-size: 16px;
    font-weight: 500;
    color: #424242;
    padding: 10px 0;
    background: #f2f1f1;
}
main .sales_table th:nth-of-type(1) {width: 19%;}
main .sales_table th:nth-of-type(2) {width: 10%;}
main .sales_table th:nth-of-type(3) {width: 17%;}
main .sales_table th:nth-of-type(4) {width: 15%;}
main .sales_table th:nth-of-type(5) {}
main .sales_table td {
    color: #424242;
    padding: 10px 0;
    font-size: 14px;
}
main #progress1 {
    text-align: left;
    width: 100%;
    appearance: none;
}
#progress1::-webkit-progress-bar {
    width: 100%;
    height: 10px;
    overflow: hidden;
    background: #e9ecef;
    animation: progressbar 2s ease-out;
    border-radius:10px;
}
#progress1::-webkit-progress-value {
    border-radius:10px;
    background: #AACB73;
    background: -webkit-linear-gradient(to right, #AACB73, #4ca16e);
    background: linear-gradient(to right, #AACB73, #4ca16e);
    
}
#progress1::-moz-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}
main .sales_room_percent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}


main .today_sales_status {
    background: #fff;
    position: relative;
    width: 30%;
    border-radius: 10px;
    border: 3px double #F3F6F9;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);;
    margin-bottom: 23px;
    margin: 0 auto;
    position: relative;
    background: #fefefe;
}
main .today_sales_status > p {
    font-size: 24px;
    text-align: center;
    width: 330px;
    height: 60px;
    color: #6c757d!important;
    border: none;
    cursor: pointer;
    line-height: 60px;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
}
main .tsd_msg {
    position: absolute;
    top: 136px;
    font-size: 13px;
    color: #424242;
    font-weight: 300;
}
main .tsd_msg > strong {
    font-size: 13px;
    color: #00bbfe;
}
main .sales_day_status {
    margin-top: 50px;
    border-top: 1px solid #F3F6F9;
    padding-top: 26px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}
main .tot_sales_day {
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
    display: inline-block;
    background: #FBFBFD;
    border: 1px solid #e1e1e1;
    padding: 24px;
    text-align: center;
}
main .tot_sales_day > div {
    text-align: center;
    font-family: 'Noto Sans KR';
    font-weight: 300;
}
main .tot_sales_day i {
    font-style: normal;
    color: #8a8989;
    font-size: 13px;
}
main .tot_sales_day > .tsd_tit2 {
    font-size: 20px;
    padding-top: 10px;
    color: #424242;
}
main .tot_sales_day > .tsd_tit1 {
    padding-right: 12px;
    font-size: 25px;
    color: #bbd444;
    font-weight: 400 !important;
    padding-top: 14px;
}
main .tot_sales_day > .tsd_tit1 {
    padding-right: 12px;
    font-size: 25px;
    color: #bbd444;
    font-weight: 400 !important;
    padding-top: 14px;
}
main .tot_sales_day > .tsd_tit3 {
    font-size: 27px;
    padding-top: 12px;
    color: #424242;
    display: inline-block;
}
main .tot_sales_day > .tsd_tit4 {
    display: inline-block;
}
main .tsd_grid {
    display: inline-block;
    margin-left: 16px;
}
main .tsd_grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    text-align: center;
    margin-bottom: 5px;
}
main .tsd_grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    text-align: center;
    margin-bottom: 5px;
}
main .tsd_grid h3 {
    font-size: 17px;
    color: #424242;
}
main .tsd_grid i {
    font-style: normal;
    color: #8a8989;
    font-size: 13px;
    font-weight: 300;
}
main .tsd_grid p {
    font-size: 20px;
    font-weight: 400;
    color: #bbd444;
    margin-bottom: 10px;
}
main .tsd_grid1 > div {
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
    padding: 15px;
    background: #FBFBFD;
    border: 1px solid #e1e1e1;
}
main .tsd_grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    text-align: center;
}
main .tsd_grid2 > div {
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
    padding: 24px;
    background: #FBFBFD;
    border: 1px solid #e1e1e1;
}
main .tsd_msg2 {
    font-size: 13px;
    color: #424242;
    font-weight: 300;
    margin-top: 70px;
}
main #main_content_div {
    border-top: 1px solid #F3F6F9;
    padding-top: 26px;
    margin-bottom: 34px;
}
main .col1_graph_chart {
    display: flex;
    flex-wrap: wrap;
}
main .col1_graph_chart .payment_stat_graph {
    flex: 0 0 auto;
    width: 33.33333333%;
}
main .col1_graph_chart #donutchart {
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
    border: 1px solid #e1e1e1;
    padding: 4px;
}
main .col1_graph_chart .graph_inner {
    flex: 0 0 auto;
    width: 65% !important;
    height: 500px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
    margin-left: 10px;
    padding: 3px;
}
main .col1_graph_chart .graph_inner > table {
    width: 100%;
    border-collapse: collapse;
}
main .col1_graph_chart .graph_inner > table tr {
    border-bottom: 1px solid #e9e9e9;
    color: #424242;
    height: 60px;
}
main .col1_graph_chart .graph_inner > table tr:first-child {
    background: #fbfbfd;
}
main .col1_graph_chart .graph_inner > table tr:last-child {
    border-bottom: none !important;
}
main .tsd_msg2 > strong {
    font-size: 13px;
    color: #00bbfe;
}
main .col1_graph_chart .graph_inner > table th {
    font-size: 13px;

}
main .col1_graph_chart .graph_inner > table th:nth-of-type(1){}
main .col1_graph_chart .graph_inner > table th:nth-of-type(2){}
main .col1_graph_chart .graph_inner > table th:nth-of-type(3){}
main .col1_graph_chart .graph_inner > table th:nth-of-type(4){}
main .col1_graph_chart .graph_inner > table th:nth-of-type(5){}

main .col1_graph_chart .graph_inner > table td {
    font-size: 13px;
    color: #424242;
    font-family: 'Noto Sans KR';
}
main .col1_graph_chart .graph_inner > table td:nth-of-type(1){
    width: 43%;
    padding-left: 15px;
}
main .col1_graph_chart .graph_inner > table td:nth-of-type(2){
    width: 7%;
    text-align: center;
}
main .col1_graph_chart .graph_inner > table td:nth-of-type(3){
    width: 16%;
    text-align: center;
}
main .col1_graph_chart .graph_inner > table td:nth-of-type(4){
    width: 6%;
    text-align: center;
}
main .col1_graph_chart .graph_inner > table td:nth-of-type(5){
    padding-right: 15px;
}

main .tsd_best {
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    padding-top: 22px;
    position: relative;
}
main .tsd_best_inner {
    padding: 2px 20px;
    background: #2779BD;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
}
main .tsd_guide {
    font-size: 12px;
    color: #424242;
    font-weight: 200;
    position: absolute;
    top: 49px;
    right: 14px;
}
main .tsd_best_inner h3 {
    font-size: 18px;
    font-weight: 500;
    padding-right: 38px;
}
main .tsd_best_inner i {
    font-style: normal;
    font-size: 18px;
    padding-left: 6px;
}
main .tsd_best_inner::after {
    content: "";
    position: absolute;
    top: 4px;
    border-width: 0px 23px 23px 0;
    border-style: solid;
    transform: rotate(-45deg);
    border-color: #fff;
    right: -12px;
}
main .main_content .col2 {
    flex: 0 0 auto;
    width: 100%;
    background: #fff;
    padding: 10px;
    margin-top: 6px;
}
main .main_content .col2 .bestReviewList {
    border-top: 1px solid #bbb;
    border-collapse: collapse;
}
main .main_content .col2 .bestReviewList ul {
    border-bottom: 1px solid #bbb;
}
main .main_content .col2 .bestReviewList ul:first-child {
    background: #F7F7F7;
}
main .main_content .col2 .bestReviewList li {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    text-align: center;
    font-family: 'Noto Sans KR';
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .ba_li1 { width: 8%; }
main .ba_li2 { width: 15%; }
main .ba_li3 { width: 25%; }
main .ba_li4 { width: 25%; }
main .ba_li5 { width: 10%; }
main .ba_li6 { width: 15%; }

main .search_date_sort {
    clear: both;
    border: 1px solid #1a367e20;
    border-left: none;
    border-right: none;
    background: #fff;
    width: 100%;
    margin-top: -7px;
    border-top: none;
}
main .date_msg {
    text-align: left;
    background: #f0f0f0;
    width: 20%;
    font-size: 13px;
    padding: 10px 10px;
}
main .search_date_sort > * {
    display: inline-block;
}
main .date_3ea {
    width: 19%;
    text-align: left;
}
main .date_3ea > li {
    display: inline-block;
    width: 54px;
    height: 27px;
    line-height: 27px;
    margin-left: 3px;
}
main .date_3ea > li:nth-of-type(1) {
    margin-left: 15px !important;
}
main .date_3ea > li > a {
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 4px 12px;
    border-radius: 4px;
}
main .sd_date_box {
    width: 60%;
    text-align: left;
}
main .sd_date {
    display: inline-block;
}
main .select_date {
    font-size: 13px;
    height: 28px;
    border: 1px solid #dbdbdb;
    padding-left: 8px;
    width: 120px !important;
}
main .sd_msg {
    font-size: 13px;
    color: #424242;
    font-weight: 300;
    position: absolute;
    top: 87px;
}
main .select_acc {
    clear: both;
    border: 1px solid #1a367e20;
    border-left: none;
    border-right: none;
    background: #fff;
    width: 100%;
    margin-top: -7px;
    border-top: none;
}

main .null_list {
    text-align: center;
    margin: 20px 0 10px 0;
}
