/* 전체 */
* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', 'Noto Sans KR', sans-serif;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #252525;}
input, textarea {outline: none;}

#wrapper {
    /* overflow: hidden; */
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
}


/*  */



/* 페이지 공통 헤더 & 푸터 스타일 */
/* 헤더 */
header {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
    min-width: 1200px;
}
header > .header_inner {
    height: 160px;
    background-color: #fff;
    border-bottom: 1px solid #faf4e4;
}
header > .header_inner .header_flex {
    position: relative;
    width: 1130px;
    height: 100%;
    margin: 0 auto;
}
header > .header_inner .header_logo {
    position: relative;
    height: 100%;
}
header > .header_inner .header_logo > a {
    position: absolute;
    top: 33px;
}
header > .header_inner .header_logo img {
    height: 93px;
}
header > .header_inner .header_logo > .logo {
    font-size: 44px;
    font-weight: 800;
    position: absolute;
    top: 60px;
    left: 65px;
    color: #bbd444;
}
header > .header_inner .header_service {
    position: absolute;
    top: 12px;
    right: 30px;
}
header > .header_inner .header_service > a {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 300;
}
header > .header_inner .header_service > a:hover {
    font-weight: 400;
}
header > .header_inner .header_service > .dropdown_menu {
    display: inline-block;
}
header > .header_inner .header_service > .dropdown_menu > button {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 300;
    border: none;
    background: #fff;
    font-family: inherit; 
    cursor: pointer;
}
header > .header_inner .header_service > .dropdown_menu img {
    width: 9px;
    padding-left: 2px;
}
header > .header_inner .header_service > .dropdown_menu > button:hover {
    font-weight: 400;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
    z-index: 1;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content > a {
    float: none;
    padding: 12px 16px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    text-align: left;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content > a:hover {
    background: #dcdee0;
}

header > .header_inner .header_searchBar {
    position: absolute;
    top: 74px;
    left: 231px;
}
header > .header_inner .header_searchBar .search {
    height: 34px;
    width: 374px;
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 15px;
}
header > .header_inner .header_searchBar #search-box {
    width: 340px;
    padding: 0 0 0 20px;
    font-size: 24px;
    border: none;
    background: transparent;
}
header > .header_inner .header_searchBar .btnSearch {
    border: none;
    margin-left: 5px;
    padding-top: 4px;
    background: transparent;
}

/* 푸터 */
footer {
    min-width: 1200px;
    background-color: #FCF951;
    border-top: 1px solid #faf4e4;
}
footer > .footer_inner {
    width: 1130px;
    margin: 0 auto;
    border: 1px solid red;
}
footer > .footer_inner > .footer_menu {
    margin-top: 30px;
    position: relative;
}
footer > .footer_inner > .footer_menu a {
    font-size: 16px;
    margin-right: 50px;
}
footer > .footer_inner .footer_block {
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_block > .footer_block_left {
    flex: 0 0 auto;
    width: 75%;
    box-sizing: border-box;
}
footer > .footer_inner .footer_block_row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_1 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_1 > a {
    font-size: 30px;
    font-weight: 900;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_2 {
    flex: 0 0 auto;
    width: 100%;
    font-size: 17px;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_3 {
    margin-top: 15px;
    line-height: 17px;
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block > .footer_block_right {
    flex: 0 0 auto;
    width: 25%;
    box-sizing: border-box;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_4 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_4 > a {
    font-size: 17px;
    font-weight: 500;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_5 {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 5px;
    line-height: 17px;
    font-size: 14px;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_5  > span {
    color: #F2552C;
    font-size: 14px;
    font-weight: 600;
}
footer > .footer_inner .footer_terms {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_terms > .footer_block_row2 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_terms > .footer_block_row2  > span {
    margin: 0 10px;
}
footer > .footer_inner .footer_copyright {
    margin: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_copyright p {
    font-size: 12px;
}