/* 전체 */
* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', 'Noto Sans KR', sans-serif;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #252525;}
input, textarea {outline: none;}

#wrapper {
    /* overflow: hidden; */
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
}

/* 여백 */
.blank30 {
    height: 30px;
}
.blank60 {
    height: 60px;
}
.blank80 {
    height: 80px;
}
.blank120 {
    height: 120px;
}

/* 헤더 */
header {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
    min-width: 1200px;
}
header > .header_inner {
    height: 160px;
    background-color: #fff;
    border-bottom: 1px solid #faf4e4;
}
header > .header_inner .header_flex {
    position: relative;
    width: 1130px;
    height: 100%;
    margin: 0 auto;
}
header > .header_inner .header_logo {
    position: relative;
    height: 100%;
}
header > .header_inner .header_logo > a {
    position: absolute;
    top: 33px;
}
header > .header_inner .header_logo img {
    height: 93px;
}
header > .header_inner .header_logo > .logo {
    font-size: 44px;
    font-weight: 800;
    position: absolute;
    top: 60px;
    left: 65px;
    color: #bbd444;
}
header > .header_inner .header_service {
    position: absolute;
    top: 12px;
    right: 30px;
}
header > .header_inner .header_service > a {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 300;
}
header > .header_inner .header_service > a:hover {
    font-weight: 400;
}
header > .header_inner .header_service > .dropdown_menu {
    display: inline-block;
}
header > .header_inner .header_service > .dropdown_menu > button {
    margin-left: 30px;
    font-size: 12px;
    font-weight: 300;
    border: none;
    background: #fff;
    font-family: inherit; 
    cursor: pointer;
}
header > .header_inner .header_service > .dropdown_menu img {
    width: 9px;
    padding-left: 2px;
}
header > .header_inner .header_service > .dropdown_menu > button:hover {
    font-weight: 400;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
    z-index: 1;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content > a {
    float: none;
    padding: 12px 16px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    text-align: left;
}
header > .header_inner .header_service > .dropdown_menu > .dropdown_content > a:hover {
    background: #dcdee0;
}



header > .header_inner .header_searchBar {
    position: absolute;
    top: 74px;
    left: 231px;
}
header > .header_inner .header_searchBar .search {
    height: 34px;
    width: 374px;
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 15px;
}
header > .header_inner .header_searchBar #search-box {
    width: 340px;
    padding: 0 0 0 20px;
    font-size: 24px;
    border: none;
    background: transparent;
}
header > .header_inner .header_searchBar .btnSearch {
    border: none;
    margin-left: 5px;
    padding-top: 4px;
    background: transparent;
}

#reserv_reserv {
    width: 1000px;
    margin: 0 auto 100px auto;
}

#content {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

#reserv_info_left {
    float: left;
    width: 564px;
    margin: 40px 88px 0 0;
}

#reserv_info_right {
    float: right;
    width: 310px;
    margin: 90px 31px 0 0;
    background: rgb(250,250,250);
}

/** 예약자 정보 */
#reserv_chkin {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

#reserv_chkin > h3 {
    display: block;
    margin: 54px 0 42px 0;
    font-size: 20px;
    font-weight: 600;
}

#reserv_chkin > strong {
    display: block;
    padding: 0 0 12px 0;
    font-size: 18px;
    font-weight: normal;
    color: rgba(0,0,0,0.56);
}

#reserv_chkin > p:nth-of-type(1) {
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 8px 14px 8px 16px;
}

#reserv_chkin > p:nth-of-type(1) > input {
    border: none;
    background: none;
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.56);
}

#reserv_chkin > p:nth-of-type(2) {
    height: 46px;
    padding-top: 5px;
    font-size: 14px;
    color: rgb(230,28,81);
}

#reserv_chkin > div {
    margin-top: 30px;
}

#reserv_chkin > div > strong {
    display: block;
    padding: 0 0 12px 0;
    font-size: 18px;
    font-weight: normal;
    color: rgba(0,0,0,0.56);
}

#reserv_chkin > div > span {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
}

/** 예약자 정보 - 휴대폰 */
#reserv_chkin .phone {
    position: relative;
}

#reserv_chkin .phone > input {
    box-sizing: border-box;
    padding: 8px 14px 8px 16px;
    width: 100%; height: 48px;
    border: none;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0,0,0,.56);
}

#reserv_chkin .phone > button {
    position: absolute;
    width: 30px; height: 30px;
    right: 10px; top: 9px;
    border: none;
    background: url(../img/letter-x.png);
}

/** 예약자 정보 - 방문 방법 */
#reserv_chkin .visit {
    position: relative;
    margin-top: 30px;
    padding: 0;
    text-align: left;
}

#reserv_chkin .visit > strong {
    position: relative;
    top: 0;
    left: 0;
    height: 32px;
    padding: 0;
    color: rgba(0,0,0,0.56);
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    text-align: left;
}

#reserv_chkin .visit > div {}

#reserv_chkin .visit > div > button {
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid rgb(242,17,76);
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    color: rgb(230,28,81);
}

#reserv_chkin .visit > div > button > span {
    font-size: 15px;
}

#reserv_chkin .visit > span {}

/** 할인 수단 선택 */
#price {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

#price > h3 {
    display: block;
    margin: 54px 0 42px 0;
    font-size: 20px;
    font-weight: 600;
}

#price .product_amount {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    color: rgba(0,0,0,.56);
}

#price .product_amount > strong {
    font-size: 18px;
    color: rgba(0,0,0,.56);
}

#price .product_amount > b {
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

#price .discount_container {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#price .discount_header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

#price .discount_header .discount_button {
    padding: 0 14px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    background: #fafafa;
    font-size: 16px;
    color: rgba(0,0,0,.56);
}

#price .discount_header .discount_input {
    margin-left: 4px;
    margin-right: 4px;
    padding: 8px 14px 8px 16px;
    width: 100px;
    height: 100%;
    background: none;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    color: rgba(0,0,0,.56);
    font-size: 18px;
    text-align: right;
}

#price .discount_header > div > div > span {
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

#price .discount_coupons_amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
    color: rgba(0,0,0,.48);
}

#price .discount_coupons_amount > span {
    font-size: 15px;
}

/** 결제수단 */
#pay_select {
    margin-top: 50px;
}

#pay_select > h3 {
    display: block;
    margin-bottom: 19px;
    font-size: 20px;
    font-weight: bold;
}

#pay_select #payment_select {
    width: 288px; height: 48px;
    padding: 0 12px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    background-size: 25px auto;
    font-size: 18px;
    color: rgba(0,0,0,.56);
    cursor: pointer;
    margin-bottom: 25px;
}

#pay_select #payment_select > option {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.56); 
}

/** 동의 */
#agree {
    padding-left: 4px;
}

#agree #checkAll { 
    font-weight: 700; 
    position: relative;
    padding-top: 11px;
    padding-bottom: 10px;
    line-height: 1.2;
    padding-left: 37px;
}

#agree #checkAll > label { cursor: pointer; }

#agree #checkAll > label > input { 
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%; left: 0;
    margin-top: -12px;
 }

#agree #checkAll > label > span { 
    color: rgba(0,0,0,.87);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
 }

#agree > p {
    position: relative;
    padding-top: 11px;
    padding-bottom: 10px;
    line-height: 1.2;
    padding-left: 37px;
}

#agree > p > input {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
}

#agree > p > span {
    display: inline-block;
    color: rgba(0,0,0,.56);
    cursor: pointer;
}

#agree > p > span > b {
    font-weight: 400;
    color: #e61c51;
    font-size: 15px;
}

#agree > p > span > i {
    font-style: normal;
    text-decoration: underline;
    font-size: 15px;
}

/** 오른쪽 정보 */
#reserv_info_right .info {
    margin: 39px 24px 0 24px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    background: none;
}

#reserv_info_right .info_name {
    height: auto;
    margin: 0 0 29px 0;
    padding: 0;
    border-bottom: none;
    line-height: 32px;
    text-align: left;
}

#reserv_info_right .info_name > strong {
    display: block !important;
    position: relative;
    margin-bottom: 6px;
    font-size: 16px !important;
    line-height: 1;
    color: rgba(0,0,0,0.38);
}

#reserv_info_right .info > p {
    position: relative;
    margin-bottom: 29px;
    padding-left: 0;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0,0,0,0.87);
    text-align: left;
}

#reserv_info_right .info > p > strong {
    display: block !important;
    position: relative;
    margin-bottom: 6px;
    font-size: 18px !important;
    line-height: 1;
    color: rgba(0,0,0,0.38);
}

#reserv_info_right .total_price {
    padding: 39px 24px 33px!important;
}

#reserv_info_right .total_price > p {}

#reserv_info_right .total_price > p > strong {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

#reserv_info_right .total_price > p > strong > b {
    font-size: 18px;
    font-weight: 700;
}

#reserv_info_right .total_price .in_price {
    display: block;
    padding: 19px 0 23px;
    font-size: 24px;
    font-weight: 700;
    color: #e61c51;
}

#reserv_info_right .total_price > ul {}

#reserv_info_right .total_price > ul > li {
    margin-bottom: 2px;
    padding-left: 16px;
    background: url(//image.goodchoice.kr/images/web_v3/ico_bul.png) 0 0 no-repeat;
    background-size: 14px auto;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0,0,0,.72);
}

#reserv_info_right .total_price > ul > li > span { 
    font-size: 16px;
    color: #e61c51; 
}

#reserv_info_right .btn_pay {
    display: block;
    width: 100%; height: 56px;
    border: none;
    font-size: 18px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    background: #bbd444
}

/* 푸터 */
footer {
    min-width: 1200px;
    background-color: #FCF951;
    border-top: 1px solid #faf4e4;
}
footer > .footer_inner {
    width: 1130px;
    margin: 0 auto;
}
footer > .footer_inner > .footer_menu {
    margin-top: 30px;
    position: relative;
}
footer > .footer_inner > .footer_menu a {
    font-size: 16px;
    margin-right: 50px;
}
footer > .footer_inner .footer_block {
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_block > .footer_block_left {
    flex: 0 0 auto;
    width: 75%;
    box-sizing: border-box;
}
footer > .footer_inner .footer_block_row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_1 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_1 > a {
    font-size: 30px;
    font-weight: 900;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_2 {
    flex: 0 0 auto;
    width: 100%;
    font-size: 17px;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_3 {
    margin-top: 15px;
    line-height: 17px;
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block > .footer_block_right {
    flex: 0 0 auto;
    width: 25%;
    box-sizing: border-box;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_4 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_4 > a {
    font-size: 17px;
    font-weight: 500;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_5 {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 5px;
    line-height: 17px;
    font-size: 14px;
}
footer > .footer_inner .footer_block .footer_block_row > .row_col_5  > span {
    color: #F2552C;
    font-size: 14px;
    font-weight: 600;
}
footer > .footer_inner .footer_terms {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
footer > .footer_inner .footer_terms > .footer_block_row2 {
    flex: 0 0 auto;
    width: 100%;
}
footer > .footer_inner .footer_terms > .footer_block_row2  > span {
    margin: 0 10px;
}
footer > .footer_inner .footer_copyright {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
footer > .footer_inner .footer_copyright p {
    font-size: 12px;
}