<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/businessStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col0">
                            <div class="selectProd">
                                <select>
                                    <option value="0">서울조선호텔</option>
                                    <option value="1">푸른제주펜션</option>
                                    <option value="2">보우힐펜션</option>
                                    <option value="3">파라다이스호텔부산</option>
                                    <option value="4">프리지아펜션</option>
                                </select>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="today_status">
                                <!-- single item1 -->
                                <div class="single_status">
                                    <p>미배정 객실</p>
                                    <h3>0</h3>
                                </div>
                                <!-- single item2 -->
                                <div class="single_status">
                                    <p>체크인</p>
                                    <h3>1/1</h3>
                                </div>
                                <!-- single item3 -->
                                <div class="single_status">
                                    <p>체크아웃</p>
                                    <h3>2/4</h3>
                                </div>
                                <!-- single item4 -->
                                <div class="single_status">
                                    <p>예약 요청</p>
                                    <h3>12</h3>
                                </div>
                                <!-- single item5 -->
                                <div class="single_status">
                                    <p>취소 예약</p>
                                    <h3>1</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blank30"></div>
                    <div class="main_content_div">
                        <div class="col1_2">
                            <div class="col1_2_header">
                                <h3>예상 거래액</h3>
                            </div>
                                    <div id="donutchart" style="width: 100%; height: 500px;"></div>
                        </div>
                        <div class="col1_2">
                            <div class="col1_2_header">
                                <h3>객실 점유율</h3>
                            </div>
                            <div class="col1_2_graph">
                                    <div class="sales_table">
                                        <div class="sales_div">
                                            <table>
                                                <tr>
                                                    <th>객실</th>
                                                    <th>주문건수</th>
                                                    <th>매출액</th>
                                                    <th>비율</th>
                                                    <th>그래프</th>
                                                </tr>
                                                <tr>
                                                    <td>A룸</td>
                                                    <td>1</td>
                                                    <td>123,000</td>
                                                    <td>36%</td>
                                                    <td>
                                                        <progress id="progress1" value="36" min="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>B룸</td>
                                                    <td>2</td>
                                                    <td>234,000</td>
                                                    <td>52%</td>
                                                    <td>
                                                        <progress id="progress1" value="52" min="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>C룸</td>
                                                    <td>3</td>
                                                    <td>123,000</td>
                                                    <td>16%</td>
                                                    <td>
                                                        <progress id="progress1" value="16" min="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>D룸</td>
                                                    <td>4</td>
                                                    <td>123,000</td>
                                                    <td>76%</td>
                                                    <td>
                                                        <progress id="progress1" value="76" min="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>E룸</td>
                                                    <td>5</td>
                                                    <td>123,000</td>
                                                    <td>36%</td>
                                                    <td>
                                                        <progress id="progress1" value="36" min="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>F룸</td>
                                                    <td>6</td>
                                                    <td>123,000</td>
                                                    <td>12%</td>
                                                    <td>
                                                        <progress id="progress1" value="12" min="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>G룸</td>
                                                    <td>7</td>
                                                    <td>123,000</td>
                                                    <td>36%</td>
                                                    <td>
                                                        <progress id="progress1" value="36" min="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </div>
                    <div class="blank30"></div>
                    <div class="main_content_div2">
                        <h3>공지사항</h3>
                        <a class="more" href="#">> 더보기</a>
                        <div class="col2">
                            <form action="#">
                                <div class="noticeList">
                                    <ul>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>등록일</li>
                                    </ul>
                                    <ul>
                                        <li>1</li>
                                        <li class="noticeTitle">이용약관 개정 안내</li>
                                        <li>2023.02.25</li>
                                    </ul>
                                    <ul>
                                        <li>2</li>
                                        <li class="noticeTitle">이용약관 개정 안내</li>
                                        <li>2023.02.25</li>
                                    </ul>
                                </div>
                                <div class="paging">
                                    <div class="opg_1">
                                        <button type="button"><</button>
                                        <span><b>1</b>&nbsp;/&nbsp;<s>3</s></span>
                                        <button type="button">></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                    <div class="main_content_div2">
                        <h3>리뷰</h3>
                        <a class="more" href="#">> 더보기</a>
                        <div class="col2">
                            <form action="#">
                                <div class="noticeList2">
                                    <ul>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>닉네임</li>
                                        <li>작성일</li>
                                    </ul>
                                    <ul>
                                        <li>1</li>
                                        <li class="noticeTitle">정말 좋았어요</li>
                                        <li>퉁퉁이</li>
                                        <li>2023.02.25</li>
                                    </ul>
                                    <ul>
                                        <li>2</li>
                                        <li class="noticeTitle">방이 깨끗해요</li>
                                        <li>별이</li>
                                        <li>2023.02.25</li>
                                    </ul>
                                </div>
                                <div class="paging">
                                    <div class="opg_1">
                                        <button type="button"><</button>
                                        <span><b>1</b>&nbsp;/&nbsp;<s>3</s></span>
                                        <button type="button">></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <!-- 구글 차트 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                ['payment', 'Percent'],
                ['신용/체크카드', 35],
                ['간편계좌이체', 8],
                ['토스페이', 7],
                ['네이버페이', 3],
                ['PAYCO', 23],
                ['법인카드', 2],
                ['휴대폰결제', 27]
                ]);

                var options = {
                    title: '결제현황',
                    titleTextStyle: {fontSize:18, bold: true},
                    fontSize: 15,
                    pieHole: 0.3,
                    legend: {
                    position: 'bottom',
                    maxLines: 7
                    },
                    colors: ['#4F650D', '#637A15', '#7F9822', '#9CB631', '#BBD444','#D3E570','#E4F28F'],
                };

                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);
            }
    </script>
</th:block>
</html>