<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=219050d1872ccb773b543fa419402493&libraries=services"></script>
    <!-- 다음 주소 API -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/common/zipCode.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::businessFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col2">
                            <div class="stayZip">
                                <button type="button" onclick="postcode()">주소찾기</button>
                                <input type="text" id="zip" readonly>
                            </div>
                            <div class="stayAddr1">
                                <input type="text" id="addr" readonly>
                            </div>
                            <div class="stayAddr2">
                                <input type="text" id="addrDetail" placeholder="상세주소 입력">
                            </div>
                            <div id="map"></div>
                            <div id="resultDiv"></div>
                        </div>
                        <div>
                            <input type="button" id="BtnButton" value="버튼">
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
<script th:inline="javascript">

   const btnButton = document.getElementById("BtnButton");
   const addrInput = document.getElementById("addr");

   btnButton.addEventListener("click", function() {
     console.log(addrInput.value);

       // 주소-좌표 변환 객체를 생성합니다
       var geocoder = new kakao.maps.services.Geocoder();

       // 주소로 좌표를 검색합니다
        geocoder.addressSearch(addrInput.value, function(result, status) {

            // 정상적으로 검색이 완료됐으면
             if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                console.log("coords: " + coords);
                console.log(result[0].y);   // 위도 (acc_lattitude)
                console.log(result[0].x);   // 경도 (acc_longtitude)

                var message = '위도: ' + result[0].y + '경도: ' + result[0].x;
                var resultDiv = document.getElementById("resultDiv");
                resultDiv.innerHTML = message;
            }
        });


   });





</script>
</th:block>
</html>
