<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SummerNoteExample</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- 서머노트를 위해 추가해야할 부분 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <!-- include summernote css/js -->
   <script th:src="@{/js/admin/summernote-ko-KR.js}"></script>
   <script th:src="@{/js/admin/summernote-lite.css}"></script>
   <script th:src="@{/js/admin/summernote-lite.js}"></script>

</head>
<body>
<div class="container">
  <textarea class="summernote" name="editordata"></textarea>
</div>
<script>
$('.summernote').summernote({
	  height: 150,
	  lang: "ko-KR"
	});
</script>
</body>
</html>