<html xmlns:th="http://www.thymeleaf.org">
    <span th:if="${diaries.size > 0}">[[${diaries.get(0).acc_name}]]</span>
    <ul class="diary_list">
        <li th:each="diary : ${diaries}" th:attr="data-page=${ph.sc.page},data-endpage=${ph.totalPage}">
            <a href="#">
                <img th:if="${not #strings.contains(diary.arti_thumb,'/')}"
                     th:src="|@{/}img/diary/${diary.arti_no}/c9e52daa-7cf5-4cb7-ae91-26f26ef6c12c.jpg|">
                <img th:if="${#strings.contains(diary.arti_thumb,'/')}"
                     th:src="|@{/}img/diary/${diary.arti_no}/${#strings.substringBefore(diary.arti_thumb, '/')}|" >
            </a>
        </li>
    </ul>
    <ul th:if="${diaries.size() == 0}" style="font-size:14px; text-align: center;">
        등록된 여행일기가 없습니다.
    </ul>
</html>