<html xmlns:th="http://www.thymeleaf.org">

<div class="score_top">
    <strong>추천해요</strong>
    <div class="score_wrap">
        <div class="score_star rating4">Designed by starline / Freepik</div>
        <div class="num">5</div>
    </div>
    <p>
        전체 리뷰
        <b>9999</b>
        <span>|</span>
        제휴점 답변
        <b>2</b>
    </p>
</div>
<ul>
    <li>
        <div class="guest">
            <p class="pic"></p>
            <span class="best_review"></span>
            <strong>여기만한 곳은 없을 거에요.</strong>
            <div class="score_wrap_sm">
                <div class="score_star rating4"></div>
                <div class="num">5</div>
            </div>
            <div class="name">
                <b>테스트 객실</b>
            </div>
            <div class="txt">
                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
                테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트
            </div>
            <div class="gallery_re">
                <div class="gallerySlider">
                    <div><img th:src="@{/images/product/testImg/apollo_17_blue_marble_photo_dec_7_1972_as17-148-22727.jpg}"></div>
                </div>
            </div>
            <span class="date">2023/02/28 방문</span>
        </div>
        <div class="boss">
            <p class="pic">
                <img th:src="@{/images/index/lemo_logo-removebg-preview.png}" alt="lemo">
            </p>
            <strong>제휴점 답변</strong>
            <div class="txt">
                소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.소중한 답변 감사드립니다.
            </div>
            <span class="date">1일 전</span>
        </div>
    </li>
</ul>

</html>