<!--
    날짜 : 2023/02/28
    이름 : 황원진
    내용 : 마이페이지 review-list HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" th:href="@{/css/my/my.css}">

    </th:block>
    <th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                나의 리뷰
                            </span>
                        </div>
                        <div class="my_Review_List">
                            <div class="selectReview">
                                <select>
                                    <option value="0">전체보기</option>
                                    <option value="1">작성한 리뷰</option>
                                    <option value="2">작성할 리뷰</option>
                                </select>
                            </div>
                            <div class="visitList">
                                <div class="visit_info">
                                    <div class="visit_img">
                                        <img th:src="@{/images/my/hotel_main.jpg}" alt>
                                    </div>
                                    <div>
                                        <div class="visit_tit">
                                            부산 힐튼 호텔
                                        </div>
                                        <div class="visit_checkin">
                                            <span>
                                                체크인<br>
                                                2023-01-13
                                            </span>
                                        </div>
                                        <div class="visit_checkout">
                                            <span>
                                                체크아웃<br>
                                                2023-01-14
                                            </span>
                                        </div>
                                        <div>
                                            <a th:href="@{#}" class="review_btn">리뷰작성</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="visit_info">
                                    <div class="visit_img">
                                        <img th:src="@{/images/my/hotel_main.jpg}" alt>
                                    </div>
                                    <div>
                                        <div class="visit_tit">
                                            부산 힐튼 호텔
                                        </div>
                                        <div class="visit_checkin">
                                            <span>
                                                체크인<br>
                                                2023-01-13
                                            </span>
                                        </div>
                                        <div class="visit_checkout">
                                            <span>
                                                체크아웃<br>
                                                2023-01-14
                                            </span>
                                        </div>
                                        <div>
                                            <a th:href="@{#}" class="review_btn">리뷰작성</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="visit_info">
                                    <div class="visit_img">
                                        <img th:src="@{/images/my/hotel_main.jpg}" alt>
                                    </div>
                                    <div>
                                        <div class="visit_tit">
                                            부산 힐튼 호텔
                                        </div>
                                        <div class="visit_checkin">
                                            <span>
                                                체크인<br>
                                                2023-01-13
                                            </span>
                                        </div>
                                        <div class="visit_checkout">
                                            <span>
                                                체크아웃<br>
                                                2023-01-14
                                            </span>
                                        </div>
                                        <div>
                                            <a th:href="@{#}" class="review_btn">리뷰작성</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="visit_info">
                                    <div class="visit_img">
                                        <img th:src="@{/images/my/hotel_main.jpg}" alt>
                                    </div>
                                    <div>
                                        <div class="visit_tit">
                                            부산 힐튼 호텔
                                        </div>
                                        <div class="visit_checkin">
                                            <span>
                                                체크인<br>
                                                2023-01-13
                                            </span>
                                        </div>
                                        <div class="visit_checkout">
                                            <span>
                                                체크아웃<br>
                                                2023-01-14
                                            </span>
                                        </div>
                                        <div>
                                            <a th:href="@{#}" class="review_btn2">리뷰보기</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="visit_info">
                                    <div class="visit_img">
                                        <img th:src="@{/images/my/hotel_main.jpg}" alt>
                                    </div>
                                    <div>
                                        <div class="visit_tit">
                                            부산 힐튼 호텔
                                        </div>
                                        <div class="visit_checkin">
                                            <span>
                                                체크인<br>
                                                2023-01-13
                                            </span>
                                        </div>
                                        <div class="visit_checkout">
                                            <span>
                                                체크아웃<br>
                                                2023-01-14
                                            </span>
                                        </div>
                                        <div>
                                            <a th:href="@{#}" class="review_btn2">리뷰보기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 페이징 -->
                        <div class="paging">
                            <span class="prev"><a th:href="@{#}"></a></span>
                            <span class="on"><a th:href="@{#}">1</a></span>
                            <span><a href="#">2</a></span>
                            <span><a href="#">3</a></span>
                            <span><a href="#">4</a></span>
                            <span><a href="#">5</a></span>
                            <span class="next"><a th:href="@{#}"></a></span>
                        </div>
                    </div>  
                </section>
                <!-- 우측 미니 사이드바 -->
                <div class="btn_quick">
                    <ul>
                        <li class="btn_wishlist">
                            <a href="javascript:;">
                                <img th:src="@{/images/index/empty-heart.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/naver_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/kakao_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToTop" onclick="return false;">
                                <img th:src="@{/images/index/top_btn.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToBottom" onclick="return false;">
                                <img th:src="@{/images/index/bottom_btn.png}">
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
    </th:block>
    <th:block layout:fragment="script">
        <script>

        </script>
    </th:block>
</html>