<!--
    날짜 : 2023/02/28
    이름 : 황원진
    내용 : 마이페이지 review-list HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" th:href="@{/css/my/my.css}">

    </th:block>
    <th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                나의 리뷰
                            </span>
                        </div>
                        <div class="my_Review_List">
                            <div class="selectReview">
                                <select name="reviewStat" aria-label="State">
                                    <option value="0">전체보기</option>
                                    <option value="1">작성한 리뷰</option>
                                    <option value="2">작성할 리뷰</option>
                                </select>
                            </div>
                            <div class="visitList">
                                <p th:if="${reviews.size() == 0}">숙박완료된 내역이 없습니다.</p>
                                <div class="visit_info" th:each="review:${reviews}">
                                    <div class="visit_img">
                                        <img th:src="|@{/}img/product/${review.province_no}/${review.acc_id}/${#strings.substringBefore(review.acc_thumbs, '/')}|" alt>
                                    </div>
                                    <div>
                                        <div class="visit_tit">
                                            [[${review.acc_name}]]
                                        </div>
                                        <div class="visit_checkin">
                                            <span>
                                                체크인<br>
                                                [[${review.res_checkIn}]]
                                            </span>
                                        </div>
                                        <div class="visit_checkout">
                                            <span>
                                                체크아웃<br>
                                                [[${review.res_checkOut}]]
                                            </span>
                                        </div>
                                        <div>
                                            <a th:href="@{/my/review/write ( res_no = ${review.res_no}, acc_id= ${review.acc_id} )}" class="review_btn"  th:if="${review.reviewStat == 0}">리뷰작성</a>
                                            <a th:href="@{/my/review/view  ( res_no = ${review.res_no} )}" class="review_btn2" th:if="${review.reviewStat != 0}">리뷰보기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 페이징 -->
                        <div class="paging" th:object="${ph}" th:unless="${reviews.size() == 0}">
                            <span th:if="*{showPrev}">
                                <a th:href="@{/my/review/list} + ${ph.sc.getQueryString(ph.beginPage-1)}">
                                    <img th:src="@{/images/product/left.png}" alt="previous">
                                </a>
                            </span>
                            <span th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}" th:class="${num == ph.sc.page} ? 'on':'off'">
                                <a th:href="@{/my/review/list} + ${ph.sc.getQueryString(num)}"> [[${num}]] </a>
                            </span>
                            <span th:if="*{showNext}">
                                <a th:href="@{/my/review/list} + ${ph.sc.getQueryString(ph.endPage+1)}">
                                    <img th:src="@{/images/product/right.png}" alt="next">
                                </a>
                            </span>
                        </div>
                    </div>  
                </section>
                <!-- 우측 미니 사이드바 -->
                <div class="btn_quick">
                    <ul>
                        <li class="btn_wishlist">
                            <a href="javascript:;">
                                <img th:src="@{/images/index/empty-heart.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/naver_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/kakao_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToTop" onclick="return false;">
                                <img th:src="@{/images/index/top_btn.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToBottom" onclick="return false;">
                                <img th:src="@{/images/index/bottom_btn.png}">
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
    </th:block>
    <th:block layout:fragment="script">
        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const reviewStat = urlParams.get('reviewStat');

            $(function(){
                $('select[name=reviewStat]').change(function(){

                    let reviewStat = $(this).val();

                    location.href = "/Lemo/my/review/list?reviewStat="+reviewStat;
                });

                $('option[value='+reviewStat+']').prop('selected', true);
            });
        </script>
    </th:block>
</html>