<!--
    날짜 : 2023/03/04
    이름 : 황원진
    내용 : 마이페이지 나의 리뷰 modify HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/my/my.css}">


    <!--dropzone-->
    <script th:src="@{https://unpkg.com/dropzone@5/dist/min/dropzone.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://unpkg.com/dropzone@5/dist/min/dropzone.min.css}" type="text/css"/>
</th:block>
<th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                나의 리뷰
                            </span>
                        </div>
                        <form class="review modify">
                            <div class="my_review_modify">
                                <div class="my_review_nick">레몬나르고빛갚으리오<i>&nbsp님의 리뷰</i></div>
                                <div class="my_review_m_tit">
                                    <div>
                                        <input type="text" placeholder="제목을 입력해주세요" maxlength="100">
                                    </div>
                                </div>
                                <div class="my_review_m_place">
                                    <span>부산 힐튼 호텔 슈페리어 더블</span>
                                </div>
                                <div class="my_review_m_days">
                                    <span>2023-02-13 ~ 2023-02-14</span>
                                </div>
                                <div class="my_review_m_rating">
                                    <div class="reating_q">
                                        <span>만족하셨나요?</span>
                                    </div>
                                    <!-- 임시 평점 -->
                                    <div class="star-ratings">
                                        <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                                        <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                                        <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                                        <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                                        <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
                                    </div>
                                </div>
                                <div class="my_review_m_textbox">
                                    <div class="my_review_m_text">
                                        <textarea placeholder="내용을 입력해주세요"></textarea>
                                    </div>
                                </div>
                                <div class="dropzone" id="fileDropzone">
                                    <div>
                                        <button class="dz-default dz-message" type="button">
                                            사진을 첨부하시려면 클릭하거나 드로우 앤 드롭해주세요
                                        </button>
                                    </div>
                                </div>
                                <div class="blank30"></div>
                            </div>
                            <div class="my_review_m_complete">
                                <button type="submit" id="btn_dropzone">수정완료</button>
                            </div>
                            <div class="my_review_m_cancel">
                                <a th:href="@{#}">취소</a>
                            </div>
                        </form>
                    </div>  
                </section>
                <!-- 우측 미니 사이드바 -->
                <div class="btn_quick">
                    <ul>
                        <li class="btn_wishlist">
                            <a href="javascript:;">
                                <img th:src="@{/images/index/empty-heart.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/naver_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/kakao_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToTop" onclick="return false;">
                                <img th:src="@{/images/index/top_btn.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToBottom" onclick="return false;">
                                <img th:src="@{/images/index/bottom_btn.png}">
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{/js/admin/dragNdrop.js}"></script>
            <script>
            let url = "/admin/cs/event/write";
            let maxFiles = 1;
                    $(function(){

                        // 취소버튼 확인
                        $('.my_review_m_cancel').click(function(){
                            confirm("수정을 취소하시겠습니까?");
                        });
                });
            </script>
        </th:block>
</html>