<!--
    날짜 : 2023/03/01
    이름 : 황원진
    내용 : 마이페이지 review-view HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" th:href="@{/css/my/my.css}">

        <!-- swiperSlider -->
        <link rel="stylesheet" th:href="@{https://unpkg.com/swiper@7/swiper-bundle.min.css}" />
        <script th:src="@{https://unpkg.com/swiper@7/swiper-bundle.min.js}"></script>
    </th:block>
    <th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                나의 리뷰
                            </span>
                        </div>
                        <div class="my_review_view">
                            <div class="my_review_tit">여기만한 곳은 어디에도 없을 거예요</div>
                            <div class="my_review_rating">
                                <!-- 임시 평점 -->
                                <div class="star-ratings">
                                    <div class="star-ratings-fill space-x-2 text-lg":style="{ width: ratingToPercent + '%' }">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                    <div class="star-ratings-base space-x-2 text-lg">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                </div>
                            </div>
                            <div class="my_review_days">
                                <span>부산 힐튼 호텔 슈페리어 더블</span>
                                <p>2023-02-13 ~ 2023-02-14</p>
                            </div>
                            <div class="my_review_textbox">
                                <div class="my_review_text">
                                    갑자기 지방 출장이 잡혀서 급하게 숙소를 알아봤는데 마침 너무 좋은 위치에 리베
                                    라호텔이 있더라구요.<br>
                                    그래서 바로 예약했는데, 급하게 예약을 해서 기대를 안했는데 생각보다 너무 깔끔
                                    해서 좋았습니다.<br>
                                    물론, 오래된 호텔이기는 하지만 중후함이라고 해야하나? 클래식하면서 관리가 잘
                                    된 모습에 기분이 좋아졌습니다.<br>
                                    외국에서는 이렇게 오래됐지만 관리가 잘 된 호텔이 인기 많다고 하더니 그 이유를
                                    알겠더라구요.<br>
                                    인포 직원분들부터 너무 친절하셨고 따뜻하게 안내해주셔서 묶는 내내 기분이 좋았
                                    습니다.
                                </div>
                            </div>
                            <div class="review_swiper-container">
                                <!-- swiper Slider -->
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img th:src="@{/images/my/hotel_main.jpg}" alt="#" /></div>
                                        <div class="swiper-slide"><img th:src="@{/images/my/hotel_main1.jpg}" /></div>
                                        <div class="swiper-slide"><img th:src="@{/images/my/hotel_main2.jpg}" /></div>
                                        <div class="swiper-slide"><img th:src="@{/images/my/hotel_main3.png}" /></div>
                                        <div class="swiper-slide"><img th:src="@{/images/my/hotel_main.jpg}" /></div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                            </div>
                            <div class="review_comment">
                                <div class="review_commentarea">
                                    이용해주셔서 감해주셔서 감사합니다이용해주셔서 감사합니다
                                </div>
                            </div>
                            <div class="blank30"></div>
                        </div>
                        <div class="my_review_v_del">
                            <a th:href="@{#}">삭제</a>
                        </div>
                        <div class="my_review_v_modify">
                            <a th:href="@{#}">수정</a>
                        </div>
                        <div class="my_review_v_list">
                            <a th:href="@{#}">목록으로</a>
                        </div>
                    </div>  
                </section>
                <!-- 우측 미니 사이드바 -->
                <div class="btn_quick">
                    <ul>
                        <li class="btn_wishlist">
                            <a href="javascript:;">
                                <img th:src="@{/images/index/empty-heart.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/naver_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img th:src="@{/images/index/kakao_quick.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToTop" onclick="return false;">
                                <img th:src="@{/images/index/top_btn.png}">
                            </a>
                        </li>
                        <li>
                            <a th:href="@{#}" id="scrollToBottom" onclick="return false;">
                                <img th:src="@{/images/index/bottom_btn.png}">
                            </a>
                        </li>
                    </ul>
                </div>
            </main>
            </th:block>
            <th:block layout:fragment="script">
                <script th:src="@{/js/my/myReviewViewJS.js}"></script>
                <script>

                </script>
            </th:block>
</html>