<!--
    날짜 : 2023/03/04
    이름 : 황원진
    내용 : 마이페이지 나의 리뷰 write HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/my/my.css}">
    <!--dropzone-->
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <script th:src="@{/js/my/review_write.js}"></script>
</th:block>
<th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                나의 리뷰
                            </span>
                        </div>
                        <form id="btn_upload">
                            <div class="my_review_write">
                                <div class="my_review_nick">[[${#authentication.principal.nick}]]<i>&nbsp님의 리뷰</i></div>
                                <div class="my_review_w_tit">
                                    <div>
                                        <input type="text" name="revi_title" placeholder="제목을 입력해주세요" maxlength="100">
                                    </div>
                                </div>
                                <div class="my_review_w_place">
                                    <span>[[${review.acc_name}]]</span>
                                </div>
                                <div class="my_review_w_days">
                                    <span>[[${review.res_checkIn}]] ~ [[${review.res_checkOut}]]</span>
                                </div>
                                <div class="my_review_w_rating">
                                    <div class="reating_q">
                                        <span>만족하셨나요?</span>
                                    </div>
                                    <!-- 임시 평점 -->
                                    <div class="star-ratings">
                                        <input type="radio" name="revi_rate" value="5" id="rate1"><label for="rate1">⭐</label>
                                        <input type="radio" name="revi_rate" value="4" id="rate2"><label for="rate2">⭐</label>
                                        <input type="radio" name="revi_rate" value="3" id="rate3"><label for="rate3">⭐</label>
                                        <input type="radio" name="revi_rate" value="2" id="rate4"><label for="rate4">⭐</label>
                                        <input type="radio" name="revi_rate" value="1" id="rate5"><label for="rate5">⭐</label>
                                    </div>
                                </div>
                                <div class="my_review_w_textbox">
                                    <div class="my_review_w_text">
                                        <textarea name="revi_content" placeholder="내용을 입력해주세요"></textarea>
                                    </div>
                                </div>
                                <div class="dropzone" id="fileDropzone">
                                    <div>
                                        <button class="dz-default dz-message" type="button">
                                            사진을 첨부하시려면 클릭하거나 드로우 앤 드롭해주세요
                                        </button>
                                    </div>
                                </div>
                                <div class="blank30"></div>
                            </div>
                            <div class="my_review_w_complete">
                                <button type="submit" id="btn_dropzone">작성완료</button>
                            </div>
                            <div class="my_review_cancel">
                                <a th:href="@{/my/review/list}">취소</a>
                            </div>
                        </form>
                    </div>  
                </section>
            </main>
            </th:block>
            <th:block layout:fragment="script"></th:block>
</html>