/* 고객센터 공통 css */
main > #cs {
    width: 1130px;
    min-height: 400px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 100px;
    overflow: hidden;
}


/* 카테고리 */
.category {
    display: block;
    float: left;
    width: 238px;
    padding-left: 31px;
}

.category > span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.category > ul li {
    margin-bottom: 26px;
}

.category > ul li a {
    display: block;
    font-size: 18px;
    color: rgba(0,0,0,0.56);
}

.category > ul li a.on {
    font-size: 18px;
    font-weight: bold;
    color: #bbd444;
}


/* 공지사항 */
.content {
    float: right;
    width: 800px;
    margin-right: 31px;
}

.tab {
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.tab > span {
    display: inline-block;
    float: none;
    position: relative;
    width: auto;
    height: 40px;
    margin-right: 22px;
    line-height: normal;
    color: #252525;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;

    border-bottom: 1px solid #bbd444;
}


.tab .new {
    font-style: italic;
    color: #bbd444;
}

.show_list li {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.show_list li .list_n {
    display: block;
    position: relative;
    height: auto;
    margin-bottom: 0;
    padding: 38px 24px 35px 0;
    border-radius: 0;
    background: #fff;
    line-height: normal;
    cursor: pointer;
    color: rgba(0,0,0,0.87);
    box-sizing: border-box;
}

.show_list li .list_n p {
    padding-bottom: 7px;
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
    line-height: normal;
    word-wrap: break-word;
    font-size: 18px;
    width: 100%;
}


.show_list li .list_n span {
    font-size: 16px;
    color: rgba(0,0,0,0.38);
}

.show_list li .list_n::after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    height: 9px;
    margin-top: -5px;
    background: #fff url('../../images/cs/ico_arr.png') 0 0 no-repeat;
    background-size: 14px auto;
    margin-right: 10px;
}


/* list를 누르면 클래스 open 추가 */
.show_list li .open::after {
    background-position: 0 -9px;
}

.show_list li div {
    display: none;
    margin-bottom: 12px;
    padding: 20px 20px;
    border-radius: 4px;
    background: #f6f5f5;
    font-size: 14px;
    line-height: 22px;
    box-sizing: border-box;
    overflow: hidden;
    
}

/* 페이징 스타일 공통 */
.paging{
    border-top: none;
    padding: 32px 0 0 0;
    display: block;
    text-align: center;
}

.paging span {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: inherit;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    background: none;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    line-height: 32px;

}

.paging span > a {
    padding : 8px 11px;
}

.paging .prev {
    background: url('../../images/cs/ico_paging_arr1.png') 50% 50% no-repeat;
    background-size: 10px auto;
    margin-right: 5px;
    position: relative;
    top: 12px;
}

.paging .next {
    background: url('../../images/cs/ico_paging_arr2.png') 50% 50% no-repeat;
    background-size: 10px auto;
    margin-left: 5px;
    position: relative;
    top: 12px;
}

.paging .on{
    border: 1px solid rgba(0,0,0,0.27);
    border-radius: 4px;
    color: rgba(0,0,0,0.87);
}
.paging .on a.on {
    font-weight: bold;
}

/* event */

/* event list */
.event b {
    display: block;
    padding-right: 80px;
    font-size: 18px;
    font-weight: bold;
}

.event span {
    display: block;
    margin: 7px 0 12px 0;
    font-size: 16px;
    color: rgba(0,0,0,0.56);
}

.event a {
    display: block;
    position: relative;
}

.event a img {width: 100%;}

.event_list li {
    margin: 0 0 40px 0;
    padding: 0 0 47px 0;
    border-bottom: none;
}

.event_list li:first-child {margin-top: 30px;}


.event_list li.end {
    opacity: 25%;
    pointer-events: none;
}

.event_list li.end img {opacity: 30%;}


/* event view */

.event_view > span {
    display: block;
    font-size: 17px;
    margin: 15px 40px;
}

.event_content {padding: 0 40px;}
.event_content img {width: 100%;}
.evt-link {
    position: relative;
}
.evt-link img {
    position: relative;
    top: -5px;
}
.evt-link a {
    display: inline-block;
    position: absolute;
    text-indent: -9999px;
    top: 0%;
    height: 100%;
    left: 4%;
    right: 4%;
}

.precautions {
    position: relative;
    top: -10px;
    padding: 0 40px;
    background-color: #393939;
    background-clip: content-box;
    color: #fff;
    font-weight: lighter;
    box-sizing: inherit;
}

.precautions > div {
    padding: 40px;
}

.precautions > .handle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
}

.precautions > .handle > div {
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 0;
    border: solid rgba(255,255,255,.15);
    border-width: 1px 0;
}

.precautions > .handle img:first-child {
    width: 16px;
}
.precautions > .handle span {
    font-size: 1.3em;
    padding: 2px 10px 0 5px;
}
.precautions > .handle img:last-of-type {
    width: 12px;
    transition: all ease .3s;
    transform: rotate(180deg);
}

.precautions > .handle img:last-of-type.on {
    transform: rotate(360deg);
}

.info {
    display: none;
    font-size: 12px;
}

.page {
    margin: 56px 0 0 0;
    padding: 0 40px;
    border-top: 1px solid rgba(0,0,0,0.08);
    border-bottom: 1px solid rgba(0,0,0,0.08);
}


.page p {
    padding: 27px 0;
    position: relative;
    top: 1px;
    border-bottom: rgba(0,0,0,0.08);
}

.page p * {
    font-size: 15px;
}

.page p .ico_arr_up {
    background: url('../../images/cs/arr_top.png') 100% 50% no-repeat;
    background-size: 10px auto;
}

.page p .ico_arr_down {
    background: url('../../images/cs/arr_down.png') 100% 50% no-repeat;
    background-size: 10px auto;
}

.page p b {
    display: inline-block;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0,0,0,0.87);
}
.page p a {
    display: block;
    padding: 0 0 0 126px;
    font-size: 16px;
    line-height: normal;
}

.page p span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10.5px;
    padding-right: 20px;
}

.aligncenter {
    display: block;
    padding: 40px 0;
    text-align: center;
}

.btn {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    width: 150px;
    margin-top: 16px;
    border-radius: 6px;
    background-color: #FCF951;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* 자주묻는 질문 */

.sub_cate {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 20px 0;
}

.sub_cate li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
}

.sub_cate li a {
    font-size: 14px;
}

.sub_cate li a.on {
    color: #bbd444;
    font-weight: bold;
}


#faqs .list_n {
    padding: 25px 24px 25px 0;
}


/* 1:1 문의 */

#qna_list {display: none;}
#qnas .list_n span:first-child {
    font-weight: bold;
    font-size: 18px; 
    color: #252525;
    margin-right: 10px;
}
#qnas .list_n span:last-child {
    display: block;
}

.list_n span > b {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    font-size: 13px;
}

#qna_tab strong {
    font-size: 18px;
    width: 500px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#qna_tab .reply_chk {
    margin-left: 8px;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    top: 1px;
    border: 1px solid rgba(0,0,0,0.87);
    color: rgba(0,0,0,0.87);
}
#qna_tab .reply_complete {
    margin-left: 8px;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    top: 1px;
    border: 1px solid rgba(0,0,0,0.87);
    color: white;
    background: #bbd444;
}


#qnas .toggle {
    margin-bottom: 0;
    padding: 35px 32px 45px 32px;
    border-radius: 0;
}

#qnas .toggle span {
    display: inline-block;
    padding-right: 8px;
    color: rgba(0,0,0,0.87);
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
}

#qnas .toggle div {
    font-size: 14px; 
    display: block;
    margin: 0;
    padding: 0;
}


#qnas .toggle .reply {
    margin-top: 65px;
    padding-left: 44px;
    background: url('../../images/cs/ico_reply.png') 11px -2px no-repeat;
    background-size: 24px auto;
}

#qnas .toggle .reply span {
    display: inline-block;
}

/* 문의하기 작성 */

.alert_top {
    padding: 40px 0; 
    border-bottom: none;
}

.alert_top p {
    border-radius: 0;
    background: #fff;
    padding: 0 0;
    font-size: 15px;
    line-height: normal;
    color: rgba(0,0,0,0.56);
    text-align: left;
}


.info_wrap b {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(0,0,0,0.56);
}

.info_wrap select {
    height: 48px;
    margin-bottom: 46px;
}

.info_wrap .select_opt {
    width: 100%;
    padding: 0 12px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    background: rgb(250,250,250) url('../../images/cs/ico_arr_down_4.png') right 10px top 50% no-repeat;
    background-size: 18px auto;
    font-size: 16px;
    color: rgba(0,0,0,0.56);
    cursor: pointer;
    appearance: none;
    outline: none;
}

.info_wrap .select_opt option {
    font-size: 14px;
}


.qna_wrap {
    position: relative;
    border: 1px solid rgba(0,0,0,0.08);
    height: 48px;
    padding: 0 40px 0 10px;
    border-radius: 4px;
}

.qna_wrap input {
    border: none;
    background: none;
    width: 100%;
    line-height: 48px;
    font-size: 16px;
    color: rgba(0,0,0,0.56);
}

.qna_wrap input::placeholder {
    font-weight: 300;
}

.phone-block {
    margin-bottom: 48px;
}

.email-block {
    margin-bottom: 48px;
}


.text_wrap  b {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(0,0,0,0.56);
}
.text_wrap textarea {
    width: 100%;
    height: 272px;
    padding: 33px 32px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 29px;
    border: 1px solid rgba(0,0,0,0.08);
    color: rgba(0,0,0,0.56);
    resize: none;
    box-sizing: border-box;
}


.text_wrap textarea::placeholder {
    font-weight: 300;
    font-size: 15px;
}

.btn_wrap {
    text-align: center;
}


/* 약관 및 정책 */
.terms_all h2 {
    margin-top: 20px;
    height: 58px;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
}


.terms_all .list_n {

}

.terms_all .list_n span {
    font-weight: bold;
    font-size: 18px !important;
    margin-right: 5px;
}
.terms_all .list_n b {
    font-size: 16px;
    color: #252525;
    font-weight: bold;
}




.table_common table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;}

.privacy table td:nth-child(1){width: 10%;text-align: center;}
.privacy table td:nth-child(2){width: 20%;}
.privacy table td:nth-child(3){width: 35%;}
.privacy table td:nth-child(4){width: 35%;}

.table_common table th {
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    background: rgba(0,0,0,0.08);
    font-size: 12px;
    color: rgba(0,0,0,0.56);
    word-break: break-all;
}

.table_common table td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: left;
    padding: 5px;
    background: rgb(250,250,250);
    font-size: 12px;
    color: rgba(0,0,0,0.56);
    word-break: break-all;
}

.table_common table td .strong {
    font-weight: bold;
    text-decoration: underline;
    color: #252525;
    font-size: 15px;
}

.fourteen {font-size: 16px;}
.fourteen *{
    font-size: 16px;
}

.fourteen .font_red {color: #f2114c; margin-top: 35px;}
.fourteen b {font-weight: bold;}



.marketing table td:nth-child(1){width: 10%;text-align: center;}
.marketing table td:nth-child(2){width: 25%;}
.marketing table td:nth-child(3){width: 35%;}
.marketing table td:nth-child(4){width: 30%;}


.marketing table b {
    font-weight: bold;
    font-size: 13px;
}

.terms {display: block;}
.location {display: block;}
.privacy {display: block;}
.fourteen {display: block;}
.marketing{display:block}
