<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <style>
        main .main_content > .main_cotent_inner {
            background: #fff !important;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
            border: 1px solid #F3F6F9;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col1">
                            <!-- 오늘 날짜 출력 -->
                            <div class="today_sales_status">
                                <p>[[${#dates.format(#dates.createNow(), 'yyyy년 MM월 dd일')}]]</p>
                            </div>
                            <!--/*
                            <div class="tot_sales">
                                <div class="tot_sales_box">
                                    <div class="ts_tit1">총매출</div>
                                    <div class="ts_count">[[${todaySales[0].count_sales}]]</div>
                                    <div class="ts_tit2">건</div>
                                    <div class="ts_price" th:text="${#numbers.formatInteger(todaySales[0].tot_res_price, 0, 'COMMA')}">36,000</div>
                                    <div class="ts_tit3">원</div>
                                </div>
                            </div>
                             */-->
                            <p class="tsd_msg">상세 매출 내역은 <strong>통계관리</strong>에서 확인해 주십시오.</p>
                            <div class="sales_day_status">
                                <div class="tot_sales_day">
                                    <div class="tsd_tit1">총매출</div>
                                    <div class="tsd_tit2">11 <i>건</i></div>
                                    <div class="tsd_tit3" >1,234,567,89 <i>원</i></div>
                                </div>
                                <div class="tsd_grid">
                                    <div class="tsd_grid1">
                                        <div class="tsd_res">
                                            <p>예약</p>
                                            <h3>[[${totalSales}]] <i>건</i></h3>
                                        </div>
                                        <div class="tsd_cancel">
                                            <p>취소</p>
                                            <h3>[[${totalCanceled}]] <i>건</i></h3>
                                        </div>
                                        <div class="tsd_visit">
                                            <p>방문자</p>
                                            <h3>1,234 <i>명</i></h3>
                                        </div>
                                    </div>
                                    <div class="tsd_grid2">
                                        <div class="tsd_qna">
                                            <p>1:1 문의</p>
                                            <h3>[[${totalQna}]] <i>건</i></h3>
                                        </div>
                                        <div class="tsd_prod">
                                            <p>상품등록</p>
                                            <h3>[[${totalAcc}]] <i>건</i></h3>
                                        </div>
                                        <div class="tsd_regi">
                                            <p>회원가입</p>
                                            <h3>[[${totalUser}]] <i>건</i></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="blank10"></div>
                    <div class="tsd_msg2">당일 기준 (<strong>[[${#dates.format(#dates.createNow(), 'yyyy년 MM월 dd일')}]]</strong>)로부터 <strong>6일 전</strong> 데이터가 조회됩니다.</div>
                    <div class="main_content_div" id="main_content_div">
                        <div class="col1" style="width: 100%">
                            <div class="col1_graph_chart">
                                <!-- 매출 현황 -->
                                <div class="graph_inner" style="width:100% ;">
                                    <div id="chart_div" style="width: 99%; height: 500px;"></div>
                                </div>
                                <!-- 결제 현황 -->
                                <div class="payment_stat_graph">
                                    <div id="donutchart" style="width: 100%; height: 500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tsd_best">
                        <div class="tsd_best_inner">
                            <h3>BEST <i>숙소</i></h3>
                        </div>
                        <div class="tsd_guide">평점, 리뷰 기준 순위입니다. </div>
                        <div class="col2">
                                <div class="bestAccList">
                                    <ul>
                                        <li class="ba_li1">#</li>
                                        <li class="ba_li2">숙박번호</li>
                                        <li class="ba_li3">숙박명</li>
                                        <li class="ba_li4">판매자 아이디</li>
                                        <li class="ba_li5">등록일</li>
                                    </ul>

                                    <ul th:each="bestAcc,i:${bestAccs}">
                                        <li class="ba_li1" th:text="${i.index + 1 + '위'}"></li>
                                        <li class="ba_li2" th:text="${bestAcc.acc_id}">1004590</li>
                                        <li class="ba_li3" th:value="${bestAcc.acc_id}">
                                            <a href="#">[[${bestAcc.acc_name}]]</a>
                                        </li>
                                        <li class="ba_li4" th:text="${bestAcc.user_id}">circle@naver.com</li>
                                        <li class="ba_li5" th:text="${bestAcc.acc_rdate.substring(0, 10)}">2023-04-12</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
<!--

                    <div class="tsd_best">
                        <div class="tsd_best_inner">
                            <h3>BEST <i>객실</i></h3>
                        </div>
                        <div class="tsd_guide2">예약 기준 순위입니다.</div>
                        <div class="col2">
                                <div class="bestRoomList">
                                    <ul>
                                        <li class="br_li1">#</li>
                                        <li class="br_li2">숙빅번호</li>
                                        <li class="br_li3">숙박명</li>
                                        <li class="br_li4">객실아이디</li>
                                        <li class="br_li5">객실명</li>
                                        <li class="br_li6">판매자 아이디</li>
                                    </ul>
                                    <ul>
                                        <li class="br_li1">1</li>
                                        <li class="br_li2">1004590</li>
                                        <li class="br_li3">어쩌고 저쩌고 숙박</li>
                                        <li class="br_li4">1016538</li>
                                        <li class="br_li5">더블 트윈</li>
                                        <li class="br_li6">circle@naver.com</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
-->


                    <div class="blank30"></div>
                    <div class="main_content_div2">
                        <div class="tsd_best_inner">
                            <h3>공지사항</h3>
                        </div>
                        <a class="more" th:href="@{/admin/cs/notice/list}">> 더보기</a>
                        <div class="col2">
                            <form action="#">
                                <div class="noticeList">
                                    <ul>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>등록일</li>
                                    </ul>

                                    <ul th:each="notice,i:${notice}">
                                        <li th:text="${i.index + 1}"></li>
                                        <li class="noticeTitle">
                                            <a th:href="@{/admin/cs/notice/view (cs_no=${notice.cs_no}, page=1)}">[[${notice.cs_title}]]</a>
                                        </li>
                                        <li th:text="${notice.cs_rdate.substring(0, 10)}"></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                    <!-- 최신글 5개 불러오기 -->
                    <div class="main_content_div2">
                        <div class="tsd_best_inner">
                            <h3>1:1 문의</h3>
                        </div>
                        <a class="more" href="#">> 더보기</a>
                        <div class="col2">
                            <form action="#">
                                <div class="noticeList2">
                                    <ul>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>닉네임</li>
                                        <li>작성일</li>
                                    </ul>
                                    <ul th:each="qna,i:${qnaArticles}">
                                        <li th:text="${i.index + 1}"></li>
                                        <li class="noticeTitle">
                                            <a th:href="@{/admin/cs/qna/view (cs_no=${qna.cs_no}, page=1)}">[[${qna.cs_title}]]</a>
                                        </li>
                                        <li th:text="${qna.nick}"></li>
                                        <li th:text="${qna.cs_rdate.substring(0, 10)}"></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <!-- 구글 차트 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
         // 참조 데이터 준비
        let stats = [[${stats}]];

        // 구글 열 차트를 로드
        google.charts.load('current', {'packages':['corechart']});
        // callback 정의 : drawVisualization
        google.charts.setOnLoadCallback(drawVisualization);

        // 오늘 날짜
        let today = new Date();
        // 오늘 날짜 (월)
        nowMonth = today.getMonth() + 1;
        // 오늘 날짜 (일)
        nowDate = today.getDate();
        // 출력 날짜 형태 지정
        date = nowMonth + '/' + nowDate;

        // 이전 날짜
        // before[1] = 1일전 , before[2] = 2일전
        let before = new Array();
        for (let i=1; i<7; i++){
            before[i] = new Date(today.getTime()-(i * 24 * 60 * 60 * 1000));
            before[i] = (before[i].getMonth()+1) + '/' + before[i].getDate();
        }

            function drawVisualization() {

                let totalGraph;

                // 그래프 내용 : drawVisualization 구현
                var data = google.visualization.arrayToDataTable([
                    ['날짜', '일별매출', '누적매출'],
                    [before[6],  stats[6].tot_res_price, stats[6].tot_res_price],
                    [before[5],  stats[5].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price],
                    [before[4],  stats[4].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price],
                    [before[3],  stats[3].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price],
                    [before[2],  stats[2].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[2].tot_res_price],
                    [before[1],  stats[1].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[2].tot_res_price + stats[1].tot_res_price],
                    [date,  stats[0].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[1].tot_res_price + stats[1].tot_res_price + stats[0].tot_res_price]
                ]);

                // 그래프 주석 표기
                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                                { calc: "stringify",
                                    sourceColumn: 1,
                                    type: "string",
                                    role: "annotation" },
                                2]);

                // 그래프 옵션
                var options = {
                    title : '매출현황',
                    titleTextStyle: {fontSize: 18},
                    animation:{
                        duration: 1000,
                        easing: 'in',
                    },
                    // 세로축 설정
                    vAxis: {
                        titleTextStyle: {italic: false, bold: true},
                        textStyle: {
                            fontSize: 16,
                            bold: true,
                            italic: false
                        }
                    },
                    // 가로축 설정
                    hAxis: {
                        titleTextStyle: {italic: false, bold: true},
                        textStyle: {
                            fontSize: 16,
                            bold: true,
                            italic: false
                        }
                    },
                    format: 'currency',             // 숫자 또는 라벨의 형식 문자열 (currency: 현지 통화)
                    seriesType: 'bars',             // 베이스 차트 종류
                    colors: ['#AACB73'],            // 베이스 차트 색상
                    pointSize: 5,                   // 라인 포인트
                    crosshair: { trigger: 'both', color: '#FFD4D4', opacity: 0.8 }, // Display crosshairs on focus and selection.
                    series: {1:
                        { pointShape: 'circle', type: 'line', color: '#FFD4D4'}}    // 라인
                };



                var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                chart.draw(view, options);
            }
    </script>
    <script th:inline="javascript">

        // 참조 데이터 준비
        let paysMap = [[${paysMap}]];

        console.log(paysMap);

        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['payment', 'Percent'],
            ['신용/체크카드', paysMap[1] ? paysMap[1].length : 0],
            ['토스페이', paysMap[2] ? paysMap[2].length : 0],
            ['PAYCO', paysMap[3] ? paysMap[3].length : 0],
            ['카카오페이', paysMap[4] ? paysMap[4].length : 0]
            ]);

            var options = {
                title: '결제현황',
                titleTextStyle: {fontSize:18, bold: true},
                width: '100%',
                fontSize: 15,
                pieHole: 0.3,
                legend: {
                position: 'bottom',
                maxLines: 7
                },
                colors: ['#4F650D', '#7F9822', '#BBD444','#D3E570'],
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);

            $(window).resize(function(){
                drawChart();
            });

        }
    </script>
    <script th:inline="javascript">

    </script>
</th:block>
</html>