<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col1">
                            <div class="today_status">
                                <!-- single item1 -->
                                <div class="single_status">
                                    <p>예약건수</p>
                                    <h3>[[${totalSales}]]</h3>
                                </div>
                                <!-- single item2 -->
                                <div class="single_status">
                                    <p>취소건수</p>
                                    <h3>[[${totalCanceled}]]</h3>
                                </div>
                                <!-- single item3 -->
                                <div class="single_status">
                                    <p>방문자수</p>
                                    <h3>1,000</h3>
                                </div>
                                <!-- single item4 -->
                                <div class="single_status">
                                    <p>1:1문의수</p>
                                    <h3>[[${totalQna}]]</h3>
                                </div>
                                <!-- single item5 -->
                                <div class="single_status">
                                    <p>상품등록</p>
                                    <h3>[[${totalAcc}]]</h3>
                                </div>
                                <!-- single item6 -->
                                <div class="single_status">
                                    <p>회원가입</p>
                                    <h3>[[${totalUser}]]</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blank30"></div>
                    <div class="main_content_div">
                        <div class="col1">
                            <div class="col1_header">
                                <h3>매출 현황</h3>
                            </div>
                            <div class="col1_graph">
                                <div class="graph_inner" style="width:100% ;">
                                    <div id="chart_div" style="width: 99%; height: 500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blank30"></div>
                    <div class="main_content_div2">
                        <h3>공지사항</h3>
                        <a class="more" href="#">> 더보기</a>
                        <div class="col2">
                            <form action="#">
                                <div class="noticeList">
                                    <ul>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>등록일</li>
                                    </ul>
                                    <ul>
                                        <li>1</li>
                                        <li class="noticeTitle">이용약관 개정 안내</li>
                                        <li>2023.02.25</li>
                                    </ul>
                                    <ul>
                                        <li>2</li>
                                        <li class="noticeTitle">이용약관 개정 안내</li>
                                        <li>2023.02.25</li>
                                    </ul>
                                </div>
                                <div class="paging">
                                    <div class="opg_1">
                                        <button type="button"><</button>
                                        <span><b>1</b>&nbsp;/&nbsp;<s>3</s></span>
                                        <button type="button">></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                    <div class="main_content_div2">
                        <h3>1:1문의</h3>
                        <a class="more" href="#">> 더보기</a>
                        <div class="col2">
                            <form action="#">
                                <div class="noticeList2">
                                    <ul>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>닉네임</li>
                                        <li>작성일</li>
                                    </ul>
                                    <ul>
                                        <li>1</li>
                                        <li class="noticeTitle">회원가입 문의</li>
                                        <li>퉁퉁이</li>
                                        <li>2023.02.25</li>
                                    </ul>
                                    <ul>
                                        <li>2</li>
                                        <li class="noticeTitle">이용문의</li>
                                        <li>별이</li>
                                        <li>2023.02.25</li>
                                    </ul>
                                </div>
                                <div class="paging">
                                    <div class="opg_1">
                                        <button type="button"><</button>
                                        <span><b>1</b>&nbsp;/&nbsp;<s>3</s></span>
                                        <button type="button">></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <!-- 구글 차트 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
             // 참조 데이터 준비
            let stats = [[${stats}]];

            console.log(stats);
            console.log("stats res_price : " + stats[0].res_price);


            // 구글 열 차트를 로드
            google.charts.load('current', {'packages':['corechart']});
            // callback 정의 : drawVisualization
            google.charts.setOnLoadCallback(drawVisualization);

            // 오늘 날짜
        let today = new Date();
        // 오늘 날짜 (월)
        nowMonth = today.getMonth() + 1;
        // 오늘 날짜 (일)
        nowDate = today.getDate();
        // 출력 날짜 형태 지정
        date = nowMonth + '/' + nowDate;

        console.log("date : " + date);

        // 이전 날짜
        // before[1] = 1일전 , before[2] = 2일전
        let before = new Array();
        for (let i=1; i<7; i++){
            before[i] = new Date(today.getTime()-(i * 24 * 60 * 60 * 1000));
            before[i] = (before[i].getMonth()+1) + '/' + before[i].getDate();
        }
        console.log(before[6] + " - " + stats[0].tot_res_price);
        console.log(before[5] + " - " + stats[1].tot_res_price);
        console.log(before[4] + " - " + stats[2].tot_res_price);
        console.log(before[3] + " - " + stats[3].tot_res_price);
        console.log(before[2] + " - " + stats[4].tot_res_price);
        console.log(before[1] + " - " + stats[5].tot_res_price);
        console.log(date + " - " + stats[6].tot_res_price);

            function drawVisualization() {

                let totalGraph;

                // 그래프 내용 : drawVisualization 구현
                var data = google.visualization.arrayToDataTable([
                    ['날짜', '일별매출', '누적매출'],
                    [before[6],  stats[6].tot_res_price, stats[6].tot_res_price],
                    [before[5],  stats[5].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price],
                    [before[4],  stats[4].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price],
                    [before[3],  stats[3].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price],
                    [before[2],  stats[2].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[2].tot_res_price],
                    [before[1],  stats[1].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[2].tot_res_price + stats[1].tot_res_price],
                    [date,  stats[0].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[1].tot_res_price + stats[1].tot_res_price + stats[0].tot_res_price]
                ]);

                // 그래프 주석 표기
                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                                { calc: "stringify",
                                    sourceColumn: 1,
                                    type: "string",
                                    role: "annotation" },
                                2]);

                // 그래프 옵션
                var options = {
                    title : '매출현황',
                    titleTextStyle: {fontSize: 18},
                    animation:{
                        duration: 1000,
                        easing: 'in',
                    },
                    // 세로축 설정
                    vAxis: {
                        titleTextStyle: {italic: false, bold: true},
                        textStyle: {
                            fontSize: 16,
                            bold: true,
                            italic: false
                        }
                    },
                    // 가로축 설정
                    hAxis: {
                        titleTextStyle: {italic: false, bold: true},
                        textStyle: {
                            fontSize: 16,
                            bold: true,
                            italic: false
                        }
                    },
                    format: 'currency',             // 숫자 또는 라벨의 형식 문자열 (currency: 현지 통화)
                    seriesType: 'bars',             // 베이스 차트 종류
                    colors: ['#AACB73'],            // 베이스 차트 색상
                    pointSize: 5,                   // 라인 포인트
                    crosshair: { trigger: 'both', color: '#FFD4D4', opacity: 0.8 }, // Display crosshairs on focus and selection.
                    series: {1:
                        { pointShape: 'circle', type: 'line', color: '#FFD4D4'}}    // 라인
                };



                var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                chart.draw(view, options);
            }
    </script>

</th:block>
</html>