<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:util="urn:util"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <style>
        main .main_content > .main_cotent_inner {
            background: #fff !important;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 / 2%), 0 2px 6px 0 rgb(206 206 238 / 15%);
            border: 1px solid #F3F6F9;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav" style="border-bottom: 1px solid #1a367e20;">
                            <span>통계관리</span>
                        </div>
                        <div class="col2" style="background: transparent; position: relative;" >
                            <form th:action="@{/admin/stats}">
                                <input type="text" name="periodType" value="">
                                <div class="search_date_sort">
                                    <ul class="date_msg">기간별 조회</ul>
                                    <ul class="date_3ea">
                                        <li>
                                            <a href="#" data-value="day">당일</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="month">1개월</a>
                                        </li>
                                        <li>
                                            <a href="#" data-value="year">1년</a>
                                        </li>
                                    </ul>
                                    <ul class="sd_date_box">
                                        <li class="sd_date">
                                            <input class="begin" name="dateStart" type="date">
                                            -
                                            <input class="end" name="dateEnd" type="date">
                                        </li>
                                        <button type="submit" class="sd_submit">조회</button>
                                        <button type="reset" class="sd_reset" onclick="location.href = window.location.origin + window.location.pathname;">초기화</button>
                                    </ul>
                                </div>
                                <p class="sd_msg">조회 조건 미설정시, <strong>[[${#dates.format(#dates.createNow(), 'yyyy년 MM월 dd일')}]]</strong>로부터 <strong>7일 전</strong> 데이터가 조회됩니다.</p>

                                <div class="stats_container">
                                    <div class="sales_day_status">
                                        <div class="tot_sales_day">
                                            <div class="tsd_tit1">총매출</div>
                                            <div class="tsd_tit2">[[${totalSales}]]<i>건</i></div>
                                            <div class="tsd_tit3" th:text="${#numbers.formatInteger(sum_res_price, 0, 'COMMA')}">1,234,567,89 <i>원</i></div>
                                            <i> 원</i>
                                        </div>
                                        <div class="tsd_grid">
                                            <div class="tsd_grid1">
                                                <div class="tsd_res">
                                                    <p>예약</p>
                                                    <h3>[[${totalSales}]] <i>건</i></h3>
                                                </div>
                                                <div class="tsd_cancel">
                                                    <p>취소</p>
                                                    <h3>[[${totalCanceled}]] <i>건</i></h3>
                                                </div>
                                                <div class="tsd_visit">
                                                    <p>방문자</p>
                                                    <h3>1,234 <i>명</i></h3>
                                                </div>
                                            </div>
                                            <div class="tsd_grid2">
                                                <div class="tsd_qna">
                                                    <p>1:1 문의</p>
                                                    <h3>[[${totalQna}]] <i>건</i></h3>
                                                </div>
                                                <div class="tsd_prod">
                                                    <p>상품등록</p>
                                                    <h3>[[${totalAcc}]] <i>건</i></h3>
                                                </div>
                                                <div class="tsd_regi">
                                                    <p>회원가입</p>
                                                    <h3>[[${totalRegister}]] <i>건</i></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blank10"></div>
                                    <!-- 매출현황 -->
                                    <div class="current_sales_stat">
                                        <!-- 매출 그래프 및 결제 현황-->
                                        <div class="sales_stat_chart">
                                            <!-- 매출 현황 -->
                                            <div class="sales_graph">
                                                <div id="chart_div" style="width: 99%; height: 500px;"></div>
                                            </div>
                                             <!-- 결제 현황 -->
                                            <div class="payment_stat_graph">
                                                <div id="donutchart" style="width: 100%; height: 500px;"></div>
                                            </div>
                                        </div>

                                        <div class="sg_hr">
                                            <p>단위 기간별 매출 현황</p>
                                        </div>


                                        <div class="sg_box">
                                            <!-- 일별/주별/연별 매출 그래프 현황 -->
                                            <div class="sales_stat_chart2">
                                                <div class="sg_day">
                                                    <div id="chart_div_day" style="width: 99%; height: 300px;"></div>
                                                </div>
                                            </div>
                                            <div class="sales_stat_chart2">
                                                <div class="sg_day">
                                                    <div id="chart_div_month" style="width: 99%; height: 300px;"></div>
                                                </div>
                                            </div>
                                            <div class="sales_stat_chart2">
                                                <div class="sg_day">
                                                    <div id="chart_div_year" style="width: 99%; height: 300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 월별 매출액 그래프 -->
                                        <!--/*
                                        <div class="sales_table">
                                            <div class="sales_div">
                                                <table>
                                                    <tr>
                                                        <th>월별</th>
                                                        <th>주문건수</th>
                                                        <th>매출액</th>
                                                        <th>비율</th>
                                                        <th>그래프</th>
                                                    </tr>
                                                    <tr>
                                                        <td>asdf월</td>
                                                        <td>111건</td>
                                                        <td>[[${monthSalesList}]]</td>
                                                        <td >36,000</td>
                                                        <td></td>
                                                        <td>
                                                            <progress id="progress1" value="30" min="0" max="100"></progress>
                                                        </td>
                                                    </tr>


                                                </table>
                                            </div>
                                        </div>
                                        */-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <!-- Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- 기간별 매출 그래프 (기간 변동) -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        // 참조 데이터 준비
        let stats = [[${stats}]];
        let avg_res_price = [[${avg_res_price}]];
        let dateStart = [[${dateStart}]];
        let dateEnd = [[${dateEnd}]];

        // 구글 열 차트를 로드
        google.charts.load('current', {'packages':['corechart']});
        // callback 정의 : drawVisualization
        google.charts.setOnLoadCallback(drawVisualization);

        // 오늘 날짜
        let today = new Date();
        // 오늘 날짜 (월)
        nowMonth = today.getMonth() + 1;
        // 오늘 날짜 (일)
        nowDate = today.getDate();
        // 출력 날짜 형태 지정
        date = nowMonth + '/' + nowDate;

        // 이전 날짜
        let Daybefore = new Array();
        for (let i=0; i<stats.length; i++){
            Daybefore[i] = new Date(today.getTime()-(i * 24 * 60 * 60 * 1000));
            Daybefore[i] = (Daybefore[i].getMonth()+1) + '/' + Daybefore[i].getDate();
        }

        function drawVisualization() {
            // 그래프 내용 : drawVisualization 구현
            var data = new google.visualization.DataTable();
            data.addColumn('string', '날짜');
            data.addColumn('number', '매출');
            data.addColumn('number', '평균');

            if (dateStart == null && dateEnd == null){
                for (var i = Daybefore.length-1; i >= 0; i--) {
                    if(i==0) {
                        Daybefore[i] = date;
                    }
                    data.addRow([Daybefore[i], stats[i].tot_res_price, avg_res_price]);
                }
            }else {
                for (var i = Daybefore.length-1; i >= 0; i--) {
                    data.addRow([stats[i].res_date, stats[i].tot_res_price, avg_res_price]);
                }
            }



            // 그래프 주석 표기
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                            { calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation" },
                            2]);

            // 그래프 옵션
            var options = {
                title : '매출현황',
                titleTextStyle: {fontSize: 18},
                animation:{
                    duration: 1000,
                    easing: 'in',
                },
                // 세로축 설정
                vAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    }
                },
                // 가로축 설정
                hAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    }
                },
                format: 'currency',             // 숫자 또는 라벨의 형식 문자열 (currency: 현지 통화)
                seriesType: 'bars',             // 베이스 차트 종류
                colors: ['#AACB73'],            // 베이스 차트 색상
                pointSize: 5,                   // 라인 포인트
                crosshair: { trigger: 'both', color: '#FFD4D4', opacity: 0.8 }, // 라인 교차점
                series: {1:
                    { pointShape: 'circle', type: 'line', color: '#FFD4D4'}}    // 라인
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(view, options);

            $(window).resize(function(){
                drawVisualization();
            });
        }
    </script>
    <!-- 기간별 결제 수단 현황 그래프 (기간 변동) -->
    <script th:inline="javascript">
        // 참조 데이터 준비
        let paysMap = [[${paysMap}]];

        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['payment', 'Percent'],
            ['신용/체크카드', paysMap[1] ? paysMap[1].length : 0],
            ['토스페이', paysMap[2] ? paysMap[2].length : 0],
            ['PAYCO', paysMap[3] ? paysMap[3].length : 0],
            ['카카오페이', paysMap[4] ? paysMap[4].length : 0]
            ]);

            var options = {
                title: '결제현황',
                titleTextStyle: {fontSize:18, bold: true},
                width: '100%',
                fontSize: 15,
                pieHole: 0.3,
                legend: {
                position: 'bottom',
                maxLines: 7
                },
                colors: ['#4F650D', '#7F9822', '#BBD444','#D3E570'],
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);

            $(window).resize(function(){
                drawChart();
            });

        }
    </script>
    <!-- 당일 매출 그래프  -->
    <script th:inline="javascript">
        // 참조 데이터 준비
        let todaySales = [[${todaySales}]];

        // 구글 열 차트를 로드
        google.charts.load('current', {'packages':['corechart']});
        // callback 정의 : drawVisualization
        google.charts.setOnLoadCallback(drawVisualization);

        // 오늘 날짜
        let Dtoday = new Date();
        // 오늘 날짜 (월)
        let DnowMonth = Dtoday.getMonth() + 1;
        // 오늘 날짜 (일)
        let DnowDate = Dtoday.getDate();
        // 출력 날짜 형태 지정
        Ddate = DnowMonth + '/' + DnowDate;

        // 이전 날짜
        // before[1] = 1일전 , before[2] = 2일전
        before = new Array();
        for (let i=1; i<7; i++){
            before[i] = new Date(Dtoday.getTime()-(i * 24 * 60 * 60 * 1000));
            before[i] = (before[i].getMonth()+1) + '/' + before[i].getDate();
        }

        function drawVisualization() {

            // 그래프 내용 : drawVisualization 구현
            var data = google.visualization.arrayToDataTable([
                ['날짜', '일별매출', {role: 'style'}],
                [Ddate,  todaySales[0].tot_res_price, 'color:#A9CB72'],
            ]);

            // 그래프 주석 표기
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                            { calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation" },
                            2]);

            // 그래프 옵션
            var options = {
                title : '일별 매출현황',
                titleTextStyle: {fontSize: 18},
                bar: {groupWidth: "25%"},       // 그래프 너비
                animation:{
                    duration: 1000,
                    easing: 'in',
                },
                // 세로축 설정
                vAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    },
                    format: '#,###'                // 숫자 형식 지정
                },
                // 가로축 설정
                hAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    }
                },
                seriesType: 'bars',             // 베이스 차트 종류
                series: {
                    0: {color: '#AACB73', visibleInLegend: false},
                },                              // 그래프 색상 이름 제거 (default: 자동 생성)
                colors: ['#AACB73'],            // 베이스 차트 색상
                chartArea: {
                    width: '65%',                   // 그래프 영역 크기 조절 (픽셀은 px 표기X, 백분율은 % 표기)
                    right: '8%'                     // 그래프 영역 위치 이동 (그래프 왼쪽 끝 기준 위치 설정)
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_day'));
            chart.draw(view, options);

            $(window).resize(function(){
                drawVisualization();
            });
        }
    </script>
    <!-- 월별 매출 그래프 -->
    <script th:inline="javascript">
        // 참조 데이터 준비
        let monthAvg = [[${monthAvg}]];
        let MstatsMonth = [[${statsMonth}]];

        console.log("statsMonth");
        console.log(MstatsMonth);

        // 구글 열 차트를 로드
        google.charts.load('current', {'packages':['corechart']});

        // callback 정의 : drawVisualization
        google.charts.setOnLoadCallback(drawVisualization);

        // 오늘 날짜
        let Montoday = new Date();
        // 오늘 날짜 (월)
        let MonNowMonth = Montoday.getMonth() + 1;
        // 오늘 날짜 (일)
        let MonNowDate = Montoday.getDate();
        // 출력 날짜 형태 지정
        let MonDate = MonNowMonth;
        MonDate = MonNowMonth + '월';

        // 이전 날짜
        // before[1] = 1일전 , before[2] = 2일전
        monthBefore = new Array();
        for (let i=1; i<7; i++){
            const monthAgo = new Date(Montoday.getTime() - (i * 30 * 24 * 60 * 60 * 1000)); // 30일(한달)을 기준으로 계산
            const Mmonth = monthAgo.toLocaleString('default', { month: 'long' }); // 월을 문자열로 변환
            monthBefore[i] = Mmonth;
        }

        function drawVisualization() {
            // 그래프 내용 : drawVisualization 구현
            var data = google.visualization.arrayToDataTable([
                ['날짜', '일별매출', '월매출평균'],
                [monthBefore[3],  MstatsMonth[0] ? MstatsMonth[0].tot_res_price : 0, monthAvg],
                [monthBefore[2],  MstatsMonth[1] ? MstatsMonth[1].tot_res_price : 0, monthAvg],
                [monthBefore[1],  MstatsMonth[2] ? MstatsMonth[2].tot_res_price : 0, monthAvg],
                [MonDate,  MstatsMonth[3] ? MstatsMonth[3].tot_res_price : 0, monthAvg]
            ]);

            // 그래프 주석 표기
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                            { calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation" },
                            2]);

            // 그래프 옵션
            var options = {
                title : '월별 매출현황',
                titleTextStyle: {fontSize: 18},
                animation:{
                    duration: 1000,
                    easing: 'in',
                },
                // 세로축 설정
                vAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    }
                },
                // 가로축 설정
                hAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    }
                },
                format: 'currency',             // 숫자 또는 라벨의 형식 문자열 (currency: 현지 통화)
                seriesType: 'bars',             // 베이스 차트 종류
                colors: ['#AACB73'],            // 베이스 차트 색상
                chartArea: {
                    width: '65%',                   // 그래프 영역 크기 조절 (픽셀은 px 표기X, 백분율은 % 표기)
                    right: '8%'                     // 그래프 영역 위치 이동 (그래프 왼쪽 끝 기준 위치 설정)
                },
                pointSize: 5,                   // 라인 포인트
                crosshair: { trigger: 'both', color: '#FFD4D4', opacity: 0.8 }, // 라인 교차점
                series: {
                    0: {color: '#AACB73', visibleInLegend: false},  // 막대 그래프 우측 라벨 제거
                    1: { pointShape: 'circle', type: 'line', color: '#FFD4D4', visibleInLegend: false} // 라인
                }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div_month'));
            chart.draw(view, options);

            $(window).resize(function(){
                drawVisualization();
            });
        }
    </script>
    <!-- 연별 매출 그래프 -->
    <script th:inline="javascript">
        // 참조 데이터 준비
        let yearSales = [[${yearSales}]];
        let yearAvg = [[${yearAvg}]];

        //console.log("year");
        //console.log(yearSales);

        // 구글 열 차트를 로드
        google.charts.load('current', {'packages':['corechart']});
        // callback 정의 : drawVisualization
        google.charts.setOnLoadCallback(drawVisualization);

        // 오늘 날짜
        let Ytoday = new Date();
        // 오늘 날짜 (년)
        let YnowYear = Ytoday.getFullYear();
        // 오늘 날짜 (월)
        let YnowMonth = Ytoday.getMonth() + 1;
        // 오늘 날짜 (일)
        let YnowDate = Ytoday.getDate();
        // 출력 날짜 형태 지정
        let Ydate = YnowYear;

        //console.log("Ydate : " + Ydate);

        // 이전 날짜
        before = new Array();
        for (let i=1; i<7; i++){
            const yearAgo = new Date(Ytoday.getTime() - (i * 365 * 24 * 60 * 60 * 1000)); // 1년(365일)을 기준으로 계산
            const year = yearAgo.getFullYear(); // 연도만 추출
            before[i] = year;
        }
        //console.log(before[2] + ":" + yearSales[0].tot_res_price);
        //console.log(before[1] + ":" + yearSales[1].tot_res_price);
        //console.log(Ydate + ":" + yearSales[2].tot_res_price);
        //console.log( (yearSales[0].tot_res_price+yearSales[1].tot_res_price+yearSales[2].tot_res_price)/3 );

        function drawVisualization() {

            // 그래프 내용 : drawVisualization 구현
            var data = google.visualization.arrayToDataTable([
                ['날짜', '연매출', '연매출평균'],
                [before[2],  yearSales[0] ? yearSales[0].tot_res_price : 0, yearAvg],
                [before[1],  yearSales[0] ? yearSales[1].tot_res_price : 0, yearAvg],
                [Ydate,  yearSales[0] ? yearSales[2].tot_res_price : 0, yearAvg]
            ]);

            // 그래프 주석 표기
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                            { calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation" },
                            2]);

            // 그래프 옵션
            var options = {
                title : '연별 매출현황',
                titleTextStyle: {fontSize: 18},
                animation:{
                    duration: 1000,
                    easing: 'in',
                },
                // 세로축 설정
                vAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    format: '#,###',             // 숫자 또는 라벨의 형식 문자열 (currency: 현지 통화)
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    }
                },
                // 가로축 설정
                hAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    },
                    format: '####'                // 숫자 형식 지정
                },
                seriesType: 'bars',             // 베이스 차트 종류
                colors: ['#AACB73'],            // 베이스 차트 색상
                chartArea: {
                    width: '65%',                   // 그래프 영역 크기 조절 (픽셀은 px 표기X, 백분율은 % 표기)
                    right: '8%'                     // 그래프 영역 위치 이동 (그래프 왼쪽 끝 기준 위치 설정)
                },
                pointSize: 5,                   // 라인 포인트
                crosshair: { trigger: 'both', color: '#FFD4D4', opacity: 0.8 }, // 라인 교차점
                series: {
                    0: {color: '#AACB73', visibleInLegend: false},  // 막대 그래프 우측 라벨 제거
                    1: { pointShape: 'circle', type: 'line', color: '#FFD4D4', visibleInLegend: false} // 라인
                }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div_year'));
            chart.draw(view, options);

            $(window).resize(function(){
                drawVisualization();
            });
        }
    </script>
    <script>
        $(function(){
            // url 주소에서 periodType, 기간 파라미터 가져오기
            let urlParams = new URLSearchParams(window.location.search);
            let periodTypeParam = urlParams.get('periodType');
            let dateStart = urlParams.get('dateStart');
            let dateEnd = urlParams.get('dateEnd');

            // 선택값 유지
            $('.begin').val(dateStart);
            $('.end').val(dateEnd);

            // url 주소에 파라미터가 있다면
            if(periodTypeParam){
                $('ul.date_3ea a').removeClass('on');
                $('ul.date_3ea a[data-value="'+periodTypeParam+'"]').addClass('on');
            }

            $('ul.date_3ea a').on('click', function(e) {
                e.preventDefault();

                let periodType = $(this).data('value');
                alert('click the a in 3ea! : ' + periodType);

                // on 클래스 추가 + input에 값 넣기
                $('ul.date_3ea a').removeClass('on');
                $(this).addClass('on');
                $('input[name="periodType"]').val(periodType);
            });

        });
    </script>
</th:block>
</html>