<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:util="urn:util"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav" style="border-bottom: 1px solid #1a367e20;">
                            <span>통계관리</span>
                        </div>
                        <div class="col2" style="background: transparent;">
                            <form action="#">
                                <div class="stats_container">
                                    <!-- 날짜 선택 -->
                                    <div class="current_date_div">
                                        <input type="text" id="datepicker" name="dates">
                                    </div>
                                    <!-- 총 매출 -->
                                    <div class="tot_sales">
                                        <div class="tot_sales_box">
                                            <div class="ts_tit1">총매출</div>
                                            <div class="ts_count">[[${totalSales}]]</div>
                                            <div class="ts_tit2">건</div>
                                            <div class="ts_price" th:text="${#numbers.formatInteger(stats[0].tot_res_price + stats[1].tot_res_price + stats[2].tot_res_price + stats[3].tot_res_price + stats[4].tot_res_price + stats[5].tot_res_price + stats[6].tot_res_price, 0, 'COMMA')}"></div>
                                            <div class="ts_tit3">원</div>
                                        </div>
                                    </div>
                                    <!-- 매출현황 -->
                                    <div class="current_sales_stat">
                                        <!-- 매출 그래프 및 결제 현황-->
                                        <div class="sales_stat_chart">
                                            <!-- 매출 현황 -->
                                            <div class="sales_graph">
                                                <div id="chart_div" style="width: 99%; height: 500px;"></div>
                                            <!-- 결제 현황 -->
                                            </div>
                                            <div class="payment_stat_graph">
                                                <div id="donutchart" style="width: 100%; height: 500px;"></div>
                                            </div>
                                        </div>
                                        <!-- 오늘 현황 -->
                                        <div class="today_stat">
                                            <div class="today_div">
                                                <div class="today_grid">
                                                    <div class="today_grid_item">
                                                        <p>예약건수</p>
                                                        <h3>[[${totalSales}]]</h3>
                                                    </div>
                                                    <div class="today_grid_item">
                                                        <p>취소건수</p>
                                                        <h3>[[${totalCanceled}]]</h3>
                                                    </div>
                                                    <div class="today_grid_item">
                                                        <p>방문자수</p>
                                                        <h3>구현예정</h3>
                                                    </div>
                                                    <div class="today_grid_item">
                                                        <p>1:1문의수</p>
                                                        <h3>[[${totalQna}]]</h3>
                                                    </div>
                                                    <div class="today_grid_item">
                                                        <p>상품등록</p>
                                                        <h3>[[${totalQna}]]</h3>
                                                    </div>
                                                    <div class="today_grid_item">
                                                        <p>회원가입</p>
                                                        <h3>[[${totalUser}]]</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 객실 점유율 -->
                                        <!-- <div class="sales_room_percent">
                                            <div class="chart_box">
                                                <div id="chart_div2"></div>
                                            </div>
                                        </div> -->
                                        <!-- 객실 점유율 -->
                                        <div class="sales_table">
                                            <div class="sales_div">
                                                <table>
                                                    <tr>
                                                        <th>월별</th>
                                                        <th>주문건수</th>
                                                        <th>매출액</th>
                                                        <th>비율</th>
                                                        <th>그래프</th>
                                                    </tr>
                                                    <tr th:each="vo, i:${statsMonth}">
                                                        <td>[[${vo.res_month}]]월</td>
                                                        <td>[[${vo.tot_month_sales}]]</td>
                                                        <td th:text="${#numbers.formatInteger(vo.tot_res_price, 0, 'COMMA') + '원'}">36,000</td>
                                                        <td th:text="${#numbers.formatDecimal(vo.tot_month_percent, 2, 2) + '%'}"></td>
                                                        <td>
                                                            <progress id="progress1" th:value="${vo.tot_month_percent}" min="0" max="100"></progress>
                                                        </td>
                                                    </tr>


                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <!-- Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        $(document).ready(function() {
            let now        = new Date();
            let nowYear    = now.getFullYear();
            let nowMonth   = now.getMonth() + 1;
            let nowDate    = now.getDate();
            let date       = nowYear + '-' + nowMonth + '-' + nowDate;

            /** Jquery UI Date Picker */
            $('input[name="dates"]').daterangepicker({
                "maxSpan": {
                    "days": 7
                },
                "locale": {
                    "format": "YYYY-MM-DD",
                    "separator": " ~ ",
                    "applyLabel": "확인",
                    "cancelLabel": "취소",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": ["월", "화", "수", "목", "금", "토", "일"],
                    "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                    "firstDay": 1
                },
                // "startDate": moment().startOf('hour'),
                // "endDate": moment().startOf('hour').add(168, 'hour'),
                "startDate": moment().startOf('hour').subtract(168, 'hour'),
                "endDate": moment().startOf('hour'),
                "maxDate": moment().startOf('hour'),
                "drops": "down",
                "opens": "center"
            }, function (start, end, label) {
                alert(start.format('YYYY-MM-DD')+"~"+end.format('YYYY-MM-DD'));
            });

        });
    </script>
    <!-- 구글 차트 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        // 참조 데이터 준비
        let stats = [[${stats}]];

        console.log(stats);
        console.log("stats res_price : " + stats[0].res_price);


        // 구글 열 차트를 로드
        google.charts.load('current', {'packages':['corechart']});
        // callback 정의 : drawVisualization
        google.charts.setOnLoadCallback(drawVisualization);

        // 오늘 날짜
        let today = new Date();
        // 오늘 날짜 (월)
        nowMonth = today.getMonth() + 1;
        // 오늘 날짜 (일)
        nowDate = today.getDate();
        // 출력 날짜 형태 지정
        date = nowMonth + '/' + nowDate;

        console.log("date : " + date);

        // 이전 날짜
        // before[1] = 1일전 , before[2] = 2일전
        let before = new Array();
        for (let i=1; i<7; i++){
            before[i] = new Date(today.getTime()-(i * 24 * 60 * 60 * 1000));
            before[i] = (before[i].getMonth()+1) + '/' + before[i].getDate();
        }
        console.log(before[6] + " - " + stats[0].tot_res_price);
        console.log(before[5] + " - " + stats[1].tot_res_price);
        console.log(before[4] + " - " + stats[2].tot_res_price);
        console.log(before[3] + " - " + stats[3].tot_res_price);
        console.log(before[2] + " - " + stats[4].tot_res_price);
        console.log(before[1] + " - " + stats[5].tot_res_price);
        console.log(date + " - " + stats[6].tot_res_price);



        function drawVisualization() {

            // 그래프 내용 : drawVisualization 구현
            var data = google.visualization.arrayToDataTable([
                ['날짜', '일별매출', '누적매출'],
                [before[6],  stats[6].tot_res_price, stats[6].tot_res_price],
                [before[5],  stats[5].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price],
                [before[4],  stats[4].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price],
                [before[3],  stats[3].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price],
                [before[2],  stats[2].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[2].tot_res_price],
                [before[1],  stats[1].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[2].tot_res_price + stats[1].tot_res_price],
                [date,  stats[0].tot_res_price, stats[6].tot_res_price + stats[5].tot_res_price + stats[4].tot_res_price + stats[3].tot_res_price + stats[1].tot_res_price + stats[1].tot_res_price + stats[0].tot_res_price]
            ]);

            // 그래프 주석 표기
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                            { calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation" },
                            2]);

            // 그래프 옵션
            var options = {
                title : '매출현황',
                titleTextStyle: {fontSize: 18},
                animation:{
                    duration: 1000,
                    easing: 'in',
                },
                // 세로축 설정
                vAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    }
                },
                // 가로축 설정
                hAxis: {
                    titleTextStyle: {italic: false, bold: true},
                    textStyle: {
                        fontSize: 16,
                        bold: true,
                        italic: false
                    }
                },
                format: 'currency',             // 숫자 또는 라벨의 형식 문자열 (currency: 현지 통화)
                seriesType: 'bars',             // 베이스 차트 종류
                colors: ['#AACB73'],            // 베이스 차트 색상
                pointSize: 5,                   // 라인 포인트
                crosshair: { trigger: 'both', color: '#FFD4D4', opacity: 0.8 }, // 라인 교차점
                series: {1:
                    { pointShape: 'circle', type: 'line', color: '#FFD4D4'}}    // 라인
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(view, options);

            $(window).resize(function(){
                drawVisualization();
            });
        }
    </script>
    <!--
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data2 = google.visualization.arrayToDataTable([
                    ['객실유형', '퍼센트', { role: 'style' } ],
                    ['전체',  44+22+12, 'color: #4F650D'],
                    ['A룸',  44 , 'color: #BBD444'],
                    ['B룸',  40, 'color: #BBD444'],
                    ['C룸',  16, 'color: #BBD444'],
                    ['D룸',  23, 'color: #BBD444'],
                    ['E룸',  60, 'color: #BBD444']
                ]);

            var view2 = new google.visualization.DataView(data2);
            view2.setColumns([0, 1,
                            { calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation" },
                            2]);

            var options = {
                'title':'객실 점유율 (%)',
                'width':1200,
                'height':300,
                legend: {position: 'none'},
                isStacked: true,
                    // 가로축 설정
                hAxis: {
                    minValue: 0,
                    maxValue: 100
                },
                format: 'percent'
            };



            var chart = new google.visualization.BarChart(document.getElementById('chart_div2'));
            chart.draw(view2, options);
        }
    </script>
    -->
    <script th:inline="javascript">
        // 참조 데이터 준비
        let statsMonth = [[${statsMonth}]];

        console.log(statsMonth);
        console.log('statsMonth.length : ' + statsMonth.length);

        for(var vo of statsMonth) {
            console.log( vo.res_month + "=" + vo.tot_res_price);
        }
        //console.log( statsMonth[0].res_month + "=" + statsMonth[0].tot_res_price);
        //console.log( statsMonth[1].res_month + "=" + statsMonth[1].tot_res_price);
        //console.log( statsMonth[2].res_month + "=" + statsMonth[2].tot_res_price);

        let monthPercentList = [[${monthPercentList}]];

        console.log(monthPercentList);
        console.log(monthPercentList[0]);
    </script>
    <script th:inline="javascript">

        // 참조 데이터 준비
        let paysMap = [[${paysMap}]];

        //console.log(paysMap);
        //console.log(paysMap[1][0].res_no);
        //console.log(paysMap[1].length);


        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['payment', 'Percent'],
            ['신용/체크카드', paysMap[1].length],
            ['토스페이', paysMap[2].length],
            ['PAYCO', paysMap[3].length],
            ['카카오페이', paysMap[4].length]
            ]);

            var options = {
                title: '결제현황',
                titleTextStyle: {fontSize:18, bold: true},
                width: '100%',
                fontSize: 15,
                pieHole: 0.3,
                legend: {
                position: 'bottom',
                maxLines: 7
                },
                colors: ['#4F650D', '#7F9822', '#BBD444','#D3E570'],
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);

            $(window).resize(function(){
                drawChart();
            });

        }
    </script>
</th:block>
</html>