<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminUser.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <script th:src="@{/js/common/jquery.highlight-5.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col0">
                            <form th:action="@{/admin/user}">
                                <div class="selectProd">
                                    <select name="searchField">
                                        <option value="userId" th:selected="${ph.sc.searchField == 'userId'}">회원 아이디</option>
                                        <option value="userNick" th:selected="${ph.sc.searchField == 'userNick'}">회원 닉네임</option>
                                    </select>
                                </div>
                                <div class="searchProd">
                                    <input type="text" class="search_box" name="searchWord" placeholder="검색어를 입력하세요" th:value="${param.searchWord}"/>
                                    <button type="submit" class="btnSearch">
                                        <img th:src="@{/images/admin/btn_search.png}">
                                    </button>
                                </div>
                                <button type="button" class="download_list">
                                    엑셀 다운로드
                                </button>
                            </form>
                        </div>
                        <div class="col_nav">
                            <span>회원관리 ></span>
                            <span>회원목록</span>
                        </div>
                        <div class="col2">
                            <form th:action="@{/admin/user}">
                                <!-- 선택 -->
                                <div class="select_user_type">
                                    <table>
                                        <tr>
                                            <th>상태</th>
                                            <td>
                                                <input type="radio" name="searchIsEnabled" value="1"><span>정상</span>
                                            </td>
                                            <td>
                                                <input type="radio" name="searchIsEnabled" value="0"><span>탈퇴</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>등급</th>
                                            <td>
                                                <input type="radio" name="searchLevel" value="1"><span>일반</span>
                                            </td>
                                            <td>
                                                <input type="radio" name="searchLevel" value="2"><span>엘리트</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>구분</th>
                                            <td>
                                                <input type="radio" name="searchType" value="1"><span>홈회원</span>
                                            </td>
                                            <td><input type="radio" name="searchType" value="2"><span>SNS회원</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><input type="submit" value="검색" class="btnSelectUser"></td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- 목록 -->
                                <div class="board_list">
                                    <ul>
                                        <li>번호</li>
                                        <li>회원 아이디</li>
                                        <li>닉네임</li>
                                        <li>상태</li>
                                        <li>등급</li>
                                        <li>구분</li>
                                        <li>가입일</li>
                                        <li>비고</li>
                                    </ul>
                                    <ul th:each="user,i:${users}">
                                        <li>[[${ph.totalCnt - ph.sc.offset - i.index}]]</li>
                                        <li class="user_id" th:text="${user.user_id}">mango@gmail.com</li>
                                        <li class="user_nick" th:text="${user.nick}">고민중인흰둥이</li>
                                        <li th:text="${user.isEnabled == 0 ? '탈퇴' : (user.isLocked == 0 ? '차단' : '정상')}" th:class="${user.isEnabled == 0 ? 'drop' : (user.isLocked == 0 ? 'block' : 'normal')}"></li>
                                        <li th:text="${user.level == 1}? '일반':'엘리트'">등급</li>
                                        <li th:text="${user.type == 1}? '홈회원':'sns회원'">회원 구분</li>
                                        <li th:text="${user.rdate}">가입일</li>
                                        <li>
                                            <button class="btnNote">메모</button>
                                            <!-- 메모 팝업 -->
                                            <dialog id="d_Memo">
                                                <form method="dialog">
                                                    <section>
                                                        <nav class="d_tit">
                                                            <h1 class="d_tit2">메모</h1>
                                                            <input type="text" class="d_id">
                                                        </nav>
                                                        <div class="d_box">
                                                            <textarea class="d_content" placeholder="메모 내용을 작성하세요" th:text="${user.memo}"></textarea>
                                                        </div>
                                                        <div class="rr_btn">
                                                            <button class="btnRclose" id="btnCloseModal2" value="close" type="reset">닫기</button>
                                                            <button type="button" class="btnRsubmit" id="btnCloseModal3" >작성</button>
                                                        </div>
                                                    </section>
                                                </form>
                                            </dialog>
                                            <button class="btnBlockUser" type="button" id="btnBlockUser">차단</button>
                                            <button class="btnDeleteUser" type="button">삭제</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pagination" th:object="${ph}" th:style="${#lists.size(users) == 0 ? 'visibility:hidden;':''}">

                                    <th:block th:if="*{showPrev}">
                                        <a th:href="@{/admin/user} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">< </a>
                                    </th:block>

                                    <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                                        <a th:href="@{/admin/user} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                                            [[${num}]]
                                        </a>
                                    </th:block>

                                    <th:block th:if="*{showNext}">
                                        <a th:href="@{/admin/user} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next"> ></a>
                                    </th:block>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>
    $(document).ready(function(){
        // 메모 팝업
        $(document).on('click', '.btnNote', function(e){
            e.preventDefault();
            $(this).next().show();

            let d_id = $(this).parent().closest('ul').find('.user_id').text();
            console.log('d_id: '+ d_id );
            $(this).next().find('.d_id').attr('value', d_id);

        });
        $('.btnRclose').click(function(e){
            e.preventDefault();
            alert('here2');
            $(this).closest('li').find('#d_Memo').hide();
        });
        // input 엔터키 submit 막기
        $('input[type="text"]').keydown(function() {
            if (event.keyCode === 13) {
                event.preventDefault();
            };
        });

        // 검색 키워드 하이라이트
        const searchField = document.querySelector('select[name=searchField]');
        const searchWord = document.querySelector('input[name=searchWord]');

        $(function (){
            if(searchField.options[searchField.selectedIndex].value === "userId"){
                $('.user_id').highlight(searchWord.value);
            }
            else if(searchField.options[searchField.selectedIndex].value === "userNick"){
                $('.user_nick').highlight(searchWord.value);
            }
        })

        // 메모 작성
        $('.btnRsubmit').click(function(e){
            e.preventDefault();
            alert('click the submit button');

            let user_id = $(this).parent().prev().prev().find('.d_id').val();
            let memo = $(this).parent().prev().children().val();
            console.log('user_id: '+user_id);
            console.log('memo: '+memo);

            const jsonData = {
                "user_id" : user_id,
                "memo" : memo
            };

            console.log('here1 in html');

             ajaxAPI("admin/updateMemo", jsonData, "POST").then((response) => {
                    if(response.result > 0) {
                        alert('메모 작성이 완료되었습니다.');
                        $(this).closest('li').find('#d_Memo').hide();
                    } else {
                        alert('error');
                    }
             }).catch((errorMsg) => {
                console.log(errorMsg);
             });



        });

        // 회원 차단
        $('.btnBlockUser').click(function(e){
            e.preventDefault();
            alert('click the block button');

            let user_id = $(this).parent().parent().find('.user_id').text();
            console.log('user_id:' + user_id);

            if(!confirm("해당 회원을 차단하겠습니까?")){
                alert('차단이 취소되었습니다.');
            }else{
                const jsonData = {"user_id": user_id};

                ajaxAPI("admin/updateIsLocked", jsonData, "POST").then((response) => {
                        if(response.result > 0) {
                            alert('해당 회원이 차단되었습니다.');
                        } else {
                            alert('error');
                        }
                }).catch((errorMsg) => {
                    console.log(errorMsg);
                });
            }
        });


        // 회원 삭제
        $('.btnDeleteUser').click(function(e){
            e.preventDefault();
            alert('click the delete button');

            let user_id = $(this).parent().parent().find('.user_id').text();
            console.log('user_id:' + user_id);

            if(!confirm("해당 회원을 삭제하겠습니까?")){
                alert('삭제가 취소되었습니다.');
            }else{
                const jsonData = {"user_id": user_id};

                ajaxAPI("admin/updateIsEnabled", jsonData, "POST").then((response) => {
                        if(response.result > 0) {
                            alert('해당 회원이 삭제되었습니다.');
                        } else {
                            alert('error');
                        }
                }).catch((errorMsg) => {
                    console.log(errorMsg);
                });
            }
        });





    });
</script>
</th:block>
</html>