<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminUser.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col0">
                            <form action="#">
                                <div class="selectProd">
                                    <select>
                                        <option value="1">이메일아이디</option>
                                        <option value="1">회원명</option>
                                        <option value="1">닉네임</option>
                                    </select>
                                </div>
                                <div class="searchProd">

                                    <input type="text" class="search_box" placeholder="회원 검색">
                                    <button type="submit" class="btnSearch">
                                        <input type="image" th:src="@{/images/admin/btn_search.png}">
                                    </button>
                                </div>
                                <button type="button" class="download_list">
                                    엑셀 다운로드
                                </button>
                            </form>
                        </div>
                        <div class="col_nav">
                            <span>회원관리 ></span>
                            <span>회원목록</span>
                        </div>
                        <div class="col2">
                            <form action="#">
                                <!-- 선택 -->
                                <div class="select_user_type">
                                    <ul>
                                        <li>
                                            <a href="#" class="on">차단회원</a>
                                        </li>
                                        <li>
                                            <a href="#">탈퇴회원</a>
                                        </li>
                                        <li>
                                            <a href="#">일반회원</a>
                                        </li>
                                        <li>
                                            <a href="#">엘리트회원</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 목록 -->
                                <div class="board_list">
                                    <ul>
                                        <li>번호</li>
                                        <li>이메일아이디</li>
                                        <li>닉네임</li>
                                        <li>상태</li>
                                        <li>등급</li>
                                        <li>소셜</li>
                                        <li>가입일</li>
                                        <li>비고</li>
                                    </ul>
                                    <ul>
                                        <li>1</li>
                                        <li>circle@naver.com</li>
                                        <li>강아지에게쫓기는지니요정</li>
                                        <li>정상</li>
                                        <li>일반</li>
                                        <li>일반</li>
                                        <li>2023/03/04 20:50:12</li>
                                        <li>
                                            <button class="btnNote">메모</button>
                                            <!-- 메모 팝업 -->
                                            <dialog id="d_Memo">
                                                <form method="dialog">
                                                    <section>
                                                        <nav class="d_tit">
                                                            <h1 class="d_tit2">메모</h1>
                                                        </nav>
                                                        <div class="d_box">
                                                            <textarea placeholder="메모 내용을 작성하세요"></textarea>
                                                        </div>
                                                        <div class="rr_btn">
                                                            <button class="btnRclose" id="btnCloseModal2" value="close" type="reset">닫기</button>
                                                            <button class="btnRsubmit" id="btnCloseModal3">작성</button>
                                                        </div>
                                                    </section>
                                                </form>
                                            </dialog>
                                            <button class="btnNote2" type="button">차단</button>
                                            <button class="btnNote2" type="button">삭제</button>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>2</li>
                                        <li>mango@gmail.com</li>
                                        <li>고민중인흰둥이</li>
                                        <li class="drop">탈퇴</li>
                                        <li>엘리트</li>
                                        <li>카카오</li>
                                        <li>2023/03/04 20:50:12</li>
                                        <li>
                                            <button class="btnNote">메모</button>
                                            <!-- 메모 팝업 -->
                                            <section id="d_Memo" style="display: none;">
                                                <form method="dialog">
                                                    <section>
                                                        <nav class="d_tit">
                                                            <h1 class="d_tit2">메모</h1>
                                                        </nav>
                                                        <div class="d_box">
                                                            <textarea placeholder="메모 내용을 작성하세요"></textarea>
                                                        </div>
                                                        <div class="rr_btn">
                                                            <button class="btnRclose" id="btnCloseModal2" value="close" type="reset">닫기</button>
                                                            <button class="btnRsubmit" id="btnCloseModal3">작성</button>
                                                        </div>
                                                    </section>
                                                </form>
                                            </section>
                                            <button class="btnNote2" type="button">차단</button>
                                            <button class="btnNote2" type="button">삭제</button>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>3</li>
                                        <li>qwerty@gmail.com</li>
                                        <li>읽씹하는얼죽아</li>
                                        <li class="block">차단</li>
                                        <li>일반</li>
                                        <li>네이버</li>
                                        <li>2023/03/04 20:50:12</li>
                                        <li>
                                            <button class="btnNote">메모</button>
                                            <!-- 메모 팝업 -->
                                            <section id="d_Memo" style="display: none;">
                                                <form method="dialog">
                                                    <section>
                                                        <nav class="d_tit">
                                                            <h1 class="d_tit2">메모</h1>
                                                        </nav>
                                                        <div class="d_box">
                                                            <textarea placeholder="메모 내용을 작성하세요"></textarea>
                                                        </div>
                                                        <div class="rr_btn">
                                                            <button class="btnRclose" id="btnCloseModal2" value="close" type="reset">닫기</button>
                                                            <button class="btnRsubmit" id="btnCloseModal3">작성</button>
                                                        </div>
                                                    </section>
                                                </form>
                                            </section>
                                            <button class="btnNote2" type="button">차단</button>
                                            <button class="btnNote2" type="button">삭제</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pagination">
                                    <a href="#">&laquo;</a>
                                    <a href="#">1</a>
                                    <a href="#" class="active">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">&raquo;</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>
    $(document).ready(function(){
        // 메모 팝업
        $(document).on('click', '.btnNote', function(e){
            e.preventDefault();
            alert('here');
            $(this).next().show();
        });
        $('.btnRclose').click(function(e){
            e.preventDefault();
            alert('here2');
            $(this).closest('li').find('#d_Memo').hide();
        });
        // input 엔터키 submit 막기
        $('input[type="text"]').keydown(function() {
            if (event.keyCode === 13) {
                event.preventDefault();
            };
        });

    });
</script>
</th:block>
</html>