* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', 'Noto Sans KR', sans-serif;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
}

h3 {
    font-size: 23px;
    font-weight: 500;
    position: absolute;
    top: 38px;
    left: 3px;
}
.content{
    position: relative;
}
#daterange {
    vertical-align: text-top;
    border: none;
    width: 191px;
}
#diary_content > ul > li {
    margin-bottom: 0px;
}
.view{min-height: auto;}
.place .content {
    font-size: 14px;
    width: 100%;
    border: 0px solid #ddd;
    resize: none;
    height: 190px;
}

.place .contentArea {
    font-size: 14px;
    width: 100%;
    border: 0px solid #ddd;
    resize: none;
    height: 56px;
}
.toggle > .image {
    width: 470px;
    margin: 0 auto;    
    margin-bottom: 20px;
    cursor: pointer;
}

.toggle > .image > img {
    width: 100%;
    height: 350px;
    object-fit: contain;
}
.place > .spot > span::before {
    background: none;
    margin-right: 0;
    display: inline;
}
.place > .spot > img {
    vertical-align: bottom;
}
.place {padding: 20px 25px 20px 15px;}

/** 메인(목록, Map) */
#diary {
    /* 2023/04/02 서정현 */
    /*overflow: hidden; */
}

.content {
    width: 1130px;
    min-height: 983px;
    margin: 0 auto;
}

/** 메인(목록) */

/** 목록 - 필터 */
.filter { 
    position: relative;
    /* 2023/04/02 서정현*/
    margin: 0 auto;
    /*left: 115px;*/
    /*width: 85%; */
    width: 100%;
    height: 50px;
    padding-top: 10px;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
    margin-top: 50px;
}

.filter a { 
    display: block;
    float: left;
    width: 45px; height: 45px;
    margin-left: 10px;
    background-image: url(../img/list.png);
    background-size: cover;
}

.filter select {
    width: 150px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}

.filter input {
    position: relative;
    bottom: 1px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    margin-left: 3px;
    margin-right: 10px;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #dbdbdb;
    vertical-align: -2px;
}

.filter input::placeholder{ font-size: 12px; padding-left: 10px;}

.filter button {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #fcf951;
}
.filter button:hover {
    background-color: rgba(255,0,85,1);
    color: #fff;
}

.filter select option {font-size: 14px;}


.filter > #filter1 {float: left;}
.filter > #filter1 > select { border: 1px solid #dbdbdb; vertical-align: -2px; margin-left: 10px;}
.filter > #filter2 {float: right; margin-right: 10px;}
.filter > #filter2 > select { border: 1px solid #dbdbdb; vertical-align: -2px; }

.filter > #filter2 select {
    width: 115px;
}



/* 여행일기 목록 */
.list {
    /* 2023/04/02 서정현 */
    /*float: left;*/
    /*margin-left: 110px;*/
    display: inline-block;


    width: 610px; height: auto;
}

.list {
    /* 2023/04/02 서정현*/
    margin-top: 40px;
    /*margin-top: 86px;*/
}

.list > .list-area > ul > li {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 15px;
}


.list ul li .img_slider {
    overflow: hidden;
}


.list ul li .img_slider img {
    object-fit: cover;
}

.list .heart {
    float: right; 
    position: absolute; 
    padding: 2px;
    border: none;
    background: none;
}
.list .heart img {
    content:url('../../images/diary/heart.png');
    position: relative; 
    top: 3px;
    left: 229px;
    z-index: 1;
}

.list .heart.on img {
    content: url('../../images/diary/heart2.png');
}

.list > .list-area > ul > li:hover { 
    box-shadow: 0 14px 28px rgb(0 0 0 / 15%), 0 10px 10px rgb(0 0 0 / 15%);
}


.list .marker  {
    float: left;
    position: absolute;
    border: none;
    background: none;
}

/*
.list .marker img {
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 1;
}
*/

/* 
.list .marker img {
    position: relative;
    top: 40px;
    left: 184px;
    width: 26%;
    z-index: 1;
}*/



.list .marker img {
    position: relative;
    top: 8px;
    left: -42px;
    width: 26%;
    z-index: 1;
}


.list .diary_content {
    z-index: -9999;
    width: 100%;
    bottom: 300px;
    height: 100%;
    background-color: rgb(19, 19, 19, 0.5);
    position: relative;
    text-align: left;
    padding: 40px;
}

.list .diary_content {font-size: 16px;}

.list .diary_content #nick {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px
}

.list .diary_content p {
    color:#e9e9e9;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list .diary_content p:nth-of-type(2) {
    height: 95px;
}

.list .diary_content b {
    color:#00bbfe;
    font-size: 16px
}

.list .diary_content button {
    border: none;
    background: #00bbfe;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
}

.list .diary_content button a {
    color: #515050;
    padding: 9px 28px 7px 28px;
}

.diary_content.on {
    z-index: 10;
}

.spot_wrap {
    position: absolute;
    left: 0;
    bottom: 57px;
    width: 196px;
    margin-left: -102px;
    text-align: left;
    overflow: hidden;
    font-size: 10px;
}

.spot_title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #bbd444;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    font-weight: bold;
}

.spot_content {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

.spot_close {
    position: absolute;
    top: 9px; right: 7px;
    color: #888;
    width: 12px; height: 12px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png);
    background-size: 12px;
    cursor: pointer;
}

.diary_spot_wrap {
    position: absolute;
    left: 76px;
    bottom: -31px;
    width: 196px;
    margin-left: -102px;
    text-align: left;
    overflow: hidden;
    font-size: 10px;
}

.diary_spot_title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #bbd444;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.diary_spot_content {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.diary_spot_close {
    position: absolute;
    top: 9px; right: 7px;
    color: #888;
    width: 12px; height: 12px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png);
    background-size: 12px;
}


/* 슬릭 슬라이드 설정 */

/* arrow */
.slick-arrow {
    display: none !important;
    z-index: 2; 
    position:absolute;
    top: 135px !important;
    width: 50px; 
    height: 50px; 
    transform: translateY(-25px);
}


/* dot위치 고정시키기 위해 높이 설정 */
.slick-track {
    height: 270px;
}

.slick-arrow.on {display: inline-block !important;}

.slick-prev.slick-arrow{left: 0;}
.slick-next.slick-arrow{right: 0;}

/* dots 설정 */
.slick-dots {  
	text-align: center;
    bottom: 0px !important;
}
.slick-dots li{
    display: inline-block;
    margin: 0 !important;
}

.slick-dots li button:before {color: #e9e9e9 !important;}
.slick-dots li.slick-active button:before {color: #ffffff !important;}




/** 메인(Map) */
#listMap {
    /*2023/04/02 서정현*/
    /*float: left;*/
    float: right;
    position: sticky;
    top: 10px;
    margin-bottom: 102px;


    width: 490px; height: 700px;
    margin-top: 85px; margin-left: 30px;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 15%);
    border-radius: 20px;
}

/* 2023/04/02 서정현*/
#diary.diary_list #listMap {
    width: 520px;
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 31px;
}

#diary.diary_write #listMap {width: 490px;  margin-bottom: 104px;}

#listMap > p {
    position: absolute;
    width: 250px; height: 50px;
    top: 10px;
    left: 20px;
    z-index: 99;
}

#listMap > p > button {
    margin-left: 5px;
    width: 110px; height: 27px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #252525;
    background-color: white;
}

#listMap > p > button:hover{
    background-color: #dbcbcb;
}


/* 버튼공통 */
button {cursor: pointer;}

#btnDiarySubmit {
    width: 100px;
    height: 30px;
    margin-top: 100px;
    float: right;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    pointer: cursor;
}

#btnDiarySubmit:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
}

#btnDiarySubmit:active {
    position:relative;
    top:1px;
}

/* 여행일기 보기 */

.view {
    position: relative;

    /* 2023/04/23 서정현 */
    /*float: left;*/
    display: inline-block;
    /*margin-left: 110px;*/


    width: 610px;
    padding: 40px;
    margin-top: 85px;
    margin-bottom: 100px;
    background-color: #F5F6FF;
    border-radius: 20px;
    overflow: hidden;
}

.diaryList {
    float: right;
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    color : white;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #297a98;
    cursor:pointer;
}

.diaryDelete {
    float: right;
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color : white;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #297a98;
    cursor:pointer;
}

.diaryModify {
    float: right;
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    color: white;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #297a98;
    cursor: pointer;
}

#diary_content {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 30px;
}

#diary_content * {margin-bottom: 20px; font-size: 15px;}

#diary_content > span {
    font-size: 18px;
    font-weight: 500;
    display: block;
    
}
#diary_content > b {display: inline-block;}
#diary_content > strong {
    display: block;
}


#diary_content li::before {
    position: relative;
    top: 6px;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    content: "";
    background-size: 20px;
}
#diary_content li:nth-of-type(1)::before {
    background-image: url('../../images/diary/calendar2.png');
}
#diary_content li:nth-of-type(2)::before {
    background-image: url('../../images/diary/bed1.png');
}
#diary_content li:nth-of-type(3)::before {
    background-image: url('../../images/diary/edit.png');
}

#diary_content li:nth-of-type(4)::before {
    background-image: url('../../images/diary/heart3.png');
    scale: 1.2;
}

.place {
    margin-top: 50px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10px 30px 30px 30px;
}

.place:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 15%), 0 10px 10px rgb(0 0 0 / 15%);
}

.place .spot {
    cursor:pointer;
}


/* .place > .spot > span::before {
    position: relative;
    bottom: -10px;
    display: inline-block;
    width: 37px;
    height: 37px;
    content: "";
    margin-right: 10px;
    background-size: 37px;
    background-image: url(../../images/diary/marker4.png);
    background-repeat: no-repeat;
} */

.place > .spot > img {
    position: relative;
    left: -15px;
    bottom: -5px;
    display: inline-block;
    width: 40px;
    height: 45px;
}

.place > .spot > span {
    font-size: 20px;
    font-weight: bold;
}

.place > .arrow {
    position: relative;
    bottom: 18px;
    float: right;
    width: 15px;
}

.place > button {
    width: 20px;
    height: 20px;
    position: relative;
    right: -74px;
    bottom: 63px;
    float: right;
    margin-right: 20px;
    background-image: url(/Lemo/images/diary/delete-button.png);
    background-color: transparent;
    background-size: 20px;
    border: none;
    font-size: 0;
}



.place > .arrow.on {
    content: url('../../images/cs/arr_top.png');
}

.place .toggle {
    display: none;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.toggle > .image {vertical-align: center; text-align: center; margin-bottom: 50px;}

.toggle > .image > img{
    max-width: 100%;
    min-height: auto;
    object-fit: cover;
}

.toggle > .text {
    font-size: 14px;
    width: 100%;
    border: 0px solid #ddd;
    resize: none;
    height: 56px;
}

/* 여행일기 댓글 */
.commentEmpty {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.reply {
    margin-top: 50px;
    background: #fafafa;
    border-radius: 5px;
    padding: 30px;
}

.reply > #tit > span {font-size: 15px; margin-right: 10px;}
.reply > #tit > b {font-size: 14px; font-weight: bold;}

.reply #rep li {
    border-bottom: 1px solid #cbcbcb;
    margin-top: 15px;
    padding: 10px;
    overflow: hidden;
}

.reply #rep li:last-of-type {border-bottom: 0;}

.reply #rep li .repdiv1 {
    position: relative;
    height: 50px;
}

.repdiv1 .comModified {
    display: inline-block;
    padding: 1px;
    border-radius: 4px;
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    background: rgb(255,167,38);
    margin-left: 3px;
}

.repdiv1 > img {
    float: left;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100px;
}

.repdiv1 div {
    position: relative;
    left: 10px;
    top: 10px;

}

.reply_id {
    width: 100%;
    color: #00bbfe;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.repdiv1 div strong {
    font-weight: bold;
    font-size: 13px;
}

.repdiv1 div span {
}

.reply #rep li .repdiv2 {
    margin: 5px 0;
}

.reply #rep li .repdiv2 > textarea {
    width: 100%;
    border: none;
    font-size: 13px;
    resize: none;
    background-color: #fafafa;
}

.reply #rep li .repdiv3 {
}

.repdiv3 a {
    display: inline-block;
    font-size: 12px;
}

.repdiv3 > div:nth-child(1) {
    float: left;
}
.repdiv3 > div:nth-child(2) {
    float: right;
}

.repdiv3 > div a:nth-child(1) {

}

.removeCom > p {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 13px;
}

.removeCom .showall {
    display: inline-block;
    font-size: 12px;
}

.showall {
    width : 80px;
}

.repdiv3 div a.all {
    font-weight: bold;
    color: #00bbfe;
}

/* 댓글쓰기 */
.write_reply {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #fafafa;
    padding-bottom: 30px;
}

.write_reply textarea {
    position: relative;
    top: 15px;
    margin-left: 15px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    width: 94%;
    height: 76px;
    overflow: hidden;
    resize: none;
    padding: 15px;
    font-size: 13px; 
}

.write_reply button {
    position: relative;
    top: 18px;
    left: 453px;
    border: none;
    background-color: #00bbfe;
    height: 26px;
    width: 60px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}


/* 답댓글
.write_reply.re {
    display: none;
}

.write_reply.re.show {
    display: block;
}
*/

.write_reply textarea {

}
.write_reply button {
    left: 455px;
}

.write_reply {
    margin-top: 0px;
}

.write_reReply textarea {

}
.write_reReply button {
    left: 397px;
}

.write_reReply {
    margin-top: 0px;
}

/* 댓글쓰기 */
.write_reReply {
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fafafa;
}

.write_reReply textarea {
    position: relative;
    top: 15px;
    margin-left: 15px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    width: 94%;
    height: 76px;
    overflow: hidden;
    resize: none;
    padding: 15px;
    font-size: 13px;
}

.write_reReply button {
    position: relative;
    top: 18px;
    left: 370px;
    border: none;
    background-color: #00bbfe;
    height: 26px;
    width: 60px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}


.showall.open{
    color: #00bbfe;
}

/* 답 댓글 목록 */
.re_reply {
    display: none;
    width: 445px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    margin-left: 25px;
}

.re_reply.open {
    display: block;
}

.re_reply ul {
    
}
.re_reply li {}
.re_reply .repdiv1 {}
.re_reply .repdiv2 {}
.re_reply .repdiv3 {}
.re_reply .repdiv3 .write_reply.re {}

.re_reply .write_reply.re {}
.re_reply .write_reply.re > form {
    width: 450px;
    position: relative;
    right: 25px;
}