<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <script th:src="@{/js/admin/selectOption.js}"></script>
    <script>
      $(document).ready(function() {

        // 할인율(0~100), 할인금액(0~) 범위 제한
        const discountRadio = $('.discount');
        const discountPriceRadio = $('.discountPrice');
        const saleOptionInput = $('.insertSaleOption');

        saleOptionInput.on('input', function() {
            if (discountRadio.is(':checked') && (isNaN(saleOptionInput.val()) || saleOptionInput.val() < 0 || saleOptionInput.val() > 100)) {
                alert('0과 100사이의 할인율을 입력하십시오.');
                saleOptionInput.val(0);
            } else if (discountPriceRadio.is(':checked') && (isNaN(saleOptionInput.val()) || saleOptionInput.val() < 0)) {
                alert('0보다 큰 할인금액을 입력하십시오.');
                saleOptionInput.val(0);
            }
        });

        discountRadio.on('change', function() {
            if (discountRadio.is(':checked') && (saleOptionInput.val() < 0 || saleOptionInput.val() > 101 || isNaN(saleOptionInput.val()))) {
                alert('0과 100사이의 할인율을 입력하십시오.');
                saleOptionInput.val(0);
            }
        });

        discountPriceRadio.on('change', function() {
            if (discountPriceRadio.is(':checked') && (saleOptionInput.val() < 0 || isNaN(saleOptionInput.val()))) {
                alert('0보다 큰 할인금액을 입력하십시오.');
                saleOptionInput.val(0);
            }
        });

        // 할인율/할인가 체크에 따라 input name 변경
        $('.discount, .discountPrice').on('change', function() {
            if ($('.discount').is(':checked')) {
                $('.insertSaleOption').attr('name', 'cp_rate');
                $('#cp_maximum').prop('readonly', false);
                $('#cp_maximum').css('background', '#fff');
                $('#cp_maximum').css('opacity', '1');
                $('.msg_condition_price').css('display', 'none');

            } else if ($('.discountPrice').is(':checked')) {
                $('.insertSaleOption').attr('name', 'cp_price');
                $('#cp_maximum').prop('readonly', true);
                $('#cp_maximum').css('background', '#e9e9e9');
                $('#cp_maximum').css('opacity', '50%');
                $('.msg_condition_price').css('display', 'inline-block');
            }
        });

        // 배포일 날짜 제한 (오늘 기준 이전 날짜 선택 불가)
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("cp_start").setAttribute('min', today);
        document.getElementById("cp_end").setAttribute('min', today);

        $('#cp_start').on('change', function() {
            var selectedDate = new Date($(this).val());
            var minDate = new Date($(this).attr('min'));

            console.log("selectedDate : " + selectedDate.toISOString().split('T')[0]);
            console.log("minDate : " + minDate);

            document.getElementById("cp_end").setAttribute("min", selectedDate.toISOString().split('T')[0]);

            if (selectedDate < minDate) {
                $(this).val($(this).attr('min'));
            }
        });

        // 발급 수량 제한
        var input = document.getElementsByClassName("insertSaleCount")[0];
        input.addEventListener("keydown", function(event) {
            if (event.key === '-' || event.key === '+') {
                event.preventDefault();
            }
        });

        input.addEventListener("input", function(event) {
            if (input.value < 0) {
                input.value = 0;
            }
        });

        const noLimitedCoupon = document.querySelector('.noLimited_coupon');   // 수량제한없음 라디오 박스
        const insertSaleCount = document.querySelector('.insertSaleCount');     // 쿠폰 발급 수량 작성 인풋

        noLimitedCoupon.addEventListener('click', function() {
            if (noLimitedCoupon.checked) {
                alert('hi');
                insertSaleCount.style.display = 'none';
                insertSaleCount.value = '1';
            }else {
                alert('bye');
                insertSaleCount.style.display = 'inline-block';
                insertSaleCount.value = '';
            }

        });




        // 이용가능 일수 제한 + 금액 조건 제한 (최소, 최대 주문 금액)
        var inputs = document.querySelectorAll(".input_100");
        inputs.forEach(function(input) {
            input.addEventListener("keydown", function(event) {
                if (event.key === '-' || event.key === '+') {
                    event.preventDefault();
                }
            });
            input.addEventListener("input", function(event) {
                if (input.value < 0) {
                    input.value = 0;
                }
            });
            input.setAttribute("min", 0);
        });

        const cpMinimumInput = document.querySelector('input[name="cp_minimum"]');
        const cpMaximumInput = document.querySelector('input[name="cp_maximum"]');

        cpMaximumInput.addEventListener('change', () => {
            const cpMinimum = parseFloat(cpMinimumInput.value);
            const cpMaximum = parseFloat(cpMaximumInput.value);

            if (cpMinimum > cpMaximum) {
                alert('최대주문금액은 최소주문금액보다 큰 수를 입력해 주십시오');
                cpMaximumInput.value = ''; // Clear the value of cp_maximum input
                return false;
            }
        });




    });

    </script>
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::businessFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>쿠폰관리 ></span>
                            <span>쿠폰등록</span>
                        </div>

                        <!-- 등록 폼 -->
                        <form class="col_register_form" th:action="@{/business/coupon/rsaveCoupon}" method="post">
                            <!-- <input type="hidden" name="userId_id" th:value="${#authentication.principal.user.uid}">-->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>쿠폰등록 <i class="essential_tag_guide">* 표기 - 필수 입력 정보</i></span>
                                        <div th:if="${successMessage}" class="alert alert-success" role="alert">
                                            <p th:text="${successMessage}"></p>
                                        </div>
                                    </div>
                                </div>
                                <table class="input_stayRoomInfo">
                                    <tr>
                                        <td>숙소 선택 <i class="essential_tag">*</i></td>
                                        <td>
                                            <select name="acc_id" id="selectAccOwned">
                                                <option value="">전체적용</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>쿠폰명 <i class="essential_tag">*</i></td>
                                        <td><input type="text" name="cp_subject" placeholder="쿠폰명을 입력하세요" autofocus required></td>
                                    </tr>
                                    <tr>
                                        <td>할인율/할인가 <i class="essential_tag">*</i></td>
                                        <td>
                                            <!--
                                            <input class="insertSaleOption" type="number" placeholder="할인율 또는 할인가 택1 작성">
                                            <input class="insertSaleOption" type="number" placeholder="할인율 또는 할인가 택1 작성" name="${cp_disType == 1} ? 'cp_rate' : 'cp_price'" />
                                            <div class="selectSaleOption">
                                                <input type="radio" name="cp_disType" value="1" class="discount">퍼센트(%)
                                                <input type="radio" name="cp_disType" value="2" class="discountPrice">원(₩)
                                            </div>
                                            -->
                                            <input class="insertSaleOption" type="number" placeholder="할인율 또는 할인가 택1 작성"/>
                                            <div class="selectSaleOption">
                                                <input type="radio" name="cp_disType" value="1" class="discount" id="discount">
                                                <label for="discount">퍼센트(%)</label>
                                                <input type="radio" name="cp_disType" value="2" class="discountPrice" id="discountPrice">
                                                <label for="discountPrice">원(₩)</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>발급 수 제한</td>
                                        <td>
                                            <input name="cp_limitedIssuance" class="insertSaleCount" type="number" min="0" placeholder="쿠폰 발급 수량 작성">
                                            <div class="selectSaleLimit">
                                                <input type="checkbox" name="sales_option" value="" class="noLimited_coupon" id="noLimited_coupon">
                                                <label for="noLimited_coupon">수량제한없음</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>금액 조건 <i class="essential_tag">*</i></td>
                                        <td>
                                            <input name="cp_minimum" class="input_100" type="number" placeholder="최소주문금액">/
                                            <input name="cp_maximum" class="input_100" type="number" placeholder="최대주문금액">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>배포일 <i class="essential_tag">*</i></td>
                                        <td>
                                            <input name="cp_start" id="cp_start" class="input_130" type="date" min="">
                                            &nbsp;~&nbsp;
                                            <input name="cp_end" id="cp_end" class="input_130" type="date" min="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>이용가능일수 <i class="essential_tag">*</i></td>
                                        <td><input name="cp_daysAvailable" class="input_100" type="number" placeholder="일 단위 입력"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="btnAdminProd">
                                <button type="submit">
                                    쿠폰등록
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>


    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>
        // 쿠폰 목록 (판매자) 소유 숙소 셀렉트 옵션 추가
        window.onload = function() {
            let selectAccOwned = document.getElementById("selectAccOwned");

            ajaxAPI("business/finaAllAccOwnedForInfo", null, "GET").then((response)=>{

                console.log('response1 : %o', response);

                for (let i = 0; i < response.length; i++) {
                    let option = document.createElement("option");
                    option.value = response[i].acc_id;
                    option.text = response[i].acc_name;
                    selectAccOwned.add(option);
                }
            }).catch((errorMsg)=>{
                console.log(errorMsg);
            });
        };
    </script>



</th:block>
</html>