<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <script th:src="@{/js/admin/selectOption.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <!-- 메인 -->
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::businessFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>쿠폰관리 ></span>
                            <span>쿠폰목록</span>
                        </div>

                        <form class="col_register_form" th:action="@{/business/coupon/list}">
                            <!-- 쿠폰 관리 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>쿠폰 관리</span>
                                    </div>
                                </div>
                                <!-- 쿠폰 검색 (관리자)-->
                                <div class="coupon_top">
                                    <h3>발급쿠폰검색</h3>
                                    <table class="search_coupon">
                                        <tr>
                                            <th>숙소 선택</th>
                                            <td>
                                                <select id="c_role_type" class="selectAccOwned" name="acc_id">
                                                    <option value="">- 전체 -</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="search_btn">
                                        <button type="submit" class="btnAdminProd3">검색</button>
                                    </div>
                                </div>

                                <!-- 쿠폰 목록 -->
                                <div class="coupon_list">
                                    <div class="c_list_top">
                                        <div class="c_w70">
                                            <!--<a href="#" class="btn_remove">삭제</a>-->
                                        </div>
                                        <div class="c_w30">
                                            <a th:href="@{/business/coupon/coupon}" class="btn_insert">쿠폰등록</a>
                                        </div>
                                    </div>
                                    <table class="c_list">
                                        <tr>
                                            <th>쿠폰아이디</th>
                                            <th>쿠폰명</th>
                                            <th>할인율(%)</th>
                                            <th>할인가(원)</th>
                                            <th>배포시작일</th>
                                            <th>배포종료일</th>
                                            <th>발급수</th>
                                            <th>관리</th>
                                        </tr>
                                        <th:block th:if="${#lists.size(coupons) != 0}">
                                            <tr th:each="coupon:${coupons}">
                                                <td th:text="${coupon.cp_id}">1</td>
                                                <td th:text="${coupon.cp_subject}"><a class="c_name" href="#">10만원이상 구매시 1만원 할인</a></td>
                                                <td th:text="${coupon.cp_rate}">0</td>
                                                <td th:text="${coupon.cp_price}">10,000</td>
                                                <td th:text="${coupon.cp_start}">23.02.27</td>
                                                <td th:text="${coupon.cp_end}">23.03.27</td>
                                                <td th:text="${coupon.cp_IssuedCnt}">80</td>
                                                <td><button type="button" name="check" class="removeCoupon" th:data-no="${coupon.cp_id}">삭제</button></td>
                                            </tr>
                                        </th:block>
                                        <th:block th:if="${#lists.size(coupons) == 0}">
                                            <tr>
                                                <td colspan="8">
                                                    <div class="noResult" style="padding-bottom: 45px;">해당 쿠폰이 없습니다.</div>
                                                </td>
                                            </tr>
                                        </th:block>

                                    </table>
                                </div>
                                <div class="pagination_center">
                                    <div class="pagination" th:object="${ph}" th:style="${#lists.size(coupons) == 0 ? 'visibility:hidden;':''}">
                                        <th:block th:if="*{showPrev}">
                                            <a th:href="@{/business/coupon/list} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">< </a>
                                        </th:block>
                                        <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                                            <a th:href="@{/business/coupon/list} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                                                [[${num}]]
                                            </a>
                                        </th:block>
                                        <th:block th:if="*{showNext}">
                                            <a th:href="@{/business/coupon/list} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next"> ></a>
                                        </th:block>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script>
    $(document).ready(function() {
        // 쿠폰 삭제
        $('.removeCoupon').click(function(e){
            e.preventDefault();

            Swal.fire({
               title: '정말 삭제하시겠습니까?',
               icon: 'warning',

               showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
               confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
               cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
               confirmButtonText: '승인', // confirm 버튼 텍스트 지정
               cancelButtonText: '취소', // cancel 버튼 텍스트 지정

               reverseButtons: true, // 버튼 순서 거꾸로

            }).then(result => {
               // 만약 Promise리턴을 받으면,
               if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면

                    let cp_id = $(this).attr('data-no');
                    console.log('here1: ' + cp_id);

                    const jsonData = {"cp_id": cp_id};

                    ajaxAPI("business/coupon/delete", jsonData, "DELETE").then((response) => {
                        if(response.result > 0) {
                            sweetalert("쿠폰이 삭제되었습니다.", "success");
                            setTimeout(function() {
                                location.replace("/Lemo/business/coupon/list");
                            }, 2000);

                    } else {
                        alert('error');
                    }
                    }).catch((errorMsg) => {
                        console.log(errorMsg);
                    });
               }
            });


        });
    });

    // 쿠폰 목록 (판매자) 소유 숙소 셀렉트 옵션 추가
    window.onload = function() {
        let selectAccOwned = document.getElementById("c_role_type");

        ajaxAPI("business/find-acc", null, "GET").then((response)=>{

            console.log('response1 : %o', response);

            for (let i = 0; i < response.length; i++) {
                let option = document.createElement("option");
                option.value = response[i].acc_id;
                option.text = response[i].acc_name;


                // 옵션값 고정
                if (localStorage.getItem('selectedAccId') == response[i].acc_id) {
                    option.setAttribute('selected', 'selected');
                }

                selectAccOwned.add(option);
            }

            // 옵션 변경 시에도 옵션 고정
            selectAccOwned.addEventListener('change', function() {
                localStorage.setItem('selectedAccId', this.value);
            });
        }).catch((errorMsg)=>{
            console.log(errorMsg);
        });
    };




    </script>
</th:block>
</html>