<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminNotice.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>공지사항 목록</span>
                        </div>
                        <div class="col2">
                            <form action="#">
                                <div class="board_list">
                                    <ul>
                                        <li>#</li>
                                        <li>제목</li>
                                        <li>작성일</li>
                                        <li>비고</li>
                                    </ul>
                                    <th:block th:each="notice:${eventArticles}">
                                        <ul>
                                            <li>[[${notice.cs_no}]]</li>
                                            <li class="title">
                                                <a th:href="@{/admin/cs/notice/view (cs_no=${notice.cs_no})}">[[${notice.cs_title}]]</a>
                                            </li>
                                            <li>[[${notice.cs_rdate.substring(2, 10)}]]</li>
                                            <li class="prodBtn">
                                                <span class="btnDelete">삭제</span>
                                                <span class="btnModify">수정</span>
                                            </li>
                                        </ul>
                                    </th:block>
                                </div>
                                <div class="pagination" th:object="${ph}">

                                    <th:block th:if="*{showPrev}">
                                        <a th:href="@{/admin/cs/event/list} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">< </a>
                                    </th:block>

                                    <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                                        <a th:href="@{/admin/cs/event/list} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                                            [[${num}]]
                                        </a>
                                    </th:block>

                                    <th:block th:if="*{showNext}">
                                        <a th:href="@{/admin/cs/event/list} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next"> ></a>
                                    </th:block>

                                </div>
                                <div class="btnAdminProd">
                                    <a th:href="@{/admin/cs/notice/write}">
                                        공지등록
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>