<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminNotice.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<!DOCTYPE html>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>공지사항 보기</span>
                        </div>

                        <!-- 공지 보기 폼 -->
                        <div class="col_register_form">
                            <!-- 공지 제목, 내용 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>[발표] LEMO 응원하기 이벤트 당첨자 발표입니다.</span>
                                    </div>
                                </div>
                                <div class="noticeContent">
                                    <div>
                                        안녕하세요. 취향대로 머물다 LEMO입니다.<br>
                                        2월 4차 'LEMO 응원하기' 이벤트 당첨자를 발표합니다. <br><br>

                                        ■ 응원하기 이벤트 당첨자<br>
                                        당첨자<br>
                                        · 아**곱살홈피<br>
                                        · g**dsun09<br><br>


                                        ※ 참고하세요 <br>
                                        - 포인트는 당첨 발표일에 당첨자 회원 계정으로 지급됩니다.<br>
                                        - 지급된 포인트는 지급일로부터 30일 이내 사용 가능합니다.<br>
                                        - 본 이벤트는 당사의 사정에 의해 변경/중지될 수 있습니다.<br>
                                    </div>
                                </div>
                            </div>

                            <!-- 버튼 -->
                            <div class="btnAdminProd">
                                <a th:href="@{/admin/cs/notice/list}">
                                    공지목록
                                </a>
                            </div>
                            <div class="btnAdminProd">
                                <a href="#">
                                    공지수정
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>