<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminNotice.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- summernote -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script th:src="@{/js/admin/summernote-ko-KR.js}"></script>
    <style>

    </style>
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>고객센터 ></span>
                            <span>공지사항 등록</span>
                        </div>
                        <!-- 공지 보기 폼 -->
                        <form class="col_register_form" id="cs_typeForm" th:action="@{/admin/cs/notice/write}" method="post">
                            <!-- 공지제목 등록 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div class="selectBox">
                                        <select class="select_notice_cate" name="cs_type" id="noticeCs_type">
                                            <option value="0">유형선택</option>
                                            <option value="notice">공지사항</option>
                                            <option value="win">이벤트 당첨자 안내</option>
                                        </select>
                                    </div>
                                    <div>
                                        <span>제목</span>
                                    </div>
                                </div>
                                <input class="input_stayName" id="cs_title" name="cs_title" type="text" placeholder="공지사항의 제목을 입력하세요.">
                                <span class="result_stayName">
                                    💡 [안내], [발표] 등 말머리를 붙여주세요.
                                </span>
                            </div>
                            <!-- 공지내용 등록 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>내용</span>
                                    </div>
                                </div>
                                <textarea class="notice_text" id="summernote" name="cs_content">

                                </textarea>
                            </div>

                            <div class="btnAdminnProd">
                                <button id="modifyComplete" type="submit">
                                    공지등록
                                </button>
                            </div>
                            <div class="btnAdminProd">
                                <a th:href="@{/admin/cs/notice/list}">
                                    목록으로
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
    </th:block>
    <th:block layout:fragment="script">
        <script>
            // enter 키 작동금지
            document.addEventListener("keydown", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                }
            });

             $(document).ready(function() {
                $('#summernote').summernote({
                    height: 450,
                    focus: true,
                    lang : 'ko-KR',
                    spellCheck: false,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['insert', ['table','hr']]
                    ]
                });
                $('#summernote').summernote('fontSize', 14);

             // 타이틀 포커스
            const cs_title = document.getElementById('cs_title');
            cs_title.focus();
            });

            // cs_type 선택
            $(document).ready(function(){
              let cs_type = $('.stayName').find("select[name=cs_type]").val();
              // = document.getElementById('faqCs_type').value;
              console.log(cs_type);

              $('#cs_typeForm').submit(function(e){

                    if( cs_type == '0'){
                            Swal.fire({
                                 title : '유형을 선택해주세요',
                                 icon : 'error',
                                 confirmButtonText : '확인'
                             })
                            e.preventDefault();
                        }
                    });

              $('select[name=cs_type]').change(function(){
                    console.log("select 값 확인" +$(this).val());
                    cs_type = $(this).val();
                    $('#cs_typeForm').submit(function(e){

                    if( cs_type == '0'){
                            Swal.fire({
                                 title : '유형을 선택해주세요',
                                 icon : 'error',
                                 confirmButtonText : '확인'
                             })
                            e.preventDefault();
                        }
                    });
              });
        });

        // 유효성 검사
        $(document).ready(function(){
            let cs_title = document.querySelector('input[name="cs_title"]');
            let cs_content = $('#summernote').summernote('getText');


            // 제목 유효성 검사
            $('#cs_typeForm').submit(function(e){
                console.log(cs_content);

                if( cs_title.value.trim() == ''){
                    Swal.fire({
                         title : '제목을 입력해 주세요',
                         icon : 'error',
                         confirmButtonText : '확인'
                     })
                    e.preventDefault();
                }

             // 내용 유효성 검사
            if( cs_content.trim() === ''){
                Swal.fire({
                    title : '내용을 입력해 주세요',
                    icon : 'error',
                    confirmButtonText : '확인'
                })
                e.preventDefault();
            }
        });
    });


        </script>
    </th:block>
</html>