<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
    <!-- 드래그앤드롭 파일 업로드 -->
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <!-- 다음 주소 API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=219050d1872ccb773b543fa419402493&libraries=services"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/common/zipCode.js}"></script>
    <!-- summernote -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/admin/summernote-ko-KR.js}"></script>
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <!-- 드래그앤드롭 -->
    <script th:src="@{/js/admin/dragNdrop.js}"></script>
    <!-- 할인율 적용 -->
    <script th:src="@{/js/admin/salePercent.js}"></script>
    <style>
       #autoMaker{
           padding : 3px;
           position: absolute; width: 200px;
           height: auto; background: white;
           margin-top: 3px; cursor:pointer;
       }
       #autoMaker > div{
           border : 1px solid #e6e6e6;
           margin-top : 3px;
       }
       #autoMaker > div:hover{
           background : #e6d1ff;
       }

       ol, ul {
        margin-left: 10px;
       }
   </style>

</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::businessFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>상품관리 ></span>
                            <span>숙소등록</span>
                        </div>

                        <!-- 숙소 등록 폼 -->
                        <form class="col_register_form" action="#">
                            <!-- 숙소명 등록 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>숙소명</span>
                                    </div>
                                </div>
                                <input class="input_stayName" type="text" name="acc_name" placeholder="숙소명을 입력하세요.">
                                <span class="result_stayName">
                                    💡 숙소명은 추후 수정가능합니다
                                </span>
                            </div>
                            <!-- 숙소 타입 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>숙소타입</span>
                                    </div>
                                </div>
                                <div>
                                    <select name="accType_no">
                                        <option value="1">모텔</option>
                                        <option value="2">호텔</option>
                                        <option value="3">펜션</option>
                                        <option value="4">게스트하우스</option>
                                        <option value="5">캠핑·글램핑</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 주소등록 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>주소</span>
                                    </div>
                                </div>
                                <div class="stayZip">
                                    <button type="button" onclick="postcode()">주소찾기</button>
                                    <input type="text" id="zip" name="acc_zio" readonly>
                                </div>
                                <div class="stayAddr1">
                                    <input type="text" id="addr" name="acc_adder" readonly>
                                </div>
                                <div class="stayAddr2">
                                    <input type="text" id="addrDetail" name="acc_addrDetail" placeholder="상세주소 입력">
                                </div>
                                <div id="map"></div>
                                <div>
                                    <input type="button" id="BtnButton" value="버튼">
                                </div>
                            </div>
                            <!-- 체크인 체크아웃 기본 시간 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>기본 체크인/체크아웃 시간</span>
                                    </div>
                                </div>
                                <div>
                                    <span>체크인</span>
                                    <input type="time" name="acc_checkIn">
                                </div>
                                <div>
                                    <span>체크아웃</span>
                                    <input type="time" name="acc_checkOut">
                                </div>
                            </div>
                            <!-- 편의시설 및 서비스 체크박스 등록 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>편의시설 및 서비스</span>
                                    </div>
                                </div>
                                <div class="cs_checkbox">
                                    <input type="text" id="insert_target" readonly>
                                    <input type="text" id="search_area" autocomplete="off">
                                    <div id="autoMaker"></div>
                                    <!--
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                <label class="c_container">피트니스
                                                    <input type="checkbox" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">와이파이
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">레스토랑
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">TV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">에어컨
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">냉장고
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="c_container">드라이기
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">장애인편의시설
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">주차장
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">무료주차
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">금연
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">카페
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="c_container">수영장
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">욕조
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">스파
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">엘리베이터
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">욕실용품
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">사우나
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="c_container">짐보관
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">세탁기
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="c_container">건조기
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                    -->
                                </div>
                                <div id="tag_area" style="width: 100%; margin-top: 44px;">TAG</div>
                            </div>

                            <!-- 숙소 썸네일 이미지 -->
                            <div class="col_register1">
                                <div class="stayName" >
                                    <div>
                                        <span>숙소 이미지</span>
                                    </div>
                                </div>
                                <div class="stayThumb" style="justify-content: center;">
                                    <div class="dropzone" id="fileDropzone">
                                        <div>
                                            <button class="dz-default dz-message" type="button">
                                                사진을 첨부하시려면 클릭하거나 드로우 앤 드롭해주세요
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 숙서 정보 입력 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>숙소 정보</span>
                                    </div>
                                </div>
                                <div class="stayInfoContent">
                                    <textarea class="notice_text" id="summernote" name="acc_info">

                                    </textarea>
                                </div>
                            </div>

                            <!-- 사장님 한마디 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>사장님 한마디</span>
                                    </div>
                                </div>
                                <input class="input_stayMention" type="text" placeholder="내용을 입력해 주세요.">
                            </div>

                            <!-- 할인율 적용 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>할인율 적용</span>
                                    </div>
                                </div>
                                <div class="salePercent_container">
                                    <table>
                                        <tr class="sp_tr1">
                                            <th>분류</th>
                                            <th>기준가</th>
                                            <th>할인율</th>
                                            <th>할인가</th>
                                        </tr>
                                        <tr>
                                            <td>성수기 주중</td>
                                            <td>
                                                <input type="number" id="input1" placeholder="기준가 입력(원)">
                                            </td>
                                            <td>
                                                <input type="number" id="input2" placeholder="할인율 입력(%)">
                                            </td>
                                            <td>
                                                <input type="number" id="result" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>성수기 주말</td>
                                            <td>
                                                <input type="number" id="input1" placeholder="기준가 입력(원)">
                                            </td>
                                            <td>
                                                <input type="number" id="input2" placeholder="할인율 입력(%)">
                                            </td>
                                            <td>
                                                <input type="number" id="result" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>비성수기 주중</td>
                                            <td>
                                                <input type="number" id="input1" placeholder="기준가 입력(원)">
                                            </td>
                                            <td>
                                                <input type="number" id="input2" placeholder="할인율 입력(%)">
                                            </td>
                                            <td>
                                                <input type="number" id="result" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>비성수기 주말</td>
                                            <td>
                                                <input type="number" id="input1" placeholder="기준가 입력(원)">
                                            </td>
                                            <td>
                                                <input type="number" id="input2" placeholder="할인율 입력(%)">
                                            </td>
                                            <td>
                                                <input type="number" id="result" readonly>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                                <span class="result_stayName">
                                    💡 해당 기준가와 할인가는 예시일뿐 실제 할인율 값이 적용됩니다
                                </span>
                            </div>


                            <div class="btnAdminProd" id="btnUpload">
                                <a href="#">
                                    숙소등록
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">


<script>
     $(document).ready(function() {
        $('#summernote').summernote({
            height: 450,
            focus: true,
            lang : 'ko-KR',
            spellCheck: false,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['table', ['table']],
                ['para', ['ul', 'ol', 'paragraph']]
            ]
        });
    });

    // 다음 주소 API 입력 주소 -> 위도, 경도 변환
    const btnButton = document.getElementById("BtnButton");
    const addrInput = document.getElementById("addr");

    btnButton.addEventListener("click", function() {
        console.log(addrInput.value);
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

       // 주소로 좌표를 검색합니다
        geocoder.addressSearch(addrInput.value, function(result, status) {

            // 정상적으로 검색이 완료됐으면
             if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                console.log("coords: " + coords);
                console.log(result[0].y);   // 위도 (acc_lattitude)
                console.log(result[0].x);   // 경도 (acc_longtitude)

            }
        });


       });

    // 편의시설 자동완성

    const search_area = document.getElementById("search_area");
    let ref = [];
    let isComplete = false; // autoMaker 자식이 선택되었는지 여부

    search_area.addEventListener("click", function(){

        ajaxAPI("business/info/findService", null, "GET").then((response)=>{
            console.log('response : %o', response);
            ref = response;
            console.log("ref:  %o", ref);

            for (let i = 0; i < response.length; i++) {
                console.log("sc_no : %d, sc_name : %s", response[i].sc_no, response[i].sc_name);
            }

            $('#search_area').keyup(function(e){
                keyUP();
            });
            $('#search_area').keydown(function(e){
                keyDOWN();
            });

        }).catch((errorMsg)=>{
            console.log(errorMsg);
        });


    });

    function keyUP(){
        let txt = $('#search_area').val();
        if(txt != ''){
            $('#autoMaker').children().remove();

            ref.forEach(function(arg){
                if(arg.sc_name.indexOf(txt) > -1 ){
                    $('#autoMaker').append(
                        $('<div>').text(arg.sc_name).attr({'sc_no':arg.sc_no})
                    );
                }
            });
            $('#autoMaker').children().each(function(){
                $(this).click(function(){
                    $('#search_area').val($(this).text());
                    $('#insert_target').val("sc_no : "+$(this).attr('sc_no')+ ", sc_name : " + $(this).text());

                    let temp = '<div name="sc_no" value="'+$(this).attr('sc_no')+'">#'+$(this).text()+'</div>';
                    $('#tag_area').append(temp);

                    $('#autoMaker').children().remove();
                    isComplete = true; // 자식 선택 완료
                });
            });

        }else {
            $('#autoMaker').children().remove();
        }
    }

    function keyDOWN(){
        if(isComplete) {  //autoMaker 자식이 선택 되었으면 초기화
            $('#insert_target').val('')
        }
    }






</script>
</th:block>
</html>