/*
    날짜 : 2023/04/06
    이름 : 이해빈
    내용 : 에러페이지 css
*/

* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', 'Noto Sans KR', sans-serif;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
}
ul, ol { list-style: none; }
a {text-decoration: none; color: #252525;}
input, textarea {outline: none;}

body {
  /*background-color: #f5f6ff;*/
  width: 100%;
  height: 100%;
}
#wrapper {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  /*
  background-color: #fffff6;*/
}
#error {
  position: relative;
  width: 1200px;
  margin: 0px auto;
  padding: 30px;
  text-align: center;
}
/*
#error > img {
  position: absolute;
  width: 170px;
  display: block;
  float: left;
  transform: rotate(158deg);
  top: 113px;
  left: 513px;
}*/

#error > strong {
  display: block;
  font-size: 40px;
}
/*
#error > span:nth-of-type(1) {
  display: block;
  font-size: 250px;
  font-weight: 800;
  text-align: center;
  color: #fef951;
}*/
#error > span:nth-of-type(2) {
  display: block;
  font-size: 20px;
  color: #8d8a8a;
}

#error .button {
  margin-top: 20px;
}

#error a {
  display: inline-block;
  line-height: 48px;
  text-align: center;
  width: 145px;
  height: 48px;
  border-radius: 6px;
  background: #fef951;
  font-size: 14px;
  font-weight: bold;
  border: none;
  color: rgba(0, 0, 0, 0.56);
  margin: 0px 5px;
}

#error a:hover{
  background: #ffe940;;
}

#error a:nth-child(2){
  background: #ebebeb;
}

#error a:nth-child(2):hover {
  background: #dadada;
}


#error > img {
  position: absolute;
  width: 151px;
  display: block;
  float: left;
  transform: rotate(158deg);
  top: 97px;
  left: 522px;
}

#error > span:nth-of-type(1) {
display: block;
font-size: 180px;
font-weight: 800;
text-align: center;
color: #000000;
}