<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:if="${status == 501 or status == 502 or status == 503 or status == 504}">[[${status}]] error</title>
	<title th:unless="${status == 501 or status == 502 or status == 503 or status == 504}">500 error</title>
	<link rel="stylesheet" th:href="@{/css/error.css}" />
</head>
<body>
<div id="wrapper">
	<div id="error">
		<!-- 에러 번호 -->
		<span th:if="${status == 501 or status == 502 or status == 503 or status == 504}">[[${status}]]</span>
		<span th:unless="${status == 501 or status == 502 or status == 503 or status == 504}">500</span>
		<img th:src="@{/images/index/lemon1.png}" />

		<!-- 에러 문구 -->
		<th:block th:switch="${status}">
			<th:block th:case="501">
				<strong>알 수 없는 메서드입니다.</strong>
				<span>서버가 요청하신 메서드를 인식하지 못했습니다.</span>
			</th:block>
			<th:block th:case="502">
				<strong>불량 게이트 웨이</strong>
				<span>서버가 다른 서버로 부터 올바른 요청을 받지 못했습니다.</span>
			</th:block>
			<th:block th:case="503">
				<strong>서비스를 사용할 수 없습니다.</strong>
				<span>현재 서버 이용이 불가능합니다. 잠시 후 다시 시도해주세요.</span>
			</th:block>
			<th:block th:case="504">
				<strong>게이트 웨이 시간초과</strong>
				<span>게이트웨이나 프록시의 한계 대기시간이 지났습니다.</span>
			</th:block>
			<th:block th:case="*">
				<strong>서버에서 문제가 발생하였습니다.</strong>
				<span>문제가 계속되면 사이트 관리자에게 문의하세요.</span>
			</th:block>
		</th:block>
		<div class="button">
			<a th:href="@{/}">홈으로</a>
			<a href="javascript:history.back()">이전 페이지로</a>
		</div>
	</div>
</div>
</body>
</html>
