<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비정상적인 접근</title>
    <script>
        getSwal("비정상적인 접근입니다.", "error");

        const errorType = "[[${error}]]";
        console.log(errorType);

        switch(errorType){
            case "R":
                location.href = "[[@{/}]]user/terms";
                break;
            case "M":
                location.href = "[[@{/}]]my/info";
                break;
            case "B":
                location.href = "[[@{/}]]product/list";
                break;
            default:
                location.href = "[[@{/}]]";
                break;
        }
    </script>
</head>
<body>

</body>
</html>