<!--
    날짜 : 2023/02/26
    이름 : 황원진
    내용 : 마이페이지 view HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/my/my.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- slick slider plugin-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</th:block>
<th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="my_diary_content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                나의 여행일기
                            </span>
                        </div>
                        <div class="my_diary_list">
                            <div class="list-area" th:if="${articles.size == 0}">
                                <div class="emptyDiary">
                                    <p style="font-size:20px; margin-bottom:15px;">등록된 게시글이 없습니다.</p>
                                    <p>예약내역을 통해 작성하세요.</p>
                                </div>
                            </div>
                            <div class="list-area" th:if="${articles.size != 0}">
                                <ul>
                                    <li th:each="article:${articles}">
                                        <button class="marker" th:onclick="sortPosition([[${article.arti_no}]])"><img th:src="@{/images/diary/marker2.png}" alt="일정마크표시"></button>
                                        <!-- 사진 슬라이드 -->
                                        <div class="img_slider">
                                            <div th:each="img:${article.spotVO}"><a th:href="@{#}"><img th:src="@{/img/diary/__${img.arti_no}__/__${img.spot_thumb}__}"></a></div>
                                        </div>
                                        <!-- 여행일기 간략한 설명 -->
                                        <div class="diary_content">
                                            <div>
                                                <span id="nick">홍길동</span>
                                                <p>[[${article.arti_title}]]</p>
                                                <p>
                                                    <b class="location" th:each="spot:${article.spotVO}">#[[${spot.spot_title}]] </b>
                                                </p>
                                            </div>
                                            <button><a th:href="@{/diary/view (arti_no=${article.arti_no}) }">여행일기 보러가기</a></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- 페이징 -->
                            <div class="paging" th:object="${ph}" th:unless="${articles.size() == 0}">
                                <span class="prev" th:if="*{showPrev}">
                                    <a th:href="@{/my/diary/list} + ${ph.sc.getQueryString(ph.beginPage-1)}"></a>
                                </span>
                                <span th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}" th:class="${num == ph.sc.page} ? 'on':'off'">
                                    <a th:href="@{/my/diary/list} + ${ph.sc.getQueryString(num)}"> [[${num}]] </a>
                                </span>
                                <span class="next" th:if="*{showNext}">
                                    <a th:href="@{/my/diary/list} + ${ph.sc.getQueryString(ph.endPage+1)}"></a>
                                </span>
                            </div>
                        </div>
                        <div id="my_diary_listMap">
                            <p>
                                <button onclick="setZoomable(false)">지도 확대/축소 끄기</button>
                                <button onclick="setZoomable(true)">지도 확대/축소 켜기</button>
                            </p>
                            <button type="button" class="foldMap" onclick="foldMap()">접기</button>
                        </div>
                    </div>  
                </section>
            </main>
            </th:block>
            <th:block layout:fragment="script">
                <script th:inline="javascript">
                    let markerObject = new Map();
                    var markers = [];
                    let articles = [[${articles}]];
                    let overlays = new Map();

                    const arrObj = articles.reduce((newObj, obj) => {
                        newObj[obj.arti_no] = obj;
                        return newObj;
                    }, {});

                    /** 카카오 맵 */
                    var container = document.getElementById('my_diary_listMap'); //지도를 담을 영역의 DOM 레퍼런스
                    var options = { //지도를 생성할 때 필요한 기본 옵션
                        center: new kakao.maps.LatLng(36.3504119, 127.3845475), //지도의 중심좌표.
                        level: 13 //지도의 레벨(확대, 축소 정도)
                    };

                    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
                    map.setZoomable(false);

                    var bounds = new kakao.maps.LatLngBounds();

                    var clusterer = new kakao.maps.MarkerClusterer({
                        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                        minLevel: 13 // 클러스터 할 최소 지도 레벨
                    });

                    function setZoomable(zoomable) {
                        // 마우스 휠로 지도 확대,축소 가능여부를 설정합니다
                        map.setZoomable(zoomable);
                    }

                    function resizeMap() {
                        var container = document.getElementById('my_diary_listMap');
                        container.style.width = '618px';
                    }

                    function foldMap(){
                        $('.my_diary_list').css({'width' : '573px'});
                        $('#my_diary_listMap').css({ 'width' : '330px' });
                        $('#my_diary_listMap').css({ 'margin-left' : '0' });
                        $('.foldMap').css({ 'display' : 'none' });
                        $('.foldMap').css({ 'cursor' : 'pointer' });
                    }

                    // 마커 이미지 변경하는 공통 함수
                    // 함수가 전체적인 기능을 지원하려면
                    // imageSrc, imageSize, imageOption의 속성을 변수로 가지고
                    // 호출된 변수에 따라 이미지 속성이 변경되어야하는게 맞다고 생각함
                    // 하지만 지금 단계에서는 중복으로 들어가는걸 최소화 하기위해 아무런 변수지정없이 함수를 선언함
                    function setMarkerImg() {
                        var imageSrc = '/Lemo/images/index/lemo_logo-removebg-preview.png', // 마커이미지의 주소입니다
                        imageSize = new kakao.maps.Size(40, 60), // 마커이미지의 크기입니다
                        imageOption = {offset: new kakao.maps.Point(21, 59)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

                        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

                        return markerImage;
                    }

                    function closeOverlay(spot_no) {
                        let overlay = overlays.get(spot_no);
                        overlay.setMap(null);
                    }

                    function sortPosition(arti_no) {
                        resizeMap();

                        // 여행일기 목록 크기 변경
                        $('.my_diary_list').css({'width' : '200px'});
                        $('.foldMap').css({ 'display' : 'block' });

                        // 지도내의 마커들 기본 이미지로 변경
                        markers.forEach(function(marker){ marker.setImage(null); });

                        var bounds = new kakao.maps.LatLngBounds();

                        // 이미지 변경하는 함수
                        let markerImage = setMarkerImg();

                        // key = arti_no에 해당하는 value(세부여행일기 marker배열) 불러오기
                        let positions = markerObject.get( String(arti_no) );

                        // 여행일기 세부여행일기 마커들 lemo로고로 변경, bounds에 포지션 넣기
                        positions.forEach(function(marker){
                            marker.setImage(markerImage);
                            bounds.extend(marker.getPosition());
                        });

                        map.setBounds(bounds);

                        map.relayout();

                    }

                    $(function(){

                        for(let key in arrObj) {
                            var positionMarker = [];

                            for(let position in arrObj[key].spotVO) {

                                var marker = new kakao.maps.Marker({
                                    position : new kakao.maps.LatLng(arrObj[key].spotVO[position].spot_lattitude, arrObj[key].spotVO[position].spot_longtitude)
                                });

                                let contents = '<div class="spot_wrap">';
                                   contents += '<div class="spot_title">';
                                   contents += arrObj[key].spotVO[position].spot_title
                                   contents += '<div class="spot_close" title="닫기" onclick="closeOverlay('+arrObj[key].spotVO[position].spot_no+')"></div>'
                                   contents += '</div>';
                                   contents += '<div class="spot_content">';
                                   contents += arrObj[key].arti_title
                                   contents += '</div>';
                                   contents += '</div>';

                                var overlay = new kakao.maps.CustomOverlay({
                                    content: contents,
                                    position: marker.getPosition()
                                });

                                overlays.set(arrObj[key].spotVO[position].spot_no, overlay);

                                kakao.maps.event.addListener(marker, 'mouseover', function() {
                                    overlays.forEach(function(over){ over.setMap(null); });
                                    let overlayT = overlays.get(arrObj[key].spotVO[position].spot_no);
                                    overlayT.setMap(map);
                                });

                                kakao.maps.event.addListener(marker, 'mouseout', function() {
                                    closeOverlay(arrObj[key].spotVO[position].spot_no);
                                });

                                // 맵에 key값으로 분류되는 value로 넣기 위한 배열
                                positionMarker.push(marker);

                                // clusterer을 표기하기위한 배열
                                markers.push(marker);
                            }

                            // key=arti_no, value(세부여행일기 marker의 배열)
                            markerObject.set(key, positionMarker);

                            // 초기화
                            positionMarker = [];
                        }

                        clusterer.addMarkers(markers);
                    });
                </script>
                <script th:src="@{/js/my/diary_list.js}"></script>
            </th:block>
</html>