<!--
    날짜 : 2023/02/26
    이름 : 황원진
    내용 : 마이페이지 view HTML 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/my/my.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- slick slider plugin-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- 카카오 맵 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5685a7d59ed7c0a5f62806eae3f98712"></script>
    <script th:src="@{/js/common/kakaomap-scroll.js}"></script>
</th:block>
<th:block layout:fragment="content">
            <main>
                <section id="my">
                    <th:block th:replace="~{fragments/_aside::myAside}"></th:block>
                    <div class="my_diary_content">
                        <!-- 카테고리 -->
                        <div class="tab">
                            <span class="my_title">
                                나의 여행일기
                            </span>
                        </div>
                        <div class="my_diary_list">                       
                            <div class="list-area">
                                <ul>
                                    <li th:each="article:${article}">
                                        <button class="heart"><img th:src="@{/images/diary/heart.png}"></button>
                                        <button class="marker" onclick="mapPosition(37.796266735401, 127.52549068738)"><img th:src="@{/images/diary/marker2.png}" alt="일정마크표시"></button>
                                        <!-- 사진 슬라이드 -->
                                        <div class="img_slider">
                                            <div th:each="img:${article.spotVO}"><a th:href="@{#}"><img th:src="@{/img/diary/__${article.arti_no}__/__${img.spot_thumb}__}"></a></div>
                                        </div>
                                        <!-- 여행일기 간략한 설명 -->
                                        <div class="diary_content">
                                            <div>
                                                <span id="nick">홍길동</span>
                                                <p>[[${article.arti_title}]]</p>
                                                <b class="location" th:each="spot:${article.spotVO}">#[[${spot.spot_title}]] </b>
                                            </div>
                                            <button><a th:href="@{/diary/view (arti_no=${article.arti_no}) }">여행일기 보러가기</a></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="my_diary_listMap">
                            <p>
                                <button onclick="setZoomable(false)">지도 확대/축소 끄기</button>
                                <button onclick="setZoomable(true)">지도 확대/축소 켜기</button>
                            </p>
                            <button type="button" class="foldMap" onclick="foldMap()">접기</button>
                        </div>
                        <script>
                            /** 카카오 맵 */

                            var container = document.getElementById('my_diary_listMap'); //지도를 담을 영역의 DOM 레퍼런스
                            var options = { //지도를 생성할 때 필요한 기본 옵션
                                center: new kakao.maps.LatLng(38.0202, 128.0202), //지도의 중심좌표.
                                level: 13 //지도의 레벨(확대, 축소 정도)
                            };

                            var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
                            map.setZoomable(false);
                            function setZoomable(zoomable) {
                                // 마우스 휠로 지도 확대,축소 가능여부를 설정합니다
                                map.setZoomable(zoomable);
                            }
                        </script>
                    </div>  
                </section>
            </main>
            </th:block>
            <th:block layout:fragment="script">
                <script th:src="@{/js/my/diaryList.js}"></script>
            </th:block>
</html>