<!--
    날짜 : 2023/03/05
    이름 : 박종협
    내용 : 여행일기 modify HTML 화면구현
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <!-- slick slider plugin-->
        <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
        <!-- Date Range Picker -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" th:href="@{/css/diary/diary.css}">
        <script th:src="@{/js/common/daterangepicker.js}"></script>
    </th:block>
    <th:block layout:fragment="content">
                <main id="diary">
                    <div id="result">
                        <div class="content">
                            <h3>#여행일기 수정</h3>
                            <!-- 여행일기 보기 -->
                            <div class="view">
                                <form id="diaryForm">
                                    <div class="list-area">
                                        <div id="diary_content">
                                            <input type="text" name=arti_title style="border: none; font-size:18px;" placeholder="제목을 작성해주세요" th:value="${article.get(0).getArti_title}">
                                            <ul>
                                                <li>
                                                    <input  type="text" name="daterange" id="daterange">
                                                    <span style="font-size: 12px; color:#a39797;">※여행기간을 선택해주세요</span>
                                                </li>
                                                <li>[[${article.get(0).getAcc_name}]]</li>
                                            </ul>
                                        </div>
                                        <div class="write_search" style="margin-top: 40px; font-size: 13px; color: #342929;">
                                            <span style="display: block; margin: 0 0 10px 5px; font-size: 13px;">보다 상세한 검색은 자동완성을 이용해주세요.</span>
                                            <input type="text" id="searchAddr" style="width: 250px; height: 30px; font-size: 15px; border: none; padding-left: 10px; margin-right: 10px;"/>
                                            주소 검색 후 Enter키를 눌러주세요.!
                                            <br>
                                        </div>
                                        <div th:each="spot, i:${article}" th:class="${'place '+'place_D'+spot.spot_title}" th:data-no="${i.count}">
                                            <div class="spot">
                                                <img src="/Lemo/images/diary/marker7.png" width="30px" height="40px">
                                                <input type="text" th:value="${spot.spot_title}" placeholder="여행일기 제목을 작성해주세요.">
                                            </div>
                                            <img src="/Lemo/images/cs/arr_down.png" class="arrow">
                                            <button class="delete_diary" th:data-place="${spot.spot_title}" th:data-no="${i.count}">삭제</button>
                                            <div class="toggle">
                                                <div class="image">
                                                    <input type="file" class="ex_file" th:data-no="${i.count}" name="thumb" accept="image/png, image/jpeg" style="display: none;">
                                                    <img class="inputImage" th:src="@{ /img/diary/__${spot.arti_no}__/__${spot.spot_thumb}__ }">
                                                </div>
                                                <textarea class="contentArea" name="spot_content" placeholder="내용을 입력해주세요." onkeydown="resizeHeight(this)" onkeyup="resizeHeight(this)">[[${spot.spot_content}]]</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" id="btnDiarySubmit" name="submit" value="수정완료">
                                </form>
                            </div>
                            <!-- 지도 -->
                            <div id="listMap">
                                <p>
                                    <button onclick="setZoomable(false)">지도 확대/축소 끄기</button>
                                    <button onclick="setZoomable(true)">지도 확대/축소 켜기</button>
                                </p>
                            </div>

                        </div>
                    </div>
                </main>
    </th:block>
    <th:block layout:fragment="script">
        <!-- kakaoMap -->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5685a7d59ed7c0a5f62806eae3f98712&libraries=services"></script>
        <script th:src="@{/js/my/diary_modify.js}"></script>
        <script th:inline="javascript">
            let positionMap = [[${article}]];
            let overlays = new Map();
            let markerMap = new Map();
            let reg = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/ ]/gim;
            let fileInputList = [];
            const fileMap = new Map();
            const urlParams = new URLSearchParams(window.location.search);

            /**
                검색된 마크에도 mouseover, mouselevae, click 적용시켰고
                지도에 클릭해서 생성한 마크에도 적용시킴
                둘을 공통적으로 실행하는 방식을 찾으면 코드가 훨씬 간결해질듯 함
                지금은 두개를 나눠놨기 때문에 코드가 전체적으로 길어짐
                마커 이미지 변경은 #F6
            */

            // imgsrc(경로)를 base64로 인코딩
            const toDataURL = url => fetch(url)
              .then(response => response.blob())
              .then(blob => new Promise((resolve, reject) => {
                const reader = new FileReader()
                reader.onloadend = () => resolve(reader.result)
                reader.onerror = reject
                reader.readAsDataURL(blob)
              }))

            // base64를 파일로 변환
            function base64toFile(base_data, filename) {
                var arr = base_data.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);

                while(n--){
                    u8arr[n] = bstr.charCodeAt(n);
                }

                return new File([u8arr], filename, {type:mime});
            }

            // #F1 : 키워드 검색 완료 시 호출되는 콜백함수 입니다
            function placesSearchCB (data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                    // LatLngBounds 객체에 좌표를 추가합니다
                    var bounds = new kakao.maps.LatLngBounds();

                    for (var i=0; i<data.length; i++) {
                        /** #6 */
                        displayMarker(data[i]);
                        bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                    }

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                    map.setBounds(bounds);
                }
            }

            // #F2 : 지도에 마커를 표시하는 함수입니다
            function displayMarker(place) {

                // 마커를 생성하고 지도에 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(place.y, place.x)
                });

                searchMarkers.push(marker);

                // 마커에 mouseover이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'mouseover', function() {
                    // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                    let content = markerOverlay( place.place_name , $('.arti_title').text())
                    //overlay.setContent(content);
                    //overlay.setPosition(marker.getPosition());
                    //overlay.setMap(map);

                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                });

                // 마커에 mouseout이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'mouseout', function() {
                    //overlay.setMap(null);
                    infowindow.close();
                });

                // 마커에 click이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'click', function(){
                    if(markers.length >= 10){ Swal.fire( '더 이상 등록하실 수 없습니다.' )
                    }else {
                        Swal.fire({
                            title: '마커를 작성하시겠습니까?',
                            icon: 'question',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '확인',
                            cancelButtonText: '취소',
                            reverseButtons: false,
                        }).then(result => {
                            if (result.isConfirmed) {
                                /** #F3 */
                                addMarker(marker, place.y, place.x);
                            }
                        });
                    }
                });
            }

            // #F3 : 마커를 생성하고 지도위에 표시하는 함수
            function addMarker(marker, commonLat, commonLng) {
                (async () => {
                    const { value: getName } = await Swal.fire({
                        title: '여행지를 입력해주세요!',
                        input: 'text',
                        inputPlaceholder: ''
                    })
                    // 이후 처리되는 내용.
                    if (getName) {
                        if(marker != null){ marker.setMap(null); }

                        /** 마커 이미지 변경 */
                        var markerImage = setMarkerImg();

                        // 마커를 생성합니다
                        var marker = new kakao.maps.Marker({
                            position: new kakao.maps.LatLng(commonLat, commonLng),
                            image: markerImage
                        });

                        let place = getName;

                        // 마커가 지도 위에 표시되도록 설정합니다
                        marker.setMap(map);

                        // 생성된 마커를 배열에 추가합니다
                        markers.push(marker);

                        // 마커에 mouseover 이벤트를 등록합니다
                        kakao.maps.event.addListener(marker, 'mouseover', function() {
                            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                            let content = markerOverlay(place, $('.arti_title').text() )
                            //overlay.setContent(content);
                            //overlay.setPosition(marker.getPosition());
                            //overlay.setMap(map);

                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        });

                        // 마커에 mouseout 이벤트를 등록합니다
                        kakao.maps.event.addListener(marker, 'mouseout', function() {
                            //overlay.setMap(null);
                            infowindow.close();
                        });

                                         // #F4
                        let addContent = addDiary(place, commonLat, commonLng);

                        $('.list-area').append(addContent);

                        // 마커에 click이벤트를 등록합니다
                        kakao.maps.event.addListener(marker, 'click', function() {
                            // #F7
                            removeAlert(marker, place);
                        });

                        // markerMap.set(place.replace(reg, ""), marker);
                        markerMap.set(count++, marker);
                        console.log(markerMap);

                        Swal.fire({
                            title: '생성완료!',
                            text: '마커를 클릭해서도 지우실 수 있습니다.!'
                        });

                    }else {
                        Swal.fire(`장소를 입력하지 않으셨습니다.!`)
                        return false;
                    }
                })()
            }

            // #F4 : 마커 클릭시 여행일기 작성란이 추가되는 공통 함수
            function addDiary(place, Lat, Lng){
                let withoutSpace = place.replace(reg, "");

                let addContent  = `<div class="place place_D${withoutSpace}" data-no="${count}">`;
                    addContent +=   '<div class="spot">';
                    addContent +=       '<img src="/Lemo/images/diary/marker7.png" width="30px" height="40px">';
<!--                    addContent +=       '<span>'+ place +'</span>';-->
                    addContent +=       '<input type="text" value="'+place+'" placeholder="여행일기 제목을 작성해주세요.">'
                    addContent +=   '</div>';
                    addContent +=   '<img src="/Lemo/images/cs/arr_down.png" class="arrow">';
                    addContent +=   `<button class="delete_diary" data-place="${withoutSpace}" data-no="${count}">삭제</button>`;
                    addContent +=   '<div class="toggle">';
                    addContent +=       '<div class="image">';
                    addContent +=           `<input type="file" class="ex_file" data-no="${count}" name="thumb" accept="image/png, image/jpeg" style="display: none;">`;
                    addContent +=           '<img class="inputImage" src="/Lemo/images/diary/imgUpload.png">';
                    addContent +=       '</div>';
                    addContent +=       '<textarea class="contentArea" name="spot_content" placeholder="내용을 입력해주세요." onkeydown="resizeHeight(this)" onkeyup="resizeHeight(this)"></textarea>';
                    addContent +=   '</div>';
                    addContent += '</div>';

                return addContent;
            }

            // #F5 : 마커 이미지 변경하는 공통 함수
            function setMarkerImg() {
                var imageSrc = '/Lemo/images/index/lemo_logo-removebg-preview.png', // 마커이미지의 주소입니다
                imageSize = new kakao.maps.Size(40, 60), // 마커이미지의 크기입니다
                imageOption = {offset: new kakao.maps.Point(21, 59)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

                return markerImage;
            }

            // #F6 : 마우스 휠로 지도 확대,축소 가능여부를 설정하는 함수
            function setZoomable(zoomable) {
                map.setZoomable(zoomable);
            }

            // #F7 : 마커를 지울때 발생하는 경고 함수
            function removeAlert(marker, place, no) {
                Swal.fire({
                  html: '<p style="font-size:20px; font-weight:bold;">지도에서 지우시면 <br>작성 하시던 일기도 지워집니다. <br>지우시겠습니까?</p>',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: '승인',
                  cancelButtonText: '취소',
                  reverseButtons: false, // 버튼 순서 거꾸로

                }).then((result) => {
                  if (result.isConfirmed) {
                    Swal.fire( '삭제되었습니다', )

                    let count = markers.indexOf(marker);

                    // 마커 제거 이후 마커배열에서도 제거
                    markers.splice(count, 1);

                    marker.setMap(null);
                    //overlay.setMap(null);
                    infowindow.close();

                    place = place.replace(reg, "");
                    $('.place_D'+place).each(function (){
                        if($(this).attr('data-no') == no){
                            $(this).remove();
                        }
                    });

                    overlays.get(place).setMap(null);

                  }else {
                    overlay.setMap(null);
                  }

                })
            }

            // #F8 : 경고창
            function sweetAlert(title, content) {
                Swal.fire({
                    title : title,
                    html : '<p style="font-size:20px; font-weight:bold;">'+ content +'</p>',
                    icon : 'info',
                    confirmButtonText : '확인'
                })
            }

            // #F9 : 인포윈도우
            function markerOverlay(spot_title, arti_title) {
                let content = '<div class="diary_spot_wrap">';
                   content +=   '<div class="diary_spot_title">';
                   content +=       spot_title
                  // content +=       '<div class="diary_spot_close" title="닫기"></div>'
                   content +=   '</div>';
                   content +=   '<div class="diary_spot_content">';
                   content +=       arti_title
                   content += ' </div>';
                   content += '</div>';

                return content;
            }

            function getUrlParameter(name) {
                name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                var results = regex.exec(location.search);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            }

            function resizeHeight(object) {
                object.style.height = 'auto';
                object.style.height = (20 + object.scrollHeight) + 'px';
            }

            function closeOverlay(spot_no) {
                let overlay = overlays.get(spot_no);
                overlay.setMap(null);
            }

            /** 카카오 맵 */

            // #1 마커에 mouseover하면 장소명을 표출할 인포윈도우
            var infowindow = new kakao.maps.InfoWindow({zIndex:1});

            var overlay = new kakao.maps.CustomOverlay({zIndex:1});

            var bounds = new kakao.maps.LatLngBounds();

            var container = document.getElementById('listMap'); //지도를 담을 영역의 DOM 레퍼런스
            var options = { //지도를 생성할 때 필요한 기본 옵션
                center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
                disableDoubleClickZoom: true,
                level: 7 //지도의 레벨(확대, 축소 정도)
            };

            var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
            map.setZoomable(false); // 최초 지도 생성시 확대기능 off

            // #2 지도에 표시된 마커 객체를 가지고 있을 배열입니다
            // markers : 클릭 생성된 마커 저장 배열 | searchMarkers : 검색 생성된 마커 저장 배열
            // 두가지를 나눈건 작성완료 시점에 검색된 marker 숨기기 + 클릭 생성 마크 배열만 보내기 위함
            var markers = [];
            var searchMarkers = [];

            // modify 실행 시 작성했던 마커, 이미지 등을 출력하는 기능입니다.
            positionMap.forEach(function(position, i){

                var marker = new kakao.maps.Marker({
                    image : setMarkerImg(),
                    position : new kakao.maps.LatLng(position.spot_lattitude, position.spot_longtitude)
                });

                marker.setMap(map);

                bounds.extend(marker.getPosition());

                let content = '<div class="spot_wrap">';
                   content += '<div class="spot_title">';
                   content += position.spot_title
                   content += '<div class="spot_close" title="닫기" onclick="closeOverlay('+position.spot_no+')"></div>'
                   content += '</div>';
                   content += '<div class="spot_content">';
                   content += position.arti_title
                   content += '</div>';
                   content += '</div>';

                var overlay = new kakao.maps.CustomOverlay({
                    content: content,
                    position: marker.getPosition()
                });

                position.spot_title = position.spot_title.replace(reg, "");

                overlays.set(position.spot_title, overlay);

                // imSrc로 base64를 생성하고 base64로 파일을 생성한다음 formdata에 append
                const imgSrc = '/Lemo/img/diary/'+position.arti_no+'/'+position.spot_thumb;
                toDataURL(imgSrc).then(dataUrl => {
                    var oriFile = base64toFile(dataUrl, position.spot_thumb);
                    fileInputList.push(oriFile);
                    fileMap.set(i+1, oriFile);
                });

                kakao.maps.event.addListener(marker, 'click', function() {
                    overlays.forEach(function(over){ over.setMap(null); });

                    overlay.setMap(map);
                });

                markerMap.set(count++, marker);
                markers.push(marker);

            });

            map.setBounds(bounds);

            // #3 장소 검색 객체를 생성
            var ps = new kakao.maps.services.Places();

            // #4 키워드 검색 완료 시 호출되는 콜백함수
            let diaryLat;
            let diaryLng;
            let autocompleteDiaryInput = document.getElementById('searchAddr');
            let diaryOption    = {fields: ["address_components", "formatted_address", "geometry", "icon", "name"]};

            // #5 화면이 완전히 로드 된 후 호출되는 함수
            $(function(){
                autocomplete = new google.maps.places.Autocomplete(autocompleteDiaryInput, diaryOption);
                autocomplete.setComponentRestrictions({country: ["kr"]});

                /** place_changed는 autocomplete 자체 속성인듯 */
                autocomplete.addListener('place_changed', function(){
                    /** 재검색시 이전 검색 마커 초기화 */
                    for(var i=0; i<searchMarkers.length; i++){
                        searchMarkers[i].setMap(null);
                    }

                    const place = autocomplete.getPlace();

                    // 구글 자동완성 검색 결과가 없을 시, 카카오 검색 시도
                    if (!place.geometry || !place.geometry.location) {
                                                                   /** #F1  */
                        ps.keywordSearch($('#searchAddr').val(), placesSearchCB);
                        return;
                    }

                    // 구글 자동완성 검색 결과가 있을 때 밑으로 실행
                    diaryLat = place.geometry.location.lat();
                    diaryLng = place.geometry.location.lng();

                    /** 검색 시 해당하는 좌표로 이동 */
                    var bounds = new kakao.maps.LatLngBounds();
                    bounds.extend(new kakao.maps.LatLng(diaryLat, diaryLng));
                    map.setBounds(bounds);
                    map.setLevel(7); // 지도의 확대 레벨

                    // 마커가 표시될 위치
                    var marker = new kakao.maps.Marker({
                        position: new kakao.maps.LatLng(diaryLat, diaryLng)
                    });
                    marker.setMap(map);
                    searchMarkers.push(marker);

                    // 마커에 mouseover이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'mouseover', function() {
                        let content = markerOverlay(place.name, " ")
                        //overlay.setContent(content);
                        //overlay.setPosition(marker.getPosition());
                        //overlay.setMap(map);
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    });

                    // 마커에 mouseout이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'mouseout', function() {
                        //overlay.setMap(null);
                        infowindow.close();
                    });

                    // 마커에 click이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'click', function(){
                        if(markers.length >= 10){ Swal.fire( '더 이상 등록하실 수 없습니다.' )
                        }else {
                            Swal.fire({
                                title: '마커를 작성하시겠습니까?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: '확인',
                                cancelButtonText: '취소',
                                reverseButtons: false,
                            }).then(result => {
                                if (result.isConfirmed) {
                                   /** #F3 */
                                    addMarker(marker, diaryLat, diaryLng);
                                }
                            });
                        }
                    });
                });
            });

            // #5 지도를 클릭했을때 클릭한 위치에 마커를 추가하도록 지도에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

                if(markers.length >= 10){
                    Swal.fire( '더 이상 등록하실 수 없습니다.' )
                }else {
                    Swal.fire({
                        title: '마커를 작성하시겠습니까?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '확인',
                        cancelButtonText: '취소',
                        reverseButtons: false,
                    }).then(result => {
                        if (result.isConfirmed) {
                           /** #F3 */
                           addMarker(null, mouseEvent.latLng.Ma, mouseEvent.latLng.La);
                        }
                    });
                }
            });

            $('#searchAddr').keydown(function(e) {
                if (event.keyCode === 13) {
                    e.preventDefault();
                    e.stopPropagation();
                };
            });

            $('#diaryForm').submit(function(e){
                e.preventDefault();

                //FormData 새로운 객체 생성
                let formData = new FormData();

                // file 가져오기
<!--                $.each(fileInputList, function (index, el){-->
<!--                    formData.append('file', el[0].files[0]);-->
<!--                })-->
                for(const [key, value] of fileMap) {
                    formData.append('file', value)
                }

                let submitSpotTitle = [];
                let submitSpotContent = [];
                let submitLat = [];
                let submitLng = [];

                // submitTitle 가져오기
                $('.spot > input').each(function(){
                    submitSpotTitle.push($(this).val());
                });

                // submitContent 가져오기
                $('textarea[name=spot_content]').each(function(){
                    if($(this).val()){ submitSpotContent.push($(this).val()); }
                });


                // Lat, Lng 가져오기
                for(var i=0; i<markers.length; i++){
                    submitLat.push(markers[i].getPosition().getLat());
                    submitLng.push(markers[i].getPosition().getLng());
                }

                let res_no          = [[${article.get(0).res_no}]]
                let formTitle       = $('input[name=arti_title]').val();
                let formSpotTitle   = submitSpotTitle.join('/');
                let formSpotContent = submitSpotContent.join('/');
                let formLat         = submitLat.join('/');
                let formLng         = submitLng.join('/');

                console.log(fileMap);
                console.log(markers);
                console.log('res_no : ' + res_no)
                console.log('formTitle : ' + formTitle)
                console.log('formSpotTitle : ' + formSpotTitle)
                console.log('formSpotContent : ' + formSpotContent)
                console.log('formLat : ' + formLat)
                console.log('formLng : ' + formLng)

                let jsonData = {
                    res_no           : res_no,
                    diaryTitle       : formTitle,
                    diaryStart       : diary_start,
                    diaryEnd         : diary_end,
                    diarySpotTitle   : formSpotTitle,
                    diarySpotContent : formSpotContent,
                    diaryLat         : formLat,
                    diaryLng         : formLng
                }

                console.log(jsonData);

                formData.append('key', new Blob([ JSON.stringify(jsonData) ], {type : "application/json"}));

                if(!$('input[name=arti_title]').val()) {
                    sweetAlert('안내', '제목을 작성해주세요.!');
                    return;
                }else if(markers.length == 0) {
                    sweetAlert('안내', '일기를 작성해주세요.!');
                    return;
                }else if(markers.length != submitSpotContent.length) {
                    sweetAlert('안내', '내용을 입력하지 않으신 <br>여행일기가 있습니다.!');
                    return;
                }else if(markers.length != fileMap.size) {
                    sweetAlert('안내', '사진을 입력하지 않으신 <br>여행일기가 있습니다.!');
                    return;
                }

                // ajax 처리 부분
                $.ajax({
                    url: '/Lemo/my/diary/usave',
                    method: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: formData,
                    contentType: false,
                    processData: false,
                    enctype : 'multipart/form-data',
                    success: function(data) {
                        if(data.result == 1) {
                            Swal.fire({
                                title: '등록되었습니다.!',
                                icon: 'info',
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: '확인',
                                reverseButtons: false,
                            }).then(result => {
                                location.href = "/Lemo/my/diary/list";
                            });
                        }else if(data.result == 2) {
                            Swal.fire( '등록에 실패했습니다. 새로고침 후 다시 시도해주세요.' );
                        }else if(data.result == 3) {
                            Swal.fire( '이미지 저장에 실패했습니다. 이미지를 다시 등록해주세요.' );
                        }
                    }
                });

            });

            $(document).on('click', '.delete_diary', function(e){
                e.stopPropagation();
                e.preventDefault();

                let deleteNo = Number($(this).attr('data-no'));
                fileMap.delete(deleteNo)

                let data_place = $(this).attr('data-place');
                let data_no = $(this).data('no');
                let deleteMarker = markerMap.get(data_no);

                removeAlert(deleteMarker, data_place, data_no);
            });
        </script>
    </th:block>
</html>


