<!--
    날짜 : 2023/03/05
    이름 : 박종협
    내용 : 여행일기 modify HTML 화면구현
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout">
<th:block layout:fragment="css-js">
    <!-- googleSearchAPI -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcPQyeUiX2cJ4rCH6DU36v4D3LsfO-o4s&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cABC" async defer></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- slick slider plugin-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- kakaoMap -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5685a7d59ed7c0a5f62806eae3f98712&libraries=services"></script>
    <link rel="stylesheet" th:href="@{/css/diary/diary.css}">
    <script th:src="@{/js/common/daterangepicker.js}"></script>
    <script th:src="@{/js/common/kakaomap-scroll.js}"></script>
    <script th:src="@{/js/my/diary.js}"></script>
</th:block>
<th:block layout:fragment="content">
            <main id="diary">
                <div id="result">
                    <div class="content">
                        <h3>#여행일기 수정</h3>
                        <!-- 여행일기 보기 -->
                        <div class="view">
                            <div class="list-area">
                                <div id="diary_content">
                                    <input type="text" style="border: none; font-size:18px;" placeholder="제목을 작성해주세요">
                                    <ul> 
                                        <li>
                                            <input  type="text" name="daterange" id="daterange">
                                            <span style="font-size: 12px; color:#a39797;">※여행기간을 선택해주세요</span>
                                        </li>
                                        <li>스카이베이호텔 경포</li>
                                    </ul>
                                </div>
                                <div class="write_search" style="margin-top: 40px; font-size: 13px; color: #342929;">
                                    <span style="display: block; margin: 0 0 10px 5px; font-size: 13px;">보다 상세한 검색은 자동완성을 이용해주세요.</span>
                                    <input type="text" id="searchAddr" style="width: 250px; height: 30px; font-size: 15px; border: none; padding-left: 10px; margin-right: 10px;"/>
                                    주소 검색 후 Enter키를 눌러주세요.!
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- 지도 -->
                        <div id="listMap">
                            <p>
                                <button onclick="setZoomable(false)">지도 확대/축소 끄기</button>
                                <button onclick="setZoomable(true)">지도 확대/축소 켜기</button>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </main>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>


