<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>쿠폰관리 ></span>
                            <span>쿠폰등록</span>
                        </div>

                        <!-- 등록 폼 -->
                        <form class="col_register_form" action="#">

                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>쿠폰등록</span>
                                    </div>
                                </div>
                                <table class="input_stayRoomInfo">
                                    <tr>
                                        <td>쿠폰명</td>
                                        <td><input type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>쿠폰적용그룹</td>
                                        <td>
                                            <select>
                                                <option value="A">전체적용</option>
                                                <option value="B">숙소</option>
                                                <option value="C">지역</option>
                                            </select>
                                            <select>
                                                <option value="D">-</option>
                                                <option value="E">모텔</option>
                                                <option value="F">호텔·리조트</option>
                                                <option value="G">펜션</option>
                                                <option value="H">게스트하우스</option>
                                                <option value="I">캠핑·글램핑</option>
                                                <option value="J">해외여행</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>할인율/할인가</td>
                                        <td>
                                            <input class="insertSaleOption" type="number" placeholder="할인율 또는 할인가 택1 작성">
                                            <div class="selectSaleOption">
                                                <input type="radio" name="sale_option" value="">퍼센트(%)
                                                <input type="radio" name="sale_option" value="">원(₩)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>발급 수량</td>
                                        <td>
                                            <input class="insertSaleCount" type="number" placeholder="쿠폰 발급 수량 작성">
                                            <div class="selectSaleLimit">
                                                <input type="radio" name="sales_option" value="">수량제한없음
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>금액 조건</td>
                                        <td>
                                            <input class="input_100" type="number" placeholder="최소주문금액">/
                                            <input class="input_100" type="number" placeholder="최대주문금액">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>배포일</td>
                                        <td>
                                            <input class="input_130" type="date">
                                            &nbsp;~&nbsp;
                                            <input class="input_130" type="date">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>이용가능일수</td>
                                        <td><input class="input_100" type="number" placeholder=""></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="btnAdminProd">
                                <a href="#">
                                    쿠폰등록
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>