<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="css-js">
    <link rel="stylesheet" th:href="@{/css/admin/adminSubStyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}">
</th:block>
<th:block layout:fragment="content">
    <!-- 메인 -->
    <main>
        <div class="main_inner">
            <!-- 죄측 사이드바 -->
            <th:block th:replace="~{fragments/_aside::adminFragment}"></th:block>
            <!-- 우측 메인 컨테이너 -->
            <section class="main_content">
                <div class="main_cotent_inner">
                    <div class="main_content_div">
                        <div class="col_nav">
                            <span>쿠폰관리 ></span>
                            <span>쿠폰목록</span>
                        </div>

                        <form class="col_register_form" action="#">
                            <!-- 쿠폰 관리 -->
                            <div class="col_register1">
                                <div class="stayName">
                                    <div>
                                        <span>쿠폰 관리</span>
                                    </div>
                                </div>
                                <!-- 쿠폰 검색 (관리자)-->
                                <div class="coupon_top">
                                    <h3>발급쿠폰검색 (관리자 전용 - 해당 괄호 문구 삭제예정)</h3>
                                    <table class="search_coupon">
                                        <colgroup>
                                            <col width="10%">
                                            <col width="40%">
                                            <col width="10%">
                                            <col width="40%">
                                        </colgroup>
                                        <tr>
                                            <th>
                                                <select class="search_option">
                                                    <option value="A">숙소아이디</option>
                                                    <option value="A">쿠폰명</option>
                                                    <option value="A">판매자</option>
                                                </select>
                                            </th>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <th>발급구분</th>
                                            <td>
                                                <select name="c_role_type" id="c_role_type">
                                                    <option value="A">관리자 발급</option>
                                                    <option value="A">판매자 발급</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="search_btn">
                                        <button type="button" class="btnAdminProd3">검색</button>
                                    </div>
                                </div>
                                <!-- 쿠폰 검색 (판매자)-->
                                <div class="coupon_top">
                                    <h3>발급쿠폰검색 (판매자 전용 - 해당 괄호 문구 삭제예정)</h3>
                                    <table class="search_coupon">
                                        <colgroup>
                                            <col width="10%">
                                            <col width="40%">
                                            <col width="10%">
                                            <col width="40%">
                                        </colgroup>
                                        <tr>
                                            <th>
                                                <select class="search_option">
                                                    <option value="A">쿠폰명</option>
                                                    <option value="A">숙소아이디</option>
                                                </select>
                                            </th>
                                            <td>
                                                <input type="text">
                                            </td>
                                            <th>발급구분</th>
                                            <td>
                                                <select name="c_role_type" id="c_role_type">
                                                    <option value="A">A호텔</option>
                                                    <option value="A">B펜션</option>
                                                    <option value="A">C펜션</option>
                                                    <option value="A">D펜션</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="search_btn">
                                        <button type="button" class="btnAdminProd3">검색</button>
                                    </div>
                                </div>
                                <!-- 쿠폰 목록 -->
                                <div class="coupon_list">
                                    <div class="c_list_top">
                                        <div class="c_w70">
                                            <a href="#" class="btn_remove">삭제</a>
                                        </div>
                                        <div class="c_w30">
                                            <a th:href="@{/admin/coupon/insertCoupon}" class="btn_insert">쿠폰등록</a>
                                        </div>
                                    </div>
                                    <table class="c_list">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>쿠폰아이디</th>
                                            <th>쿠폰명</th>
                                            <th>할인율</th>
                                            <th>할인가</th>
                                            <th>배포시작일</th>
                                            <th>배포종료일</th>
                                            <th>발급수</th>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>1</td>
                                            <td><a class="c_name" href="#">10만원이상 구매시 1만원 할인</a></td>
                                            <td>0</td>
                                            <td>10,000</td>
                                            <td>23.02.27</td>
                                            <td>23.03.27</td>
                                            <td>80</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>2</td>
                                            <td><a class="c_name" href="#">10만원이상 구매시 1만원 할인</a></td>
                                            <td>0</td>
                                            <td>10,000</td>
                                            <td>23.02.27</td>
                                            <td>23.03.27</td>
                                            <td>80</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="pagination_center">
                                    <div class="pagination">
                                        <a href="#">&laquo;</a>
                                        <a href="#">1</a>
                                        <a href="#" class="active">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">5</a>
                                        <a href="#">6</a>
                                        <a href="#">&raquo;</a>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="blank30"></div>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="~{fragments/_footer::footerFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>